<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.rolegroup.edit.title})"></head>
<body>
	<div class="wrapper">
	    <header th:replace="fragments/navbar :: navbar-header(subpage = 'roles')"></header>
	    <aside th:replace="fragments/navbar :: navbar-aside (subpage = 'roles')"></aside>
	    <section>
	        <div class="content-wrapper">
	            <h3>
	                <a th:if="${roleType == 'roleGroup'}" th:href="@{/ui/requestapprove/request/step1/role/{id}?type=roleGroup(id=${role.id})}" class="btn btn-default">
	                    <span><i class="fa fa-arrow-left"></i> </span>
	                </a>
	                <a th:if="${roleType == 'userRole'}" th:href="@{/ui/requestapprove/request/step1/role/{id}?type=userRole(id=${role.id})}" class="btn btn-default">
	                    <span><i class="fa fa-arrow-left"></i> </span>
	                </a>
	                <span th:text="#{html.page.requestapprove.choose_users}"></span>
	            </h3>
	
	            <div class="panel panel-default">
	                <div class="panel-body">
	                	<p th:text="#{html.page.requestapprove.choose_users.text}"></p>

						<table id="listTable1" class="table table-striped table-hover listTable">
							<thead>
								<tr>
									<th class="col-md-1" th:text="#{html.entity.user.request_for}"></th>
									<th class="col-md-4" th:text="#{html.entity.user.name}"></th>
									<th class="col-md-4" th:text="#{html.entity.user.userId}"></th>
								</tr>
							</thead>

							<tbody>
								 <tr th:each="user : ${users}">
									<td>
										<div class="checkbox c-checkbox">
                                            <label>
                                                <input class="checkbox-input" th:id="${user.uuid}" type="checkbox" th:checked="${user.checked}" th:disabled="${user.locked}"/>
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </div>
									</td>
									<td th:text="${user.name}"></td>
									<td th:text="${user.userId}"></td>
								</tr>
							</tbody>
						</table>
						<button class="btn btn-primary btn-lg" th:text="#{html.entity.view.action.request}" style="margin-top: 20px;" onclick="userService.openModal()"></button>
	                </div>
	            </div>
	        </div>
	    </section>
	</div>
	
	<div class="modal fade" id="modal-request" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 th:text="#{html.page.roles.request.modal.header}"></h4>
	            </div>
	
	            <div class="modal-body">
           			<span th:text="#{html.page.roles.request.modal.body}"></span>
					<textarea id="reasonField" rows="8" class="form-control" style="margin-top: 10px;"></textarea>
					<span id="errormsg" style="color: red;" th:text="#{html.page.roles.request.modal.body.required}" hidden></span>
	            </div>
	
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" th:text="#{html.control.button.request}" onclick="userService.request()"></button>
					<button type="button" class="btn btn-danger" th:text="#{html.control.button.cancel}" data-dismiss="modal"></button>
				</div>
	        </div>
	    </div>
	</div>
	
	<style>
	.table .checkbox {
		margin-left: 10px;
		width: auto;
	}
	</style>

	<nav th:replace="fragments/footer :: footer"></nav>
	<script th:replace="fragments/datatables :: datatables(orderColumnValue=1) "></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
			
			/*[+
				var roleId = [[${role.id}]];
				var roleType = [[${roleType}]];
				var orgUnitUuid = [[${orgUnit.uuid}]];
				var listEmptyAlert = [[#{html.page.requestapprove.choose_users.list_empty_msg}]];
				var url = [[@{/rest/requestapprove/request/role}]];
				var userRoleUrl = [[@{/ui/userroles/view/}]];
				var roleGroupUrl = [[@{/ui/rolegroups/view/}]];
				var fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];
			+]*/

			var token = $("meta[name='_csrf']").attr("content");
			
			var userService;
			var selectedUsers = [];
			$("document").ready( function() {
				userService = new UserService();
				
				userService.addCheckboxListeners();
				$('#listTable1').on( 'draw.dt', function () {
					userService.addCheckboxListeners();
				});
					
				$('#listTable').on( 'draw.dt', function () {
					addCheckboxListeners();
				});

			});
			
			function UserService() {
				
				this.addCheckboxListeners = function(){
					$('.checkbox-input').off( "change" );
					$('.checkbox-input').change(userService.checkboxChanged);	
				}
				
				this.checkboxChanged = function() {
					var chosenCheckbox = $(this);
					var userUuid = this.id;
					var checked = this.checked;
					var table = $("#listTable1");
					
					if (checked) {
						selectedUsers.push(userUuid)
					}
					else {
						var index = selectedUsers.indexOf(userUuid);
					  	if (index > -1) {
					  		selectedUsers.splice(index, 1);
					  	}
					}
				}
				
				this.openModal = function() {
					if (selectedUsers.length === 0) {
						swal({
							html: true,
							title: '',
							text : listEmptyAlert,
							type : "warning",
							confirmButtonText : 'OK',
							closeOnConfirm : true
						});
					} else {
						$("#errormsg").hide();
						$("#reasonField").val("");
						$("#modal-request").modal({
						    backdrop: 'static',
						    keyboard: false
						});
					}
				}
				
				this.request = function() {
					var reason = $("#reasonField").val();
					if (reason.length === 0) {
						$("#errormsg").show();
					}
					else {
						$("#errormsg").hide();
					
						$.ajax({
							url: url,
							method: 'POST',
					        headers: {
					            'X-CSRF-TOKEN': token
					        },
					        contentType: "application/json",
					        data: JSON.stringify({
							   "reason" : reason,
							   "selectedUsers" : selectedUsers,
							   "roleId" : roleId,
							   "roleType" : roleType,
							   "orgUnitUuid" : orgUnitUuid
							}),
							error: function(response) {
			    				$.notify({
			    					message: fieldNotUpdatedMsg
			    				},{
			    					status: 'danger',
			    					autoHideDelay: 4000
			    				});
			    			},
			    			success: function(response) {
			    				if (roleType == "userRole") {
			    					window.location.href = userRoleUrl + roleId;
			    				} else if (roleType == "roleGroup") {
			    					window.location.href = roleGroupUrl + roleId;
			    				}
			    			}
						});
												
						$("#modal-request").modal('hide');
					}
				}
			}
			
		/*]]>*/
	</script>
</body>
</html>
