<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.rolegroup.edit.title})}"></head>
<body>
	<div class="wrapper">
	    <header th:replace="~{fragments/navbar :: navbar-header(subpage = 'roles')}"></header>
	    <aside th:replace="~{fragments/navbar :: navbar-aside (page = 'users_request', subpage = 'roles')}"></aside>
	    <section>
	        <div class="content-wrapper">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                	<p th:text="#{html.page.requestapprove.list_roles.text(${user.name})}"></p>

						<table id="listTable1" class="table table-striped table-hover listTable">
							<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.user.name}"></th>
									<th class="col-md-2" th:text="#{html.entity.itsystem}"></th>
									<th class="col-md-5" th:text="#{html.entity.userrole.description}"></th>
									<th class="col-md-2" th:text="#{html.page.users.manage.assignment.type}"></th>
									<th class="col-md-1">Anmod</th>
								</tr>
							</thead>

							<tbody>
								 <tr th:each="role : ${roles}">
									<td th:text="${role.name}"></td>
									<td th:text="${role.itSystemName}"></td>
									<td th:text="${role.description}"></td>
									<td th:if="${#strings.equals(role.type, 'userRole')}" th:text="#{html.role.assignment.type.userrole}"></td>
								 	<td th:unless="${#strings.equals(role.type, 'userRole')}" th:text="#{html.role.assignment.type.rolegroup}"></td>
								 	<td>
										<a th:if="${#strings.equals(role.type, 'userRole')}" class="requestUserRoleBtn" th:attr="data-id=${role.id}, data-type=${role.type}" ><em class="fa fa-plus"></em></a>
										<a th:unless="${#strings.equals(role.type, 'userRole')}" class="requestRoleGroupBtn" th:attr="data-id=${role.id}, data-type=${role.type}" ><em class="fa fa-plus"></em></a>
									</td>
								</tr>
							</tbody>
						</table>
	                </div>
	            </div>
	        </div>
	    </section>
	</div>

	<div th:replace="~{request_approve/fragments/request_modal :: requestRoleModal}"></div>

	<div th:replace="~{users/fragments/postponed_constraint_kle_modal :: postponedConstraintsKLEModal}"></div>
	<div th:replace="~{userroles/fragments/constraint_ou_modal :: OUModal}"></div>


	<nav th:replace="~{fragments/footer :: footer}"></nav>
	<script th:replace="~{fragments/datatables :: datatables}"></script>
	<script th:replace="~{request_approve/fragments/request_modal :: requestRoleModalScript}"></script>
	<script th:replace="~{users/fragments/assign_user_role_postponed_data_constraints :: postponedConstraintsScript}"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/

			/*[+
				var orgUnitUuid = [[${orgUnitUuid}]];
				var url = [[@{/rest/requestapprove/request/role}]];
				var redirectUri = [[@{/ui/my/requests}]];
				var requestUserUuid = [[${requestForm.userUuid}]];
				var baseUrl = [[@{/}]];
				var kleList = [[${kleList}]];
				var treeOUs = [[${treeOUs}]];
			+]*/

			var token = $("meta[name='_csrf']").attr("content");

			$("document").ready(function() {
				// add listeners initially
				requestRoleModalService.setSuccessHandler(() => {
					window.location.href = redirectUri;
				})
				$(".requestUserRoleBtn").click(function() {
					requestRoleModalService.showRequestRoleDialog(orgUnitUuid, requestUserUuid, $(this).data("id"),
							postponedConstraintsService.getConstraintList());
				});
				$(".requestRoleGroupBtn").click(function() {
					requestRoleModalService.showRequestRoleGroupDialog(orgUnitUuid, requestUserUuid, $(this).data("id"));
				});

				// add listeners on table draw
				$('#listTable1').on('draw.dt', function() {
					$('.requestUserRoleBtn').off('click');
					$(".requestUserRoleBtn").click(function() {
						requestRoleModalService.showRequestRoleDialog(orgUnitUuid, requestUserUuid, $(this).data("id"));
					});
					$('.requestRoleGroupBtn').off('click');
					$(".requestRoleGroupBtn").click(function() {
						requestRoleModalService.showRequestRoleGroupDialog(orgUnitUuid, requestUserUuid, $(this).data("id"));
					});
				});
			});

			function call(reason, selectedUsers, roleId, roleType, action, constraints) {
				$.ajax({
					url: url,
					method: 'POST',
			        headers: {
			            'X-CSRF-TOKEN': token
			        },
			        contentType: "application/json",
			        data: JSON.stringify({
					   "reason" : reason,
					   "selectedUsers" : selectedUsers,
					   "roleId" : roleId,
					   "roleType" : roleType,
					   "orgUnitUuid" : orgUnitUuid,
					   "action" : action,
					   "constraints" : constraints
					}),
					error: errorHandler(fieldNotUpdatedMsg),
	    			success: function(response) {
    					window.location.href = redirectUri;
	    			}
				});
			}
		/*]]>*/
	</script>
</body>
</html>
