<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{attestationmodule/fragments/header :: header(datatables = true)}"></head>
<body class="top-navigation layout-fixed">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div th:replace="~{attestationmodule/fragments/topbar :: topbar(page = 'dashboard')}"></div>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>
                                    <em class="fa fa-list"></em> &nbsp
                                    <span th:text="#{attestationmodule.html.dashboard.title}"></span>
                                </h3>
                            </div>

                            <div class="ibox-content">
                                <div class="tabs-container" id="tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li th:each="run : ${simpleAttestationRuns}">
                                            <a class="nav-link" th:attr="data-run-id=${run.id}" data-toggle="tab" th:href="${'#ovtab' + run.id}">
                                                <span th:text="${#temporals.format(run.deadline, 'dd/MM-yyyy')}"></span>
                                                <span class="label label-danger" th:unless="${run.finished}" th:text="#{attestationmodule.html.admin.open}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div th:each="run : ${simpleAttestationRuns}" role="tabpanel"
                                             th:id="${'ovtab' + run.id}"
                                             th:class="${'navcontent_' + run.id + ' tab-pane'}">
                                            <!-- Content loaded dynamically -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{attestationmodule/fragments/footer :: scripts(datatables = true)}"></div>
    <script th:src="@{/js/service/TabService.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        /*[+
        const token = $("meta[name='_csrf']").attr("content");
        let tabContentUrl = [[@{/ui/attestation/v2/run/}]];
        let tabService;
        +]*/

        $(document).ready(function() {
            initNavTabs();
        });

        function initNavTabs() {
            tabService = new TabService();
            const navTabElements = document.querySelectorAll('.nav-link');

            for (const navTab of navTabElements) {
                const id = navTab.getAttribute('data-run-id');
                const containerElement = document.getElementById(`ovtab${id}`);
                const url = `${tabContentUrl}${id}`;
                tabService.initLoadContentOnClick(navTab, containerElement, url, () => initDatatable(id));
            }

            if (navTabElements.length > 0) {
                navTabElements[0].click();
            }
        }

        function initDatatable(runId) {
            $('.dashboardTable_' + runId).DataTable({
                "bSort": false,
                "paging": false,
                "responsive": true,
                "dom": "<'row'<'col-sm-12'tr>>",
                "language": {
                    "search": "Søg",
                    "lengthMenu": "_MENU_ rækker per side",
                    "info": "Viser _START_ til _END_ af _TOTAL_ rækker",
                    "zeroRecords": "Ingen data...",
                    "infoEmpty": "",
                    "infoFiltered": "(ud af _MAX_ rækker)",
                    "paginate": {
                        "previous": "Forrige",
                        "next": "Næste"
                    }
                }
            });
        }
        /*]]>*/
    </script>

</body>
</html>
