<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{attestationmodule/fragments/header :: header(datatables = true)}"></head>
<body class="top-navigation layout-fixed">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div th:replace="~{attestationmodule/fragments/topbar :: topbar(page = 'dashboard')}"></div>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>
                                    <em class="fa fa-list"></em> &nbsp
                                    <span th:text="#{attestationmodule.html.dashboard.title}"></span>
                                </h3>
                            </div>

                            <div class="ibox-content">
                                <div class="tabs-container" id="tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li th:each="run : ${simpleAttestationRuns}">
                                            <a class="nav-link" th:attr="data-run-id=${run.id}" data-toggle="tab" th:href="${'#ovtab' + run.id}">
                                                <span th:text="${#temporals.format(run.deadline, 'dd/MM-yyyy')}"></span>
                                                <span class="label label-danger" th:unless="${run.finished}" th:text="#{attestationmodule.html.admin.open}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div th:each="run : ${simpleAttestationRuns}" role="tabpanel"
                                             th:id="${'ovtab' + run.id}"
                                             th:class="${'navcontent_' + run.id + ' tab-pane'}">
                                            <!-- Content loaded dynamically -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div th:replace="~{attestationmodule/fragments/footer :: scripts(datatables = true)}"></div>
	<script th:src="@{/js/DatatableService.js}"></script>
	<script th:src="@{/js/service/TabService.js}"></script>

	<script type="application/json" th:inline="javascript" id="attestation-dashboard-config">
		{
			"tabContentUrl": [[@{/ui/attestation/v2/run/}]]
		}
	</script>
	<script th:src="@{/js/attestationmodule/index.js}"></script>

</body>
</html>
