<th:block th:fragment="existingRolesFragment" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table id="existingRolesTable" style="padding-right:0px !important;" class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th class="col-1"></th>
			<th class="col-1" th:text="#{requestmodule.html.dashboard.tabs.roles.type}"></th>
			<th style="width: 50px;"></th>
			<th class="col-3" th:text="#{requestmodule.html.dashboard.tabs.roles.itsystem}"></th>
			<th class="col-3" th:text="#{requestmodule.html.dashboard.tabs.roles.name}"></th>
			<th class="col-3" th:text="#{requestmodule.html.dashboard.tabs.roles.description}"></th>
			<th th:text="#{requestmodule.html.dashboard.tabs.roles.approver}"></th>
		</tr>
		</thead>

		<tbody>
		</tbody>
	</table>
</th:block>
