<th:block th:fragment="recommendedUserRolesFragment" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table id="recommendedUserRoleTable" class="table table-striped table-bordered table-hover" >
		<thead>
		<tr>
			<th></th>
			<th th:text="#{requestmodule.html.dashboard.tabs.roles.itsystem}"></th>
			<th th:text="#{requestmodule.html.dashboard.tabs.roles.role}"></th>
			<th th:text="#{requestmodule.html.dashboard.tabs.roles.description}"></th>
		</tr>
		</thead>

		<tbody>
		</tbody>
	</table>
</th:block>
<th:block th:fragment="recommendedRoleGroupsFragment" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<table id="recommendedRoleGroupTable" style="padding-right:0px !important;" class="table table-striped table-bordered table-hover" >
		<thead>
		<tr>
			<th ></th>
			<th style="width: 50px;"></th>
			<th style="width: 50px;"></th>
			<th th:text="#{requestmodule.html.dashboard.tabs.roles.name}"></th>
			<th th:text="#{requestmodule.html.dashboard.tabs.roles.description}"></th>
		</tr>
		</thead>

		<tbody>
		</tbody>
	</table>
</th:block>
