<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header (title=#{html.setting.title})}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/navbar :: navbar-header(subpage = 'administration')}"></header>
    <aside th:replace="~{fragments/navbar :: navbar-aside (page = 'attestationSettings', subpage = 'administration')}"></aside>

    <section>
        <div class="content-wrapper">
			<h3 th:text="#{html.setting.attestation.title}"></h3>
			<div class="panel panel-default" style="padding-left: 20px; padding-right: 20px;">
				<form id="setting-form" class="form-horizontal" method="post" th:object="${attestationSettingsForm}" th:action="@{/ui/settings/attestation}">
					<input type="hidden" th:field="*{scheduledAttestationEnabled}" />
					<input type="hidden" th:field="*{dontSendMailToManager}" />
					<input type="hidden" th:field="*{adAttestationEnabled}" />
					<input type="hidden" th:field="*{firstAttestationDate}" />
					<input type="hidden" th:field="*{changeRequestsEnabled}" />
					<input type="hidden" th:field="*{descriptionRequired}" />
					<input type="hidden" th:field="*{hideDescription}" />
					<select th:field="*{scheduledAttestationFilter}" multiple="multiple" class="form-control" style="display: none;">
						<option th:each="ou : ${allOUs}" th:value="${ou.id}" th:text="${ou.text}" th:selected="${attestationSettingsForm.getScheduledAttestationFilter().contains(ou.id)}"></option>
					</select>

					<select th:field="*{scheduledAttestationOptedInOrgUnits}" multiple="multiple" class="form-control" style="display: none;">
						<option th:if="${attestationSettingsForm.getScheduledAttestationOptedInOrgUnits().contains(ou.id)}" th:each="ou : ${allOUs}" th:value="${ou.id}" th:text="${ou.text}" th:selected="${attestationSettingsForm.getScheduledAttestationOptedInOrgUnits().contains(ou.id)}"></option>
					</select>

					<div class="panel-heading">
						<h4 th:text="#{html.setting.attestation.scheduled}"></h4>
					</div>

					<div class="panel-body">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.enabled}"></label>
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input id="scheduled-attestation-checkbox" type="checkbox" th:attr="checked=${attestationSettingsForm.scheduledAttestationEnabled}" />
											<span class="fa fa-check"></span>
										</label>
									</div>
								</div>
							</div>
						</fieldset>
						
						<div id="scheduledAttestationSubsettings" style="display: none;">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.firstAttestation}"></label>
									<div class="col-sm-8">
										<div class="input-group date" id="attestationStartDate">
											<input type="text" class="form-control"/>
											<span class="input-group-addon">
												<span class="fa fa-calendar"></span>
											</span>
										</div>
										<ul th:if="${#fields.hasErrors('firstAttestationDate')}" class="error">
											<li class="error" th:each="err : ${#fields.errors('firstAttestationDate')}" th:text="${err}"></li>
										</ul>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.interval}"></label>
									<div class="col-sm-8">
										<select th:field="*{scheduledAttestationInterval}" class="form-control">
											<option th:each="interval : ${T(dk.digitalidentity.rc.dao.model.enums.CheckupIntervalEnum).values()}"
													th:value="${interval}" th:text="#{__${interval.getMessage()}__}"
													th:selected="${interval} == *{scheduledAttestationInterval}"></option>
										</select>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.remove.role.email}"></label>
									<div class="col-sm-8">
										<input th:field="*{attestationChangeEmail}" class="form-control" />
										<ul th:if="${#fields.hasErrors('attestationChangeEmail')}" class="error">
											<li class="error" th:each="err : ${#fields.errors('attestationChangeEmail')}" th:text="${err}"></li>
										</ul>
									</div>
									<a th:replace="~{fragments/help :: help (title=#{html.help.remove.role.title}, content=#{html.help.remove.role.body})}"></a>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.dont_send_email_to_leader}"></label>
									<div class="col-sm-1">
										<div class="checkbox c-checkbox">
											<label>
												<input id="dont-send-mail-to-manager-checkbox" type="checkbox" th:attr="checked=${attestationSettingsForm.dontSendMailToManager}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.ad.enabled}"></label>
									<div class="col-sm-1">
										<div class="checkbox c-checkbox">
											<label>
												<input id="attestation-ad-checkbox" type="checkbox" th:attr="checked=${attestationSettingsForm.adAttestationEnabled}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.descriptionRequired}"></label>
									<div class="col-sm-1">
										<div class="checkbox c-checkbox">
											<label>
												<input id="description-required-checkbox" type="checkbox" th:attr="checked=${attestationSettingsForm.descriptionRequired}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group" id="hideDescriptionSection">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.hideDescription}"></label>
									<div class="col-sm-1">
										<div class="checkbox c-checkbox">
											<label>
												<input id="hide-description-checkbox" type="checkbox" th:attr="checked=${attestationSettingsForm.hideDescription}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.changes.enabled}"></label>
									<div class="col-sm-1">
										<div class="checkbox c-checkbox">
											<label>
												<input id="attestation-changes-checkbox" type="checkbox" th:attr="checked=${attestationSettingsForm.changeRequestsEnabled}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>

							</fieldset>
							<fieldset>
								<div class="form-group" style="margin-bottom: 20px;">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.ou.optin}"></label>
									<div class="col-sm-1">
										<div class="checkbox c-checkbox">
											<label>
												<input name="orgUnitOptIn" class="form-control" id="ou-optin-checkbox" type="checkbox" th:attr="checked=*{orgUnitOptIn == true}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>
								<div id="opt-out-section" class="form-group pt-3" th:style="${attestationSettingsForm.orgUnitOptIn ? 'display: none': ''}">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.filter.optout}"></label>

									<div class="col-sm-8">
										<button type="button" onclick="chooseOU()" class="btn btn-primary" th:text="#{html.setting.attestation.scheduled.pickou.optout}"></button>
										<br/><br/>
										<em id="filterZeroTxt" th:style="${(#lists.size(attestationSettingsForm.scheduledAttestationFilter) > 0) ? 'display: none': ''}" th:text="'Ingen enheder fravalgt'"></em>
										<em id="filterOneTxt" th:style="${(#lists.size(attestationSettingsForm.scheduledAttestationFilter) != 1) ? 'display: none' : ''}" th:text="'Én enhed fravalgt (og alle underliggende enheder)'"></em>
										<em id="filterMultiTxt" th:style="${(#lists.size(attestationSettingsForm.scheduledAttestationFilter) lt 2) ? 'display: none' : ''}">
											<span id="filterMultiValue" th:text="${#lists.size(attestationSettingsForm.scheduledAttestationFilter)}"></span>
											<span th:text="'enheder (og alle underliggende enheder) er fravalgt'"></span>
										</em>
									</div>
								</div>
								<div id="opt-in-section" class="form-group pt-3" th:style="${attestationSettingsForm.orgUnitOptIn ? '': 'display: none'}">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.filter.optin}"></label>

									<div class="col-sm-8">
										<button type="button" onclick="chooseOU()" class="btn btn-primary" th:text="#{html.setting.attestation.scheduled.pickou.optin}"></button>
										<br/><br/>
										<em id="optInZeroTxt" th:style="${(#lists.size(attestationSettingsForm.scheduledAttestationOptedInOrgUnits) > 0) ? 'display: none': ''}" th:text="'Ingen enheder tilvalgt'"></em>
										<em id="optInOneTxt" th:style="${(#lists.size(attestationSettingsForm.scheduledAttestationOptedInOrgUnits) != 1) ? 'display: none' : ''}" th:text="'Én enhed tilvalgt (og alle underliggende enheder)'"></em>
										<em id="optInMultiTxt" th:style="${(#lists.size(attestationSettingsForm.scheduledAttestationOptedInOrgUnits) lt 2) ? 'display: none' : ''}">
											<span id="optInMultiValue" th:text="${#lists.size(attestationSettingsForm.scheduledAttestationOptedInOrgUnits)}"></span>
											<span th:text="'enheder er tilvalgt'"></span>
										</em>
										<div class="text-warning">Bemærk at rettigheder nedarvet fra afdelinger som ikke er tilvalgt, ikke vil blive attesteret</div>
									</div>

								</div>
							</fieldset>
							<div class="label label-danger col-md-offset-1 col-md-10 m-5" style="font-size: medium;   display: inline-table; line-height: initial;" th:utext="#{html.setting.attestation.scheduled.warning}"></div>
						</div>
					</div>

					<fieldset>
						<div class="form-group">
							<div class="col-md-offset-1 col-md-10">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{html.control.button.save}"></button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
    </section>
</div>

<div th:replace="~{setting/fragments/choose_ou_modal :: chooseOUFragment}"></div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/assignDatePicker :: content}"></script>


<style>
	.error {
		color: red;
	}
</style>

<script th:inline="javascript">
		/*<![CDATA[*/

        /*[+
		 var allOUs = [[${allOUs}]];
         const selectedOUs = [[${selectedOUs}]];
         const optedInOuSelection = [[${optedInOuSelection}]];
         let optIn = [[${attestationSettingsForm.isOrgUnitOptIn}]];
         var successMsg = [[#{html.setting.update.msg.success}]];
         var failedMsg = [[#{html.setting.update.msg.failed}]];
         var firstAttestationDate = [[${attestationSettingsForm.firstAttestationDate}]];
         +]*/

		let excemptedOusState = selectedOUs
		let optedInOusState = optedInOuSelection

 		function chooseOU() {
 			$('#modal-ou').modal('show');
 		}

		 function createSelectedOptionsFor ( elementSelector, idArray) {
			 const optedInOrgunitJQueryElement = $(elementSelector)
			 optedInOrgunitJQueryElement.empty();

			 const selectedOusAsOptions = []
			 for (var i = 0; i < idArray.length; i++) {
				 selectedOusAsOptions.push('<option value=\"'+idArray[i]+'\" selected="selected"></option>"');
			 }
			 optedInOrgunitJQueryElement.append(selectedOusAsOptions);
		 }

		 function setOrgunitSelectionTextMessages() {
			let length = excemptedOusState.length
			 if (optIn) {
				 length = optedInOusState.length
			 }

			 $('#filterZeroTxt').hide();
			 $('#filterOneTxt').hide();
			 $('#filterMultiTxt').hide();
			 $('#optInZeroTxt').hide();
			 $('#optInOneTxt').hide();
			 $('#optInMultiTxt').hide();

			 if (length == 0) {
				 $('#filterZeroTxt').show();
				 $('#optInZeroTxt').show();
			 }
			 else if (length == 1) {
				 $('#filterOneTxt').show();
				 $('#optInOneTxt').show();
			 }
			 else {
				 $('#filterMultiTxt').show();
				 $('#optInMultiTxt').show();
				 $('#filterMultiValue').text(length);
				 $('#optInMultiValue').text(length);
			 }
		 }

		 function hideOUModal(){
			 $('#modal-ou').modal('hide');
		 }
		
		function saveOUs(){

			if(optIn) {
				setOptinTreeStateFromSelection()
				createSelectedOptionsFor("#scheduledAttestationOptedInOrgUnits", optedInOusState)
			} else {
				setExcemptedTreeStateFromSelection()
				createSelectedOptionsFor("#scheduledAttestationFilter", excemptedOusState)
			}

			setOrgunitSelectionTextMessages()

			hideOUModal()
		}

		function recoverOptinTreeState() {
			$('#ou-tree').jstree('deselect_node', allOUs);
			$('#ou-tree').jstree('select_node', optedInOusState);
		}

		function recoverExcemptedTreeState() {
			$('#ou-tree').jstree('deselect_node', allOUs);
			$('#ou-tree').jstree('select_node', excemptedOusState);
		}

		function setOptinTreeStateFromSelection() {
			optedInOusState = $('#ou-tree').jstree('get_selected')
		}

		function setExcemptedTreeStateFromSelection() {
			excemptedOusState = $('#ou-tree').jstree('get_selected')
		}

		function onOptInCheckboxChange(optInCheckElement) {
			const checked = optInCheckElement.checked
			const optInSectionElement = document.getElementById('opt-in-section')
			const outOutSectionElement = document.getElementById('opt-out-section')
			if (checked) {
				optIn = true
				optInSectionElement.style.display = 'flex'
				outOutSectionElement.style.display = 'none'

				recoverOptinTreeState()
				setOrgunitSelectionTextMessages()
			} else {
				optIn = false
				optInSectionElement.style.display = 'none'
				outOutSectionElement.style.display = 'flex'

				recoverExcemptedTreeState()
				setOrgunitSelectionTextMessages()
			}
		}

		$("document").ready(function() {
			var saved = [[${saved}]];

			//Change opt in/out sections on checkbox click
			const optInCheckElement = document.getElementById('ou-optin-checkbox')
			optInCheckElement.addEventListener('click', (event)=> {
				onOptInCheckboxChange(optInCheckElement)
			})
			
			$("#scheduled-attestation-checkbox").change(function() {
				$("#scheduledAttestationEnabled").val(this.checked);
				
				if (this.checked) {
					$("#scheduledAttestationSubsettings").show();
				}
				else {
					$("#scheduledAttestationSubsettings").hide();
				}
			});
			
			if ($("#scheduledAttestationEnabled").val() == "true") {
				$("#scheduledAttestationSubsettings").show();
			}

			$("#dont-send-mail-to-manager-checkbox").change(function() {
				$("#dontSendMailToManager").val(this.checked);
			});

			$("#attestation-ad-checkbox").change(function() {
				$("#adAttestationEnabled").val(this.checked);
			});

			$("#attestation-changes-checkbox").change(function() {
				$("#changeRequestsEnabled").val(this.checked);
			});

			$("#description-required-checkbox").change(function() {
				$("#descriptionRequired").val(this.checked);

				$("#hide-description-checkbox").prop('checked', false);
				$("#hideDescription").val(false);
				if (this.checked) {
					$("#hideDescriptionSection").hide();
				} else {
					$("#hideDescriptionSection").show();
				}
			});

			$("#hide-description-checkbox").change(function() {
				$("#hideDescription").val(this.checked);
			});

			if ($("#description-required-checkbox").prop('checked')) {
				$("#hideDescriptionSection").hide();
			} else {
				$("#hideDescriptionSection").show();
			}

			if (typeof saved != "undefined" && saved != null) {
			    if (saved) {
                    $.notify({
                        message: successMsg
                    },{
                        status: 'success',
                        autoHideDelay: 4000
                    });
                } else if(!saved) {
                    $.notify({
                        message: failedMsg
                    },{
                        status: 'warning',
                        autoHideDelay: 4000
                    });
                }
            }
			
			// JSTree stuff

	 		$('#modal-ou').on('shown.bs.modal', function() {
	 			$('#ou-tree-search').focus();
	 		})

			$("#ou-tree").jstree({
				"core": {
					"data": allOUs,
					"themes": {
						"icons": false
					}
				},
				"search" : {
					"show_only_matches": true,
					"search_callback": function(str, node) {
						return (node.text.toUpperCase().startsWith(str.toUpperCase()));
					}
				},
				"checkbox" : {
					"keep_selected_style" : false,
					"three_state": false,
					"cascade": "undetermined"
				},
				"plugins" : [
					"checkbox", "search"
				]
			});
			
			// searching in the JSTree
			var to = false;
			$('#ou-tree-search').keyup(function() {
				if (to) {
					clearTimeout(to);
				}

				to = setTimeout(function() {
					var v = $('#ou-tree-search').val();

					$('#ou-tree').jstree(true).search(v);
				}, 400);
			});
			
			// selecting in the JSTree
			$('#ou-tree').on("ready.jstree", function(e, data) {
				if (optIn) {
					recoverOptinTreeState();
				} else {
					recoverExcemptedTreeState();
				}
			});

			// init datepicker
			$('#attestationStartDate').data("DateTimePicker").date(new Date(firstAttestationDate));
			$("#attestationStartDate").on("dp.change", function (e) {
				if (!$('#attestationStartDate').data('date')) {
					$('#attestationStartDate').data("DateTimePicker").date(firstAttestationDate);
				}

				$("#firstAttestationDate").val($('#attestationStartDate').data('date'));
			});
		});
		
		/*]]>*/
	</script>
</body>
</html>