<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header (title=#{html.setting.notifications.title})}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/navbar :: navbar-header(subpage = 'administration')}"></header>
    <aside th:replace="~{fragments/navbar :: navbar-aside (page = 'notificationSettings', subpage = 'administration')}"></aside>

    <section>
        <div class="content-wrapper">
			<h3 th:text="#{html.setting.notification.title}"></h3>
			<div class="panel panel-default" style="padding-left: 20px; padding-right: 20px;">
				<form id="setting-form" class="form-horizontal" method="post" th:object="${settings}" th:action="@{/ui/admin/notifications/settings}">
					<div class="panel-body">
						<div class="panel-heading"></div>

						<fieldset>
							<div class="form-group">
								<div class="col-sm-12" th:text="#{html.setting.notification.text}"></div>
							</div>
						</fieldset>

						<fieldset>
							<div class="form-group row" style="margin-bottom: inherit;" th:each="notificationtype : ${T(dk.digitalidentity.rc.dao.model.enums.NotificationType).values()}">
								<label class="col-sm-3 control-label" style="padding-top: inherit;" th:text="#{__${notificationtype.message}__}"></label>
								<div class="col-sm-9">
									<span class="checkbox c-checkbox" style="display: inline;">
										<label>
											<input th:attr="data-id=${notificationtype}" class="notificationtypeCbx" type="checkbox" th:checked="${@settingsService.isNotificationTypeEnabled(notificationtype)}" />
											<span class="fa fa-check"></span>
										</label>
										<a th:replace="~{fragments/help :: help (title=#{__${notificationtype.getHelpTitle()}__}, content=#{__${notificationtype.getHelpBody()}__})}"></a>
									</span>
								</div>
								<input th:id="${notificationtype}" th:value="${@settingsService.isNotificationTypeEnabled(notificationtype)}" style="display: none;"/>
							</div>
						</fieldset>
					</div>
				</form>

				<fieldset>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-8">
							<button class="btn btn-primary btn-block js-save-settings-btn" th:text="#{html.control.button.save}"></button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
    </section>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script type="application/json" id="notification-setting-config" th:inline="javascript">
	{
		"successMsg": [[#{html.setting.update.msg.success}]],
		"failedMsg": [[#{html.setting.update.msg.failed}]],
		"ajaxUrl": [[@{/rest/admin/notifications/settings}]],
		"deleteDeselectedNotificationsHeader": [[#{html.setting.notification.swal.header}]],
		"deleteDeselectedNotificationsText": [[#{html.setting.notification.swal.text}]],
		"btnYes": [[#{html.setting.notification.swal.btn.yes}]],
		"btnNo": [[#{html.setting.notification.swal.btn.no}]]
	}
</script>
<script th:src="@{/js/service/SweetAlertService.js}"></script>
<script th:src="@{/js/setting/notification_settings.js}"></script>
</body>
</html>
