<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header (title=#{html.setting.title})}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/navbar :: navbar-header(subpage = 'administration')}"></header>
    <aside th:replace="~{fragments/navbar :: navbar-aside (page = 'settings', subpage = 'administration')}"></aside>

    <section>
        <div class="content-wrapper">
			<h3 th:text="#{html.setting.title}"></h3>
			<div class="panel panel-default" style="padding-left: 20px; padding-right: 20px;">
				<form id="setting-form" class="form-horizontal" method="post" th:object="${settingsForm}" th:action="@{/ui/settings}">
					<input type="hidden" th:field="*{requestApproveEnabled}" />
					<input type="hidden" th:field="*{caseNumberEnabled}" />
					<input type="hidden" th:field="*{autoNiveauEnabled}" />
					<select th:field="*{excludedOUs}" multiple="multiple" class="form-control" style="display: none;">
						<option th:each="ou : ${allOUs}" th:value="${ou.id}" th:text="${ou.text}" th:selected="${settingsForm.getExcludedOUs().contains(ou.id)}"></option>
					</select>
					<div class="panel-heading">
						<h4 th:text="#{html.setting.general}"></h4>
					</div>

					<div class="panel-body">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.itsystem.change.email}"></label>
								<div class="col-sm-8">
									<input th:field="*{itSystemChangeEmail}" class="form-control" />
								</div>
								<a th:replace="~{fragments/help :: help (title=#{html.help.roleadmin.email.title}, content=#{html.help.roleadmin.email.body})}"></a>
							</div>
						</fieldset>

						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.caseNumber.enabled}"></label>
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input id="caseNumber-checkbox" type="checkbox" th:attr="checked=${settingsForm.caseNumberEnabled}" />
											<span class="fa fa-check"></span>
										</label>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.general.caseNumber.title}, content=#{html.help.settings.general.caseNumber.body})}"></a>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.filter}"></label>

								<div class="col-sm-8">
									<button type="button" class="btn btn-primary js-choose-ou-btn" th:text="#{html.setting.pickou}"></button>
									<a th:replace="~{fragments/help :: help (title=#{html.help.settings.general.excludedOus.title}, content=#{html.help.settings.general.excludedOus.body})}"></a>
									<br/><br/>
									<em id="filterZeroTxt" th:style="${(#lists.size(settingsForm.excludedOUs) > 0) ? 'display: none': ''}" th:text="'Ingen enheder fravalgt'"></em>
									<em id="filterOneTxt" th:style="${(#lists.size(settingsForm.excludedOUs) != 1) ? 'display: none' : ''}" th:text="'Én enhed fravalgt (og alle underliggende enheder)'"></em>
									<em id="filterMultiTxt" th:style="${(#lists.size(settingsForm.excludedOUs) lt 2) ? 'display: none' : ''}">
										<span id="filterMultiValue" th:text="${#lists.size(settingsForm.excludedOUs)}"></span>
										<span th:text="'enheder (og alle underliggende enheder) er fravalgt'"></span>
									</em>
								</div>
							</div>
						</fieldset>

						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.autoNiveau.enabled}"></label>
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input id="autoNiveau-checkbox" type="checkbox" th:attr="checked=${settingsForm.autoNiveauEnabled}" />
											<span class="fa fa-check"></span>
										</label>
                                        <a th:replace="~{fragments/help :: help (title=#{html.help.settings.general.automatic.level_assignment.title}, content=#{html.help.settings.general.automatic.level_assignment.body})}"></a>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset id="level-mappings" th:style="${settingsForm.autoNiveauEnabled} ? '' : 'display: none;'">
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.levelMappings}"></label>
								<div class="col-sm-8">
									<div class="panel panel-default">
										<div class="panel-body">
											<div th:each="depth : ${#numbers.sequence(1, 6)}" class="row" style="margin-bottom: 10px;">
												<div class="col-sm-6">
                                                    <label th:if="${depth} == 1" th:text="'Trædybte 1 (Øverste enhed)'"></label>
													<label th:if="${depth} > 1" th:text="'Trædybte ' + ${depth} + ':'"></label>
												</div>

												<div class="col-sm-6">
													<select th:name="'depthToNiveauMappings[' + ${depth} + ']'" class="form-control">
														<option value="" th:text="#{html.enum.orgunitLevel.none}"></option>
														<option th:each="niveau : ${T(dk.digitalidentity.rc.dao.model.enums.OrgUnitLevel).values()}"
																th:if="${niveau.name() != 'NONE'}"
																th:value="${niveau}"
																th:text="#{${niveau.message}}"
																th:selected="${settingsForm.depthToNiveauMappings[__${depth}__] != null and settingsForm.depthToNiveauMappings[__${depth}__] == niveau}">
														</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.direct.affiliations.duration}"></label>
								<div class="col-sm-1">
									<input type="number" th:field="*{removeDirectAssignmentsForDeleted}" class="form-control"/>
								</div>
								<a th:replace="~{fragments/help :: help (title=#{html.help.direct.affiliations.title}, content=#{html.help.direct.affiliations.body})}"></a>
							</div>
						</fieldset>
					</div>

					<div class="panel-heading">
						<h4 th:text="#{html.setting.requestapprove}"></h4>
					</div>

					<div class="panel-body">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.requestapprove.enabled}"></label>
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input id="requestapprove-checkbox" type="checkbox" th:attr="checked=${settingsForm.requestApproveEnabled}" />
											<span class="fa fa-check"></span>
										</label>
											<a th:replace="~{fragments/help :: help (title=#{html.help.settings.general.requestApprove.title}, content=#{html.help.settings.general.requestApprove.body})}"></a>
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					<hr>

					<fieldset>
						<div class="form-group">
							<div class="col-md-offset-1 col-md-10">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{html.control.button.save}"></button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
    </section>
</div>

<div th:replace="~{setting/fragments/choose_ou_modal :: chooseOUFragment}"></div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:replace="~{fragments/assignDatePicker :: content}"></script>

<link rel="stylesheet" th:href="@{/css/setting/settings.css}" />

<script type="application/json" id="setting-config" th:inline="javascript">
	{
		"successMsg": [[#{html.setting.update.msg.success}]],
		"failedMsg": [[#{html.setting.update.msg.failed}]],
		"allOUs": [[${allOUs}]],
		"selectedOUs": [[${settingsForm.excludedOUs}]],
		"autoNiveauEnabled": [[${settingsForm.autoNiveauEnabled}]],
		"saved": [[${saved}]]
	}
</script>
<script th:src="@{/js/service/JsTreeService.js}"></script>
<script th:src="@{/js/setting/settings.js}"></script>
</body>
</html>
