<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (title=#{html.setting.title})" />
<body>
<div class="wrapper">
    <header th:replace="fragments/navbar :: navbar-header(subpage = 'administration')" />
    <aside th:replace="fragments/navbar :: navbar-aside (page = 'settings', subpage = 'administration')" />

    <section>
        <div class="content-wrapper">
			<h3 th:text="#{html.setting.title}"/>
			<div class="panel panel-default" style="padding-left: 20px; padding-right: 20px;">
				<form id="setting-form" class="form-horizontal" method="post" th:object="${settingsForm}" th:action="@{/ui/settings}">
					<input type="hidden" th:field="*{requestApproveEnabled}" />
					<input type="hidden" th:field="*{scheduledAttestationEnabled}" />
					<input type="hidden" th:field="*{attestationRoleDeletionEnabled}" />
					<input type="hidden" th:field="*{adAttestationEnabled}" />
					<select th:field="*{scheduledAttestationFilter}" multiple="multiple" class="form-control" style="display: none;">
						<option th:each="ou : ${allOUs}" th:value="${ou.id}" th:text="${ou.text}" th:selected="${settingsForm.getScheduledAttestationFilter().contains(ou.id)}"></option>
					</select>

					<div class="panel-heading">
						<h4 th:text="#{html.setting.general}" />
					</div>
	
					<div class="panel-body">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.requestapprove.servicedesk}" />
								<div class="col-sm-8">
									<input th:field="*{servicedeskEmail}" class="form-control" />
								</div>
								<a th:replace="fragments/help :: help (title=#{html.help.servicedesk.email.title}, content=#{html.help.servicedesk.email.body})" />
							</div>
						</fieldset>
						
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.itsystem.change.email}" />
								<div class="col-sm-8">
									<input th:field="*{itSystemChangeEmail}" class="form-control" />
								</div>
								<a th:replace="fragments/help :: help (title=#{html.help.roleadmin.email.title}, content=#{html.help.roleadmin.email.body})" />
							</div>
						</fieldset>
					</div>

					<div class="panel-heading">
						<h4 th:text="#{html.setting.requestapprove}" />
					</div>

					<div class="panel-body">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.requestapprove.enabled}" />
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input id="requestapprove-checkbox" type="checkbox" th:attr="checked=${settingsForm.requestApproveEnabled}" />
											<span class="fa fa-check"></span>
										</label>
									</div>
								</div>
							</div>
						</fieldset>
						
						<div id="requestApproveSubsettings" style="display: none;">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.who_can_request}" />
									<div class="col-sm-8">
										<select th:field="*{requestApproveWho}" class="form-control">
											<option th:each="type : ${T(dk.digitalidentity.rc.service.model.WhoCanRequest).values()}"
												th:value="${type}" th:text="#{__${type.getMessage()}__}"
												th:selected="${type} == *{requestApproveWho}"></option>
										</select>
									</div>
								</div>
							</fieldset>
						</div>
					</div>

					<div class="panel-heading">
						<h4 th:text="#{html.setting.attestation.scheduled}" />
					</div>

					<div class="panel-body">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.enabled}" />
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input id="scheduled-attestation-checkbox" type="checkbox" th:attr="checked=${settingsForm.scheduledAttestationEnabled}" />
											<span class="fa fa-check"></span>
										</label>
									</div>
								</div>
							</div>
						</fieldset>
						
						<div id="scheduledAttestationSubsettings" style="display: none;">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.roledeletion.enabled}" />
									<div class="col-sm-8">
										<div class="checkbox c-checkbox">
											<label>
												<input id="attestation-roledeletion-checkbox" type="checkbox" th:attr="checked=${settingsForm.attestationRoleDeletionEnabled}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
									<a th:replace="fragments/help :: help (title=#{html.setting.attestation.scheduled.roledeletion.enabled.info.header}, content=#{html.setting.attestation.scheduled.roledeletion.enabled.info})" />
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.ad.enabled}" />
									<div class="col-sm-1">
										<div class="checkbox c-checkbox">
											<label>
												<input id="attestation-ad-checkbox" type="checkbox" th:attr="checked=${settingsForm.adAttestationEnabled}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>
							</fieldset>
						
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.interval}" />
									<div class="col-sm-8">
										<select th:field="*{scheduledAttestationInterval}" class="form-control">
											<option th:each="interval : ${T(dk.digitalidentity.rc.dao.model.enums.CheckupIntervalEnum).values()}"
												th:value="${interval}" th:text="#{__${interval.getMessage()}__}"
												th:selected="${interval} == *{scheduledAttestationInterval}"></option>
										</select>
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.interval.sensitive}" />
									<div class="col-sm-8">
										<select th:field="*{scheduledAttestationIntervalSensitive}" class="form-control">
											<option th:each="interval : ${T(dk.digitalidentity.rc.dao.model.enums.CheckupIntervalEnum).values()}"
												th:value="${interval}" th:text="#{__${interval.getMessage()}__}"
												th:selected="${interval} == *{scheduledAttestationIntervalSensitive}"></option>
										</select>
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.day_in_month}" />
									<div class="col-sm-8">
										<input th:field="*{scheduledAttestationDayInMonth}" class="form-control" />
									</div>
								</div>
							</fieldset>

							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.attestationEmail}" />
									<div class="col-sm-8">
										<input th:field="*{emailAttestationReport}" class="form-control" />
										<ul th:if="${#fields.hasErrors('emailAttestationReport')}">
										    <li style="color: red;" th:each="err : ${#fields.errors('emailAttestationReport')}" th:text="${err}" />
										</ul>
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.scheduled.filter}"/>

									<div class="col-sm-8">
										<button type="button" onclick="chooseOU()" class="btn btn-primary" th:text="#{html.setting.attestation.scheduled.pickou}"></button>
										<br/><br/>
										<em id="filterZeroTxt" th:style="${(#lists.size(settingsForm.scheduledAttestationFilter) > 0) ? 'display: none': ''}" th:text="'Ikke aktiveret for nogen enheder'" />
										<em id="filterOneTxt" th:style="${(#lists.size(settingsForm.scheduledAttestationFilter) != 1) ? 'display: none' : ''}" th:text="'Aktiveret for én enhed (og alle underliggende enheder)'" />
										<em id="filterMultiTxt" th:style="${(#lists.size(settingsForm.scheduledAttestationFilter) lt 2) ? 'display: none' : ''}">
											<span th:text="'Aktiveret for'"/>
											<span id="filterMultiValue" th:text="${#lists.size(settingsForm.scheduledAttestationFilter)}" />
											<span th:text="'enheder (og alle underliggende enheder)'"/>
										</em>
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.remove.role.email}" />
									<div class="col-sm-8">
										<input th:field="*{removalOfUnitRolesEmail}" class="form-control" />
									</div>
									<a th:replace="fragments/help :: help (title=#{html.help.remove.role.title}, content=#{html.help.remove.role.body})" />
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.days_before_deadline}" />
									<div class="col-sm-8">
										<input type="number" th:field="*{DaysBeforeDeadline}" class="form-control" />
									</div>
									<a th:replace="fragments/help :: help (title=#{html.help.attestation.days_before.title}, content=#{html.help.attestation.days_before.body})" />
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.reminder_count}" />
									<div class="col-sm-8">
										<input type="number" th:field="*{ReminderCount}" class="form-control" />
									</div>
									<a th:replace="fragments/help :: help (title=#{html.help.attestation.reminder_count.title}, content=#{html.help.attestation.reminder_count.body})" />
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.reminder_interval}" />
									<div class="col-sm-8">
										<input type="number" th:field="*{ReminderInterval}" class="form-control" />
									</div>
									<a th:replace="fragments/help :: help (title=#{html.help.attestation.reminder_interval.title}, content=#{html.help.attestation.reminder_interval.body})" />
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-3 control-label" th:text="#{html.setting.attestation.email_after_reminders}" />
									<div class="col-sm-8">
										<input th:field="*{EmailAfterReminders}" class="form-control" />
									</div>
									<a th:replace="fragments/help :: help (title=#{html.help.attestation.reminder.email.title}, content=#{html.help.attestation.reminder.email.body})" />
								</div>
							</fieldset>
							
						</div>
					</div>

					<fieldset>
						<div class="form-group">
							<div class="col-md-offset-1 col-md-10">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{html.control.button.save}" />
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
    </section>
</div>

<div class="modal fade bd-example-modal-lg" id="modal-ou" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 th:text="#{html.word.search}"/>
			</div>

			<div class="modal-body">
				<input class="form-control" id="ou-tree-search" style="margin-bottom: 5px;" />
				<div id="ou-tree"></div>
			</div>

			<div class="modal-footer">
				<button type="button" id="save" class="btn btn-primary" onclick="saveOUs()" th:text="#{html.control.button.save}"/>
				<button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"/>
			</div>
		</div>
	</div>
</div>

<div th:replace="fragments/footer :: footer" />

<script th:inline="javascript">
		/*<![CDATA[*/

        /*[+
		 var allOUs = [[${allOUs}]];
         var selectedOUs = [[${settingsForm.scheduledAttestationFilter}]];
         var successMsg = [[#{html.setting.update.msg.success}]];
         var failedMsg = [[#{html.setting.update.msg.failed}]];
         +]*/

 		function chooseOU() {
 			$('#modal-ou').modal('show');
 		}
		
		function saveOUs(){
			var codes = $('#ou-tree').jstree('get_selected', true);

			$("#scheduledAttestationFilter").empty();

			for (var i = 0; i < codes.length; i++) {
				$("#scheduledAttestationFilter").append('<option value=\"' + codes[i].id + '\" selected="selected"> ' + codes[i].text + "</option>");
			}

			$('#filterZeroTxt').hide();
			$('#filterOneTxt').hide();
			$('#filterMultiTxt').hide();

			if (codes.length == 0) {
				$('#filterZeroTxt').show();
			}
			else if (codes.length == 1) {
				$('#filterOneTxt').show();
			}
			else {
				$('#filterMultiTxt').show();
				$('#filterMultiValue').text(codes.length);
			}
			
			$('#modal-ou').modal('hide');
		}

		$("document").ready(function() {
			var saved = [[${saved}]];
			
			$("#scheduled-attestation-checkbox").change(function() {
				$("#scheduledAttestationEnabled").val(this.checked);
				
				if (this.checked) {
					$("#scheduledAttestationSubsettings").show();
				}
				else {
					$("#scheduledAttestationSubsettings").hide();
				}
			});
			
			if ($("#scheduledAttestationEnabled").val() == "true") {
				$("#scheduledAttestationSubsettings").show();
			}
			
			$("#attestation-roledeletion-checkbox").change(function() {
				$("#attestationRoleDeletionEnabled").val(this.checked);
			});
			
			$("#requestapprove-checkbox").change(function() {
				$("#requestApproveEnabled").val(this.checked);
				
				if (this.checked) {
					$("#requestApproveSubsettings").show();
				}
				else {
					$("#requestApproveSubsettings").hide();
				}
			});
			
			if ($("#requestApproveEnabled").val() == "true") {
				$("#requestApproveSubsettings").show();
			}
			
			$("#attestation-ad-checkbox").change(function() {
				$("#adAttestationEnabled").val(this.checked);
			});
			
			if (typeof saved != "undefined" && saved != null) {
			    if (saved) {
                    $.notify({
                        message: successMsg
                    },{
                        status: 'success',
                        autoHideDelay: 4000
                    });
                } else if(!saved) {
                    $.notify({
                        message: failedMsg
                    },{
                        status: 'warning',
                        autoHideDelay: 4000
                    });
                }
            }
			
			// JSTree stuff

	 		$('#modal-ou').on('shown.bs.modal', function() {
	 			$('#ou-tree-search').focus();
	 		})

			$("#ou-tree").jstree({
				"core": {
					"data": allOUs,
					"themes": {
						"icons": false
					}
				},
				"search" : {
					"show_only_matches": true,
					"search_callback": function(str, node) {
						return (node.text.toUpperCase().startsWith(str.toUpperCase()));
					}
				},
				"checkbox" : {
					"keep_selected_style" : false,
					"three_state": false,
					"cascade": "undetermined"
				},
				"plugins" : [
					"checkbox", "search"
				]
			});
			
			// searching in the JSTree
			var to = false;
			$('#ou-tree-search').keyup(function() {
				if (to) {
					clearTimeout(to);
				}

				to = setTimeout(function() {
					var v = $('#ou-tree-search').val();

					$('#ou-tree').jstree(true).search(v);
				}, 400);
			});
			
			// selecting in the JSTree
			$('#ou-tree').on("ready.jstree", function(e, data) {
				$('#ou-tree').jstree('select_node', selectedOUs);
			});
		});
		
		/*]]>*/
	</script>
</body>
</html>