<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ADSyncService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <applicationSettings>        
        <ADSyncService.Properties.Settings>
            <setting name="CronSchedule" serializeAs="String">
                <value>0 /5 5-23 ? * *</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://kommune.rollekatalog.dk</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>xxxxxxxxxxxxxxxxxxxxx</value>
            </setting>
            <setting name="CreateDeleteFeature_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateDeleteFeature_CreateEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateDeleteFeature_DeleteEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateDeleteFeature_OU" serializeAs="String">
                <value>OU=groups,DC=digitalidentity,DC=dk</value>
            </setting>
            <setting name="MembershipSyncFeature_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MembershipSyncFeature_IgnoreUsersWithoutCpr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MembershipSyncFeature_CprAttribute" serializeAs="String">
                <value>employeeNumber</value>
            </setting>
            <setting name="BackSyncFeature_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ItSystemGroupFeature_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadonlyItSystemFeature_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackSyncFeature_CreateUserRoles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MembershipSyncFeature_AttributeMap" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>someGroupName;someAttribute;someAttributeValue</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BackSyncFeature_OUs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>2399;OU=system1,OU=Groups,DC=digitalidentity,DC=dk</string>
                        <string>2400;OU=system2,OU=Groups,DC=digitalidentity,DC=dk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ItSystemGroupFeature_SystemMap" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1;CN=ItSystemOne,OU=Groups,DC=digitalidentity,DC=dk</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ReadonlyItSystemFeature_SystemMap" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>2408;OU=subgroup1,OU=groups,DC=digitalidentity,DC=dk</string>
                        <string>2409;OU=subgroup2,OU=groups,DC=digitalidentity,DC=dk</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ADSyncService.Properties.Settings>
    </applicationSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
