<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.kle.kle.assignment})}"></head>
<body class="layout-fixed">
<div class="wrapper">
	<header th:replace="~{fragments/navbar :: navbar-header(subpage = 'reports')}"></header>
	<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'kle.assignment', subpage = 'reports')}"></aside>
	<section>
		<div class="content-wrapper">
			<h3>
				<span th:text="#{html.page.kle.who}"></span>
			</h3>

			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div id="kleTree"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<nav th:replace="~{fragments/footer :: footer}"></nav>

<script id="kle-assignment-config" type="application/json" th:inline="javascript">
	{
		"kleUrl": [[@{/ui/kle/}]],
		"allKles": [[${allKles}]]
	}
</script>
<script th:src="@{/js/service/JsTreeService.js}"></script>
<script th:src="@{/js/kle/kle-assignment.js}"></script>
</body>
</html>
