<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.kle.kle.mapped})}"></head>
<body class="layout-fixed">
<div class="wrapper">
	<header th:replace="~{fragments/navbar :: navbar-header(subpage = 'reports')}"></header>
	<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'kle.mapped', subpage = 'reports')}"></aside>
	<section>
		<div class="content-wrapper">
			<h3>
				<a th:href="@{/ui/ous/list}" class="btn btn-default">
						<span>
							<i class="fa fa-arrow-left"></i>
						</span>
				</a>
				<span th:text="#{html.page.kle.kle.mapped}"></span>
			</h3>

			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="#kle_performing_menu" th:text="#{html.page.ous.list.kleperform}"></a>
						</li>
					</ul>

					<div class="tab-content">
						<div id="kle_performing_menu" class="tab-pane fade in active"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<nav th:replace="~{fragments/footer :: footer}"></nav>

<link rel="stylesheet" th:href="@{/css/kle/kle-mapped.css}" />

<script id="kle-mapped-config" type="application/json" th:inline="javascript">
	{
		"ousUrl": [[@{/ui/ous/}]],
		"restUrl": [[@{/rest/ous/}]],
		"kleMainGroups": [[${kleMainGroupsList}]],
		"klePerformers": [[${klePerforming}]]
	}
</script>
<script th:src="@{/js/kle/kle-mapped.js}"></script>
</body>
</html>
