<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.kle.oukle})}"></head>
<body class="layout-fixed">
<div class="wrapper">
	<header th:replace="~{fragments/navbar :: navbar-header(subpage = 'reports')}"></header>
	<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'kle.ous', subpage = 'reports')}"></aside>

	<section>
		<div class="content-wrapper">
			<h3>
				<span th:text="#{html.page.kle.oukle}"></span>
			</h3>

			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<div class="panel-body">
					<div class="row col-md-12" style="padding: 0px 75px 0px 20px;">
						<h4 th:text="#{html.word.search}"></h4>
						<input class="form-control" id="searchField" style="margin-bottom: 40px;" autofocus="autofocus" />
						<div style="width:100%; padding-right: 4px;">
							<div class="pull-right" style="width: 50px;margin-left: .3em;" th:text="#{html.page.kle.oukle.interest}"></div>
							<div class="pull-right" style="width: 50px;margin-left: .3em;" th:text="#{html.page.kle.oukle.perform}"></div>
						</div>
						<div id="hierarchy"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<nav th:replace="~{fragments/footer :: footer}"></nav>

<script th:replace="~{fragments/datatables :: datatables}"></script>

<link rel="stylesheet" th:href="@{/css/kle/ou-kle.css}" />

<script id="oukle-report-config" type="application/json" th:inline="javascript">
	{
		"orgUnitUrl": [[@{/ui/orgunit/}]],
		"orgUnits": [[${orgUnits}]]
	}
</script>
<script th:src="@{/js/service/JsTreeService.js}"></script>
<script th:src="@{/js/kle/ou-kle.js}"></script>
</body>
</html>
