<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.ous.edit.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'ous')" />
		
		<section>
			<div class="content-wrapper">
				<h3>
					<a th:href="@{/ui/ous/list}" class="btn btn-default">
						<span>
							<i class="fa fa-arrow-left"></i>
						</span>
					</a>
					<span th:text="#{html.page.ous.edit.title}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="stamdataHeading">
									<h4 class="panel-title">
										<a role="button" id="stamdataLink" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
											<em id="caretIcon" class="fa fa-caret-right"></em>&nbsp;
											<span th:text="#{html.heading.stamdata}"></span>
											<span th:text="${ou.name}"></span>
										</a>
									</h4>
								</div>

								<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="stamdataHeading">
									<div class="panel-body">
										<form class="form-horizontal" th:object="${ou}">
											<fieldset>
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.name}" />
													<div class="col-sm-8">
														<input th:field="${ou.name}" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>

											<fieldset sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
												<div th:if="${@roleCatalogueConfiguration.getOrganisation().isGetLevelsFromApi() == false}" class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.level}" />
													<div class="col-sm-8">
														<select onchange="setLevel(this);" class="form-control">
															<option th:each="level : ${allowedLevels}"
																th:value="${level}" th:text="#{__${level.message}__}"
																th:selected="${level} == *{level}"></option>
														</select>
													</div>
												</div>
												
												<div th:if="${@roleCatalogueConfiguration.getOrganisation().isGetLevelsFromApi() == true}" class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.level}" />
													<div class="col-sm-8">
														<input th:value="#{__${ou.level.message}__}" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>
														
											<fieldset sec:authorize="!hasRole('ROLE_ADMINISTRATOR')">
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.level}" />
													<div class="col-sm-8">
														<input th:value="#{__${ou.level.message}__}" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>

											<fieldset>
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.manager}" />
													<div class="col-sm-8">
														<input th:value="${ou.manager} != null ? ${ou.manager.name} : ''" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>
											
											<fieldset th:if="${kleUiEnabled == true}" sec:authorize="hasRole('ROLE_KLE_ADMINISTRATOR')">
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.orgunit.settings}"></label>
													<div class="col-sm-8">
														<div class="checkbox c-checkbox">
															<label>
																<input class="inherit-checkbox" type="checkbox" data-flag="inherit" th:attr="checked=${ou.inheritKle}"/>
																<span class="fa fa-check"></span>
															</label>
															
															<label th:text="#{html.orgunit.flag.inherit}"></label>
														</div>
													</div>
												</div>
												
												<div class="form-group" th:if="${#lists.size(parentsKleIsInheritedFrom)} > 0">
													<div class="col-sm-offset-2 col-sm-8" style="margin-top: 20px;">
														<span style="font-weight: bold;" th:text="#{html.orgunit.kle.inherited.from}" />
														<ul>
															<li th:each="ouInheritedFrom : ${parentsKleIsInheritedFrom}" th:text="${ouInheritedFrom.name}" />
														</ul>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>

						<ul class="nav nav-tabs" id="dataTabs">
							<li th:class="${!onlyKleAdmin} ? active : ''" sec:authorize="hasRole('ROLE_ASSIGNER')">
								<a data-toggle="tab" href="#roles_menu" th:text="#{html.page.ous.list.roles}"></a>
							</li>

							<li sec:authorize="hasRole('ROLE_ASSIGNER')">
								<a data-toggle="tab" href="#groups_menu" th:text="#{html.page.ous.list.rolegroups}"></a>
							</li>

							<li th:class="${onlyKleAdmin} ? active : ''" th:if="${kleUiEnabled == true}" sec:authorize="hasRole('ROLE_KLE_ADMINISTRATOR')">
								<a data-toggle="tab" id="kleFirstTab" href="#kle_performing_menu" th:text="#{html.page.ous.list.kleperform}"></a>
							</li>
							
							<li th:if="${kleUiEnabled == true}" sec:authorize="hasRole('ROLE_KLE_ADMINISTRATOR')">
								<a data-toggle="tab" href="#kle_insight_menu" th:text="#{html.page.ous.list.kleinterest}"></a>
							</li>

							<li>
								<a data-toggle="tab" href="#users_menu" th:text="#{html.page.ous.list.users}"></a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="roles_menu" th:class="${!onlyKleAdmin} ? 'tab-pane fade in active' : 'tab-pane fade'">
								<table id="listTable1" class="table table-striped table-hover listTable">
									<thead>
										<tr>
											<th class="col-md-1" th:text="#{html.entity.rolegroup.enabled}" />
											<th class="col-md-3" th:text="#{html.entity.rolegroup.name}" />
											<th class="col-md-3" th:text="#{html.entity.rolegroup.itsystem}" />
											<th class="col-md-5" th:text="#{html.entity.rolegroup.description}" />
										</tr>
									</thead>

									<tbody>
										<tr th:each="addRole : ${addRoles}">
											<td>
												<div class="checkbox c-checkbox">
													<label>
														<input class="checkboxaction" th:id="${addRole.role.id}" type="checkbox" th:value="${ou.uuid}" th:checked="${addRole.checked}" th:attr="data-inherit=${addRole.role.ouInheritAllowed}" data-objtype="role" />
														<span class="fa fa-check" th:classappend="${addRole.checkedWithInherit} ? 'inherit' : ''"></span>
													</label>
												</div>
											</td>
											<td th:text="${addRole.role.name}" />
											<td th:text="${addRole.role.itSystem.name}" />
											<td th:text="${addRole.role.description}" />
										</tr>
									</tbody>
								</table>
							</div>

							<div id="groups_menu" class="tab-pane fade">
								<table id="listTable2" class="table table-striped table-hover listTable">
									<thead>
										<tr>
											<th class="col-md-1" th:text="#{html.entity.rolegroup.enabled}" />
											<th class="col-md-3" th:text="#{html.entity.rolegroup.name}" />
											<th class="col-md-8" th:text="#{html.entity.rolegroup.description}" />
										</tr>
									</thead>

									<tbody>
										<tr th:each="addRolegroup : ${addRoleGroups}">
											<td>
												<div class="checkbox c-checkbox">
													<label>
														<input class="checkboxaction" th:id="${addRolegroup.roleGroup.id}" type="checkbox" th:value="${ou.uuid}" th:checked="${addRolegroup.checked}" th:attr="data-inherit=${addRolegroup.roleGroup.ouInheritAllowed}" data-objtype="rolegroup" />
														<span class="fa fa-check" th:classappend="${addRolegroup.checkedWithInherit} ? 'inherit' : ''"></span>
													</label>
												</div>
											</td>
											<td th:text="${addRolegroup.roleGroup.name}" />
											<td th:text="${addRolegroup.roleGroup.description}" />
										</tr>
									</tbody>
								</table>
							</div>

							<div sec:authorize="hasRole('ROLE_KLE_ADMINISTRATOR')" th:if="${kleUiEnabled == true}" id="kle_performing_menu" th:class="${onlyKleAdmin} ? 'tab-pane fade in active' : 'tab-pane fade'">
								<h4 th:text="#{html.page.ous.edit.search}" />
								<input class="form-control" id="KlePrimarySearch" style="margin-bottom: 5px;"/>
								<button class="btn btn-lg btn-primary" style="margin-bottom: 20px;" th:text="#{html.page.ous.edit.save}" onclick="saveChanges('KlePrimary')"></button>
								<button class="btn btn-lg btn-primary" style="margin-bottom: 20px;" th:text="#{html.page.ous.edit.cancel}" onclick="abortChanges('KlePrimary')"></button>
								<div id="KlePrimary"></div>
							</div>
							<div sec:authorize="hasRole('ROLE_KLE_ADMINISTRATOR')" th:if="${kleUiEnabled == true}" id="kle_insight_menu" class="tab-pane fade">
								<h4 th:text="#{html.page.ous.edit.search}" />
								<input class="form-control" id="KleSecondarySearch" style="margin-bottom: 5px;"/>
								<button class="btn btn-lg btn-primary" style="margin-bottom: 20px;" th:text="#{html.page.ous.edit.save}" onclick="saveChanges('KleSecondary')"></button>
								<button class="btn btn-lg btn-primary" style="margin-bottom: 20px;" th:text="#{html.page.ous.edit.cancel}" onclick="abortChanges('KleSecondary')"></button>
								<div id="KleSecondary"></div>
							</div>

							<div id="users_menu" class="tab-pane fade">
								<div th:replace="ous/fragments/ou_users :: orgUnitUsers(users = ${users})" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	<script th:replace="fragments/datatables :: datatables " />

	<style>
		.table .checkbox {
			margin-left: 10px;
			width: auto;
		}
	</style>

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var url = [[@{/rest/ous/}]];
		var urlUi = [[@{/ui/ous/}]];
		var ou = [[${ou.uuid}]];
		var fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
		var fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];
		var success = [[#{html.default.message.success}]];
		var failed = [[#{html.default.message.error}]];
		var inheritAssignTitleMsg = [[#{html.orgunit.inherit.assign.title}]];
		var inheritAssignBodyMsg = [[#{html.orgunit.inherit.assign.body}]];
		var inheritButtonYesMsg = [[#{html.orgunit.inherit.button.yes}]];
		var inheritButtonNoMsg = [[#{html.orgunit.inherit.button.no}]];
		
		var usersStillAssignedDirectlyMsg = [[#{html.orgunit.role.stillassigned}]];
		var usersAlreadyAssignedDirectlyMsg = [[#{html.orgunit.role.alreadyassigned}]];

		var allInterestKles = [[${allInterestKles}]];
		var allPerformingKles = [[${allPerformingKles}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		var klePrimaryInitialized = false;
		var kleSecondaryInitialized = false;
		
		function addCheckboxListeners() {
			$('.checkboxaction').off("change");
			$('.checkboxaction').change(handleCheckbox);
			$('.inherit-checkbox').change(inheritCheckboxChange);
		}

		$(document).ready(function() {
			addCheckboxListeners();

			$('#listTable1').on( 'draw.dt', function () {
				addCheckboxListeners();
			});
			
			$('#listTable2').on( 'draw.dt', function () {
				addCheckboxListeners();
			});

			var selectedTab = localStorage.getItem(ou);
			if (selectedTab != null) {
				$('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
			}
		});
		
		function setLevel(el) {
			var updateUrl = url + ou + "/setLevel/" + $(el).val();
			
			$.ajax({
				url: updateUrl,
				method: "POST",
				headers: {
					'X-CSRF-TOKEN': token
				},
				error: function(response) {
					$.notify({
						message: response.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {	
					$.notify({
						message: fieldUpdatedMsg
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				}
			});
		}

		function inheritCheckboxChange() {
			var updateUrl = url + ou + "/inherit";

			if (this.checked) {
				updateUrl = updateUrl + "?active=true";
			}
			else {
				updateUrl = updateUrl + "?active=false";
			}
			
			$.ajax({
				url: updateUrl,
				method: "POST",
				headers: {
					'X-CSRF-TOKEN': token
				},
				error: function(response) {
					$.notify({
						message: response.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {	
					$.notify({
						message: fieldUpdatedMsg
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				}
			});
		}
		
		function checkUserAssignmentsBeforePerform(objType, inheritAllowed, roleId, ouUuid, checked, successFunction) {
			var endpoint = url + 'assignedStatus/' + objType + '/' + ouUuid + '/' + roleId;
			
			$.ajax({
				url: endpoint,
				method: "GET",
				error: function(response) {
					showErrorNotification(fieldNotUpdatedMsg);
				},
				success : function(response) {
					var usersWithRoleAssignedDirectly = response.users;
					
					successFunction(objType, inheritAllowed, roleId, ouUuid, checked, usersWithRoleAssignedDirectly, usersWithRoleAssignedDirectly);
				}
			});
		}

		function handleCheckbox() {
			var objType = String(this.dataset.objtype);
			var inheritAllowed = this.dataset.inherit;
			var id = this.id;
			var value = this.value;
			var checked = this.checked;
			var checkBoxSpan = $(this).siblings("span");

			checkUserAssignmentsBeforePerform(objType, inheritAllowed, id, value, checked, function(objType, inheritAllowed, id, value, checked, usersWithRoleAssignedDirectly) {
				var optionalSuccessMessage;
				
				if (checked) {
					var endpoint = url + 'add' + objType + '/' + value + '/' + id;

					if (usersWithRoleAssignedDirectly > 0) {
						optionalSuccessMessage = usersAlreadyAssignedDirectlyMsg.format(usersWithRoleAssignedDirectly);
					}
					
					if (inheritAllowed == 'true') {
						swal({
							  title: inheritAssignTitleMsg,
							  text: inheritAssignBodyMsg,
							  showCancelButton: true,
	                          confirmButtonColor : "#DD6B55",
							  confirmButtonText: inheritButtonYesMsg,
							  cancelButtonText: inheritButtonNoMsg,
							  closeOnConfirm: true,
							  closeOnCancel: true
						}, function(isConfirm) {
							if (isConfirm) {
								endpoint = endpoint + "?inherit=true";
								checkBoxSpan.addClass("inherit");
							}
							else {
								checkBoxSpan.removeClass("inherit");
							}

							defaultAjaxPost(endpoint, optionalSuccessMessage);
						});
					}
					else {
						defaultAjaxPost(endpoint, optionalSuccessMessage);
					}
				}
				else {
					var endpoint = url + 'remove' + objType + '/' + value + '/' + id;

					if (usersWithRoleAssignedDirectly > 0) {
						optionalSuccessMessage = usersStillAssignedDirectlyMsg.format(usersWithRoleAssignedDirectly);
					}

					defaultAjaxPost(endpoint, optionalSuccessMessage);
				}
			});
		}

		// TODO: move these into a utility js file (exists in edit.html for users/orgunits)
		function defaultAjaxPost(endpoint, optionalWarningMessage) {
			$.ajax({
				url: endpoint,
				method: "POST",
				headers: {
					'X-CSRF-TOKEN': token
				},
				error : function(response) {
					showErrorNotification(fieldNotUpdatedMsg);
				},
				success : function(response) {
					if (optionalWarningMessage) {
						showWarnNotification(optionalWarningMessage);
					}
					else {
						showInfoNotification(fieldUpdatedMsg);
					}
				}
			});
		}

		if (!String.prototype.format) {
			String.prototype.format = function () {
				var args = [].slice.call(arguments);
	
				return this.replace(/(\{\d+\})/g, function (a) {
					return args[+(a.substr(1,a.length-2))||0];
				});
			};
		}

		if (!String.prototype.startsWith) {
		    String.prototype.startsWith = function(searchString, position){
		      position = position || 0;
		      return this.substr(position, searchString.length) === searchString;
		  };
		}

		function showInfoNotification(message) {
			$.notify({
				message: message,
				status: 'success',
				timeout: 2000
			});
		}
		
		function showWarnNotification(message) {
			$.notify({
				message: message,
				status: 'warning',
				timeout: 3000
			});
		}

		function showErrorNotification(message) {
			$.notify({
				message: message,
				status: 'danger',
				timeout: 4000
			});
		}

		//// BEGIN KLE CODE ////
		function initJSTree(id, search, selected) {
			$('#' + id).jstree({
					"core": {
						"data": (id == 'KlePrimary') ? allPerformingKles : allInterestKles,
						"themes": {
							"icons": false
						}
					},
					"checkbox" : {
						"keep_selected_style" : false,
						"three_state": false,
						"tie_selection": false, // this allow us to send checked state in input data
						"cascade": "undetermined"
					},
					"search" : {
						"show_only_matches": true,
						"search_callback": function(str, node) {
							// special KLE search support
							var kleValue = str.split('.').join("");
							if (!isNaN(kleValue)) {
								if (kleValue.length > 4) {
									kleValue = kleValue.substr(0, 2) + "." + kleValue.substr(2, 2) + "." + kleValue.substr(4);
								}
								else if (kleValue.length > 2) {
									kleValue = kleValue.substr(0, 2) + "." + kleValue.substr(2);
								}
								
								return (node.text.startsWith(kleValue));
							}

							return (node.text.toUpperCase().includes(str.toUpperCase()));
						}
					},
					"plugins" : [
						"wholerow", "search", "checkbox"
					]
			}).on("check_node.jstree uncheck_node.jstree", function(e, data) {
				var id = data.node.id;
				var checked = data.node.state.checked;

				var set = (data.event.delegateTarget.id == "KlePrimary") ? allPerformingKles : allInterestKles;

				for (var i = 0; i < set.length; i++) {
					if (set[i].id == id) {
						set[i].state.checked = checked;
					}
				}
			});

			// Searching in the JSTree
			var to = false;
			$('#' + search).keyup(function() {
				if (to) {
					clearTimeout(to);
				}

				to = setTimeout(function() {
					var v = $('#' + search).val();

					$('#' + id).jstree(true).search(v);
				}, 400);
			});
		};

		function saveChanges(id) {
			var tmpCodes = [];
			var set = (id == "KlePrimary") ? allPerformingKles : allInterestKles;
			for (var i = 0; i < set.length; i++) {
				if (set[i].state.checked) {
					tmpCodes.push(set[i].id);
				}
			}
			
			// sort in order of length (descending)
			tmpCodes.sort(function(a,b) {
				return b.length - a.length;
			});
			
			// remove sub-selections (works because of order)
			var codes = [];
			for (var i = 0; i < tmpCodes.length; i++) {
				var code = tmpCodes[i];
				
				// small optimization
				if (tmpCodes[i].length < 6) {
					for (var j = codes.length - 1; j >= 0; j--) {
						if (codes[j].startsWith(code)) {
							codes.splice(j, 1);
						}
					}
				}
				
				codes.push(code);
			}

			$.ajax({
				contentType: 'application/json',
				url: url + "updateAll/kle",
				method : "POST",
				headers: {
					"uuid": ou,
					"type": id,
					'X-CSRF-TOKEN': token
				},
				error: function(response) {
					$.notify({
						message: fieldNotUpdatedMsg
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					$.notify({
						message: fieldUpdatedMsg
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				},
				data: JSON.stringify(codes)
			});
		}

		function abortChanges(id) {
			location.reload();
		}
		//// END  KLE CODE ////
		$('#dataTabs a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});

		$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
			var id = $(e.target).attr("href");
			localStorage.setItem(ou, id)

			// just a simple check to see if we have data to show
			if ($('#kle_performing_menu').length > 0) {
				if ("#kle_performing_menu" == id && !klePrimaryInitialized) {
					klePrimaryInitialized = true;
		            initJSTree("KlePrimary", "KlePrimarySearch");
				}
				else if ("#kle_insight_menu" == id && !kleSecondaryInitialized) {
					kleSecondaryInitialized = true;
					initJSTree("KleSecondary", "KleSecondarySearch");					
				}
			}
		});
		/*]]>*/
	</script>
</body>
</html>
