<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.ous.list.title})}"></head>
<body class="layout-fixed">
	<div class="wrapper">
		<header th:replace="~{fragments/navbar :: navbar-header(subpage = 'roles')}"></header>
		<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'ous', subpage = 'roles')}"></aside>

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row col-md-6" style="padding: 0px 75px 0px 20px;">
							<h4 th:text="#{html.word.search}"></h4>
							<input class="form-control" id="searchField" style="margin-bottom: 40px;" autofocus="autofocus" />
							<div id="hierarchy"></div>
						</div>
						<div class="row col-md-6" id="sidebar">
							<h4 th:text="#{html.entity.ou.chosen}"></h4>
							<form class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<div class="col-sm-10">
											<span class="form-control" id="ouName"></span>
										</div>
									</div>
								</fieldset>

								<fieldset>
									<div class="form-group">
										<div class="col-sm-10">
											<a id="ouEditLink" href="#">
												<span class="btn btn-lg btn-primary" th:text="#{html.entity.view.action.edit}"></span>
											</a>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="~{fragments/footer :: footer}"></nav>

	<style>
		div .affix {
			position: fixed;
			right: 0;
			padding-left: 50px;
			margin-left: -30px;
			margin-right: -30px;
			padding-right: 126.1px;
		}
	</style>

	<script th:inline="javascript">
		/*<![CDATA[*/
		/*[+
		    var url = [[@{/ui/ous/}]];
		    
			var allOUs = [[${allOUs}]];
		+]*/

		// polyfill for IE
		if (!String.prototype.startsWith) {
			String.prototype.startsWith = function(searchString, position) {
				position = position || 0;
				return this.substr(position, searchString.length) === searchString;
			};
		}
		
		//hierarchy
		$("document").ready(function() {
			$("#sidebar").affix({
				offset: {
					top: 0
				}
			});
			
			$("#hierarchy").jstree({
				"core": {
					"data": allOUs,
					"themes": {
						"icons": false
					}
				},
				"search" : {
					"show_only_matches": true,
					"search_callback": function(str, node) {
						return (node.text.toUpperCase().includes(str.toUpperCase()));
					}
				},
				"sort": function(a, b) {
			        a1 = this.get_node(a);
			        b1 = this.get_node(b);

		            return (a1.text > b1.text) ? 1 : -1;
				},
				"plugins" : [
					"sort", "state", "wholerow", "search"
				]
			});

			// selecting in the JSTree
			$("#hierarchy").on("select_node.jstree", function(e, data) {
				$("#ouName").text(data.node.text);
				$("#ouEditLink").attr("href", url + "manage/" + data.node.id);
			});
			
			// searching in the JSTree
			var to = false;
			$('#searchField').keyup(function() {
				if (to) {
					clearTimeout(to);
				}

				to = setTimeout(function() {
					var v = $('#searchField').val();

					$('#hierarchy').jstree(true).search(v);
				}, 400);
			});
		});

		/*]]>*/
	</script>
</body>
</html>
