<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.ous.mange.title})}"></head>
<body class="layout-fixed">
	<div class="wrapper" th:with="permission=${T(dk.digitalidentity.rc.security.permission.Permission)},section=${T(dk.digitalidentity.rc.security.permission.Section)}">
		<header th:replace="~{fragments/navbar :: navbar-header(subpage = 'roles')}"></header>
		<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'ous', subpage = 'roles')}"></aside>

		<section>
			<div class="content-wrapper">
				<h3>
					<a th:href="@{/ui/ous/list}" class="btn btn-default">
						<span>
							<i class="fa fa-arrow-left"></i>
						</span>
					</a>
					<span th:text="#{html.page.ous.manage.title}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">

						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="stamdataHeading">
									<h4 class="panel-title">
										<a role="button" id="stamdataLink" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
											<em id="caretIcon" class="fa fa-caret-right"></em>&nbsp;
											<span th:text="#{html.heading.stamdata}"></span>
											<span th:text="${ou.name}"></span>
										</a>
									</h4>
								</div>

								<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="stamdataHeading">
									<div class="panel-body">
										<form class="form-horizontal" th:object="${ou}">
											<fieldset>
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.name}"></label>
													<div class="col-sm-8">
														<input th:value="${ou.name}" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>

											<fieldset th:unless="${editable}">
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.level}"></label>
													<div class="col-sm-8">
														<input th:value="#{__${ou.level.message}__}" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>
											<fieldset th:if="${editable && @permissionCheck.isAllowed(section.ORGUNIT, permission.UPDATE)}">
												<div th:if="${@roleCatalogueConfiguration.getOrganisation().isGetLevelsFromApi() == false}" class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.level}"></label>
													<div class="col-sm-8">
														<select class="form-control js-set-level-select">
															<option th:each="level : ${allowedLevels}"
																th:value="${level}" th:text="#{__${level.message}__}"
																th:selected="${level} == *{level}"></option>
														</select>
													</div>
												</div>

												<div th:if="${@roleCatalogueConfiguration.getOrganisation().isGetLevelsFromApi() == true}" class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.level}"></label>
													<div class="col-sm-8">
														<input th:value="#{__${ou.level.message}__}" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>

											<fieldset>
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.manager}"></label>
													<div class="col-sm-8">
														<input th:value="${ou.manager} != null ? ${ou.manager.name} : ''" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>

											<fieldset id="requestApproveFragment" th:if="${@settingsService.isRequestApproveEnabled() == true}">
												<div th:replace="~{ous/fragments/request_approve :: requestApproveTable(ou = ${ou}, editable = ${editable})}"></div>
											</fieldset>

											<fieldset th:if="${kleUiEnabled == true}">
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.orgunit.settings}"></label>
													<div class="col-sm-8">
														<div class="checkbox c-checkbox">
															<label>
																<input class="inherit-checkbox" type="checkbox" data-flag="inherit"
																       th:attr="checked=${ou.inheritKle}"
																       th:disabled="${!#authorization.expression('hasRole(''ROLE_KLE_ADMINISTRATOR'')')}"/>
																<span class="fa fa-check"></span>
															</label>
															<label th:text="#{html.orgunit.flag.inherit}"></label>
														</div>
													</div>
												</div>
												<div class="form-group" th:if="${#lists.size(parentsKleIsInheritedFrom)} > 0">
													<div class="col-sm-offset-2 col-sm-8" style="margin-top: 20px;">
														<span style="font-weight: bold;" th:text="#{html.orgunit.kle.inherited.from}"></span>
														<ul>
															<li th:each="ouInheritedFrom : ${parentsKleIsInheritedFrom}" th:text="${ouInheritedFrom.name}"></li>
														</ul>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>

						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#roles_menu" th:text="#{html.page.ous.manage.roles}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#kle_performing_menu" th:if="${kleUiEnabled == true}" th:text="#{html.page.ous.list.kleperform}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#kle_interest_menu" th:if="${kleUiEnabled == true}" th:text="#{html.page.ous.list.kleinterest}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#users_menu" th:if="${allowAccessToOu == true}" th:text="#{html.page.ous.list.users}"></a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="roles_menu" class="tab-pane fade in active">
							</div>

							<div id="kle_performing_menu" th:if="${kleUiEnabled == true}" class="tab-pane fade">
								<div th:if="${canEditKle}">
									<button id="editBtnPerforming" class="btn btn-lg btn-primary" style="margin-bottom: 20px;" th:text="#{html.page.users.manage.kle.edit}"></button>
								</div>
								<div class="content"></div>
							</div>
							<div id="kle_interest_menu" th:if="${kleUiEnabled == true}" class="tab-pane fade">
								<div th:if="${canEditKle}">
									<button id="editBtnInterest" class="btn btn-lg btn-primary" style="margin-bottom: 20px;" th:text="#{html.page.users.manage.kle.edit}"></button>
								</div>
								<div class="content"></div>
							</div>

							<div id="users_menu" th:if="${allowAccessToOu == true}" class="tab-pane fade">
								<div th:replace="~{ous/fragments/ou_users :: orgUnitUsers(users = ${users})}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<link rel="stylesheet" th:href="@{/css/ous/manage.css}" />

	<div th:replace="~{ous/fragments/ou_roles_modal :: ouRolesModal(titles = ${titles})}"></div>

	<nav th:replace="~{fragments/footer :: footer}"></nav>

	<script th:replace="~{fragments/datatables :: datatables}"></script>
	<script th:replace="~{fragments/assignDatePicker :: content}"></script>
	<script th:replace="~{ous/fragments/ou_roles_modal :: ouRolesModalScript(titlesEnabled=${titlesEnabled})}"></script>

	<script th:src="@{/js/service/SweetAlertService.js}"></script>
	<script th:src="@{/js/ous/service/RolesService.js}"></script>
	<script th:src="@{/js/service/AutoCompleteService.js}"></script>
	<script th:if="${kleUiEnabled == true}" th:src="@{/js/service/KleEditConfigService.js}"></script>
	<script th:if="${kleUiEnabled == true}" th:src="@{/js/service/KleService.js}"></script>

	<script id="ou-manage-config" type="application/json" th:inline="javascript">
		{
			"url": [[@{/rest/ous/}]],
			"urlUi": [[@{/ui/ous/manage/}]],
			"ou": [[${ou.uuid}]],
			"fieldNotUpdatedMsg": [[#{html.entity.rolegroup.failedupdatemsg}]],
			"fieldUpdatedMsg": [[#{html.entity.rolegroup.updatedmsg}]],
			"success": [[#{html.default.message.success}]],
			"failed": [[#{html.default.message.error}]],
			"deleteRoleAssignmentTitleTxt": [[#{html.page.manage.roles.delete.title}]],
			"deleteRoleAssignmentBodyTxt": [[#{html.page.manage.roles.delete.body}]],
			"deleteRoleAssignmentErrorMessage": [[#{html.page.manage.roles.delete.error}]],
			"deleteAssignmentConfirmTxt": [[#{html.control.button.yes}]],
			"deleteAssignmentCancelTxt": [[#{html.control.button.cancel}]],
			"titles": [[${titles}]],
			"titlesEnabled": [[${titlesEnabled}]],
			"substituteUrl": [[@{/rest/manager/substitute}]],
			"msgAssignSuccess": [[#{html.page.manager.substitute.assign.success}]],
			"msgAssignFailure": [[#{html.page.manager.substitute.assign.failure}]],
			"kleUiEnabled": [[${kleUiEnabled}]],
			"bulkRemoveTitleTxt": [[#{html.page.roles.bulk.remove.title}]],
			"bulkRemoveBodyTxt": [[#{html.page.roles.bulk.remove.body}]],
			"bulkRemoveErrorTxt": [[#{html.page.roles.bulk.remove.error}]],
			"selectedCountLabel": [[#{html.page.roles.bulk.remove.selectedcount}]]
		}
	</script>
	<script th:if="${kleUiEnabled == true}" id="ou-manage-kle-config" type="application/json" th:inline="javascript">
		{
			"allKles": [[${allKles}]]
		}
	</script>

	<script th:src="@{/js/ous/fragments/roles-fragments.js}"></script>
	<script th:src="@{/js/ous/fragments/request-approve.js}"></script>
	<script th:src="@{/js/ous/manage.js}"></script>
</body>
</html>
