<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.ous.list.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'ous.table')" />

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-10" th:text="#{html.entity.ou.name}" />
										<th class="col-md-2" th:text="#{html.control.operations}" />
									</tr>
								</thead>

								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />

	<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				var token = $("meta[name='_csrf']").attr("content");

				/*[+
					var searchTxt = [[#{html.datatables.search}]];
					var dropdownTxt = [[#{html.datatables.dropdown}]];
					var infoDefaultTxt = [[#{html.datatables.info.default}]];
					var infoEmptyTxt = [[#{html.datatables.info.empty}]];
					var infoFilteredTxt = [[#{html.datatables.info.filtered}]];					
					var allOUs = [[${allOUs}]];
				+]*/

				$('#listTable').DataTable({
					'paging': true,
					'ordering': true, 
					'info': true,
					'stateSave': true,
					'pageLength': 100,
					'language': {
						"search": searchTxt,
						"lengthMenu": dropdownTxt,
						"info": infoDefaultTxt,
						"zeroRecords": infoEmptyTxt,
						"infoEmpty": "",
						"infoFiltered": infoFilteredTxt
					},
					'data': allOUs,
					'columns': [
						{ "data": "name" },
						{ "data": "operations", "className": "centeredOps" }
					]
				});
			});
		/*]]>*/
	</script>
</body>
</html>
