<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.ous.view.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'ous')" />

		<section>
			<div class="content-wrapper">
				<h3>
					<a th:href="@{/ui/ous/list}" class="btn btn-default">
						<span>
							<i class="fa fa-arrow-left"></i>
						</span>
					</a>
					<span th:text="#{html.page.ous.view.title}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
					
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="stamdataHeading">
									<h4 class="panel-title">
										<a role="button" id="stamdataLink" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
											<em id="caretIcon" class="fa fa-caret-right"></em>&nbsp;
											<span th:text="#{html.heading.stamdata}"></span>
											<span th:text="${ou.name}"></span>
										</a>
									</h4>
								</div>

								<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="stamdataHeading">
									<div class="panel-body">
										<form class="form-horizontal" th:object="${ou}">
											<fieldset>
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.name}" />
													<div class="col-sm-8">
														<input th:value="${ou.name}" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>
											
											<fieldset>
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.level}" />
													<div class="col-sm-8">
														<input th:value="#{__${ou.level.message}__}" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>
											
											<fieldset>
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.ou.manager}" />
													<div class="col-sm-8">
														<input th:value="${ou.manager} != null ? ${ou.manager.name} : ''" class="form-control" disabled="disabled" />
													</div>
												</div>
											</fieldset>
											
											<fieldset>
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.orgunit.settings}" />
													<div class="col-sm-8">
														<div class="checkbox c-checkbox">
															<label>
																<input class="inherit-checkbox" type="checkbox" data-flag="inherit" th:attr="checked=${ou.inheritKle}" disabled="disabled" />
																<span class="fa fa-check"></span>
															</label>
															
															<label th:text="#{html.orgunit.flag.inherit}" />
														</div>
													</div>
												</div>
												
												<div class="form-group" th:if="${#lists.size(parentsKleIsInheritedFrom)} > 0">
													<div class="col-sm-offset-2 col-sm-8" style="margin-top: 20px;">
														<span style="font-weight: bold;" th:text="#{html.orgunit.kle.inherited.from}" />
														<ul>
															<li th:each="ouInheritedFrom : ${parentsKleIsInheritedFrom}" th:text="${ouInheritedFrom.name}" />
														</ul>
													</div>
												</div>
												 
											</fieldset>
				
											<fieldset th:if="${editable}">
												<div class="form-group">
													<label class="col-sm-2 control-label" th:text="#{html.entity.view.action.label}" />
													<div class="col-sm-8">
														<a th:href="@{/ui/ous/edit/{id}(id=${ou.uuid})}">
															<span class="btn btn-lg btn-primary" th:text="#{html.entity.view.action.edit}" />
														</a>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>

						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#roles_menu" th:text="#{html.page.ous.list.roles}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#groups_menu" th:text="#{html.page.ous.list.rolegroups}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#kle_performing_menu" th:text="#{html.page.ous.list.kleperform}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#kle_interest_menu" th:text="#{html.page.ous.list.kleinterest}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#users_menu" th:text="#{html.page.ous.list.users}"></a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="roles_menu" class="tab-pane fade in active">
								<table id="listTable1" class="table table-striped table-hover listTable">
									<thead>
										<tr>
											<th class="col-md-3" th:text="#{html.entity.rolegroup.name}" />
											<th class="col-md-3" th:text="#{html.entity.rolegroup.itsystem}" />
											<th class="col-md-6" th:text="#{html.entity.rolegroup.description}" />
										</tr>
									</thead>

									<tbody>
										<tr th:each="role : ${roles}">
											<td th:text="${role.name}" />
											<td th:text="${role.itSystem.name}" />
											<td th:text="${role.description}" />
										</tr>
									</tbody>
								</table>
							</div>

							<div id="groups_menu" class="tab-pane fade">
								<table id="listTable2" class="table table-striped table-hover listTable">
									<thead>
										<tr>
											<th class="col-md-3" th:text="#{html.entity.rolegroup.name}" />
											<th class="col-md-9" th:text="#{html.entity.rolegroup.description}" />
										</tr>
									</thead>

									<tbody>
										<tr th:each="rolegroup : ${rolegroups}">
											<td th:text="${rolegroup.name}" />
											<td th:text="${rolegroup.description}" />
										</tr>
									</tbody>
								</table>
							</div>
							
							<div id="kle_performing_menu" class="tab-pane fade">
								<table id="listTable3" class="table table-striped table-hover listTable">
									<thead>
										<tr>
											<th class="col-md-2" th:text="#{html.entity.kle.code}" />
											<th class="col-md-6" th:text="#{html.entity.kle.description}" />
											<th class="col-md-4" th:text="#{html.entity.kle.inherited}" />
										</tr>
									</thead>

									<tbody>
										<tr th:each="kle : ${klePerforming}">
											<td th:text="${kle.code}" />
											<td th:text="${kle.description}" />
											<td th:text="${kle.inheritedFrom}" />
										</tr>
									</tbody>
								</table>
							</div>
							
							<div id="kle_interest_menu" class="tab-pane fade">
								<table id="listTable4" class="table table-striped table-hover listTable">
									<thead>
										<tr>
											<th class="col-md-2" th:text="#{html.entity.kle.code}" />
											<th class="col-md-6" th:text="#{html.entity.kle.description}" />
											<th class="col-md-4" th:text="#{html.entity.kle.inherited}" />
										</tr>
									</thead>

									<tbody>
										<tr th:each="kle : ${kleInterest}">
											<td th:text="${kle.code}" />
											<td th:text="${kle.description}" />
											<td th:text="${kle.inheritedFrom}" />
										</tr>
									</tbody>
								</table>
							</div>

							<div id="users_menu" class="tab-pane fade">
								<div th:replace="ous/fragments/ou_users :: orgUnitUsers(users = ${users})" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	
	<script th:replace="fragments/datatables :: datatables " />
</body>
</html>
