<th:block th:fragment="postponedConstraints" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<input th:id="postponingAllowed" th:value="${postponingAllowed}" hidden="hidden"></input>

	<h4 th:if="${postponingAllowed}" class="md-12" th:text="#{html.page.user.assign.userrole.constraints.header}"></h4>

    <div th:if="${postponingAllowed}" id="postponedConstraintsGroupHeaders"></div>

    <div th:if="${postponingAllowed}" th:each="systemRoleAssignment : ${systemRoleAssignments}" class="postponed-systemrole-block" th:attr="data-systemroleid=${systemRoleAssignment.systemRole.id}">
     	<h5 th:text="${systemRoleAssignment.systemRole.name}" style="font-weight: bold;"></h5>
		<div class="row postponed-constraint-row" th:each="postponedConstraint : ${systemRoleAssignment.postponedConstraints}" th:attr="data-constrainttype=${postponedConstraint.constraintType.uuid}, data-systemroleid=${systemRoleAssignment.systemRole.id}">
			<div class="col-sm-2">
				<label th:text="${postponedConstraint.constraintType.name}" style="font-weight: normal;"></label>
			</div>

			<div class="col-sm-10" style="padding-top: 6px">
				<!-- REGEX UI -->
				<th:block th:if="${postponedConstraint.constraintType.uiType == T(dk.digitalidentity.rc.dao.model.enums.ConstraintUIType).REGEX}">

					<th:block th:switch="${postponedConstraint.constraintType.entityId}">

						<!-- KLE selector -->
						<th:block th:case="'http://sts.kombit.dk/constraints/KLE/1'">
							<div class="col-sm-12" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}">
								<div class="col-sm-9">
									<input class="form-control m-b constraint" style="width:100%;" th:value="${postponedConstraint.constraintValue != null} ? ${postponedConstraint.constraintValue} : ''" th:attr="data-type='kle', data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}, id='postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'input'">
								</div>
								<div class="col-sm-3">
									<a class="btn btn-primary js-choose-kle" th:attr="data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}">
										<span>Vælg KLE</span>
									</a>
								</div>
								<div class="col-sm-12">
									<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
								</div>
							</div>
						</th:block>

						<!-- organisation selector -->
						<th:block th:case="'http://sts.kombit.dk/constraints/orgenhed/1'">
							<div class="col-sm-12" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}">
								<div class="col-sm-9">
									<input class="form-control m-b constraint" style="width:100%;" th:value="${postponedConstraint.constraintValue != null} ? ${postponedConstraint.constraintValue} : ''" th:attr="data-type='ous', data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}, id='postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'input'">
								</div>
								<div class="col-sm-3">
									<a class="btn btn-primary js-choose-ous" th:attr="data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}">
										<span>Vælg enheder</span>
									</a>
								</div>
								<div class="col-sm-12">
									<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
								</div>
							</div>
						</th:block>

						<!-- TODO duplicated-->
						<!-- organisation selector -->
						<th:block th:case="'http://digital-identity.dk/constraints/orgunit/1'">
							<div class="col-sm-12" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}">
								<div class="col-sm-9">
									<input class="form-control m-b constraint" style="width:100%;" th:value="${postponedConstraint.constraintValue != null} ? ${postponedConstraint.constraintValue} : ''" th:attr="data-type='ous', data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}, id='postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'input'">
								</div>
								<div class="col-sm-3">
									<a class="btn btn-primary js-choose-ous" th:attr="data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}">
										<span>Vælg enheder</span>
									</a>
								</div>
								<div class="col-sm-12">
									<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
								</div>
							</div>
						</th:block>

						<!--it system selector-->
						<th:block th:case="'http://digital-identity.dk/constraints/itsystem/1'">
							<div th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}" class="col-sm-12">
								<div class="col-sm-12">
									<select style="width:100%;" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'multiple-select'" th:attr="data-type='itsystems',data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}" class="form-control m-b constraint select2ItSystemPostponed" name="itSystems[]" multiple="multiple">
										<option th:each="option : ${itSystemList}" th:value="${option.id}" th:text="${option.text}" th:selected="${@select2Service.isSelected(postponedConstraint.constraintValue, option.id)}" ></option>
									</select>
								</div>
								<div class="col-sm-12">
									<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
								</div>
							</div>
						</th:block>

						<!--NemLogin pnr selector-->
						<th:block th:case="'https://nemlogin.dk/constraints/pnr/1'">
							<div class="col-sm-12" style="padding-top: 6px;">
								<div class="col-sm-12">
									<select style="width:100%;" class="form-control m-b constraint" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}" th:attr="data-type='pnr',data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}">
										<option selected="selected" disabled="disabled" th:text="#{html.select.default}"></option>
										<option th:each="pNumber : ${pNumberList}" th:selected="${postponedConstraint.constraintValue != null} and (${pNumber.code} eq ${#strings.toString(postponedConstraint.constraintValue)})" th:value="${pNumber.code}" th:text="${pNumber.code} +' (' + ${pNumber.name} + ')'"  />
									</select>
								</div>
								<div class="col-sm-12">
									<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
								</div>
							</div>
						</th:block>

						<!--NemLogin senr selector-->
						<th:block th:case="'https://nemlogin.dk/constraints/senr/1'">
							<div class="col-sm-12" style="padding-top: 6px;" th:disabled="${selected}==false or ${constraintData != null} and ${constraintData.postponed}">
								<div class="col-sm-12">
									<select style="width:100%;" class="form-control m-b constraint" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}" th:attr="data-type='senr',data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}">
										<option selected="selected" disabled="disabled" th:text="#{html.select.default}"></option>
										<option th:each="sENumber : ${sENumberList}" th:selected="${postponedConstraint.constraintValue != null} and (${sENumber.code} eq ${#strings.toString(postponedConstraint.constraintValue)})" th:value="${sENumber.code}" th:text="${sENumber.code} +' (' + ${sENumber.name} + ')'"  />
									</select>
								</div>
							</div>
							<div class="col-sm-12">
								<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
							</div>
						</th:block>

						<!-- default freetext field -->
						<th:block th:case="*">
							<div th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}" class="col-sm-12">
								<div class="col-sm-12">
									<input style="width:100%;" class="form-control m-b constraint"
									   		th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}"
									   		th:value="${postponedConstraint.constraintValue != null} ? ${postponedConstraint.constraintValue} : ''"
									   		th:attr="data-type='defaultfreetext', data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}"></input>
								</div>
								<div class="col-sm-12">
									<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
								</div>
							</div>
						</th:block>
					</th:block>
				</th:block>

				<!-- COMBO_SINGLE UI -->
				<th:block th:if="${postponedConstraint.constraintType.uiType == T(dk.digitalidentity.rc.dao.model.enums.ConstraintUIType).COMBO_SINGLE}">
					<div class="col-sm-12">
						<div class="col-sm-12">
							<select style="width:100%;" class="form-control m-b constraint" th:disabled="${selected}==false or ${constraintData != null} and ${constraintData.postponed}"
							        th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}"
							        th:attr="data-type='combosingle', data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}">

								<option selected="selected" disabled="disabled" th:text="#{html.select.default}"></option>
								<option th:each="type : ${postponedConstraint.constraintType.valueSet}" th:value="${type.constraintKey}" th:text="${type.constraintValue}"
			 							th:selected="${postponedConstraint.constraintValue != null} and (${type.constraintKey} eq ${postponedConstraint.constraintValue})"></option>

							</select>
						</div>
						<div class="col-sm-12">
							<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
						</div>
					</div>
				</th:block>

				<!-- COMBO_MULTI -->
				<th:block th:if="${postponedConstraint.constraintType.uiType == T(dk.digitalidentity.rc.dao.model.enums.ConstraintUIType).COMBO_MULTI}">
					<div class="col-sm-12">
						<div class="col-sm-12">
							<select style="width:100%;" class="form-control m-b constraint select2ComboMultiPostponed" th:disabled="${selected}==false or ${constraintData != null} and ${constraintData.postponed}" multiple="multiple"
							        th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid}"
							        th:attr="data-type='combomulti', data-systemroleid=${systemRoleAssignment.systemRole.id}, data-constrainttype=${postponedConstraint.constraintType.uuid}">

								<option th:each="type : ${postponedConstraint.constraintType.valueSet}" th:value="${type.constraintKey}" th:text="${type.constraintValue}"
			 							th:selected="${postponedConstraint.constraintValue != null} and (${#arrays.contains(#strings.arraySplit(postponedConstraint.constraintValue,','), type.constraintKey)})"></option>

							</select>
						</div>
						<div class="col-sm-12">
							<p class="constraintValidationError" th:id="'postponed' + ${systemRoleAssignment.systemRole.id} + ${postponedConstraint.constraintType.uuid} + 'error'" style="color:red" th:text="#{html.page.user.assign.userrole.constraints.error}" hidden></p>
						</div>
					</div>
				</th:block>

				<div class="clearfix"></div>
				
				<div th:if="${!#strings.isEmpty(postponedConstraint.existingValue)}" class="text-muted" style="margin-top: 6px; padding-left: 30px; padding-right: 15px;">
					<em th:text="#{html.page.user.assign.userrole.constraints.existingValue}"></em>
					<span th:each="existingValue : ${#strings.arraySplit(postponedConstraint.existingValue, ',')}"
						  class="badge badge-light" style="margin-right: 4px;" th:text="${#strings.trim(existingValue)}"></span>
				</div>
			</div>

		</div>
	</div>
</th:block>

<th:block th:fragment="postponedConstraintsScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script type="application/json" th:inline="javascript" id="postponed-constraints-config">
		{
			"usersUrl": [[@{/rest/users/}]],
			"uiUrl": [[@{/ui/users/manage/}]],
			"kleList": [[${kleList}]],
			"treeOUs": [[${treeOUs}]]
		}
	</script>
	<script th:src="@{/js/service/JsTreeService.js}"></script>
	<script th:src="@{/js/service/Select2Service.js}"></script>
	<script th:src="@{/js/users/service/PostponedConstraintsService.js}"></script>
	<script th:src="@{/js/users/service/PostponedConstraintGroupingService.js}"></script>
	<script th:src="@{/js/users/service/KleConstraintService.js}"></script>
	<script th:src="@{/js/users/service/OrgUnitPostponedConstraintService.js}"></script>
	<script th:src="@{/js/users/fragments/postponedConstraintsInit.js}"></script>
</th:block>
