<th:block th:fragment="userAssignedRoles" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<fieldset>
		<div class="btn-group">
			<button type="button" style="width: auto !important;" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
				<em class="fa fa-fw fa-cog"></em>
			</button>
			
			<ul class="dropdown-menu" role="menu" id="dataTableDropdown">
				<li><a href="#" data-cid="0" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.page.users.manage.assignment.name}" /></a></li>
				<li><a href="#" data-cid="1" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.page.users.manage.assignment.type}" /></a></li>
				<li><a href="#" data-cid="2" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.page.users.manage.assignment.postponed}" /></a></li>
				<li><a href="#" data-cid="3" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.enum.assignmenttype}" /></a></li>
				<li><a href="#" data-cid="4" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.word.validity}" /></a></li>
				<li><a href="#" data-cid="5" onclick="return dataTablesToggleColumn(this);"><em class="fa fa-fw"></em><span th:text="#{html.page.users.manage.assignment.itsystem}" /></a></li>
			</ul>
		</div>
		<th:block th:if="${editable}" sec:authorize="hasRole('ROLE_ASSIGNER')">
			<a href="#" id="addUserRoleAssignment" class="btn btn-lg btn-primary" style="width:auto;" th:text="#{html.page.users.manage.roles.add.userrole}" onclick="rolesService.loadAddUserRoleFragment()"></a>
			<a href="#" id="addRoleGroupAssignment" class="btn btn-lg btn-primary" th:text="#{html.page.users.manage.roles.add.rolegroup}" onclick="rolesService.loadAddRoleGroupFragment()"></a>
		</th:block>

		<div class="form-group" style="margin-top:10px;">
			<div class="table-responsive">
				<table id="listTable" class="table table-striped table-hover listTable">
					<thead>
						<tr>
							<th class="col-md-2" th:text="#{html.page.users.manage.assignment.name}" />
							<th class="col-md-1" th:text="#{html.page.users.manage.assignment.type}" />
							<th class="col-md-2" th:text="#{html.page.users.manage.assignment.postponed}" />
							<th class="col-md-2" th:text="#{html.enum.assignmenttype}"/>
							<th class="col-md-2" th:text="#{html.word.validity}"/>
							<th class="col-md-2" th:text="#{html.page.users.manage.assignment.itsystem}" />
							<th class="col-md-1" th:text="#{html.control.operations}" />
						</tr>
					</thead>

					<tbody>
						<tr th:each="assignment : ${assignments}">
							<td th:text="${assignment.name}" />
							<td th:text="#{__${assignment.type.message}__}" />
							
							<td>
								<div th:each="systemRoleAssignment : ${assignment.systemRoleAssignments}">
									<span style="font-weight: bold;" th:text="${systemRoleAssignment.systemRole.name}"></span>
									<ul style="padding-left: 20px;">
									  <li th:each="constraint : ${systemRoleAssignment.postponedConstraints}" th:text="${constraint.constraintType.name + ': ' + constraint.constraintValue}" ></li>
									</ul>
								</div>
							</td>
							
							<td>
								<span th:text="#{__${assignment.assignedThrough.message}__}"></span>
								<div th:if="${assignment.assignedThroughName != null}" th:text="${assignment.assignedThroughName}" style="font-size: smaller; color: black;"></div>
							</td>
							
							<td>
								<ul th:if="${assignment.startDate != null or assignment.stopDate != null}" style="padding-left: 0px; list-style-type: none; margin-bottom: 0px;">
									<li th:if="${assignment.startDate != null}" th:text="#{html.word.assigned} + ' ' + ${assignment.startDate}"></li>
									<li th:if="${assignment.stopDate != null}" th:text="#{html.word.deassigned} + ' ' + ${assignment.stopDate}"></li>
								</ul>
								<span th:if="${assignment.startDate == null and assignment.stopDate == null}" th:text="#{html.word.indefinite}" />
							</td>
							
							<td th:text="${assignment.itSystem?.name}" />
							<td th:attr="data-assignmentid=${assignment.assignmentId}, data-roleid=${assignment.roleId}, data-type=${assignment.type}, data-startDate=${assignment.startDate}, data-stopDate=${assignment.stopDate}, data-assignedthrough=${assignment.assignedThrough}">
								<a
									href="#"
									th:if="${assignment.canEdit}"
									sec:authorize="hasRole('ROLE_ASSIGNER')"
									onclick="rolesService.editRoleAssignment(this)">
									<em class="fa fa-pencil"></em></a>
								<a
									href="#"
									th:if="${assignment.canEdit}"
									sec:authorize="hasRole('ROLE_ASSIGNER')"
									onclick="rolesService.deleteRoleAssignment(this)">
									<em class="fa fa-times"></em>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</th:block>