<th:block th:fragment="userRoleGroupModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="modal fade" id="modal-groups" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 th:text="#{html.page.users.list.modal.rolegroup}"></h4>
				<p id="assignRoleGroupName"></p>
            </div>

            <div class="modal-body">
                <div th:text="#{html.page.user.assign.accept.text}"></div>

               	<div style="height: 70px;">
					<h4 class="md-12" th:text="#{html.word.validity}"></h4>

					<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.from}"></b>
					<div class="col-md-5">
						<div class="form-group">
							<div class="input-group date" id="groupStartDatePicker">
								<input type="text" class="form-control"/>
								<span class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</span>
							</div>
						</div>
					</div>

					<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.to}"></b>
					<div class="col-md-5">
						<div class="form-group">
							<div class="input-group date" id="groupStopDatePicker">
								<input type="text" class="form-control" />
								<span class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</span>
							</div>
						</div>
					</div>
				</div>

                <div style="height: 70px;">
                    <h4 class="md-12">
                        <span th:text="#{html.word.orgUnit}" class="col-md-11" style="padding: 0px;"></span>
                        <a class="col-md-1" th:replace="~{fragments/help :: help (title=#{html.help.roleAssignment.orgUnit.title}, content=#{html.help.roleAssignment.orgUnit.body})}"></a>
                    </h4>
                    <div class="form-group col-md-12">
                        <select class="form-control" id="addRoleOUSelect">
                            <option th:each="ou : ${possibleOrgUnits}" th:value="${ou.uuid}" th:text="${ou.name}"></option>
                        </select>
                    </div>
                </div>

				<!-- caseNumber -->
				<div style="height: 70px;" th:if="${caseNumberEnabled}">
					<h4 class="md-12">
						<span th:text="#{html.page.assign.direct.caseNumber}"></span>
					</h4>
					<div class="form-group col-md-12">
						<input class="form-control" id="addRoleGroupCaseNumber"/>
					</div>
				</div>
            </div>

            <div class="modal-footer">
				<button id="assignDirectlyRGBtn" class="btn btn-primary assign_group_directly" th:text="#{html.entity.positions.assign}"></button>
                <button type="button" class="btn btn-danger" id="closeRoleGroupModal" th:text="#{html.control.button.cancel}"></button>
            </div>
        </div>
    </div>
</div>
</th:block>

<th:block th:fragment="userRoleGroupModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script type="application/json" th:inline="javascript" id="role-group-modal-config">
		{
			"usersUrl": [[@{/rest/users/}]],
			"fieldUpdatedMsg": [[#{html.entity.rolegroup.updatedmsg}]],
			"fieldNotUpdatedMsg": [[#{html.entity.rolegroup.failedupdatemsg}]],
			"caseNumberEnabled": [[${caseNumberEnabled}]],
			"page": [[#{page}]]
		}
	</script>
	<script th:src="@{/js/service/ModalAjaxService.js}"></script>
	<script th:src="@{/js/users/service/RoleGroupModalService.js}"></script>
	<script th:src="@{/js/users/fragments/userRoleGroupModalInit.js}"></script>
</th:block>
