<th:block th:fragment="userUserRoleModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade" id="modal-positions" role="dialog">
	    <div class="modal-dialog">
	
	        <!-- Modal content-->
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 th:text="#{html.page.users.list.modal}"/>
	            </div>
	
	            <div class="modal-body" style="overflow-y: initial !important;">
	                <table id="positionTable" class="table table-striped table-hover" th:if="${@roleCatalogueConfiguration.getTitles().isEnabled() == false}">
	                    <tbody>
	                    <tr>
	                        <td class="col-md-2">
	                            <button id="assignDirectlyBtn" class="btn btn-primary assign_role_directly" th:text="#{html.entity.positions.assign}"/>
	                        </td>
	                        <td class="col-md-10" th:text="#{html.entity.positions.assigndirect}"/>
	                    </tr>
	                    <tr th:each="position : ${positions}">
	                        <td>
	                            <button class="btn assign_role" th:text="#{html.entity.positions.assign}" th:value="${position.id}"/>
	                        </td>
	                        <td th:text="${position.name} + ' ' + #{html.word.in} + ' ' + ${position.orgUnit.name}"/>
	                    </tr>
	                    </tbody>
	                </table>
	                
	                <div th:if="${@roleCatalogueConfiguration.getTitles().isEnabled()}" th:text="#{html.page.user.assign.accept.text}"></div>
	                
	                <div id="postponedConstraintsPlaceholder"></div>
	
	               	<div style="height: 70px;">
						<h4 class="md-12" th:text="#{html.word.validity}" />
	
						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.from}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="startDatePicker">
									<input type="text" class="form-control"/>
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
	
						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.to}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="stopDatePicker">
									<input type="text" class="form-control" />
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
	            </div>
	
	            <div class="modal-footer">
					<button id="assignRoleDirectlyBtn" class="btn btn-primary assign_role_directly" th:text="#{html.entity.positions.assign}" hidden/>
	                <button type="button" class="btn btn-danger" id="closeModal" th:text="#{html.control.button.cancel}"/>
	            </div>
	        </div>
	    </div>
	</div>
</th:block>
	
<th:block th:fragment="userUserRoleModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		
		var userRoleModalService;
		var modalAjaxService;
		
		$(document).ready(function() {
            userRoleModalService = new UserRoleModalService();
            modalAjaxService = new ModalAjaxService();

            /*[+
    		userRoleModalService.usersUrl = [[@{/rest/users/}]];
			userRoleModalService.fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
			userRoleModalService.fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];
			userRoleModalService.page = [[#{page}]];
			titlesEnabled = [[${@roleCatalogueConfiguration.getTitles().isEnabled()}]];
    		+]*/

            userRoleModalService.init();
        });
		
		function UserRoleModalService() {
			this.init = function(){
				var modal = $("#modal-positions");

	            $('.assign_role').click(userRoleModalService.assignRoleClicked);
	            
	      		$('.assign_role_directly').on( "click", function() {
	            	postponedConstraintsService.validate("assignRoleDirectlyClicked");
	            });
	      		$('#closeModal').click(userRoleModalService.closeModal);
	      		
	      		modal.on('shown.bs.modal', function() {
	    			$("#assignDirectlyBtn").focus();
	    		});
	      		
			}

			this.closeModal = function() {
				var modal = $("#modal-positions");
				modal.modal('hide');
			}
			
			this.assignRoleDirectlyClicked = function() {
				var modal = $("#modal-positions");
				var roleid = modal.attr("roleid");
				var userUuid = modal.attr("userUuid");
				
				var startDate = $('#startDatePicker').data('date');
				var stopDate = $('#stopDatePicker').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				
				var constraints = postponedConstraintsService.getConstraintList();
				$.ajax({
	    			   url: userRoleModalService.usersUrl + userUuid + '/addrole/' + roleid + dates,
	    			   contentType: 'application/json',
	    			   headers: {
	    			      'X-CSRF-TOKEN': token
	    			   },
	    			   type: 'post',
	    			   data : JSON.stringify(constraints),
	    			   success: function(response) {
	    				   modalAjaxService.showInfoNotification(userRoleModalService.fieldUpdatedMsg);
	    			   },
	    			   error: function(response) {
	    				   var msg = (response.responseText != null && response.responseText.length > 0) ? response.responseText : userRoleModalService.fieldNotUpdatedMsg;
						   modalAjaxService.showErrorNotification(msg);
	    			   }
	    		});

				modal.modal('hide');
				
			}
			
			this.assignRoleClicked = function() {
				var modal = $("#modal-positions");
				var positionUuid = $(this).val();
				var roleid = modal.attr("roleid");
				var userUuid = modal.attr("userUuid");
				
				var startDate = $('#startDatePicker').data('date');
				var stopDate = $('#stopDatePicker').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;

				$.ajax(modalAjaxService.getAjaxObject(userRoleModalService.usersUrl + 'position/' + positionUuid + '/addrole/' + roleid + dates, userRoleModalService.fieldUpdatedMsg, userRoleModalService.fieldNotUpdatedMsg));
				
				modal.modal('hide');
			}
			
			this.loadPostponedConstraintsFragment = function (roleId) {
				$("#postponedConstraintsPlaceholder").empty();
				$("#editPostponedConstraintsPlaceholder").empty();
				
				$("#postponedConstraintsPlaceholder").load(baseUrl + "ui/users/manage/postponedconstraints/" + roleId, function () {
					postponedConstraintsService.init();
					
					var postponingAllowed = $("#postponingAllowed").val();
					if (postponingAllowed == "true") {
						$("#positionTable").hide();
						$("#assignRoleDirectlyBtn").show();
					} else {
						if (!titlesEnabled) {
							$("#positionTable").show();
							$("#assignRoleDirectlyBtn").hide();
						}
					}
				});
			}
		}
		
		// TODO: move these into a utility js file (exists in edit.html for users/orgunits)
		function ModalAjaxService() {

	        this.getAjaxObject = function(urL, okMsg, errorMsg) {
	    		return {
	    			url: urL,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	    			error: function(response) {
						var msg = (response.responseText != null && response.responseText.length > 0) ? response.responseText : errorMsg;
						modalAjaxService.showErrorNotification(msg);
	    			},
	    			success: function(response) {
	    				modalAjaxService.showInfoNotification(okMsg);
	    			}
	    		};
	    	}
	        
	        this.showInfoNotification = function(message) {
				$.notify({
					message: message,
					status: 'success',
					timeout: 2000
				});
			}

			this.showErrorNotification = function(message) {
				$.notify({
					message: message,
					status: 'danger',
					timeout: 4000
				});
			}
		}
		
		/*]]>*/

	</script>
</th:block>