<th:block th:fragment="userRoleGroupModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="modal fade" id="modal-groups" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 th:text="#{html.page.users.list.modal.rolegroup}"/>
            </div>

            <div class="modal-body">
                <table class="table table-striped table-hover" th:if="${@roleCatalogueConfiguration.getTitles().isEnabled() == false}">
                    <tbody>
                    <tr>
                        <td class="col-md-2">
                            <button id="assignDirectlyRGBtn" class="btn btn-danger assign_group_directly" th:text="#{html.entity.positions.assign}"/>
                        </td>
                        <td class="col-md-10" th:text="#{html.entity.positions.assigndirect}"/>
                    </tr>
                    <tr th:each="position : ${positions}" th:if="${@roleCatalogueConfiguration.getTitles().isEnabled() == false}">
                        <td>
                            <button class="btn assign_group" th:text="#{html.entity.positions.assign}" th:value="${position.id}"/>
                        </td>
                        <td th:text="${position.name}"/>
                    </tr>
                    </tbody>
                </table>
                
                <div th:if="${@roleCatalogueConfiguration.getTitles().isEnabled()}" th:text="#{html.page.user.assign.accept.text}"/>

                <div class="alert alert-warning" role="alert" id="modal-groups-alert">
                    &nbsp;
                </div>
                
               	<div style="height: 70px;">
					<h4 class="md-12" th:text="#{html.word.validity}" />

					<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.from}"></b>
					<div class="col-md-5">
						<div class="form-group">
							<div class="input-group date" id="groupStartDatePicker">
								<input type="text" class="form-control"/>
								<span class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</span>
							</div>
						</div>
					</div>

					<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.to}"></b>
					<div class="col-md-5">
						<div class="form-group">
							<div class="input-group date" id="groupStopDatePicker">
								<input type="text" class="form-control" />
								<span class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
            </div>

            <div class="modal-footer">
				<button id="assignDirectlyRGBtn" class="btn btn-primary assign_group_directly" th:text="#{html.entity.positions.assign}"/>
                <button type="button" class="btn btn-danger" id="closeRoleGroupModal" th:text="#{html.control.button.cancel}"/>
            </div>
        </div>
    </div>
</div>
</th:block>

<th:block th:fragment="userRoleGroupModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		
		/*[+
		var usersUrl = [[@{/rest/users/}]];
		
		var listTableId = [[${listTable}]];
		var page = [[${page}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");
		var roleGroupModalService;
		var modalRGAjaxService;
		$(document).ready(function() {
			roleGroupModalService = new RoleGroupModalService();
			modalRGAjaxService = new ModalRGAjaxService();
			roleGroupModalService.init();
            
            
        });
	
		
		function RoleGroupModalService() {
			this.init = function(){
				var modalGroups = $("#modal-groups");
	            
				$('.assign_group').click(roleGroupModalService.assignGroupClicked);		
	    		$('.assign_group_directly').click(roleGroupModalService.assignGroupDirectlyClicked);
	    		$('#closeRoleGroupModal').click(roleGroupModalService.closeRoleGroupModalAndRemoveCheckbox);
	      		
	    		modalGroups.on('shown.bs.modal', function() {
	    			$("#assignDirectlyRGBtn").focus();
	    		});
			}
			
			this.closeRoleGroupModalAndRemoveCheckbox = function() {
				var listTable = $('#' + listTableId);
				var modalGroups = $("#modal-groups");
				
				if (page == 'user') {
					var chosenCheckbox = listTable.find("#" + modalGroups.attr("rolegroupid"));
					if (chosenCheckbox != null) {
						chosenCheckbox.prop('checked', false);
						listTable.dataTable().api().row("#"+modalGroups.attr("rolegroupid")+"groupRow").invalidate('dom').draw();
					}
				}
				if (page == 'role'){
					var chosenCheckbox = listTable.find("#" + modalGroups.attr("userUuid"));
					if (chosenCheckbox != null) {
						chosenCheckbox.prop('checked', false);
						listTable.dataTable().api().row("#"+modalGroups.attr("userUuid")+"groupRow").invalidate('dom').draw();
					}
				}
				modalGroups.modal('hide');
			}
			
			this.assignGroupDirectlyClicked = function() {
				var listTable = $('#' + listTableId);
				var modalGroups = $("#modal-groups");
				
				var positionUuid = $(this).val();
				var groupid = modalGroups.attr("rolegroupid");
				var userUuid = modalGroups.attr("userUuid");
				
				var chosenCheckbox;
				if (page = 'user'){
					chosenCheckbox = listTable.find("#" + modalGroups.attr("rolegroupid"));
				}
				if (page = 'role'){
					chosenCheckbox = listTable.find("#" + modalGroups.attr("userUuid"));
				}
				
				
				var startDate = $('#groupStartDatePicker').data('date');
				var stopDate = $('#groupStopDatePicker').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				
				$.ajax(modalRGAjaxService.getAjaxObject(usersUrl + userUuid + '/addgroup/' + groupid + dates,fieldUpdatedMsg, fieldNotUpdatedMsg, chosenCheckbox));
				modalGroups.modal('hide');
			}
			
			this.assignGroupClicked = function() {	
				var listTable = $('#' + listTableId);
				var modalGroups = $("#modal-groups");
				
				var positionUuid = $(this).val();
				var groupid = modalGroups.attr("rolegroupid");
				var userUuid = modalGroups.attr("userUuid");

				var chosenCheckbox = listTable.find("#" + modalGroups.attr("rolegroupid"));
				
				var startDate = $('#groupStartDatePicker').data('date');
				var stopDate = $('#groupStopDatePicker').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;

				$.ajax(modalRGAjaxService.getAjaxObject(usersUrl + 'position/' + positionUuid + '/addgroup/' + groupid + dates, fieldUpdatedMsg, fieldNotUpdatedMsg, chosenCheckbox));
				modalGroups.modal('hide');
			}
		}
		

		// TODO: move these into a utility js file (exists in edit.html for users/orgunits)
		function ModalRGAjaxService() {

	        this.getAjaxObject = function(urL, okMsg, errorMsg, chosenCheckbox) {
	    		return {
	    			url: urL,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	    			error: function(response) {
	    				if (chosenCheckbox != null) {
							chosenCheckbox.prop('checked', false);
	    				}

						var msg = (response.responseText != null && response.responseText.length > 0) ? response.responseText : errorMsg;
						modalRGAjaxService.showErrorNotification(msg);
	    			},
	    			success: function(response) {
	    				modalRGAjaxService.showInfoNotification(okMsg);
	    			}
	    		};
	    	}
	        

	        this.showInfoNotification = function(message) {
				$.notify({
					message: message,
					status: 'success',
					timeout: 2000
				});
			}

			this.showErrorNotification = function(message) {
				$.notify({
					message: message,
					status: 'danger',
					timeout: 4000
				});
			}
		}
		
		/*]]>*/

	</script>
</th:block>