<div th:fragment="content">

	<style type="text/css">
		li.picker-switch.accordion-toggle > table span.fa-trash {
			text-decoration: none;
			color: black;
		}
		
		.c-checkbox input.active[type=checkbox]:checked + span {
			border-color: #5d9cec;
			background-color: #5d9cec;
		}
		.c-checkbox input.inactive[type=checkbox]:checked + span {
			border-color: #fb3;
			background-color: #fb3;
		}
	</style>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		/*[+
		+]*/

		var datePickerService;
		$(document).ready(function() {
			datePickerService = new DatePickerService();
			datePickerService.init();
		});

		var icons = {
			time: 'fa fa-clock-o',
			date: 'fa fa-calendar',
			up: 'fa fa-chevron-up',
			down: 'fa fa-chevron-down',
			previous: 'fa fa-chevron-left',
			next: 'fa fa-chevron-right',
			today: 'fa fa-calendar-check-o',
			clear: 'fa fa-trash',
			close: 'fa fa-times'
		};
		
		var defaultStartDatePickerOptions = {
			format: "YYYY-MM-DD",
			locale: 'da',
			allowInputToggle: true,
			showClear: true,
			icons: icons,
			minDate: new Date(new Date(new Date().toISOString().substr(0, 10)).getTime() - (4 * 60 * 60 * 1000))
		};

		var attestationDatePickerOptions = {
			format: "YYYY-MM-DD",
			locale: 'da',
			allowInputToggle: true,
			showClear: true,
			icons: icons
		};
		
		var defaultStopDatePickerOptions = {
			format: "YYYY-MM-DD",
			locale: 'da',
			allowInputToggle: true,
			showClear: true,
			icons: icons,
			minDate: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)),
			useCurrent: false //Important! See issue #1075
		}
		
		function DatePickerService() {
			this.init = function() {
				// Initialize DatePicker
				$('#startDatePicker').datetimepicker(defaultStartDatePickerOptions);
				$('#stopDatePicker').datetimepicker(defaultStopDatePickerOptions);
				$('#groupStartDatePicker').datetimepicker(defaultStartDatePickerOptions);
				$('#groupStopDatePicker').datetimepicker(defaultStopDatePickerOptions);
				// TODO: I know this is not the best way to do it, but I can't make it work otherwise
				$('#startDatePickerOU').datetimepicker(defaultStartDatePickerOptions);
				$('#stopDatePickerOU').datetimepicker(defaultStopDatePickerOptions);
				//Edit dialog for userRoles and RoleGroup assignments in USERS
				$('#startDatePickerEdit').datetimepicker(defaultStartDatePickerOptions);
				$('#stopDatePickerEdit').datetimepicker(defaultStopDatePickerOptions);
				//Edit dialog for userRoles and RoleGroup assignments in ORGUNITS
				$('#startDatePickerEditOU').datetimepicker(defaultStartDatePickerOptions);
				$('#stopDatePickerEditOU').datetimepicker(defaultStopDatePickerOptions);
				// Settings -> attestation -> first attestation date
				$('#attestationStartDate').datetimepicker(attestationDatePickerOptions);
				
				// UserRoles
				$("#startDatePicker").on("dp.change", function (e) {
					var minDate;
					if (e.date) {
						minDate = new Date(e.date + 24 * 60 * 60 * 1000);
					} else {
						minDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
					}
					$('#stopDatePicker').data("DateTimePicker").minDate(minDate);
					
					if ($('#stopDatePicker').data("date") && $('#stopDatePicker').data("DateTimePicker").date().toDate() < minDate) {
						$('#stopDatePicker').data("DateTimePicker").date(minDate);
					}
				});

				$("#stopDatePicker").on("dp.change", function (e) {
					if (!$('#startDatePicker').data('date')) {
						$('#startDatePicker').data("DateTimePicker").date(new Date());
					}
				});
				
				// RoleGroups
				$("#groupStartDatePicker").on("dp.change", function (e) {
					var minDate;
					if (e.date) {
						minDate = new Date(e.date + 24 * 60 * 60 * 1000);
					} else {
						minDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
					}
					$('#groupStopDatePicker').data("DateTimePicker").minDate(minDate);
					
					if ($('#groupStopDatePicker').data("date") && $('#groupStopDatePicker').data("DateTimePicker").date().toDate() < e.minDate) {
						$('#groupStopDatePicker').data("DateTimePicker").date(minDate);
					}
				});

				$("#groupStopDatePicker").on("dp.change", function (e) {
					if (!$('#groupStartDatePicker').data('date')) {
						$('#groupStartDatePicker').data("DateTimePicker").date(new Date());
					}
				});
				
				//roles ou
				$("#startDatePickerOU").on("dp.change", function (e) {
					var minDate;
					if (e.date) {
						minDate = new Date(e.date + 24 * 60 * 60 * 1000);
					} else {
						minDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
					}
					$('#stopDatePickerOU').data("DateTimePicker").minDate(minDate);
					
					if ($('#stopDatePickerOU').data("date") && $('#stopDatePickerOU').data("DateTimePicker").date().toDate() < minDate) {
						$('#stopDatePickerOU').data("DateTimePicker").date(minDate);
					}
				});

				$("#stopDatePickerOU").on("dp.change", function (e) {
					if (!$('#startDatePickerOU').data('date')) {
						$('#startDatePickerOU').data("DateTimePicker").date(new Date());
					}
				});

				// Edit Modal
				$("#startDatePickerEdit").on("dp.change", function (e) {
					var minDate;
					if (e.date) {
						minDate = new Date(e.date + 24 * 60 * 60 * 1000);
					} else {
						minDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
					}
					$('#stopDatePickerEdit').data("DateTimePicker").minDate(minDate);
					
					if ($('#stopDatePickerEdit').data("date") && $('#stopDatePickerEdit').data("DateTimePicker").date().toDate() < minDate) {
						$('#stopDatePickerEdit').data("DateTimePicker").date(minDate);
					}
				});

				$("#stopDatePickerEdit").on("dp.change", function (e) {
					if (!$('#startDatePickerEdit').data('date')) {
						$('#startDatePickerEdit').data("DateTimePicker").date(new Date());
					}
				});

				//Edit modal OU
				$("#startDatePickerEditOU").on("dp.change", function (e) {
					var minDate;
					if (e.date) {
						minDate = new Date(e.date + 24 * 60 * 60 * 1000);
					} else {
						minDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000);
					}
					$('#stopDatePickerEditOU').data("DateTimePicker").minDate(minDate);
					
					if ($('#stopDatePickerEditOU').data("date") && $('#stopDatePickerEditOU').data("DateTimePicker").date().toDate() < minDate) {
						$('#stopDatePickerEditOU').data("DateTimePicker").date(minDate);
					}
				});

				$("#stopDatePickerEditOU").on("dp.change", function (e) {
					if (!$('#startDatePickerEditOU').data('date')) {
						$('#startDatePickerEditOU').data("DateTimePicker").date(new Date());
					}
				});
			}
		}
		/*]]>*/
	</script>
</div>