<!DOCTYPE html>
<html>
<body>
	<script th:fragment="datatables" th:inline="javascript">
	/*<![CDATA[*/
/*[+
   			var searchTxt = [[#{html.datatables.search}]];
   			var dropdownTxt = [[#{html.datatables.dropdown}]];
   			var infoDefaultTxt = [[#{html.datatables.info.default}]];
   			var infoEmptyTxt = [[#{html.datatables.info.empty}]];
   			var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
			var prevTxt = [[#{html.datatables.prev}]];
			var nextTxt = [[#{html.datatables.next}]];
            var orderColumnValue = [[${orderColumnValue}]];
+]*/

		$(document).ready(function() {
			var orderColumn = 0;
			if (orderColumnValue) {
				orderColumn = orderColumnValue;
			}
			
			fragShowDataTableFun('.listTable', orderColumn);
		});
	
		function fragShowDataTableFun(jqSelector, orderColumn, pagingLength = 100, stateId = null) {
		    return $(jqSelector).DataTable({
		        'destroy': true,
		        'paging':   true,
		        'ordering': true,
		        'order': [
		        	[ orderColumn, 'asc' ]
		        ],
		        "autoWidth": false,
		        'info':     true,
                'stateSave': true,
                'stateSaveCallback': function(settings, data) {
					let defaultKey = "DataTables_" + settings.sTableId + "_" + window.location.pathname;
					let key = stateId == null ? defaultKey : stateId;
					localStorage.setItem(key, JSON.stringify(data));
				},
				'stateLoadCallback': function(settings) {
					let defaultKey = "DataTables_" + settings.sTableId + "_" + window.location.pathname;
					let key = stateId == null ? defaultKey : stateId;
					return JSON.parse(localStorage.getItem(key));
				},
                'stateDuration': 0,
				"pageLength": pagingLength,
		        "language": {
		            "search":       searchTxt,
		            "lengthMenu":   dropdownTxt,
		            "info":         infoDefaultTxt,
		            "zeroRecords":  infoEmptyTxt,
		            "infoEmpty":    "",
		            "infoFiltered": infoFilteredTxt,
					"paginate": {
						"next": nextTxt,
						"previous": prevTxt
					}
		        }
		    });
		}
		
		function showDataTableWithHiddenColumns(jqSelector, orderColumn, hideColumns, pagingLength = 100, stateId = null) {
		    return $(jqSelector).DataTable({
		        'paging':   true,
		        'ordering': true,
		        'order': [
		        	[ orderColumn, 'asc' ]
		        ],
		        "autoWidth": false,
		        'info':     true,
                'stateSave': true,
                'stateSaveCallback': function(settings, data) {
					let defaultKey = "DataTables_" + settings.sTableId + "_" + window.location.pathname;
					let key = stateId == null ? defaultKey : stateId;
					localStorage.setItem(key, JSON.stringify(data));
				},
				'stateLoadCallback': function(settings) {
					let defaultKey = "DataTables_" + settings.sTableId + "_" + window.location.pathname;
					let key = stateId == null ? defaultKey : stateId;
					return JSON.parse(localStorage.getItem(key));
				},
				"pageLength": pagingLength,
				'columnDefs': [
			        { "targets": hideColumns, visible: false },
			    ],
		        "language": {
		            "search":       searchTxt,
		            "lengthMenu":   dropdownTxt,
		            "info":         infoDefaultTxt,
		            "zeroRecords":  infoEmptyTxt,
		            "infoEmpty":    "",
		            "infoFiltered": infoFilteredTxt,
					"paginate": {
						"next": nextTxt,
						"previous": prevTxt
					}
		        }
		    });
		}

		function dataTablesToggleColumn(elem) {
			if (!currentTable) {
				return false;
			}
			
			var cId = $(elem).data("cid");

			currentTable.column(cId).visible(!currentTable.column(cId).visible());
			
			var dropDownElem = $(elem).parent();
			dataTablesRefreshIcons(dropDownElem);

			return false;
		}

		function dataTablesRefreshIcons(dropDownElem) {
			if (!currentTable) {
				return false;
			}
			
			dropDownElem.find("a").each(function() {
				var cId = $(this).data("cid");
			
				if (currentTable.column(cId).visible()) {
					$(this).find("em").addClass("fa-check");
					$(this).find("em").removeClass("fa-minus");
				}
				else {
					$(this).find("em").addClass("fa-minus");
					$(this).find("em").removeClass("fa-check");
				}
			});
		}
	/*]]>*/
	</script>
</body>
</html>