<!DOCTYPE html>
<html>
<body>
	<script th:fragment="datatables" th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
/*[+
   			var searchTxt = [[#{html.datatables.search}]];
   			var dropdownTxt = [[#{html.datatables.dropdown}]];
   			var infoDefaultTxt = [[#{html.datatables.info.default}]];
   			var infoEmptyTxt = [[#{html.datatables.info.empty}]];
   			var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
			var prevTxt = [[#{html.datatables.prev}]];
			var nextTxt = [[#{html.datatables.next}]];
            var orderColumnValue = [[${orderColumnValue}]];
+]*/
			var orderColumn = 0;
			if (orderColumnValue) {
				orderColumn = orderColumnValue;
			}

		    $('.listTable').DataTable({
		        'paging':   true,
		        'ordering': true,
		        'order': [
		        	[ orderColumn, 'asc' ]
		        ],
		        "autoWidth": false,
		        'info':     true,
                'stateSave': true,
				"pageLength": 100,
		        "language": {
		            "search":       searchTxt,
		            "lengthMenu":   dropdownTxt,
		            "info":         infoDefaultTxt,
		            "zeroRecords":  infoEmptyTxt,
		            "infoEmpty":    "",
		            "infoFiltered": infoFilteredTxt,
					"paginate": {
						"next": nextTxt,
						"previous": prevTxt
					}
		        }
		    });
		});
	/*]]>*/
	</script>
</body>
</html>