<!DOCTYPE html>
<html>
<body>
<th:block th:fragment="datatables">
	<script type="application/json" th:inline="javascript" id="datatables-config">
		{
			"searchTxt": [[#{html.datatables.search}]],
			"dropdownTxt": [[#{html.datatables.dropdown}]],
			"infoDefaultTxt": [[#{html.datatables.info.default}]],
			"infoEmptyTxt": [[#{html.datatables.info.empty}]],
			"infoFilteredTxt": [[#{html.datatables.info.filtered}]],
			"prevTxt": [[#{html.datatables.prev}]],
			"nextTxt": [[#{html.datatables.next}]],
			"orderColumnValue": [[${orderColumnValue}]]
		}
	</script>
	<script th:src="@{/js/fragments/datatables.js}"></script>
</th:block>
</body>
</html>
