<th:block th:fragment="userRemarkModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="userRemarkModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"  th:text="#{attestationmodule.html.itsystems.attestate.reject.title}"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="userUuidInput" th:value="${userUuid}" style="display:none;">
                    <input id="userNumberInput" th:value="${number}" style="display:none;">
                    <form th:unless="${hideDescription}">
                        <div class="form-group">
                            <label for="userRemarkField" class="col-form-label" th:text="#{attestationmodule.html.itsystems.attestate.reject.text}"></label>
                            <textarea class="form-control" id="userRemarkField" rows="4"></textarea>
                            <p style="display:none; color: red;" id="userRemarkError" th:text="#{attestationmodule.html.itsystems.attestate.reject.remarks.error}"></p>
                        </div>
                    </form>

                    <p th:text="#{attestationmodule.html.orgunits.attestate.remarks.table.explainer}"></p>
                    <table id="userRemarkModalTable" class="table table-striped table-bordered table-hover" >
                        <thead>
                            <tr>
                                <th th:text="#{attestationmodule.html.orgunits.attestate.remarks.table.checkbox}" class="col-lg-2"></th>
                                <th th:text="#{attestationmodule.html.orgunits.attestate.remarks.table.itSystem}" class="col-lg-4"></th>
                                <th th:text="#{attestationmodule.html.orgunits.attestate.remarks.table.roleName}" class="col-lg-3"></th>
                                <th th:text="#{attestationmodule.html.orgunits.attestate.remarks.table.roleType}" class="col-lg-3"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="role : ${roleAssignments}">
                                <td class="col-lg-2">
                                    <input th:attr="data-id=${role.roleId},data-name=${role.roleName},data-type=${role.roleType},data-itsystemname=${role.itSystemName}" type="checkbox" class="i-checks remarkCheckbox">
                                </td>
                                <td th:text="${role.itSystemName}"></td>
                                <td th:text="${role.roleName}" class="col-lg-6"></td>
                                <td th:text="#{__${role.roleType.message}__}" class="col-lg-4"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{attestationmodule.html.attestation.controls.cancel}"></button>
                    <button type="button" class="btn btn-primary" id="modalSaveBtn" th:text="#{attestationmodule.html.attestation.controls.save}"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="userRemarkModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/

		var userRemarkModalService;
		$(document).ready(function() {
            userRemarkModalService = new UserRemarkModalService();
            userRemarkModalService.init();
        });

		function UserRemarkModalService() {
			this.init = function(){
			    $("#userRemarkError").hide();
                $("#userRemarkField").val("");

                $(".i-checks.remarkCheckbox").iCheck({
                    checkboxClass: "icheckbox_square-green",
                    radioClass: "iradio_square-green",
                });

                 $("#userRemarkModalTable").DataTable({
                    "destroy": true,
                    "paging":   true,
                    "ordering": true,
                    "order": [
                        [ 1, "asc" ]
                    ],
                    "autoWidth": false,
                    "info":     true,
                    "stateSave": true,
                    "stateDuration": 0,
                    "pageLength": 10,
                    "language": {
                        "search":	   "Søg",
                        "lengthMenu":   "_MENU_ rækker per side",
                        "info":		 "Viser _START_ til _END_ af _TOTAL_ rækker",
                        "zeroRecords":  "Ingen data...",
                        "infoEmpty":	"",
                        "infoFiltered": "(ud af _MAX_ rækker)",
                        "paginate": {
                            "previous": "Forrige",
                            "next": "Næste"
                        }
                    }
                });
            };

            this.getNotApprovedRoles = function() {
                var notApproved = [];
                $('#userRemarkModalTable').DataTable().rows().iterator('row', function(context, index){
                    var node = $(this.row(index).node());
			        var td = $(node).find("td:first");
                    var checkbox = $(td).find('input').first();
                    var id = $(checkbox).data("id");
                    var name = $(checkbox).data("name");
                    var type = $(checkbox).data("type");
                    var itSystemName = $(checkbox).data("itsystemname");
                    var checked = $(checkbox).iCheck('update')[0].checked;

                    if (checked) {
                        var notApprovedObj = {
							"roleId" : id,
							"roleName" : name,
							"roleType" : type,
                            "itSystemName": itSystemName
					    }
					    notApproved.push(notApprovedObj);
                    }
                });

                return notApproved;
            }
		}

		/*]]>*/

	</script>
</th:block>