<th:block th:fragment="users" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<th:block sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:if="${showEdit == true}">
		<a href="#" id="addUserRoleAssignment" class="btn btn-lg btn-primary" style="width:auto;" th:text="#{html.page.role.add.user}" onclick="userService.loadAddUserRoleFragment()"></a>
	</th:block>

	<table id="listTableUsers" class="table table-striped table-hover listTable">
		<thead>
		<tr>
			<th class="col-md-3" th:text="#{html.entity.user.name}"></th>
			<th class="col-md-3" th:text="#{html.enum.assignmenttype}"></th>
			<th class="col-md-1" th:text="#{html.entity.user.userId}"></th>
			<th class="col-md-5" th:text="#{html.entity.user.positions}"></th>
		</tr>
		</thead>

		<tbody>
		<tr th:each="mapping : ${userRoleMapping}">
			<td>
				<span th:text="${mapping.user.name}"></span>
				<span th:if="${mapping.user.disabled == true}" class="badge badge-warning" th:text="#{html.entity.user.disabled}"></span>
			</td>
			<td th:text="#{__${mapping.assignedThrough.message}__}"></td>
			<td th:text="${mapping.user.userId}"></td>
			<td>
				<ul style="list-style: none; padding-left: 0px;">
					<li th:each="position : ${mapping.user.positions}" th:text="${position.name} + ' i ' + ${position.orgUnit.name}"></li>
				</ul>
			</td>
		</tr>
		</tbody>
	</table>
</th:block>
