<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.userroles.list.title})}"></head>
<body class="layout-fixed">
	<div class="wrapper">
		<header th:replace="~{fragments/navbar :: navbar-header (subpage = 'roles')}"></header>
		<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'userroles.list', subpage = 'roles')}"></aside>

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-3" th:text="#{html.entity.userrole.name}"></th>
										<th class="col-md-2" th:text="#{html.page.itsystem.view.title}"></th>
										<th class="col-md-4" th:text="#{html.entity.userrole.description}"></th>
										<th class="col-md-2" th:text="#{html.entity.userrole.canRequest}"></th>
										<th class="col-md-1" th:text="#{html.control.operations}"></th>
									</tr>
								</thead>

								<tbody>

								</tbody>

								<tfoot>
									<tr >
										<th class="input-filter"></th>
										<th class="input-filter"></th>
										<th class="input-filter"></th>
										<th>&nbsp;</th>
										<th>&nbsp;</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<style>
	.center-row {
		text-align: center;
	}
	</style>
	<nav th:replace="~{fragments/footer :: footer}"></nav>

	<script th:replace="~{fragments/datatables :: datatables}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		
	var token = $("meta[name='_csrf']").attr("content");
	
	/*[+
    var baseUrl = [[@{/}]];
	var searchTxt = [[#{html.datatables.search}]];
	var dropdownTxt = [[#{html.datatables.dropdown}]];
	var infoDefaultTxt = [[#{html.datatables.info.default}]];
	var infoEmptyTxt = [[#{html.datatables.info.empty}]];
	var infoLoadingTxt = [[#{html.datatables.info.loading}]];
	var infoFilteredTxt = [[#{html.datatables.info.filtered}]]; 
	var ajaxUrl = [[@{/rest/userroles/list}]];
	
	var titleSyncing = [[#{html.entity.userrole.syncing}]];
	var titleFailed = [[#{html.entity.userrole.sync.failed}]];
	var titleNlFailed = [[#{html.entity.userrole.nlsync.failed}]];
+]*/

	// This method replaces occurence of {0} with text from parameter
	String.prototype.format = function () {
			var args = [].slice.call(arguments);
			return this.replace(/(\{\d+\})/g, function (a) {
					return args[+(a.substr(1,a.length-2))||0];
			});
	};

	$("document").ready(function() {
		
		// Setup - add a text input to each footer cell
		$('#listTable tfoot th[class="input-filter"]').each( function () {
			$(this).html('<input type="text" class="form-control input-sm" placeholder="Søg" />');
		});

		var table = $('#listTable').DataTable({
			'destroy': true,
			'stateSave': true,
			'ajax': {
				'contentType': 'application/json',
				'url': ajaxUrl,
				'type': 'POST',
				headers: {
					'X-CSRF-TOKEN': token
				},
				'data': function(d) {
				 	return JSON.stringify(d);
				}
			},
			'serverSide' : true,
			'columns': [
				{ 
					data: "name",
					orderable: true,
					searchable: true,
					render: function (data, type, row, meta) {
						var result = '';

						if (row.pendingSync == true && row.syncFailed == false) {
							result += '<em class="fa fa-refresh" title="'+ titleSyncing + '"></em> ';
						}
						
						if (row.pendingSync == true && row.syncFailed == true) {
							result += '<em class="fa fa-exclamation-triangle" style="color: red;" title="' + titleFailed + '"></em> ';
						}

						result += "<span>" + data + "</span>";
						return result;
					}
				},
				{ 
					data: "itSystemName",
					orderable: true,
					searchable: true
				},
				{ 
					data: "description",
					orderable: true,
					searchable: true
				},
				{ 
					data: "canRequest",
					class: "center-row",
					orderable: true,
					searchable: true,
					visible: /*[[${@settingsService.isRequestApproveEnabled() ? true : false}]]*/ false,
					render: function (data, type, row, meta) {
						if (data == true) {
							return '<em class="fa fa-check"></em>';
						} else {
							return '';
						}
					}
				},
				{ 
					data: "id",
					orderable: false,
					searchable: false,
					render: function (data, type, row, meta) {
						var result = '';

						if (row.delegatedFromCvr == null) {
							result += '<a href="' + baseUrl +'ui/userroles/view/' + row.id + '"><em class="fa fa-search"></em></a>';
							/*[# sec:authorize="hasRole('ROLE_ADMINISTRATOR')" ]*/
							result += '<a href="' + baseUrl +'ui/userroles/edit/' + row.id + '"><em class="fa fa-pencil"></em></a>';
							if (row.itSystemType != 'KSPCICS') {
								result += '<a href="#" class="openConfirmDeleteDialog" data-id="' + row.id + '"><em class="fa fa-remove"></em></a>';
							}
							/*[/]*/
						}
						
						return result;
					}
				}
			],
			'paging':   true,
			'ordering': true,
			'info':	 true,
			'pageLength': 25,
			'language': {
				"search": searchTxt,
				"lengthMenu": dropdownTxt,
				"info": infoDefaultTxt,
				"zeroRecords": infoEmptyTxt,
				"infoEmpty": "",
				"infoFiltered": infoFilteredTxt
			},
			initComplete: function ()
			{
				var r = $('#listTable tfoot tr');
				r.find('th').each(function(){
					$(this).css('padding', 8);
				});
				$('#listTable thead').append(r);
				$('#search_0').css('text-align', 'center');
			}
		});
		
	    // Restore state
	    var state = table.state.loaded();
	    if (state) {
	      table.columns().eq(0).each(function(colIdx) {
	        var colSearch = state.columns[colIdx].search;
	        
	        if (colSearch.search) {
	          $('input', table.column(colIdx).footer()).val(colSearch.search);
	        }
	      });

	      table.draw();
	    }
		
		//Apply the search
		$.each($('.input-filter', table.table().footer()), function () {
			var column = table.column($(this).index());
			$('input', this).on('keyup change', function () {
				if (column.search() !== this.value) {
					column
						.search(this.value)
						.draw();
				}
			});
		});
		
		$(document.body).on('click', '.openConfirmDeleteDialog', function(e) {
			e.preventDefault();
			
			var id = $(this).data('id');
			
			/*[+
				var tryDeleteURI = [[@{/rest/userroles/trydelete/}]] + id;
				var deleteURI = [[@{/rest/userroles/delete/}]] + id
				var url = [[@{/ui/userroles/delete/}]] + id
				var urlList = [[@{/ui/userroles/list}]]
				var titleTxt = [[#{html.entity.userrole.delete.confirm.title}]];
				var bodyTxt = [[#{html.entity.userrole.delete.confirm.body}]];
				var bodyTxtAdditional = [[#{html.entity.userrole.delete.confirm.body.additional}]];
				var cancelTxt = [[#{html.control.button.cancel}]];
				var confirmTxt = [[#{html.control.button.delete}]];
				var errorMsg = [[#{html.default.message.error}]];
			+]*/
			
			function getAjaxObject(urL) {
					return {
						url: urL,
						cache: false,
						error: errorHandler(errorMsg),
						success: successCallback
				}
			}; 
			
			function successCallback(result){
				if (result.success==false) {
					var ous = "Enheder: " + result.ous;
					var users = "Brugere: " + result.users;
					var rolegroups = "Rollebuketter: " + result.roleGroups;
					bodyTxt = bodyTxtAdditional.format(ous, users, rolegroups);
				}
				
				swal({
					html: true,
					title : titleTxt,
					text : bodyTxt,
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : confirmTxt,
					cancelButtonText : cancelTxt,
					closeOnConfirm : true,
					closeOnCancel : true
				},
					function (isConfirm) {
						if (isConfirm) {
							$.ajax({
								method: "POST",
								headers: {
									'X-CSRF-TOKEN': token
								},
								url: deleteURI,
								success: function() {
									window.location.href = urlList;
								},
								error: defaultErrorHandler
							});
						}
					}
				);
			}

			$.ajax(getAjaxObject(tryDeleteURI));
			
			});
		});
		/*]]>*/
	</script>
</body>
</html>
