<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.userroles.new.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'userroles.new')" />
 
		<section>
			<div class="content-wrapper">
				<h3>
					<a th:href="@{/ui/userroles/list}" class="btn btn-default">
	                    <span><i class="fa fa-arrow-left"></i> </span>
	                </a>
					<span th:text="#{html.page.userroles.new.title}" />
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">					
						<form class="form-horizontal" th:object="${role}" method="post" th:action="@{/ui/userroles/new}">
							<fieldset>
								<div th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
					                <label class="col-sm-2 control-label" th:text="#{html.entity.userrole.name}" />
					                <div class="col-sm-8">
										<input th:field="*{name}" class="form-control" th:placeholder="#{html.entity.userrole.name.placeholder}" autofocus="autofocus" />
										<ul th:if="${#fields.hasErrors('name')}">
										    <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
										</ul>
					                </div>
									<a th:replace="fragments/help :: help (title=#{html.entity.userrole.name}, content=#{html.entity.userrole.name.help})" />
						        </div>
					        </fieldset>

							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.entity.itsystem}" />
									<div class="col-sm-8">
										<select th:field="*{itSystem}" class="form-control">
											<option th:each="itSystem : ${itSystems}" th:value="${itSystem.id}" th:text="${itSystem.name}" th:selected="${itSystem} == *{itSystem}" th:attr="data-type=${itSystem.systemType}"/>
										</select>
									</div>
									<a th:replace="fragments/help :: help (title=#{html.entity.itsystem.type}, content=#{html.entity.userrole.itsystem.help})" />
								</div>
							</fieldset>
							
							<fieldset id="checkboxRow" hidden>
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.custom_identifier}" />
									<div class="col-sm-8">
										<div class="checkbox c-checkbox">
											<label>
												<input type="checkbox" id="checkbox" th:checked="${!#strings.isEmpty(role.identifier)}"/>
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							
							<fieldset id="identifierRow" th:hidden="${#strings.isEmpty(role.identifier)}">
								<div class="form-group">
									<div>
										<label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.custom_identifier.label}" />
										<div class="col-sm-8">
											<input th:field="*{identifier}" class="form-control" th:placeholder="#{html.page.userroles.new.custom_identifier.placeholder}"/>
										</div>
									</div>
								</div>
							</fieldset>

							<fieldset>
								<div class="form-group">
					                <label class="col-sm-2 control-label" th:text="#{html.entity.userrole.description}" />
					                <div class="col-sm-8">
										<textarea th:field="*{description}" class="form-control" th:placeholder="#{html.entity.userrole.description.placeholder}" />
					                </div>
									<a th:replace="fragments/help :: help (title=#{html.entity.userrole.description}, content=#{html.entity.userrole.description.help})" />
						        </div>	
							</fieldset>

							<fieldset>
						        <div class="form-group">
						            <div class="col-sm-offset-2 col-sm-8">
										<button type="submit" class="btn btn-lg btn-primary" th:text="#{html.control.button.save}" />
										<a th:href="@{/ui/userroles/list}" class="btn btn-lg btn-danger" th:text="#{html.control.button.cancel}" />
						       		</div>
						        </div>
							</fieldset>
						</form>
					</div>
				</div>
	        </div>
	    </section>
    </div>

    <nav th:replace="fragments/footer :: footer" />
    
	<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*[+
			var identifier = [[${role.identifier}]];
		+]*/
			
		var identifierService;
		$(document).ready(function() {
			$('[rel=popover]').popover();
			
			identifierService = new IdentifierService();
			identifierService.addChangeListeners();
			identifierService.selectChange();
		});
		
		function IdentifierService() {
			
			this.addChangeListeners = function() {
				$("#itSystem").change(this.selectChange);
				$("#checkbox").change(this.checkboxChange);
			}
			
			this.selectChange = function() {
				var type = $("#itSystem").find(':selected').attr('data-type');
				
				if (type != 'AD'){
					$('#checkboxRow').attr("hidden", false);
				}else{
					$('#checkboxRow').attr("hidden", true);
					$('#checkbox').attr("checked", false);
					$('#identifierRow').attr("hidden", true);
					$('#identifier').val("");
				}
			}
			
			this.checkboxChange = function() {
				var checked = this.checked;
				
				if (checked){
					$('#identifierRow').attr("hidden", false);
				}else{
					$('#identifierRow').attr("hidden", true);
					$('#identifier').val("");
				}
			}
			
		}
		/*]]>*/
    </script>
</body>
</html>
