<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.userroles.view.title})}"></head>
<body class="layout-fixed">
<div class="wrapper">
    <header th:replace="~{fragments/navbar :: navbar-header(subpage = 'roles')}"></header>
    <aside th:replace="~{fragments/navbar :: navbar-aside (page = 'userroles.view', subpage = 'roles')}"></aside>

		<section th:with="permission=${T(dk.digitalidentity.rc.security.permission.Permission)},section=${T(dk.digitalidentity.rc.security.permission.Section)}">
        <div class="content-wrapper">
            <h3>
                <a th:href="@{/ui/userroles/list}" class="btn btn-default">
                    <span><i class="fa fa-arrow-left"></i> </span>
                </a>
                <span th:text="#{html.page.userroles.view.title}"></span>
            </h3>

            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <form class="form-horizontal" th:object="${role}">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{html.entity.userrole.name}"></label>
                                <div class="col-sm-8">
                                    <input th:field="*{name}" class="form-control" disabled="disabled"/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{html.entity.itsystem}"></label>
                                <div class="col-sm-8">
                                    <input th:field="*{itSystem.name}" class="form-control" disabled="disabled"/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{html.page.userroles.new.custom_identifier.label}"></label>
                                <div class="col-sm-8">
                                    <input th:field="*{identifier}" class="form-control" readonly/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{html.entity.userrole.description}"></label>
                                <div class="col-sm-8">
                                    <div class="form-control preformat preformat-display" th:text="*{description}"></div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group" >
                                <label class="col-sm-2 control-label" th:text="#{html.role.flag.useronly}"></label>
                                <div class="col-sm-1">
                                    <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" th:attr="checked=${role.userOnly}" disabled/>
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset th:if="${@settingsService.isRequestApproveEnabled()}">
                            <div class="form-group">

                                <label class="col-sm-2 control-label"
                                       th:text="#{html.entity.itsystem.requestersetting}"></label>
                                <div class="col-sm-8">

                                    <select id="requesterSettingsSelect" class="form-control" disabled multiple
                                            th:object="${role}"
                                            th:field="*{requesterPermission}"
                                            th:attr="data-roleid=${role.id}">
                                        <option th:each="requesterOpt : ${T(dk.digitalidentity.rc.rolerequest.model.enums.RequestableBy).values()}"
                                                th:value="${requesterOpt}"
                                                th:text="#{__${requesterOpt.getMessage()}__}"></option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group mt-3" style="margin-top:1.5rem;">
                                <label class="col-sm-2 control-label"
                                       th:text="#{html.entity.itsystem.approversetting}"></label>
                                <div class="col-sm-8">
                                    <select id="approverSettingsSelect" class="form-control" disabled multiple
                                            th:object="${role}"
                                            th:field="*{approverPermission}"
                                            th:attr="data-roleid=${role.id}">
                                        <option th:each="approverOpt : ${T(dk.digitalidentity.rc.rolerequest.model.enums.ApprovableBy).values()}"
                                                th:value="${approverOpt}"
                                                th:text="#{__${approverOpt.getMessage()}__}"></option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group" >
                                <th:block th:if="${@settingsService.isScheduledAttestationEnabled()}">
                                    <th:block
                                            th:if="${@settingsService.getScheduledAttestationInterval() == T(dk.digitalidentity.rc.dao.model.enums.CheckupIntervalEnum).YEARLY}">
                                        <label class="col-sm-2 control-label"
                                               th:text="#{html.role.flag.extra.sensitive}"></label>
                                        <div class="col-sm-1">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" th:attr="checked=${role.extraSensitiveRole}"
                                                           disabled/>
                                                    <span class="fa fa-check"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </th:block>
                                    <label class="col-sm-2 control-label" th:text="#{html.role.flag.sensitive}"></label>
                                    <div class="col-sm-1">
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input type="checkbox" th:attr="checked=${role.sensitiveRole}"
                                                       disabled/>
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <label class="col-sm-2 control-label"
                                           th:text="#{html.entity.itsystem.roleAssignmentAttestationByAttestationResponsible}"></label>
                                    <div class="col-sm-1">
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input class="by-attestation-responsible-checkbox" type="checkbox"
                                                       th:attr="checked=${role.roleAssignmentAttestationByAttestationResponsible}"
                                                       disabled/>
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </fieldset>

                        <fieldset th:if="${#strings.equals(role.itSystem.systemType, 'MANUAL')}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{html.page.userroles.new.require_manager_action.label}"></label>
                                <div class="col-sm-8">
                                    <div class="checkbox c-checkbox">
                                        <label>
                                            <input type="checkbox" id="requireManagerActionCheckbox"
                                                   th:checked="${role.requireManagerAction}" disabled="disabled"/>
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div id="requireManagerActionRow" th:if="${role.requireManagerAction}">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{html.page.userroles.new.send_to_manager.label}"></label>
                                    <div class="col-sm-8">
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input type="checkbox" checked="checked" disabled="disabled"/>
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{html.page.userroles.new.send_to_substitutes.label}"></label>
                                    <div class="col-sm-8">
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input type="checkbox" id="sendToSubstitutes"
                                                       th:checked="${role.sendToSubstitutes}" disabled="disabled"/>
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{html.page.userroles.new.send_to_authorization_managers.label}"></label>
                                    <div class="col-sm-8">
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input type="checkbox" id="sendToAuthorizationManagers"
                                                       th:checked="${role.sendToAuthorizationManagers}"
                                                       disabled="disabled"/>
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{html.page.userroles.new.email_template.title}"></label>
                                    <div class="col-sm-8">
                                        <input th:field="*{emailTemplateTitle}" class="form-control"
                                               readonly="readonly"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           th:text="#{html.page.userroles.new.email_template.message}"></label>
                                    <div class="col-sm-8">
                                        <textarea th:field="*{emailTemplateMessage}" class="mb-0 preformat" rows="10"
                                                  style="width:100%;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset th:if="${role.linkedSystemRole != null}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{html.entity.userrole.linkedsystemrole}"></label>
                                <div class="col-sm-8">
                                    <input th:field="*{linkedSystemRole.name}" class="form-control" readonly/>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset sec:authorize="hasRole('ROLE_ADMINISTRATOR')"
                                  th:unless="${role.itSystem.readonly or role.linkedSystemRole != null}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       th:text="#{html.entity.view.action.label}"></label>
                                <div class="col-sm-8">
                                    <a th:href="@{/ui/userroles/edit/{id}(id=*{id})}">
                                        <span class="btn btn-lg btn-primary"
                                              th:text="#{html.entity.view.action.edit}"></span>
                                    </a>
                                </div>
                            </div>
                        </fieldset>

                        <ul class="nav nav-tabs"
                            th:title="${allowPostponing} ? #{html.page.userroles.edit.tab.ous.disabled} : ''">
                            <li class="active">
                                <a data-toggle="tab" href="#roles_menu"
                                   th:text="#{html.entity.userrole.systemroles}"></a>
                            </li>

                            <li>
                                <a th:unless="${hideRolegroups}" data-toggle="tab" href="#rolegroups_menu"
                                   th:text="#{html.entity.userrole.rolegroupassignments}"></a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#users_menu" th:text="#{html.entity.userrole.users}"></a>
                            </li>

                            <li th:class="${allowPostponing} ? 'disabled' : ''">
                                <a data-toggle="tab" href="#ous_menu" th:text="#{html.entity.userrole.orgunits}"></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="roles_menu" class="tab-pane fade in active">
                                <table id="listTable1" class="table table-striped table-hover listTable">
                                    <thead>
                                    <tr>
                                        <th class="col-sm-4" th:text="#{html.entity.systemrole.type}"></th>
                                        <th class="col-sm-8" th:text="#{html.entity.systemrole.constraints}"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="roleAssignment : *{systemRoleAssignments}">
                                        <td th:text="${roleAssignment.systemRole.name}"></td>
                                        <td th:utext="${@xlsUtil.stringifyAssignment(roleAssignment, true)}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div th:unless="${hideRolegroups}" id="rolegroups_menu" class="tab-pane fade in">
                                <table id="listTable4" class="table table-striped table-hover listTable">
                                    <thead>
                                    <tr>
                                        <th class="col-sm-4" th:text="#{html.entity.rolegroup.name}"></th>
                                        <th class="col-sm-8" th:text="#{html.entity.rolegroup.description}"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="rolegroup : *{roleGroups}">
                                        <td th:text="${rolegroup.name}"></td>
                                        <td class="preformat" th:text="${rolegroup.description}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="users_menu" class="tab-pane fade in">
                            </div>

                            <div id="ous_menu" class="tab-pane fade in">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<link rel="stylesheet" th:href="@{/css/userroles/view.css}" />
<link rel="stylesheet" th:href="@{/css/bulk-assign-roles.css}" />

<div id="userUserRoleModal"></div>
<div id="ouUserRoleModal"></div>
<div id="ouUserRoleEditModal"></div>
<div th:replace="~{users/fragments/postponed_constraint_kle_modal :: postponedConstraintsKLEModal}"></div>
<div th:replace="~{users/fragments/user_user_role_modal :: userUserRoleModal}"></div>
<div th:replace="~{users/fragments/role_assignment_edit_modal :: roleAssignmentEditModal}"></div>
<div th:replace="~{users/fragments/bulk_assign_user_role_modal :: bulkAssignUserRoleModal}"></div>
<div th:replace="~{users/fragments/bulk_assign_user_role_users_modal :: bulkAssignUserRoleUsersModal}"></div>
<div th:replace="~{users/fragments/bulk_assign_user_role_orgunits_modal :: bulkAssignUserRoleOrgUnitsModal}"></div>
<div th:replace="~{users/fragments/bulk_assign_user_role_constraints_modal :: bulkAssignUserRoleConstraintsModal}"></div>
<nav th:replace="~{fragments/footer :: footer}"></nav>

<script th:replace="~{fragments/datatables :: datatables}"></script>
<script th:replace="~{fragments/assignDatePicker :: content}"></script>
<script th:replace="~{users/fragments/role_assignment_edit_modal :: roleAssignmentEditModalScript}"></script>
<script th:replace="~{users/fragments/user_user_role_modal :: userUserRoleModalScript(page='userrole')}"></script>
<script th:replace="~{ous/fragments/ou_roles_modal :: ouRolesModalScript(titlesEnabled=${titlesEnabled})}"></script>
<script th:replace="~{users/fragments/assign_user_role_postponed_data_constraints :: postponedConstraintsScript}"></script>
<script th:replace="~{users/fragments/bulk_assign_user_role_modal :: bulkAssignUserRoleModalScript}"></script>
<script th:src="@{/js/DatatableService.js}"></script>

<script type="application/json" th:inline="javascript" id="userrole-view-config">
	{
		"uiUrl": [[@{/ui/userroles/}]],
		"baseUrl": [[@{/}]],
		"restUrl": [[@{/rest/userroles/}]],
		"userRestUrl": [[@{/rest/users/}]],
		"ouRestUrl": [[@{/rest/ous/}]],
		"roleId": [[${role.id}]],
		"roleName": [[${role.name}]],
		"deleteRoleAssignmentTitleTxt": [[#{html.page.manage.roles.delete.title}]],
		"deleteRoleAssignmentBodyTxt": [[#{html.page.manage.roles.delete.body}]],
		"deleteRoleAssignmentErrorMessage": [[#{html.page.manage.roles.delete.error}]],
		"deleteRoleAssignmentSuccessMessage": [[#{html.page.manage.roles.delete.success}]],
		"deleteAssignmentConfirmTxt": [[#{html.control.button.yes}]],
		"deleteAssignmentCancelTxt": [[#{html.control.button.cancel}]],
		"txtQueueSpinner": [[#{html.common.queue.spinner.working}]],
		"titlesEnabled": [[${titlesEnabled}]],
		"infoMessage": [[${infoMessage}]],
		"errorMessage": [[${errorMessage}]],
		"swalImageOk": [[#{html.button.ok}]],
		"swalImageTitle": [[#{html.page.email_template.swal.image.title}]],
		"swalImageText": [[#{html.page.email_template.swal.image.text}]]
	}
</script>
<script th:src="@{/js/service/SweetAlertService.js}"></script>
<script th:src="@{/js/service/Select2Service.js}"></script>
<script th:src="@{/js/service/NotificationService.js}"></script>
<script th:src="@{/js/userroles/view.js}"></script>

</body>
</html>
