<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.userroles.view.title})"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header(subpage = 'roles')"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'userroles.view', subpage = 'roles')"></aside>
 
		<section>
			<div class="content-wrapper">
				<h3>
					<a th:href="@{/ui/userroles/list}" class="btn btn-default">
	                    <span><i class="fa fa-arrow-left"></i> </span>
	                </a>
					<span th:text="#{html.page.userroles.view.title}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<form class="form-horizontal" th:object="${role}">
							<fieldset>
								<div class="form-group">
					                <label class="col-sm-2 control-label" th:text="#{html.entity.userrole.name}"></label>
					                <div class="col-sm-8">
										<input th:field="*{name}" class="form-control" disabled="disabled" />
					                </div>
						        </div>
							</fieldset>

							<fieldset>
								<div class="form-group">
					                <label class="col-sm-2 control-label" th:text="#{html.entity.itsystem}"></label>
					                <div class="col-sm-8">
										<input th:field="*{itSystem.name}" class="form-control" disabled="disabled" />
					                </div>
						        </div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
					                <label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.custom_identifier.label}"></label>
					                <div class="col-sm-8">
										<input th:field="*{identifier}" class="form-control" readonly />
					                </div>
						        </div>
							</fieldset>

							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.entity.userrole.description}"></label>
									<div class="col-sm-8">
										<textarea th:field="*{description}" class="form-control" disabled="disabled"></textarea>
									</div>
								</div>
							</fieldset>
							
							<fieldset th:if="${#strings.equals(role.itSystem.systemType, 'MANUAL')}">
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.require_manager_action.label}"></label>
									<div class="col-sm-8">
										<div class="checkbox c-checkbox">
											<label>
												<input type="checkbox" id="requireManagerActionCheckbox" th:checked="${role.requireManagerAction}" disabled="disabled"/>
												<span class="fa fa-check"></span>
											</label>
										</div>
									</div>
								</div>
								
								<div id="requireManagerActionRow"  th:if="${role.requireManagerAction}">
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.send_to_manager.label}"></label>
										<div class="col-sm-8">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" checked="checked" disabled="disabled"/>
													<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.send_to_substitutes.label}"></label>
										<div class="col-sm-8">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="sendToSubstitutes" th:checked="${role.sendToSubstitutes}" disabled="disabled"/>
													<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.send_to_authorization_managers.label}"></label>
										<div class="col-sm-8">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="sendToAuthorizationManagers" th:checked="${role.sendToAuthorizationManagers}" disabled="disabled"/>
													<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.email_template.title}"></label>
										<div class="col-sm-8">
											<input th:field="*{emailTemplateTitle}" class="form-control" readonly="readonly"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.userroles.new.email_template.message}"></label>
										<div class="col-sm-8">
											<textarea th:field="*{emailTemplateMessage}" class="mb-0 preformat" rows="10" style="width:100%;"></textarea>
										</div>
									</div>
								</div>
							</fieldset>

							<fieldset th:if="${role.linkedSystemRole != null}">
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.entity.userrole.linkedsystemrole}"></label>
									<div class="col-sm-8">
										<input th:field="*{linkedSystemRole.name}" class="form-control" readonly />
									</div>
								</div>
							</fieldset>

							<fieldset sec:authorize="hasRole('ROLE_REQUESTER')" th:if="${canRequest == true && @settingsService.getRequestApproveWho() == T(dk.digitalidentity.rc.service.model.WhoCanRequest).USERS}">
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.entity.view.action.label}"></label>
									<div class="col-sm-8">
										<a id="requestBtn" class="btn btn-lg btn-primary" th:text="#{html.entity.view.action.request}"></a>
									</div>
								</div>
							</fieldset>
							
							<fieldset sec:authorize="hasRole('ROLE_REQUESTER')" th:if="${canRequest && @settingsService.isRequestApproveEnabled() == true && @settingsService.getRequestApproveWho() == T(dk.digitalidentity.rc.service.model.WhoCanRequest).AUTHORIZATION_MANAGER}">
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.entity.view.action.label}"></label>
									<div class="col-sm-8">
										<a class="btn btn-lg btn-primary" th:text="#{html.entity.view.action.request}" th:href="@{/ui/requestapprove/request/step1/role/{id}?type=userRole(id=${role.id})}"></a>
									</div>
								</div>
							</fieldset>

							<fieldset sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:unless="${role.itSystem.readonly or role.linkedSystemRole != null}">
								<div class="form-group">
									<label class="col-sm-2 control-label"
										   th:text="#{html.entity.view.action.label}"></label>
									<div class="col-sm-8">
										<a th:href="@{/ui/userroles/edit/{id}(id=*{id})}">
											<span class="btn btn-lg btn-primary" th:text="#{html.entity.view.action.edit}"></span>
										</a>
									</div>
								</div>
							</fieldset>

							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#roles_menu" th:text="#{html.entity.userrole.systemroles}"></a>
								</li>

								<li>
									<a th:unless="${hideRolegroups}" data-toggle="tab" href="#rolegroups_menu" th:text="#{html.entity.userrole.rolegroupassignments}"></a>
								</li>

								<li>
									<a data-toggle="tab" href="#users_menu" th:text="#{html.entity.userrole.users}"></a>
								</li>

								<li>
									<a data-toggle="tab" href="#ous_menu" th:text="#{html.entity.userrole.orgunits}"></a>
								</li>
							</ul>

							<div class="tab-content">
								<div id="roles_menu" class="tab-pane fade in active">
									<table id="listTable1" class="table table-striped table-hover listTable">
										<thead>
										<tr>
											<th class="col-sm-4" th:text="#{html.entity.systemrole.type}"></th>
											<th class="col-sm-8" th:text="#{html.entity.systemrole.constraints}"></th>
										</tr>
										</thead>

										<tbody>
										<tr th:each="roleAssignment : *{systemRoleAssignments}">
											<td th:text="${roleAssignment.systemRole.name}"></td>
											<td th:utext="${@xlsUtil.stringifyAssignment(roleAssignment, true)}"></td>
										</tr>
										</tbody>
									</table>
								</div>

								<div th:unless="${hideRolegroups}" id="rolegroups_menu" class="tab-pane fade in">
									<table id="listTable4" class="table table-striped table-hover listTable">
										<thead>
										<tr>
											<th class="col-sm-4" th:text="#{html.entity.rolegroup.name}"></th>
											<th class="col-sm-8" th:text="#{html.entity.rolegroup.description}"></th>
										</tr>
										</thead>

										<tbody>
										<tr th:each="rolegroup : *{roleGroups}">
											<td th:text="${rolegroup.name}"></td>
											<td th:utext="${rolegroup.description}"></td>
										</tr>
										</tbody>
									</table>
								</div>

								<div id="users_menu" class="tab-pane fade in">
								</div>

								<div id="ous_menu" class="tab-pane fade in">
								</div>
							</div>
						</form>
					</div>
				</div>
	        </div>
	    </section>
    </div>
    
	<div class="modal fade" id="modal-request" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
				<form class="form-horizontal" method="post" th:action="@{/ui/userroles/request}" th:object="${requestForm}">
					<input type="hidden" th:field="*{id}"/>
		            <div class="modal-header">
		                <h4 th:text="#{html.page.roles.request.modal.header}"></h4>
		            </div>
	
		            <div class="modal-body">
		            	<span th:text="#{html.page.roles.request.modal.body}"></span>
						<textarea id="reasonField" required="required" oninvalid="this.setCustomValidity('Angiv begrundelse')" oninput="this.setCustomValidity('')" rows="8" class="form-control" th:field="*{reason}" style="margin-top: 10px;"></textarea>
		            </div>
		
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" th:text="#{html.control.button.request}"></button>
						<button type="button" class="btn btn-danger" id="closeModalBtn" th:text="#{html.control.button.cancel}"></button>
					</div>
				</form>
	        </div>
	    </div>
	</div>

	<style>
		.table .checkbox {
			margin-left: 10px;
			width: auto;
		}
	</style>

	<div id="ouUserRoleModal"></div>
	<div id="ouUserRoleEditModal"></div>
	<div th:replace="users/fragments/user_user_role_modal :: userUserRoleModal"></div>
	<div th:replace="users/fragments/role_assignment_edit_modal :: roleAssignmentEditModal"></div>
    <nav th:replace="fragments/footer :: footer"></nav>

	<script th:replace="fragments/datatables :: datatables "></script>
	<script th:replace="fragments/assignDatePicker :: content "></script>
	<script th:replace="users/fragments/role_assignment_edit_modal :: roleAssignmentEditModalScript"></script>
	<script th:replace="users/fragments/user_user_role_modal :: userUserRoleModalScript(page='userrole')"></script>
	<script th:replace="ous/fragments/ou_roles_modal :: ouRoleGroupModalScript(titlesEnabled=${titlesEnabled})"></script>
	<script th:replace="ous/fragments/ou_roles_edit_modal :: ouRolesEditModalScript(titlesEnabled=${titlesEnabled})"></script>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*[+
			var UIUrl = [[@{/ui/userroles/}]];
			var restUrl = [[@{/rest/userroles/}]];
			var userRestUrl = [[@{/rest/users/}]];
			var ouRestUrl = [[@{/rest/ous/}]];
			var roleId = [[${role.id}]];

			//Delete role assignment swal
			var deleteRoleAssignmentTitleTxt = [[#{html.page.manage.roles.delete.title}]];
			var deleteRoleAssignmentBodyTxt = [[#{html.page.manage.roles.delete.body}]];
			var deleteRoleAssignmentErrorMessage = [[#{html.page.manage.roles.delete.error}]];
			
			var deleteAssignmentConfirmTxt = [[#{html.control.button.yes}]];
			var deleteAssignmentCancelTxt = [[#{html.control.button.cancel}]];

			var titlesEnabled = [[${titlesEnabled}]];
			
			var infoMessage = [[${infoMessage}]];
			var errorMessage = [[${errorMessage}]];
		+]*/
		
		var token = $("meta[name='_csrf']").attr("content");
		var userService = new UserService();
		var orgUnitService = new OrgUnitService();
		var notificationService = new NotificationService();
		var modal = $("#modal-positions");

		$("document").ready(function() {
			userService.loadRolesFragment();
			userRoleModalService.parentService = userService;
			userRoleEditModalService.parentService = userService;
			
			orgUnitService.loadRolesFragment();
			ouRolesModalService.parentService = orgUnitService;
			ouRolesEditModalService.parentService = orgUnitService;

			$("#modal-request").on('shown.bs.modal', function() {
				$("#reasonField").focus();
			});
			
			$("#requestBtn").click(function() {
				$("#modal-request").modal({
				    backdrop: 'static',
				    keyboard: false
				});
			});
			
			$("#closeModalBtn").click(function() {
				$("#reasonField").val('');
				$("#modal-request").modal('hide');
			});
			
			if (infoMessage != null) {
				notificationService.showInfoNotification(infoMessage);
			}

			if (errorMessage != null) {
				notificationService.showErrorNotification(errorMessage);
			}
			
			$('#emailTemplateMessage').summernote({
				"height": 320,
				"toolbar": [],
				maximumImageFileSize: 100*1024, // 100 KB
				callbacks: {
					onImageUploadError: function(msg) {
						swal({
							title: swalImageTitle,
							text: swalImageText,
							confirmButtonColor : "#4765a0",
							confirmButtonText : swalImageOk
						});
					}
				},
				dialogsInBody: true
			});
			
			$('#emailTemplateMessage').summernote('disable');
		});

		function UserService() {
			this.loadRolesFragment = function () {
				// TODO: we should call /assignedUsersFragment instead, once we can agree on what we are going
				//       to show on that page. For now we will just show the old version of the page
				$("#users_menu").load(UIUrl + roleId + "/assignedUsersFragmentView", function () {
					fragShowDataTableFun('#listTableUsers', 0);
				});
			}
		}

		function OrgUnitService() {
			this.loadRolesFragment = function () {
				$("#ous_menu").load(UIUrl + roleId + "/assignedOrgUnitsFragment", function () {
					fragShowDataTableFun('#listTableOus', 0);
				});
			}
		}

		function NotificationService() {
			this.showInfoNotification = function(message) {
				$.notify({
					message: message,
					status: 'success',
					timeout: 2000
				});
			}
			
			this.showWarnNotification = function(message) {
				$.notify({
					message: message,
					status: 'warning',
					timeout: 3000
				});
			}

			this.showErrorNotification = function(message) {
				$.notify({
					message: message,
					status: 'danger',
					timeout: 4000
				});
			}
		}
		/*]]>*/
	</script>
</body>
</html>
