<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RoleCatalogImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
        
    </configSections>
    <applicationSettings>
        <RoleCatalogImporter.Properties.Settings>
            <setting name="DefaultTitle" serializeAs="String">
                <value>Ansat</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://kommune.rollekatalog.dk/api/organisation/v3</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>Test1234</value>
            </setting>
            <setting name="OUsToIgnore" serializeAs="String">
                <value>IgnoreThis</value>
            </setting>
            <setting name="UserEmailField" serializeAs="String">
                <value>mail</value>
            </setting>
            <setting name="UserTitleField" serializeAs="String">
                <value>title</value>
            </setting>
            <setting name="UserNameField" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="OrgUnitNameField" serializeAs="String">
                <value>ou</value>
            </setting>
            <setting name="CronSchedule" serializeAs="String">
                <value>0 0/15 5-23 ? * MON-FRI</value>
            </setting>
            <setting name="ADUrl" serializeAs="String">
                <value>LDAP://OU=Kommune,DC=digitalidentity,DC=dk</value>
            </setting>
            <setting name="SAMAccountPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="UserCprField" serializeAs="String">
                <value>employeeNumber</value>
            </setting>
            <setting name="CustomUUIDField" serializeAs="String">
                <value />
            </setting>
        </RoleCatalogImporter.Properties.Settings>
    </applicationSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>