<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RoleCatalogImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
        
    </configSections>
    <applicationSettings>
        <RoleCatalogImporter.Properties.Settings>
            <setting name="DefaultTitle" serializeAs="String">
                <value>Ansat</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://kommune.rollekatalog.dk/api/organisation/v3</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>Test1234</value>
            </setting>
            <setting name="OUsToIgnore" serializeAs="String">
                <value>IgnoreThis</value>
            </setting>
            <setting name="UserEmailField" serializeAs="String">
                <value>mail</value>
            </setting>
            <setting name="UserTitleField" serializeAs="String">
                <value>title</value>
            </setting>
            <setting name="UserNameField" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="OrgUnitNameField" serializeAs="String">
                <value>ou</value>
            </setting>
            <setting name="CronSchedule" serializeAs="String">
                <value>0 0/15 5-23 ? * MON-FRI</value>
            </setting>
            <setting name="SAMAccountPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="UserCprField" serializeAs="String">
                <value>employeeNumber</value>
            </setting>
            <setting name="CustomUUIDField" serializeAs="String">
                <value />
            </setting>
            <setting name="NemLoginUUIDField" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeDisabledUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="UserFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadAltSecIdentities" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CyberArkAppId" serializeAs="String">
                <value />
            </setting>
            <setting name="CyberArkSafe" serializeAs="String">
                <value />
            </setting>
            <setting name="CyberArkObject" serializeAs="String">
                <value />
            </setting>
            <setting name="CyberArkAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="ADUrl" serializeAs="String">
                <value>LDAP://OU=Kommune,DC=digitalidentity,DC=dk</value>
            </setting>
            <setting name="AdditionalADOU" serializeAs="String">
                <value>LDAP://OU=ekstraStuff,DC=digitalidentity,DC=dk</value>
            </setting>
            <setting name="TenantId" serializeAs="String">
				<value>app-tenant-id</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
				<value>app-client-id</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
				<value>client-secret</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>sendinguser@email</value>
            </setting>
            <setting name="RecipientEmail" serializeAs="String">
                <value>receiver@email</value>
            </setting>
            <setting name="SendErrorEmailFeature_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </RoleCatalogImporter.Properties.Settings>
    </applicationSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Kiota.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.13.0.0" newVersion="1.13.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Validators" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.44.1.0" newVersion="1.44.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
