<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.log.audit.title})}"></head>
<body>
	<div class="wrapper">
		<header th:replace="~{fragments/navbar :: navbar-header(subpage = 'reports')}"></header>
		<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'log.audit', subpage = 'reports')}"></aside>
 
		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="#{html.page.log.audit.title}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a th:href="@{/ui/logs/audit/download}" class="btn btn-primary btn-lg">
							<em class="fa fa-fw fa-download"></em> &nbsp;
							<span th:text="#{html.word.download}"></span>
						</a>
					</div>

					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-2" th:text="#{html.page.log.timestamp}"></th>
										<th class="col-md-1" th:text="#{html.page.log.auditor}"></th>
										<th class="col-md-3" th:text="#{html.page.log.event}"></th>
										<th class="col-md-3" th:text="#{html.page.log.target}"></th>
										<th class="col-md-3" th:text="#{html.page.log.change}"></th>
									</tr>
								</thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="~{fragments/footer :: footer}"></nav>

	<script th:inline="javascript">
	/*<![CDATA[*/
		var token = $("meta[name='_csrf']").attr("content");
		/*[+
			var searchTxt = [[#{html.datatables.search}]];
			var dropdownTxt = [[#{html.datatables.dropdown}]];
			var infoDefaultTxt = [[#{html.datatables.info.default}]];
			var infoEmptyTxt = [[#{html.datatables.info.empty}]];
			var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
			var prevTxt = [[#{html.datatables.prev}]];
			var nextTxt = [[#{html.datatables.next}]];
			var ajaxUrl = [[@{/rest/logs/audit}]];
		+]*/

		var auditLogTable;

		$(document).ready(function() {

			auditLogTable = $('.listTable').DataTable({
				destroy: true,
				'ajax': {
					'contentType': 'application/json',
					'url': ajaxUrl,
					'type': 'POST',
					headers: {
						'X-CSRF-TOKEN': token
					},
					'data': function(d) {
						return JSON.stringify(d);
					}
				},
				'serverSide' : true,
				columns : [{
					data : 'timestamp',
					render: function (data, type, row, meta) {
						return moment(new Date(data)).format("YYYY-MM-DD HH:mm")
					}
				}, {
					data : 'username'
				}, {
					data : 'eventType'
				}, {
					data : 'entityName',
					render: function (data, type, row, meta) {
						return data + ' (' + row.entityType + ')';
					}
				}, {
					data : 'secondaryEntityName'
				}],
				'paging':    true,
				'ordering':  true,
				'stateSave': true,
				'info':      true,
				'pageLength': 25,
				'language': {
					"search":       searchTxt,
					"lengthMenu":   dropdownTxt,
					"info":         infoDefaultTxt,
					"zeroRecords":  infoEmptyTxt,
					"infoEmpty":    "",
					"infoFiltered": infoFilteredTxt,
					"paginate": {
						"next": nextTxt,
						"previous": prevTxt
					}
				}
			});
		});
		
		function download() {
			
		}
	/*]]>*/
	</script>
</body>
</html>
