<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{attestationmodule/fragments/header :: header(datatables = true, checkbox = true)}" />
<body class="top-navigation layout-fixed">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div th:replace="~{attestationmodule/fragments/topbar :: topbar}"></div>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <div class="ibox-tools">
                                    <a class="btn btn-primary" style="color: white" th:text="#{attestationmodule.html.attestation.controls.done}" th:href="${returnUrl}"></a>
                                </div>
                                <h3>
                                    <em class="fa fa-users"></em> &nbsp
                                    <span th:text="#{attestationmodule.html.orgunits.attestate.title(${attestation.ouName})}"></span>
                                </h3>
                            </div>

                            <div class="ibox-content">
                                <div class="tabs-container" id="tabs">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li th:if="${not #lists.isEmpty(attestation.userAttestations)}">
                                            <a class="nav-link active mainTabs" data-toggle="tab" href="#usersTab">
                                                <span th:text="#{attestationmodule.html.orgunits.attestate.tabs.users}"></span>
                                                <span id="badgeUsers" class="badge badge-danger">
                                                    <span id="badgeUsersText" th:text="${totalCount}"></span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:class="${#lists.isEmpty(attestation.userAttestations)} ? 'nav-link mainTabs active' : 'nav-link mainTabs'" data-toggle="tab" href="#orgUnitsTab" id="ouTab">
                                                <span th:text="#{attestationmodule.html.orgunits.attestate.tabs.orgUnit}"></span>
                                                <span th:unless="${attestation.orgUnitRolesVerified}" id="badgeOrgUnits" class="badge badge-danger">
                                                    <span id="badgeOrgUnitsText" th:text="${orgUnitTotalCount}"></span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link mainTabs" data-toggle="tab" href="#historyTab" th:text="#{attestationmodule.html.orgunits.attestate.tabs.history}"></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" id="usersTab" class="tab-pane mainTabs active" th:if="${not #lists.isEmpty(attestation.userAttestations)}">
                                            <div class="panel-body">
                                                <div class="tabs-container">
                                                    <p th:if="${#lists.isEmpty(attestation.userAttestations)}" th:text="#{attestationmodule.html.orgunits.attestate.usersDone}"></p>
                                                    <div class="userRow col-lg-12" th:each="user : ${attestation.userAttestations}" th:id="'userRow' + ${userStat.index}" style="display:none">
                                                        <h3 class="m-b-md" th:text="${user.userName}"></h3>
                                                        <div class="row col-lg-12">
                                                            <b style="padding-left: 0px;" th:text="#{attestationmodule.html.orgunits.attestate.user.userid}" class="col-lg-2"></b>
                                                            <p th:text="${user.userId}" class="col-lg-10"></p>
                                                        </div>
                                                        <div class="row col-lg-12">
                                                            <b style="padding-left: 0px;" th:text="#{attestationmodule.html.orgunits.attestate.user.position}" class="col-lg-2"></b>
                                                            <p th:text="${user.position}" class="col-lg-10"></p>
                                                        </div>

                                                        <div style="display:none" th:id="'remarkRow' + ${user.userUuid}">
                                                            <b th:text="#{attestationmodule.html.itsystems.attestate.role.done.remark}"></b>
                                                            <pre th:id="'remarkPre' + ${user.userUuid}"></pre>
                                                        </div>
                                                        <div class="m-t-md">
                                                            <ul class="nav nav-tabs" role="tablist">
                                                                <li><a class="nav-link active" data-toggle="tab" th:href="'#rolesTab' + ${user.userUuid}" th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles}"></a></li>
                                                                <li><a class="nav-link" data-toggle="tab" th:href="'#otherRolesTab' + ${user.userUuid}" th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.otherRoles}"></a></li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div role="tabpanel" th:id="'rolesTab' + ${user.userUuid}" class="tab-pane active">
                                                                    <div class="panel-body">
                                                                        <p th:if="!${#lists.isEmpty(user.userRolesPrItSystem)} OR !${#lists.isEmpty(user.roleGroups)}" th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.explainer}"></p>
                                                                        <p th:if="${#lists.isEmpty(user.userRolesPrItSystem)} AND ${#lists.isEmpty(user.roleGroups)}" th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.noroles.explainer}"></p>
                                                                        <br/>
                                                                        <div th:replace="~{attestationmodule/orgunits/fragments/ItSystemUserRoleTable :: itSystemUserRoleTable(userRolesForTable = ${user.userRolesPrItSystem}, verify=false, orgUnitAssignments = false, showInherit = false)}"></div>
                                                                        <div th:replace="~{attestationmodule/orgunits/fragments/RoleGroupsTable :: roleGroupsTable(roleGroupsForTable = ${user.roleGroups}, verify=false, orgUnitAssignments = false, showInherit = false)}"></div>
                                                                    </div>
                                                                </div>
                                                                <div role="tabpanel" th:id="'otherRolesTab' + ${user.userUuid}" class="tab-pane">
                                                                    <div class="panel-body">
                                                                        <p th:if="!${#lists.isEmpty(user.doNotVerifyUserRolesPrItSystem)} OR !${#lists.isEmpty(user.doNotVerifyRoleGroups)}" th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.otherRoles.explainer}"></p>
                                                                        <p th:if="${#lists.isEmpty(user.doNotVerifyUserRolesPrItSystem)} AND ${#lists.isEmpty(user.doNotVerifyRoleGroups)}" th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.otherRoles.empty.explainer}"></p>
                                                                        <br/>
                                                                        <div th:replace="~{attestationmodule/orgunits/fragments/ItSystemUserRoleTable :: itSystemUserRoleTable(userRolesForTable = ${user.doNotVerifyUserRolesPrItSystem}, verify=true, orgUnitAssignments = false, showInherit = false)}"></div>
                                                                        <div th:replace="~{attestationmodule/orgunits/fragments/RoleGroupsTable :: roleGroupsTable(roleGroupsForTable = ${user.doNotVerifyRoleGroups}, verify=true, orgUnitAssignments = false, showInherit = false)}"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row m-t-lg" th:if="${!openInView}">
                                                            <div class="form-group" style="margin-left: 15px;" th:id="'checkboxRow' + ${user.userUuid}">
                                                                <input th:attr="data-id=${user.userUuid}" type="checkbox" class="i-checks readCheckbox">
                                                                <label th:text="#{attestationmodule.html.attestation.controls.approve.read}" style="margin-left: 15px;"></label>
                                                            </div>
                                                        </div>

                                                        <div class="row col-lg-12 m-t-sm">
															<th:block th:if="${!openInView}">
																<button th:unless="${user.readOnly}" class="approveBtn btn btn-primary col-lg-2" th:id="'approveBtn' + ${user.userUuid}" th:attr="data-uuid=${user.userUuid}, data-number=${userStat.index}, data-managerdelegate=${managerdelegate}" disabled="disabled">
																	<em class="fa-fw fa fa-check"></em>
																	<span th:text="#{attestationmodule.html.attestation.controls.approve}"></span>
																</button>
																&nbsp;
																<button  th:if="${changeRequestsEnabled}" th:unless="${user.readOnly}" class="rejectBtn btn btn-danger col-lg-2" th:id="'rejectBtn' + ${user.userUuid}" th:attr="data-uuid=${user.userUuid}, data-number=${userStat.index}, data-managerdelegate=${managerdelegate}">
																	<em class="fa-fw fa fa-ban"></em>
																	<span th:if="${attestationDescriptionRequired}" th:text="#{attestationmodule.html.attestation.controls.reject}"></span>
																	<span th:unless="${attestationDescriptionRequired}" th:text="#{attestationmodule.html.attestation.controls.reject.remove}"></span>
																</button>
																&nbsp;
																<button th:unless="${user.readOnly}" th:if="${adAttestationEnabled}" class="requestDeleteBtn btn btn-danger col-lg-2" th:id="'requestDeleteBtn' + ${user.userUuid}" th:attr="data-uuid=${user.userUuid}, data-number=${userStat.index}, data-managerdelegate=${managerdelegate}">
																	<em class="fa-fw fa fa-trash"></em>
																	<span th:text="#{attestationmodule.html.attestation.controls.requestDelete}"></span>
																</button>
																<p style="display: none;" th:id="'alreadyDone' + ${user.userUuid}" th:text="#{attestationmodule.html.orgunits.attestate.users.done}"></p>
																<p th:if="${user.readOnly}" th:text="#{attestationmodule.html.orgunits.attestate.users.self}"></p>
															</th:block>

                                                            <div class="row ml-auto" style="margin-right: 15px;">
                                                                <button class="btn btn-primary btn-back" style="width: 60px" th:attr="data-number=${userStat.index}" th:unless="${userStat.index == 0}">
                                                                    <i class="fa fa-chevron-left"></i>
                                                                </button>
                                                                <p class="navBtnsText" th:text="${userStat.index+1} + ' / ' + ${totalCount}"></p>
                                                                <button class="btn btn-primary btn-forth" style="width: 60px" th:attr="data-number=${userStat.index}" th:unless="${totalCount == userStat.index + 1}">
                                                                    <i class="fa fa-chevron-right"></i>
                                                                </button>
                                                                <p th:if="${totalCount == userStat.index + 1}" style="width: 60px;"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" id="orgUnitsTab" th:class="${#lists.isEmpty(attestation.userAttestations)} ? 'tab-pane mainTabs active' : 'tab-pane mainTabs'">
                                            <div class="panel-body">
                                                <h3 class="m-b-md" th:text="${attestation.ouName}"></h3>
                                                <p th:text="#{attestationmodule.html.orgunits.attestate.tabs.orgUnit.explainer}"></p>
                                                <br/>
                                                <br/>
                                                <div th:replace="~{attestationmodule/orgunits/fragments/ItSystemUserRoleTable :: itSystemUserRoleTable(userRolesForTable = ${attestation.orgUnitUserRoleAssignmentsPrItSystem}, verify=false, orgUnitAssignments = true, showInherit = true)}"></div>
                                                <div th:replace="~{attestationmodule/orgunits/fragments/RoleGroupsTable :: roleGroupsTable(roleGroupsForTable = ${attestation.orgUnitRoleGroupAssignments}, verify=false, orgUnitAssignments = true, showInherit = true)}"></div>

                                                <div class="row m-t-lg">
                                                    <div class="form-group" style="margin-left: 15px;" th:id="'checkboxOrgUnitRow' + ${attestation.ouUuid}" th:unless="${attestation.orgUnitRolesVerified || openInView}">
                                                        <input th:attr="data-id=${attestation.ouUuid}" type="checkbox" class="i-checks readOrgUnitCheckbox">
                                                        <label th:text="#{attestationmodule.html.attestation.controls.approve.read}" style="margin-left: 15px;"></label>
                                                    </div>
                                                </div>

                                                <div class="row col-lg-12 m-t-sm" th:if="${!openInView}">
                                                    <button th:unless="${attestation.orgUnitRolesVerified}"  class="approveOrgUnitBtn btn btn-primary col-lg-2" th:id="'approveOrgUnitBtn' + ${attestation.ouUuid}" th:attr="data-uuid=${attestation.ouUuid}, data-managerdelegate=${managerdelegate}" disabled="disabled">
                                                        <em class="fa-fw fa fa-check"></em>
                                                        <span th:text="#{attestationmodule.html.attestation.controls.approve}"></span>
                                                    </button>
                                                    &nbsp;
                                                    <button th:if="${changeRequestsEnabled}" th:unless="${attestation.orgUnitRolesVerified}" class="rejectOrgUnitBtn btn btn-danger col-lg-2" th:id="'rejectOrgUnitBtn' + ${attestation.ouUuid}" th:attr="data-uuid=${attestation.ouUuid}, data-managerdelegate=${managerdelegate}">
                                                        <em class="fa-fw fa fa-ban"></em>
														<span th:if="${attestationDescriptionRequired}" th:text="#{attestationmodule.html.attestation.controls.reject}"></span>
														<span th:unless="${attestationDescriptionRequired}" th:text="#{attestationmodule.html.attestation.controls.reject.remove}"></span>
                                                    </button>
                                                    <p style="display: none;" th:id="'alreadyDoneOrgUnit' + ${attestation.ouUuid}" th:text="#{attestationmodule.html.orgunits.attestate.roles.done}"></p>
                                                    <p th:if="${attestation.orgUnitRolesVerified}" th:text="#{attestationmodule.html.orgunits.attestate.roles.done}"></p>
                                                    <div style="display:none" th:id="'remarkRowOrgUnit' + ${attestation.ouUuid}">
                                                        <p><b th:text="#{attestationmodule.html.itsystems.attestate.role.done.remark}"></b></p>
                                                        <pre th:id="'remarkPreOrgUnit' + ${attestation.ouUuid}"></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" id="historyTab" class="tab-pane mainTabs">
                                            <div class="panel-body">
                                                <p th:text="#{attestationmodule.html.orgunits.attestate.tabs.history.explainer}"></p>
                                                <div th:if="${attestation.roleAssignmentsSinceLastAttestationTotalCount > attestation.roleAssignmentsSinceLastAttestation.size()}"
                                                     class="alert alert-warning" role="alert"
                                                     th:text="#{attestationmodule.html.orgunits.attestate.tabs.history.truncated(${attestation.roleAssignmentsSinceLastAttestation.size()}, ${attestation.roleAssignmentsSinceLastAttestationTotalCount})}">
                                                </div>
                                                <table class="historyTable table table-striped table-bordered table-hover" >
                                                    <thead>
                                                        <tr>
                                                            <th th:text="#{attestationmodule.html.orgunits.attestate.history.table.user}"></th>
                                                            <th th:text="#{attestationmodule.html.orgunits.attestate.history.table.role}"></th>
                                                            <th th:text="#{attestationmodule.html.orgunits.attestate.history.table.roleType}"></th>
                                                            <th th:text="#{attestationmodule.html.orgunits.attestate.history.table.from}"></th>
                                                            <th th:text="#{attestationmodule.html.orgunits.attestate.history.table.to}"></th>
                                                            <th th:text="#{attestationmodule.html.orgunits.attestate.history.table.assignedThrough}"></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr th:each="history : ${attestation.roleAssignmentsSinceLastAttestation}">
                                                            <td th:text="${history.userName} + ' (' + ${history.userId} + ')'"></td>
                                                            <td th:text="${history.roleName}"></td>
                                                            <td th:text="#{__${history.roleType.message}__}"></td>
                                                            <td th:text="${history.assignedFrom}"></td>
                                                            <td th:text="${history.assignedTo}"></td>
                                                            <td th:if="${history.assignedThrough != null}">
                                                                <span th:if="${history.assignedThroughName != null}" th:text="#{__${history.assignedThrough.message}__} + ' - ' + ${history.assignedThroughName}"></span>
                                                                <span th:unless="${history.assignedThroughName != null}" th:text="#{__${history.assignedThrough.message}__}"></span>
                                                            </td>
                                                            <td th:unless="${history.assignedThrough != null}"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div id="userRemarkModalPlaceholder"></div>
	<div id="orgUnitRemarkModalPlaceholder"></div>

	<div th:replace="~{attestationmodule/fragments/footer :: scripts(datatables = true, checkbox = true)}"></div>
	<div th:replace="~{attestationmodule/fragments/userRemarkModal :: userRemarkModalScript}"></div>
	<div th:replace="~{attestationmodule/fragments/orgUnitRemarkModal :: orgUnitRemarkModalScript}"></div>

	<script type="application/json" th:inline="javascript" id="orgUnitsAttestConfig">
		{
			"restUrl": [[@{/rest/attestation/v2/orgunits}]],
			"cancelText": [[#{attestationmodule.html.attestation.controls.cancel}]],
			"saveText": [[#{attestationmodule.html.attestation.controls.save}]],
			"swalTitle": [[#{attestationmodule.html.itsystems.attestate.reject.title}]],
			"swalText": [[#{attestationmodule.html.itsystems.attestate.reject.text}]],
			"rejectRemarkErrorText": [[#{attestationmodule.html.itsystems.attestate.reject.remarks.error}]],
			"requestDeleteTitle": [[#{attestationmodule.html.orgunits.attestate.user.delete.title}]],
			"requestDeleteText": [[#{attestationmodule.html.orgunits.attestate.user.delete.text}]],
			"requestDeleteSave": [[#{attestationmodule.html.orgunits.attestate.user.delete.save}]],
			"orgUnitUuid": [[${attestation.ouUuid}]],
			"totalCount": [[${totalCount}]],
			"uiUrl": [[@{/ui/attestation/v2/orgunits/}]],
			"attestationUuid": [[${attestation.attestationUuid}]],
			"hideDescription": [[${hideDescription}]]
		}
	</script>
	<script type="text/javascript" th:src="@{/js/attestationmodule/orgunits/attestate.js}"></script>

</body>
</html>
