<!--<th:block th:fragment="pendingRequestDetail" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--    <div >-->
<!--        <h2 th:text="#{requestmodule.html.pending.table.details.approve.title(${request.requester})}"></h2>-->
<!--        <p th:text="#{requestmodule.html.pending.table.details.reason.label}"></p>-->
<!--        <textarea class="b-r-md p-sm col-sm-12" th:text="${request.reason}" disabled>-->
<!--        </textarea>-->
<!--        <div>-->
<!--            <button class="btn btn-primary col-sm-1"  th:attr="onclick='onApprovePressed('+${request.id}+');'" th:text="#{requestmodule.html.pending.table.details.approve} + ' ' + ${#strings.toLowerCase(#messages.msg(request.actionName))}"></button>-->
<!--            <button class="btn btn-danger col-sm-1" th:attr="onclick='onDenyPressed('+${request.id}+');'" th:text="#{requestmodule.html.pending.table.details.deny}"></button>-->
<!--        </div>-->
<!--    </div>-->
<!--</th:block>-->
