<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (title=#{html.setting.title})"></head>
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header(subpage = 'administration')"></header>
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'kombit-settings', subpage = 'administration')"></aside>

	<section>
		<div class="content-wrapper">
			<h3 th:text="#{html.setting.title}"></h3>
			<div class="panel panel-default" style="padding-left: 20px; padding-right: 20px;">
				<form id="setting-form" class="form-horizontal" method="post" th:object="${settingsForm}" th:action="@{/ui/kombit/settings}">
					<input type="hidden" th:field="*{itSystemsHiddenByDefault}" />

					<div class="panel-heading">
						<h4 th:text="#{html.setting.kombit.general}"></h4>
					</div>
	
					<div class="panel-body">
						<fieldset>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{html.setting.kombit.itsystems_hidden_by_default.enabled}"></label>
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input id="itsystemshidden-checkbox" type="checkbox" th:attr="checked=${settingsForm.itSystemsHiddenByDefault}" />
											<span class="fa fa-check"></span>
										</label>
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					<fieldset>
						<div class="form-group">
							<div class="col-md-offset-1 col-md-10">
							<button type="submit" class="btn btn-primary btn-block" th:text="#{html.control.button.save}"></button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</section>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		 var successMsg = [[#{html.setting.update.msg.success}]];
		 var failedMsg = [[#{html.setting.update.msg.failed}]];
		 +]*/

		$("document").ready(function() {
			var saved = [[${saved}]];
			
			if (typeof saved != "undefined" && saved != null) {
				if (saved) {
					$.notify({
						message: successMsg
					},{
						status: 'success',
						autoHideDelay: 4000
					});
				} else if(!saved) {
					$.notify({
						message: failedMsg
					},{
						status: 'warning',
						autoHideDelay: 4000
					});
				}
			}
			
			$("#itsystemshidden-checkbox").change(function() {
				$("#itSystemsHiddenByDefault").val(this.checked);
			});
		});
		
		/*]]>*/
	</script>
</body>
</html>