<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="wrapper">
	<header th:replace="~{fragments/navbar :: navbar-header (subpage = 'administration')}"></header>
	<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'clients.adSyncService' + ${clientID}, subpage = 'administration')}"></aside>

	<section>
		<div class="content-wrapper">
			<h3 th:text="${clientName}"></h3>

			<div class="panel panel-default">
				<div class="panel-heading"></div>
				<div th:unless="${configured}" class="panel-body" th:text="#{html.client.adsync.notConfigured}"></div>
				<div th:if="${configured}" class="panel-body">
					<div class="panel-group sticky" th:if="${!#strings.isEmpty(clientErrors)}">
						<div class="panel panel-default">
							<h4 th:utext="${#strings.replace(clientErrors, '&#10;', '<br />')}"></h4>
						</div>
					</div>
					<div class="panel-group sticky" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="createDeleteHeading">
								<h4 class="panel-title">
									<a class="caretLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCreateDelete" aria-expanded="false" aria-controls="collapseOne">
										<em class="fa fa-caret-right caretIcon"></em>&nbsp;
										<span th:text="#{html.heading.adsync.createdelete}"></span>
									</a>
								</h4>
							</div>

							<div id="collapseCreateDelete" class="panel-collapse collapse" role="tabpanel" aria-labelledby="createDeleteHeading">
								<div class="panel-body">
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.createDeleteFeatureEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="createDeleteFeatureEnabled" th:checked="${settings.createDeleteFeatureEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.createDelete.enabled.title}, content=#{html.help.settings.client.adSync.createDelete.enabled.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.createDeleteFeatureCreateEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="createDeleteFeatureCreateEnabled" th:checked="${settings.createDeleteFeatureCreateEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.createDelete.createEnabled.title}, content=#{html.help.settings.client.adSync.createDelete.createEnabled.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.createDeleteFeatureDeleteEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="createDeleteFeatureDeleteEnabled" th:checked="${settings.createDeleteFeatureDeleteEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.createDelete.deleteEnabled.title}, content=#{html.help.settings.client.adSync.createDelete.deleteEnabled.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.createDeleteFeatureOU}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.createDeleteFeatureOU}" id="createDeleteFeatureOU">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.createDelete.distinguishedName.title}, content=#{html.help.settings.client.adSync.createDelete.distinguishedName.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.createDeleteFeatureUseBackSyncOU}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="createDeleteFeatureUseBackSyncOU" th:checked="${settings.createDeleteFeatureUseBackSyncOU}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.createDelete.useBackSyncOU.title}, content=#{html.help.settings.client.adSync.createDelete.useBackSyncOU.body})}"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="membershipSyncHeading">
								<h4 class="panel-title">
									<a class="caretLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMembershipSync" aria-expanded="false" aria-controls="collapseOne">
										<em class="fa fa-caret-right caretIcon"></em>&nbsp;
										<span th:text="#{html.heading.adsync.membershipsync}"></span>
									</a>
								</h4>
							</div>

							<div id="collapseMembershipSync" class="panel-collapse collapse" role="tabpanel" aria-labelledby="membershipSyncHeading">
								<div class="panel-body">
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.membershipSyncFeatureEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="membershipSyncFeatureEnabled" th:checked="${settings.membershipSyncFeatureEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.membershipSync.enabled.title}, content=#{html.help.settings.client.adSync.membershipSync.enabled.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.membershipSyncFeatureIgnoreUsersWithoutCpr}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="membershipSyncFeatureIgnoreUsersWithoutCpr" th:checked="${settings.membershipSyncFeatureIgnoreUsersWithoutCpr}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.membershipSync.ignoreCPRless.title}, content=#{html.help.settings.client.adSync.membershipSync.ignoreCPRless.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.membershipSyncFeatureCprAttribute}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.membershipSyncFeatureCprAttribute}" id="membershipSyncFeatureCprAttribute">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.membershipSync.cprAttribute.title}, content=#{html.help.settings.client.adSync.membershipSync.cprAttribute.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.membershipSyncFeatureAttributeMap}"></label>
										<div class="col-lg-8">
											<btn class="btn btn-primary js-open-attribute-modal" style="margin-bottom: 15px;" th:text="#{html.control.button.add}"></btn>
											<div class="form-group row">
												<table class="table" id="membershipSyncFeatureAttributeMapTable" style="margin-left: 15px;">
													<thead>
													<tr>
														<th th:text="#{html.client.adsync.membershipSyncFeature.table.headers.group}"></th>
														<th th:text="#{html.client.adsync.membershipSyncFeature.table.headers.attribute}"></th>
														<th th:text="#{html.client.adsync.membershipSyncFeature.table.headers.value}"></th>
														<th th:text="#{html.navbar.actions}"></th>
													</tr>
													</thead>
													<tbody id="membershipSyncFeatureAttributeMapList"></tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.membershipSyncFeatureFilterMap}"></label>
										<div class="col-lg-8">
											<btn class="btn btn-primary js-open-filter-modal" style="margin-bottom: 15px;" th:text="#{html.control.button.add}"></btn>
											<div class="form-group row">
												<table class="table" id="membershipSyncFeatureFilterMapTable" style="margin-left: 15px;">
													<thead>
													<tr>
														<th th:text="#{html.client.adsync.membershipSyncFeature.table.headers.group}"></th>
														<th th:text="#{html.client.adsync.membershipSyncFeature.table.headers.attribute}"></th>
														<th th:text="#{html.client.adsync.membershipSyncFeature.table.headers.filter}"></th>
														<th th:text="#{html.navbar.actions}"></th>
													</tr>
													</thead>
													<tbody id="membershipSyncFeatureFilterMapList"></tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.fullMembershipSyncFeatureEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="fullMembershipSyncFeatureEnabled" th:checked="${settings.fullMembershipSyncFeatureEnabled}">
													<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.noDisabledUsers}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="membershipSyncFeatureDoNotRegisterDisabledUsers" th:checked="${settings.membershipSyncFeatureDoNotRegisterDisabledUsers}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.membershipSync.completeSync.title}, content=#{html.help.settings.client.adSync.membershipSync.completeSync.body})}"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="backsyncHeading">
								<h4 class="panel-title">
									<a class="caretLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBacksync" aria-expanded="false" aria-controls="collapseOne">
										<em class="fa fa-caret-right caretIcon"></em>&nbsp;
										<span th:text="#{html.heading.adsync.backsync}"></span>
									</a>
								</h4>
							</div>

							<div id="collapseBacksync" class="panel-collapse collapse" role="tabpanel" aria-labelledby="backsyncHeading">
								<div class="panel-body">
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.backSyncFeatureEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="backSyncFeatureEnabled" th:checked="${settings.backSyncFeatureEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.backSync.enabled.title}, content=#{html.help.settings.client.adSync.backSync.enabled.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.backSyncFeatureGroupsInGroupOnSync}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="backSyncFeatureGroupsInGroupOnSync" th:checked="${settings.backSyncFeatureGroupsInGroupOnSync}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.backSync.nestedGroups.title}, content=#{html.help.settings.client.adSync.backSync.nestedGroups.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.backSyncFeatureNameAttribute}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.backSyncFeatureNameAttribute}" id="backSyncFeatureNameAttribute">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.backSync.nameAttribute.title}, content=#{html.help.settings.client.adSync.backSync.nameAttribute.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adSync.backSync.maintainDescriptionAndName}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="backSyncFeatureMaintainDescriptionAndName" th:checked="${settings.backSyncFeatureMaintainDescriptionAndName}">
													<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.backSyncFeatureCreateUserRoles}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="backSyncFeatureCreateUserRoles" th:checked="${settings.backSyncFeatureCreateUserRoles}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.backSync.createUserRoles.title}, content=#{html.help.settings.client.adSync.backSync.createUserRoles.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.backSyncFeatureOUs}"></label>
										<div class="col-lg-8">
											<btn class="btn btn-primary js-open-backsync-ou-modal" style="margin-bottom: 15px;" th:text="#{html.control.button.add}"></btn>
											<div class="form-group row">
												<table class="table" id="backSyncFeatureOUsTable" style="margin-left: 15px;">
													<thead>
													<tr>
														<th th:text="#{html.client.adsync.backSyncFeature.table.headers.system}">IT-system</th>
														<th th:text="#{html.client.adsync.backSyncFeature.table.headers.ou}">OU DN</th>
														<th th:text="#{html.navbar.actions}"></th>
													</tr>
													</thead>
													<tbody id="backSyncFeatureOUsList"></tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="itsystemHeading">
								<h4 class="panel-title">
									<a class="caretLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseITsystem" aria-expanded="false" aria-controls="collapseOne">
										<em class="fa fa-caret-right caretIcon"></em>&nbsp;
										<span th:text="#{html.heading.adsync.itsystem}">Indstillinger for IT-systemGroup</span>
									</a>
								</h4>
							</div>

							<div id="collapseITsystem" class="panel-collapse collapse" role="tabpanel" aria-labelledby="itsystemHeading">
								<div class="panel-body">
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.itSystemGroupFeatureEnabled}">IT-systemGroup funktion slået til:</label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="itSystemGroupFeatureEnabled" th:checked="${settings.itSystemGroupFeatureEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.itSystemGroup.enabled.title}, content=#{html.help.settings.client.adSync.itSystemGroup.enabled.body})}"></a>
											</div>
										</div>
										<div class="col-lg-7">
											<btn class="btn btn-primary js-open-itsystem-role-modal" style="margin-bottom: 15px;" th:text="#{html.control.button.add}">Tilføj</btn>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.itSystemGroupFeature.table.header}"></label>
										<div class="col-lg-8">
											<table class="table" id="mappingsTable" style="margin-top: 15px;">
												<thead>
												<tr>
													<th th:text="#{html.client.adsync.itSystemGroupFeature.table.headers.itsystem}"></th>
													<th th:text="#{html.client.adsync.itSystemGroupFeature.table.headers.role}"></th>
													<th th:text="#{html.client.adsync.itSystemGroupFeature.table.headers.dn}"></th>
													<th th:text="#{html.navbar.actions}"></th>
												</tr>
												</thead>
												<tbody id="mappingsTableBody">
												</tbody>
											</table>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.noDisabledUsers}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="itSystemGroupFeatureDoNotRegisterDisabledUsers" th:checked="${settings.itSystemGroupFeatureDoNotRegisterDisabledUsers}">
													<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="itsystemReadonlyHeading">
								<h4 class="panel-title">
									<a class="caretLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseITsystemReadonly" aria-expanded="false" aria-controls="collapseOne">
										<em class="fa fa-caret-right caretIcon"></em>&nbsp;
										<span th:text="#{html.heading.adsync.itsystemReadonly}"></span>
									</a>
								</h4>
							</div>

							<div id="collapseITsystemReadonly" class="panel-collapse collapse" role="tabpanel" aria-labelledby="itsystemReadonlyHeading">
								<div class="panel-body">
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.readonlyItSystemFeatureEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="readonlyItSystemFeatureEnabled" th:checked="${settings.readonlyItSystemFeatureEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.readOnly.enabled.title}, content=#{html.help.settings.client.adSync.readOnly.enabled.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.readonlyItSystemFeatureNameAttribute}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.readonlyItSystemFeatureNameAttribute}" id="readonlyItSystemFeatureNameAttribute">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.readOnly.nameAttribute.title}, content=#{html.help.settings.client.adSync.readOnly.nameAttribute.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.readonlyItSystemFeatureSystemMap}"></label>
										<div class="col-lg-8">
											<btn class="btn btn-primary js-open-readonly-system-modal" style="margin-bottom: 15px;" th:text="#{html.control.button.add}"></btn>
											<div class="form-group row">
												<table class="table" id="readonlyItSystemFeatureSystemMapTable" style="margin-left: 15px;">
													<thead>
													<tr>
														<th th:text="#{html.client.adsync.readonlyItSystemFeature.table.headers.system}"></th>
														<th th:text="#{html.client.adsync.readonlyItSystemFeature.table.headers.group}"></th>
														<th th:text="#{html.navbar.actions}"></th>
													</tr>
													</thead>
													<tbody id="readonlyItSystemFeatureSystemMapList"></tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="logUploaderHeading">
								<h4 class="panel-title">
									<a class="caretLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLogUploader" aria-expanded="false" aria-controls="collapseOne">
										<em class="fa fa-caret-right caretIcon"></em>&nbsp;
										<span th:text="#{html.heading.adsync.loguploader}"></span>
									</a>
								</h4>
							</div>

							<div id="collapseLogUploader" class="panel-collapse collapse" role="tabpanel" aria-labelledby="logUploaderHeading">
								<div class="panel-body">
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.logUploaderEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="logUploaderEnabled" th:checked="${settings.logUploaderEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.logUploader.enabled.title}, content=#{html.help.settings.client.adSync.logUploader.enabled.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.logUploaderFileShareUrl}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.logUploaderFileShareUrl}" id="logUploaderFileShareUrl">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.logUploader.fileShareUrl.title}, content=#{html.help.settings.client.adSync.logUploader.fileShareUrl.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.logUploaderFileShareApiKey}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.logUploaderFileShareApiKey}" id="logUploaderFileShareApiKey">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.logUploader.fileShareAPIKey.title}, content=#{html.help.settings.client.adSync.logUploader.fileShareAPIKey.body})}"></a>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="emailHeading">
								<h4 class="panel-title">
									<a class="caretLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEmail" aria-expanded="false" aria-controls="collapseOne">
										<em class="fa fa-caret-right caretIcon"></em>&nbsp;
										<span th:text="#{html.heading.adsync.email}"></span>
									</a>
								</h4>
							</div>

							<div id="collapseEmail" class="panel-collapse collapse" role="tabpanel" aria-labelledby="emailHeading">
								<div class="panel-body">
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.sendErrorEmailFeatureEnabled}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="sendErrorEmailFeatureEnabled" th:checked="${settings.sendErrorEmailFeatureEnabled}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.emailConfig.errorEmail.title}, content=#{html.help.settings.client.adSync.emailConfig.errorEmail.body})}"></a>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.sendingUserEmail}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.sendingUserEmail}" id="sendingUserEmail">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.emailConfig.senderEmailAddress.title}, content=#{html.help.settings.client.adSync.emailConfig.senderEmailAddress.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.recipientEmail}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.recipientEmail}" id="recipientEmail">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.emailConfig.receiverEmailAddress.title}, content=#{html.help.settings.client.adSync.emailConfig.receiverEmailAddress.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.tenantId}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.tenantId}" id="tenantId">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.emailConfig.tenantId.title}, content=#{html.help.settings.client.adSync.emailConfig.tenantId.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.clientId}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.clientId}" id="clientId">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.emailConfig.clientId.title}, content=#{html.help.settings.client.adSync.emailConfig.clientId.body})}"></a>
									</div>
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.clientSecret}"></label>
										<div class="col-lg-7">
											<input class="form-control m-b" th:value="${settings.clientSecret}" id="clientSecret">
										</div>
										<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.emailConfig.clientSecret.title}, content=#{html.help.settings.client.adSync.emailConfig.clientSecret.body})}"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="generalHeading">
								<h4 class="panel-title">
									<a class="caretLink" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGeneral" aria-expanded="false" aria-controls="collapseOne">
										<em class="fa fa-caret-right caretIcon"></em>&nbsp;
										<span th:text="#{html.heading.adsync.general}"></span>
									</a>
								</h4>
							</div>

							<div id="collapseGeneral" class="panel-collapse collapse" role="tabpanel" aria-labelledby="generalHeading">
								<div class="panel-body">
									<div class="form-group row">
										<label class="col-lg-4 control-label" th:text="#{html.client.adsync.includeNotesInDescription}"></label>
										<div class="col-lg-1">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" id="includeNotesInDescription" th:checked="${settings.includeNotesInDescription}">
													<span class="fa fa-check"></span>
												</label>
												<a th:replace="~{fragments/help :: help (title=#{html.help.settings.client.adSync.general.includeAdNotes.title}, content=#{html.help.settings.client.adSync.general.includeAdNotes.body})}"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="text-align:right; padding: 15px;">
						<button class="btn btn-primary js-save-settings" th:text="#{html.control.button.save}"></button>
						<button class="btn btn-danger js-cancel" th:text="#{html.control.button.cancel}"></button>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- simple modal -->
<div class="modal fade bd-example-modal-lg" id="simpleModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="simpleModalTitle"></h4>
			</div>

			<div class="modal-body">
				<input id="simpleModalType" hidden>
				<div class="form-group row">
					<label class="col-lg-4 control-label" th:text="#{html.client.adsync.modal.simple.group}"></label>
					<div class="col-lg-8">
						<input class="form-control m-b simpleModalField" id="simpleModalGroup">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-4 control-label" th:text="#{html.client.adsync.modal.simple.attribute}"></label>
					<div class="col-lg-8">
						<input class="form-control m-b simpleModalField" id="simpleModalAttribute">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-4 control-label" id="simpleModalValueLabel"></label>
					<div class="col-lg-8">
						<input class="form-control m-b simpleModalField" id="simpleModalValue">
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary js-add-from-simple-modal" th:text="#{html.control.button.add}"></button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"></button>
			</div>
		</div>
	</div>
</div>

<!-- itsystem modal -->
<div class="modal fade bd-example-modal-lg" id="itSystemModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 th:text="#{html.client.adsync.modal.itsystem.title}"></h4>
			</div>

			<div class="modal-body">
				<input id="mapType" hidden>
				<div class="form-group row">
					<label class="col-lg-4 control-label" th:text="#{html.client.adsync.modal.itsystem.itsystem}"></label>
					<div class="col-lg-8">
						<select style="width:100%;" id="itSystemModalItSystem" class="form-control m-b itSystemModalField select2ItSystems">
							<option value="" text=""></option>
							<option th:each="option : ${itSystemList}" th:value="${option.id}" th:text="${option.text} + ' (id: ' + ${option.id} + ')'"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label id="ouDNLabel" class="col-lg-4 control-label" th:text="#{html.client.adsync.modal.itsystem.oudn}" hidden="hidden"></label>
					<label id="groupDNLabel" class="col-lg-4 control-label" th:text="#{html.client.adsync.modal.itsystem.groupdn}" hidden="hidden"></label>
					<div class="col-lg-8">
						<input class="form-control m-b itSystemModalField" id="itSystemModalDN">
					</div>
				</div>
				<br/>
				<b id="itSystemModalError" th:text="#{html.client.adsync.modal.error}" style="color:red;" hidden="hidden"></b>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary js-add-from-itsystem-modal" th:text="#{html.control.button.add}"></button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"></button>
			</div>
		</div>
	</div>
</div>

<!-- userRole modal -->
<div class="modal fade bd-example-modal-lg" id="systemAndUserRoleModal" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 th:text="#{html.client.adsync.modal.userRole.title}"></h4>
			</div>

			<div class="modal-body">
				<div class="form-group row">
					<label class="col-lg-4 control-label" th:text="#{html.client.adsync.modal.itsystem.itsystem}"></label>
					<div class="col-lg-8">
						<select style="width:100%;" id="systemAndUserRoleModalItSystem" class="form-control m-b systemAndUserRoleModalField select2ItSystems">
							<option value="" text=""></option>
							<option th:each="option : ${itSystemList}" th:value="${option.id}" th:text="${option.text} + ' (id: ' + ${option.id} + ')'"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-4 control-label" th:text="#{html.client.adsync.modal.userRole.role}"></label>
					<div class="col-lg-8">
						<select style="width:100%;" id="systemAndUserRoleModalRole" class="form-control m-b systemAndUserRoleModalField">
							<option value="" text=""></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-4 control-label" th:text="#{html.client.adsync.modal.userRole.groupdn}"></label>
					<div class="col-lg-8">
						<input class="form-control m-b systemAndUserRoleModalField" id="systemAndUserRoleModalDN">
					</div>
				</div>
				<br/>
				<b id="systemAndUserRoleModalError" th:text="#{html.client.adsync.modal.error}" style="color:red;" hidden="hidden"></b>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary js-add-from-system-role-modal" th:text="#{html.control.button.add}"></button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" th:text="#{html.control.button.cancel}"></button>
			</div>
		</div>
	</div>
</div>

<template id="itSystemGroupMappingRowTemplate">
	<tr>
		<td class="it-system-name"></td>
		<td class="role-name"></td>
		<td class="ad-group-name" title=""></td>
		<td><em class="fa fa-times list-delete-btn" style="cursor: pointer;"></em></td>
	</tr>
</template>

<template id="attributeMapRowTemplate">
	<tr>
		<td class="group-name"></td>
		<td class="attribute-name"></td>
		<td class="attribute-value"></td>
		<td><em class="fa fa-times list-delete-btn" style="cursor: pointer;"></em></td>
	</tr>
</template>

<template id="filterMapRowTemplate">
	<tr>
		<td class="group-name"></td>
		<td class="attribute-name"></td>
		<td class="filter-value"></td>
		<td><em class="fa fa-times list-delete-btn" style="cursor: pointer;"></em></td>
	</tr>
</template>

<template id="backSyncOURowTemplate">
	<tr>
		<td class="it-system-name"></td>
		<td class="ou-dn"></td>
		<td><em class="fa fa-times list-delete-btn" style="cursor: pointer;"></em></td>
	</tr>
</template>

<template id="readonlySystemMapRowTemplate">
	<tr>
		<td class="it-system-name"></td>
		<td class="group-dn"></td>
		<td><em class="fa fa-times list-delete-btn" style="cursor: pointer;"></em></td>
	</tr>
</template>

<div th:replace="~{fragments/footer :: footer}"></div>

<script id="adsync-config" type="application/json" th:if="${configured}" th:inline="javascript">
	{
		"clientId": [[${clientID}]],
		"settings": [[${settings}]],
		"swalTitle": [[#{html.client.adsync.swal.title}]],
		"swalBody": [[#{html.client.adsync.swal.body}]],
		"confirmText": [[#{html.client.adsync.swal.confirm}]],
		"cancelText": [[#{html.client.adsync.swal.cancel}]],
		"failMsg": [[#{html.client.adsync.update.fail}]],
		"successMsg": [[#{html.client.adsync.update.success}]],
		"modalHeaderAttribute": [[#{html.client.adsync.modal.simple.title.attribute}]],
		"modalHeaderFilter": [[#{html.client.adsync.modal.simple.title.filter}]],
		"modalValueLabelAttribute": [[#{html.client.adsync.modal.simple.value.attribute}]],
		"modalValueLabelFilter": [[#{html.client.adsync.modal.simple.value.filter}]],
		"url": [[@{/rest/client/adsyncservice/}]],
		"userRoleRestUrl": [[@{/rest/userroles/search}]],
		"userRoleBaseUrl": [[@{/rest/userroles/}]]
	}
</script>

<script src="/js/client/adsync.js"></script>
</body>
</html>
