<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
	<div class="wrapper">
		<header th:replace="~{fragments/navbar :: navbar-header (subpage = 'administration')}"></header>
		<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'clients.new', subpage = 'administration')}"></aside>
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.client.new.headline}"></h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal" id="client-form" th:action="@{/ui/client/new}" method="post" th:object="${client}">
									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.client.name}"></label>
										<div class="col-sm-8">
											<input th:field="*{name}" class="form-control" autofocus="autofocus" />
											<ul th:if="${#fields.hasErrors('name')}" class="error">
												<li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.client.apiKey}"></label>
										<div class="col-sm-8">
											<input th:field="*{apiKey}" class="form-control"/>
											<ul th:if="${#fields.hasErrors('apiKey')}" class="error">
												<li th:each="err : ${#fields.errors('apiKey')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.client.access}"></label>
										<div class="col-sm-8">
											<select class="form-control m-b" th:field="*{accessRole}">
												<option th:each="accessRole : ${accessRoles}" th:value="${accessRole}" th:text="#{${accessRole.messageId}}"></option>
											</select>
											<ul th:if="${#fields.hasErrors('accessRole')}" class="error">
												<li th:each="err : ${#fields.errors('accessRole')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2"  th:text="#{html.control.button.save}"></button>
											<a th:href="@{/ui/client/list}" style="margin-right: 5px;" class="btn btn-lg btn-danger col-xs-2" th:text="#{html.control.button.cancel}"></a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
