<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header (title=#{html.page.rolegroup.edit.title})}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{fragments/navbar :: navbar-header(subpage = 'roles')}"></header>
    <aside th:replace="~{fragments/navbar :: navbar-aside (page = 'rolegroups.list', subpage = 'roles')}"></aside>
    <section>
        <div class="content-wrapper">
            <h3>
                <a th:href="@{/ui/rolegroups/list}" class="btn btn-default">
                    <span><i class="fa fa-arrow-left"></i> </span>
                </a>
                <span th:text="#{html.page.rolegroup.edit.title}"></span>
            </h3>

            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <form class="form-horizontal" th:object="${rolegroup}">
                        <input th:field="*{id}" type="hidden"/>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{html.entity.rolegroup.name}"></label>
                                <div class="col-sm-8">
                                    <input th:field="*{name}" class="form-control" />
                                    <ul th:if="${#fields.hasErrors('name')}">
                                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                                    </ul>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{html.entity.rolegroup.description}"></label>
                                <div class="col-sm-8">
                                    <textarea th:field="${rolegroup.description}" class="form-control"></textarea>
                                </div>
                            </div>
                        </fieldset>

						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.role.flag.useronly}"></label>
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input class="useronly-checkbox" type="checkbox" data-flag="useronly" th:attr="checked=${rolegroup.userOnly}" />
											<span class="fa fa-check"></span>
										</label>
									</div>
								</div>

							</div>
						</fieldset>

						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.page.itsystem.edit.modal.oufilter.label}"></label>
								<div class="col-sm-8">
									<div class="checkbox c-checkbox">
										<label>
											<input id="ouFilterEnabled-checkbox" type="checkbox" th:attr="checked=${rolegroup.ouFilterEnabled}" />
											<span class="fa fa-check"></span>
										</label>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset id="ouFilterButtonField" hidden>
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8">
									<a id="ouFilterBtn" class="btn btn-lg btn-primary col-sm-2" th:text="#{html.page.itsystem.edit.modal.oufilter.title}"></a>
									<label th:if="${#lists.isEmpty(selectedFilterOUs)}" class="col-sm-8 pt-1" th:text="#{html.page.itsystem.edit.modal.oufilter.empty}"></label>
									<label th:if="${not #lists.isEmpty(selectedFilterOUs)}" class="col-sm-8 pt-1" th:text="#{html.page.itsystem.edit.modal.oufilter.not_empty(${#lists.size(selectedFilterOUs)})}"></label>
								</div>
							</div>
						</fieldset>

						<fieldset th:if="${@settingsService.isRequestApproveEnabled()}">
							<div class="form-group">

								<label class="col-sm-2 control-label"
									   th:text="#{html.entity.itsystem.requestersetting}"></label>
								<div class="col-sm-8">
									<select id="requesterSettingsSelect" class="form-control" multiple
											th:field="*{requesterPermission}"
											th:attr="data-groupid=${rolegroup.id}">
										<option th:each="requesterOpt : ${T(dk.digitalidentity.rc.rolerequest.model.enums.RequestableBy).values()}"
												th:value="${requesterOpt}"
												th:text="#{__${requesterOpt.getMessage()}__}"
												th:selected="${requesterPermission != null and #lists.contains(requesterPermission, requesterOpt)}"></option>
									</select>
								</div>
							</div>
							<div class="form-group mt-3" style="margin-top:1.5rem;">
								<label class="col-sm-2 control-label"
									   th:text="#{html.entity.itsystem.approversetting}"></label>
								<div class="col-sm-8">
									<select id="approverSettingsSelect" class="form-control" multiple
											th:field="*{approverPermission}"
											th:attr="data-groupid=${rolegroup.id}">
										<option th:each="approverOpt : ${T(dk.digitalidentity.rc.rolerequest.model.enums.ApprovableBy).values()}"
												th:value="${approverOpt}"
												th:text="#{__${approverOpt.getMessage()}__}"
												th:selected="${approverPermission != null and #lists.contains(approverPermission, approverOpt)}"></option>
									</select>
								</div>
							</div>
						</fieldset>
                    </form>

					<ul class="nav nav-tabs">
						<li th:class="active">
                           	<a data-toggle="tab" href="#roles_menu" th:text="#{html.page.rolegroup.list.roles}"></a>
                        </li>
                        <li>
                           	<a data-toggle="tab" href="#users_menu" th:text="#{html.page.users.list.title}"></a>
                        </li>
                        <li>
                          	<a data-toggle="tab" id="outab" href="#ous_menu" th:text="#{html.page.userroles.edit.tab.ous}"></a>
                       </li>
                    </ul>

                    <div class="tab-content">
						<div id="roles_menu" class="tab-pane fade in active">
		                    <table id="listTable" class="table table-striped table-hover listTable">
		                        <thead>
		                        <tr>
		                            <th class="col-md-1" th:text="#{html.entity.rolegroup.enabled}"></th>
		                            <th class="col-md-5" th:text="#{html.entity.rolegroup.name}"></th>
		                            <th class="col-md-3" th:text="#{html.entity.rolegroup.itsystem}"></th>
		                            <th class="col-md-3" th:text="#{html.entity.rolegroup.description}"></th>
		                        </tr>
		                        </thead>

		                        <tbody>
		                        <tr th:each="addRole : ${roles}" th:id="${addRole.role.id}+'row'">
									<td>
										<div>
											<div class="checkbox c-checkbox">
												<label>
													<input class="checkboxaction" th:id="${addRole.role.id}" type="checkbox"
															th:value="${rolegroup.id}" th:checked="${addRole.checked}" th:disabled="${addRole.role.itSystem.readonly}"
																data-objtype="role"/>
														<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
										<label th:id="${addRole.role.id}+'sortLabel'" style="display:none" th:text="${addRole.checked}"></label>
									</td>
		                            <td th:text="${addRole.role.name}"></td>
		                            <td th:text="${addRole.role.itSystem.name}"></td>
		                            <td class="preformat" th:text="${addRole.role.description}"></td>
		                        </tr>
		                        </tbody>
		                    </table>
						</div>

						<div id="users_menu" class="tab-pane fade">
						</div>

						<div id="ous_menu" class="tab-pane fade">
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>
</div>

	<!-- TODO: we need to add some styling that makes the datepickers show at the bottom and overflowing the modal
	The modal ou_roles_modal shows at the top-->
	<style>
		.table .checkbox {
			margin-left: 10px;
			width: auto;
		}
	</style>

	<div id="userRoleGroupModal"></div>
	<div id="ouRoleGroupModal"></div>
	<div id="ouRoleGroupEditModal"></div>
	<div th:replace="~{users/fragments/role_assignment_edit_modal :: roleAssignmentEditModal}"></div>
	<nav th:replace="~{fragments/footer :: footer}"></nav>

	<script th:replace="~{fragments/datatables :: datatables(orderColumnValue=1)}"></script>
	<script th:replace="~{fragments/assignDatePicker :: content}"></script>

	<script th:replace="~{ous/fragments/ou_roles_modal :: ouRolesModalScript(titlesEnabled=${titlesEnabled})}"></script>
	<script th:replace="~{users/fragments/role_assignment_edit_modal :: roleAssignmentEditModalScript(missingPostponedConstraintService = true)}"></script>
	<script th:replace="~{users/fragments/user_role_group_modal :: userRoleGroupModalScript}"></script>
<div th:replace="~{itsystem/fragments/ouFilterModal :: ou_filter_modal}"></div>
	<script th:src="@{/js/DatatableService.js}"></script>
	<script th:src="@{/js/service/RequestApproveService.js}"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/

        /*[+
        const url = [[@{/rest/rolegroups/}]];
        let roleName = [[${rolegroup.name}]];
        const fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
        const fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];

        const UIUrl = [[@{/ui/rolegroups/}]];
       	const userRestUrl = [[@{/rest/users/}]];
        const ouRestUrl = [[@{/rest/ous/}]];
        const ouFilterRestUrl = [[@{/rest/rolegroups/}]]

        //Delete role assignment swal
        const deleteRoleAssignmentTitleTxt = [[#{html.page.manage.roles.delete.title}]];
        const deleteRoleAssignmentBodyTxt = [[#{html.page.manage.roles.delete.body}]];
        const deleteRoleAssignmentErrorMessage = [[#{html.page.manage.roles.delete.error}]];

        const deleteAssignmentConfirmTxt = [[#{html.control.button.yes}]];
        const deleteAssignmentCancelTxt = [[#{html.control.button.cancel}]];

        let treeOUs = [[${treeOUs}]];
        let possibleFilterOus = [[${possibleFilterOus}]];
		let selectedFilterOUs = [[${selectedFilterOUs}]];
		const fieldNotUpdatedMsgOUFilter = [[#{html.entity.itsystem.notUpdatedMsgOUFilter}]];

        let roleId = [[${rolegroup.id}]];
        +]*/

        var token = $("meta[name='_csrf']").attr("content");

        let userService = new UserService();
        let rolesService = userService; // add alias as rolesService is needed in user_role_group_modal
        let orgUnitService = new OrgUnitService();
        let notificationService = new NotificationService();
		let requestApproveService = new RequestApproveService();
		let ouFilterService = new OUFilterService();
        let userRoleTable;
		let userroleTableService;

        $("document").ready( function() {
				userroleTableService = new UserroleTableService()
				userroleTableService.onDocumentReady()
				userroleTableService.initUserroleTable(roleId)

            userService.loadRolesFragment();
            // edit RoleGroup assignemnet on User modal
            userRoleEditModalService.parentService = userService;

            orgUnitService.loadRolesFragment();
            // edit RoleGroup assignmnet on OrgUnit modal
            commonService.parentService = orgUnitService;

            $("#name").change(handleChangeOnInput);
            $("#description").change(handleChangeOnInput);

            $('.useronly-checkbox').change(flagCheckboxChange);
            $('.useronly-checkbox').change(handleOUBtn);
            $('#requesterSettingsSelect').change(handleRoleGroupRequesterPermissionChange);
            $('#approverSettingsSelect').change(handleRoleGroupApproverPermissionChange);
			$("#requesterSettingsSelect, #approverSettingsSelect").select2({
				placeholder: "",
				allowClear: true,
				multiple: true
			});

			addCheckboxListeners();
			ouFilterService.init();

            });

            function handleChangeOnInput() {
                var objId = $("#id").val();
                var objName = $("#name").val();
                var objDescription = $("#description").val();

                var roleGroup = {
                    id: objId,
                    name: objName,
                    description: objDescription
                };

                $.ajax({
                    url: url + 'edit',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    data: roleGroup,
                    error: errorHandler(fieldNotUpdatedMsg),
                    success: function(response) {
                        notificationService.showInfoNotification(fieldUpdatedMsg);
                    }
                });
            };

            function getAjaxObject(urL, okMsg, errorMsg){
                return {
                    url: urL,
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    error: errorHandler(errorMsg),
                    success: function(response) {
                        notificationService.showInfoNotification(okMsg);
                    }
                }
            };

            function handleCheckboxChange() {
                var objType = String(this.dataset.objtype)
                if (this.checked) {
                    $.ajax(getAjaxObject(url + 'add' + objType + '/' + this.value + '/' + this.id,fieldUpdatedMsg, fieldNotUpdatedMsg));
                }
                else {
                    $.ajax(getAjaxObject(url + 'remove' + objType + '/' + this.value + '/' + this.id,fieldUpdatedMsg, fieldNotUpdatedMsg));
                }

                var label = $("#"+this.id+"sortLabel");
                label.text(this.checked);

            }

            function flagCheckboxChange() {
                var flag = String(this.dataset.flag);
                var updateUrl = url + "flag/" + roleId + "/" + flag;

                if (this.checked) {
                    updateUrl = updateUrl + "?active=true";
                }
                else {
                    updateUrl = updateUrl + "?active=false";
                }

                $.ajax({
                    url: updateUrl,
                    method: "POST",
                    headers: {
                        'X-CSRF-TOKEN': token
                    },
                    error: defaultErrorHandler,
                    success: function(response) {
                        notificationService.showInfoNotification(fieldUpdatedMsg);
                    }
                });
            }

            function handleOUBtn() {
                orgUnitService.loadRolesFragment();
            }

			function addCheckboxListeners() {
				$('.checkboxaction').off("change");
				$('.checkboxaction').change(handleCheckboxChange);
			}

        function UserService() {
            /*[+
            var userRestUrl = [[@{/rest/users/}]];
            var deleteRoleAssignmentTitleTxt = [[#{html.page.manage.roles.delete.title}]];
            var deleteRoleAssignmentBodyTxt = [[#{html.page.manage.roles.delete.body}]];
            var deleteRoleAssignmentErrorMessage = [[#{html.page.manage.roles.delete.error}]];
            var deleteRoleAssignmentSuccessMessage = [[#{html.page.manage.roles.delete.success}]];
            var yesBtnTxt = [[#{html.control.button.yes}]];
            var cancelBtnTxt = [[#{html.control.button.cancel}]];
            +]*/

            this.loadRolesFragment = function () {
                $("#users_menu").load(UIUrl + roleId + "/assignedUsersFragment?showEdit=true", function () {
                    fragShowDataTableFun('#listTableUsers', 0);
                });
            }

			// user_role_group_modal needs this method
            this.loadAddRoleGroupFragment = function () {
				this.loadAddUserRoleFragment();
			}

            this.loadAddUserRoleFragment = function () {
                $("#users_menu").load(UIUrl + roleId + "/availableUsersFragment", function () {
                    const columnDefOptions = [
						{
							targets: [0],
							data: 'name',
							render: (data, type, row, meta) => {
								if (type === 'display') {
									let html = '<div>'
									html += '<div>'
									html += `<span>${data}</span>`
									html += row.disabled ? `<span class="badge badge-warning">Deaktiveret</span>` : ''
									html += '</div>'
									html += row.isAlreadyAssigned ? `<div style="font-size: smaller; color: red;">Tildelt</div>` : ''
									html += '</div>'
									return html
								} else { return data; }
							}
						},
						{
							targets: [1],
							data: 'userId',
						},
						{
							targets: [2],
							data: 'positions',
							render: (data, type, row, meta) => {
								let html = '<ul style="list-style: none;">'
								for (const position of data) {
									html += `<li>${position.name} i ${position.orgUnit.name}</li>`
								}
								html += '</ul>'
								return html
							},
						},
						{
							targets: [3],
							data: 'uuid',
							orderable: false,
							searchable:false,
							sortable:false,
							render: (data, type, row, meta) => {
								return data ? `<a href="#"onclick="userService.addRoleGroup('${data}')"><em class="fa fa-plus"></em></a>` : null;
							},
						}

					]

                    const table = new DatatableService().initDefaultServersideTable('#listTableUsersAdd', `${userRestUrl}available/rolegroup/${roleId}`, columnDefOptions)

                    //focus the search field
                    const searchInput = table.table().container().querySelector('.dataTables_filter input')
                    searchInput.focus()
                });
            }

            this.deleteRoleAssignment = function(elem) {
                var parent = elem.parentElement;
                var assignmentId = parent.dataset.assignmentid;
                var user = parent.dataset.user;
                var type = parent.dataset.type;
                var roleName = parent.dataset.name;

                var endpoint = userRestUrl + user + '/removeassignment/ROLEGROUP/DIRECT/' + assignmentId;

                var titleTxt = deleteRoleAssignmentTitleTxt + '"' + roleName + '"';
                var bodyTxt = deleteRoleAssignmentBodyTxt;

                swal({
                    html: true,
                    title : titleTxt,
                    text : bodyTxt,
                    type : "warning",
                    showCancelButton : true,
                    confirmButtonColor : "#DD6B55",
                    confirmButtonText : yesBtnTxt,
                    cancelButtonText : cancelBtnTxt,
                    closeOnConfirm : true,
                    closeOnCancel : true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: endpoint,
                            method: "POST",
                            headers: {
                                'X-CSRF-TOKEN': token
                            },
                            error: errorHandler(deleteRoleAssignmentErrorMessage),
                            success: function(response) {
                                userService.loadRolesFragment();

                                notificationService.showInfoNotification(deleteRoleAssignmentSuccessMessage);
                            }
                        });
                    }
                });
            }

            this.editRoleAssignment = function (elem) {
                var parent = elem.parentElement;
                var assignmentId = parent.dataset.assignmentid;
                var startDate = parent.dataset.startdate;
                var stopDate = parent.dataset.stopdate;
                var user = parent.dataset.user;
                var type = 'ROLEGROUP';
                var orgUnit = parent.dataset.ouuuid;
                let caseNumber = parent.dataset.casenumber;

                // fetch possible orgUnits and call service
                $.ajax({
                    method: "GET",
                    url: userRestUrl + user + "/orgunits",
                    success: function (response) {
						userRoleEditModalService.showModal(user, startDate, stopDate, type, assignmentId, 'DIRECT', orgUnit, response, caseNumber, roleName);
                    }
                });
            }

            this.addRoleGroup = function (uuid) {
                $("#userRoleGroupModal").load(UIUrl + "fragments/" + uuid, function(){
                    var modalGroups = $("#modal-groups");
                    datePickerService.init();
                    roleGroupModalService.init();
                    roleGroupModalService.parentService = userService;

                    modalGroups.modal({
                        backdrop: 'static',
                        keyboard: false
                    });

                    $('#groupStopDatePicker').data("DateTimePicker").clear();
                    $('#groupStartDatePicker').data("DateTimePicker").clear();
                    $('#groupStartDatePicker').data("DateTimePicker").date(new Date());
                    $("#assignRoleGroupName").text(roleName);

                    modalGroups.attr("rolegroupid", roleId);
                    modalGroups.attr("userUuid", uuid);
                });
            }
        }

        function OrgUnitService() {
            /*[+
            var ouRestUrl = [[@{/rest/ous/}]];
            var deleteRoleAssignmentTitleTxt = [[#{html.page.manage.roles.delete.title}]];
            var deleteRoleAssignmentBodyTxt = [[#{html.page.manage.roles.delete.body}]];
            var deleteRoleAssignmentErrorMessage = [[#{html.page.manage.roles.delete.error}]];
            var deleteRoleAssignmentSuccessMessage = [[#{html.page.manage.roles.delete.success}]];
            var yesBtnTxt = [[#{html.control.button.yes}]];
            var cancelBtnTxt = [[#{html.control.button.cancel}]];
            +]*/

            this.loadRolesFragment = function () {
                $("#ous_menu").load(UIUrl + roleId + "/assignedOrgUnitsFragment?showEdit=true", function () {
                    fragShowDataTableFun('#listTableOus', 0);
                });
            }

            this.loadAddRoleGroupFragment = function () {
                $("#ous_menu").load(UIUrl + roleId + "/availableOrgUnitsFragment", function () {
                    fragShowDataTableFun('#listTableOusAdd', 0);
                });
            }

            this.deleteRoleAssignment = function(elem) {
                var parent = elem.parentElement;
                var assignmentId = parent.dataset.assignmentid;
                var type = parent.dataset.type;
                var ou = parent.dataset.orgunit;
                var roleName = parent.dataset.name;

                var endpoint = ouRestUrl + ou + '/removeassignment/ROLEGROUP/' + assignmentId;

                var titleTxt = deleteRoleAssignmentTitleTxt + '"' + roleName + '"';
                var bodyTxt = deleteRoleAssignmentBodyTxt;

                swal({
                    html: true,
                    title : titleTxt,
                    text : bodyTxt,
                    type : "warning",
                    showCancelButton : true,
                    confirmButtonColor : "#DD6B55",
                    confirmButtonText : yesBtnTxt,
                    cancelButtonText : cancelBtnTxt,
                    closeOnConfirm : true,
                    closeOnCancel : true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: endpoint,
                            method: "POST",
                            headers: {
                                'X-CSRF-TOKEN': token
                            },
                            error: errorHandler(deleteRoleAssignmentErrorMessage),
                            success: function(response) {
                                orgUnitService.loadRolesFragment();

                                notificationService.showInfoNotification(deleteRoleAssignmentSuccessMessage);
                            }
                        });
                    }
                });
            }

            this.editRoleAssignment = function (elem) {
                let parent = elem.parentElement;
                let startDate = parent.dataset.startdate;
                let stopDate = parent.dataset.stopdate;
                let assignmentType = parent.dataset.assignmenttype;
                let assignmentId = parent.dataset.assignmentid;
                let ou = parent.dataset.orgunit;

                $("#ouRoleGroupEditModal").load(UIUrl + "fragments/ou/" + ou + "?edit=true", function() {
                    datePickerService.init();
                    commonService.init();

                    ouRolesEditModalService.assignmentId = assignmentId;
                    ouRolesEditModalService.ouUuid = ou;
                    ouRolesEditModalService.roleType = 'rolegroup';
                    ouRolesEditModalService.roleId = roleId; //get current roleGroup id
                    ouRolesEditModalService.inherit = (assignmentType == -2);

					ouRolesEditModalService.showAssignModal(titlesEnabled, startDate, stopDate, assignmentType, assignmentId, roleName);
                });
            }

            this.addRoleAssignment = function (elem) {
                ouRolesModalService.roleType = 'rolegroup';
                ouRolesModalService.roleId = roleId;
                ouRolesModalService.ouUuid = elem.dataset.orgunit;

                $("#ouRoleGroupModal").load(UIUrl + "fragments/ou/" + ouRolesModalService.ouUuid, function() {
                    datePickerService.init();
                    commonService.init();
                    commonService.parentService = orgUnitService;

					ouRolesModalService.showAssignModal(titlesEnabled, null, null, roleName);
                });
            }
        }

        function NotificationService() {
            this.showInfoNotification = function(message) {
                $.notify({
                    message: message,
                    status: 'success',
                    timeout: 2000
                });
            }

            this.showWarnNotification = function(message) {
                $.notify({
                    message: message,
                    status: 'warning',
                    timeout: 3000
                });
            }

            this.showErrorNotification = function(message) {
                $.notify({
                    message: message,
                    status: 'danger',
                    timeout: 4000
                });
            }
        }

        async function handleRoleGroupRequesterPermissionChange() {
            const groupId = String(this.dataset.groupid);
			const selectedValues = Array.from(this.selectedOptions).map(option => option.value);
			requestApproveService.handleRequesterRestrictions();

			var updateUrl = url +  groupId + "/requester";

            const response = await fetch(updateUrl, {
                method: "POST",
                headers: {
                    'X-CSRF-TOKEN': token,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'requesterPermission': selectedValues
                })
            })

            if (!response.ok) {
                defaultErrorHandler(response)
            }

            $.notify({
                message: fieldUpdatedMsg
            },{
                status: 'success',
                autoHideDelay: 4000
            });
        }

        async function handleRoleGroupApproverPermissionChange() {
            const groupId = String(this.dataset.groupid);
			const selectedValues = Array.from(this.selectedOptions).map(option => option.value);

			var updateUrl = url +  groupId + "/approver";
			requestApproveService.handleApproverRestrictions();

            const response = await fetch(updateUrl, {
                method: "POST",
                headers: {
                    'X-CSRF-TOKEN': token,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'approverPermission': selectedValues
                })
            })

            if (!response.ok) {
                defaultErrorHandler(response)
            }

            $.notify({
                message: fieldUpdatedMsg
            },{
                status: 'success',
                autoHideDelay: 4000
            });
        }



			class UserroleTableService {
				constructor(){}

				onDocumentReady () {
					$('#listTable').on( 'draw.dt', function () {
						addCheckboxListeners();
					});
				}

				initUserroleTable (rolegroupId) {
					const columnDefOptions = [
						{
							targets: [0],
							data: 'selected',
							orderable: true,
							searchable:false,
							render: (data, type, row, meta) => {
								if (type === 'display') {
									return '<div class="checkbox c-checkbox"> '+
									'<label>'+
									`<input class="checkboxaction" id="${row.compositeKey.id}" type="checkbox" `+
									`value="${rolegroupId}" `+ `${row.selected ? 'checked ' : ''}` + `${row.readOnly ? 'disabled ' : ''}` +
									'data-objtype="role"/> '+
									'<span class="fa fa-check"></span> '+
									'</label>'+
									'</div>'
								} else { return data; }
							}
						},
						{
							targets: [1],
							data: 'name',
						},
						{
							targets: [2],
							data: 'itSystemName',
						},
						{
							targets: [3],
							data: 'description',
							className: "preformat"
						}
					]

					userRoleTable = new DatatableService().initDefaultServersideTable('#listTable', `${url}${rolegroupId}/userroles`, columnDefOptions)
					addCheckboxListeners();
					return userRoleTable
				}
			}

		function OUFilterService() {
			this.init = function() {
				$("#ouFilterEnabled-checkbox").change(ouFilterService.handleOUFilterCheckbox)
				$("#ouFilterBtn").click(ouFilterService.handleOUFilterBtnClick);
				$("#oufilterSave").click(ouFilterService.saveOUs);

				$('#modal-ou-filter').on('shown.bs.modal', function() {
					$('#ou-filter-tree-search').focus();
				})

				ouFilterService.toggleOUFilter();

				// JSTree stuff

				$("#ou-filter-tree").jstree({
					"core": {
						"data": treeOUs,
						"themes": {
							"icons": false
						}
					},
					"search" : {
						"show_only_matches": true,
						"search_callback": function(str, node) {
							return (node.text.toUpperCase().startsWith(str.toUpperCase()));
						}
					},
					"checkbox" : {
						"keep_selected_style" : false,
						"three_state": false,
						"cascade": "undefined"
					},
					"plugins" : [
						"checkbox", "search"
					]
				});

				// deactivate nodes except for possibleFilterOus and their descendants
				$('#ou-filter-tree').on("ready.jstree", function(e, data) {
					let treeInstance = $('#ou-filter-tree').jstree(true);

					treeInstance.get_json('#', { flat: true }).forEach(function(node) {
						if (possibleFilterOus != null && !possibleFilterOus.includes(node.id)) {
							treeInstance.disable_node(node.id);
						}
					});

					// Select nodes if needed
					treeInstance.select_node(selectedFilterOUs);
				});

				// searching in the JSTree
				let to = false;
				$('#ou-filter-tree-search').keyup(function() {
					if (to) {
						clearTimeout(to);
					}

					to = setTimeout(function() {
						let v = $('#ou-filter-tree-search').val();

						$('#ou-filter-tree').jstree(true).search(v);
					}, 400);
				});
			}

			this.handleOUFilterBtnClick = function() {
				$("#modal-ou-filter").modal("show");
			}

			this.handleOUFilterCheckbox = function(initial) {
				let checked = $("#ouFilterEnabled-checkbox").prop("checked");

				$.ajax({
					url: '/rest/rolegroups/ouFilterEnabled',
					method: 'POST',
					data: {
						'ouFilterEnabled': checked,
						'id': roleId
					},
					headers: {
						'X-CSRF-TOKEN': token
					},
					error: errorHandler(fieldNotUpdatedMsgOUFilter),
					success: function(response) {
						$.notify({
							message: fieldUpdatedMsg
						},{
							status: 'success',
							autoHideDelay: 2000
						});
					}
				});

				ouFilterService.toggleOUFilter();
			}

			this.toggleOUFilter = function() {
				let checked = $("#ouFilterEnabled-checkbox").prop("checked");

				// hide/ show
				if (checked) {
					$('#ouFilterButtonField').show();
				} else {
					$('#ouFilterButtonField').hide();
				}
			}

			this.saveOUs = function() {
				let selected = $('#ou-filter-tree').jstree(true).get_selected();
				$.ajax({
					url: ouFilterRestUrl + "oufilter",
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token,
						'Content-Type': 'application/json'
					},
					data: JSON.stringify({
						'id': roleId,
						'selectedOUs': selected
					}),
					error: defaultErrorHandler,
					success: function(response) {
						$("#modal-ou-filter").modal("hide");
						location.reload();
					}
				});
			}
		}
        /*]]>*/
	</script>
</body>
</html>
