<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.rolegroup.edit.title})" />
<body>
<div class="wrapper">
    <header th:replace="fragments/navbar :: navbar-header" />
    <aside th:replace="fragments/navbar :: navbar-aside (page = 'rolegroups.list')" />
    <section>
        <div class="content-wrapper">
            <h3>
                <a th:href="@{/ui/rolegroups/list}" class="btn btn-default">
                    <span><i class="fa fa-arrow-left"></i> </span>
                </a>
                <span th:text="#{html.page.rolegroup.edit.title}"/>
            </h3>

            <div class="panel panel-default">
                <div class="panel-heading"/>
                <div class="panel-body">
                    <form class="form-horizontal" th:object="${rolegroup}">
                        <input th:field="*{id}" type="hidden"/>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{html.entity.rolegroup.name}"/>
                                <div class="col-sm-8">
                                    <input th:field="*{name}" class="form-control" />
                                    <ul th:if="${#fields.hasErrors('name')}">
                                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                    </ul>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" th:text="#{html.entity.rolegroup.description}"/>
                                <div class="col-sm-8">
                                    <textarea th:field="${rolegroup.description}" class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                        
						<fieldset>
							<div class="form-group">
								<label class="col-sm-2 control-label" th:text="#{html.role.flag.useronly}" />
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input class="useronly-checkbox" type="checkbox" data-flag="useronly" th:attr="checked=${rolegroup.userOnly}" />
											<span class="fa fa-check"></span>
										</label>
									</div>
								</div>
								
								<label class="col-sm-2 control-label" th:text="#{html.role.flag.canrequest}" />
								<div class="col-sm-1">
									<div class="checkbox c-checkbox">
										<label>
											<input class="canrequest-checkbox" type="checkbox" data-flag="canrequest" th:attr="checked=${rolegroup.canRequest}" />
											<span class="fa fa-check"></span>
										</label>
									</div>
								</div>
							</div>
						</fieldset>
                    </form>
					
					<ul class="nav nav-tabs">
						<li th:class="active">
                           	<a data-toggle="tab" href="#roles_menu" th:text="#{html.entity.userrole.roleassignments}"/>
                        </li>
                        <li>
                           	<a data-toggle="tab" href="#users_menu" th:text="#{html.page.users.list.title}"/>
                        </li>
                        <li>
                          	<a data-toggle="tab" id="outab" href="#ous_menu" th:text="#{html.page.userroles.edit.tab.ous}"/>
                       </li>
                    </ul>
                    
                    <div class="tab-content">
						<div id="roles_menu" class="tab-pane fade in active">
		                    <table id="listTable" class="table table-striped table-hover listTable">
		                        <thead>
		                        <tr>
		                            <th class="col-md-1" th:text="#{html.entity.rolegroup.enabled}"/>
		                            <th class="col-md-5" th:text="#{html.entity.rolegroup.name}"/>
		                            <th class="col-md-3" th:text="#{html.entity.rolegroup.itsystem}"/>
		                            <th class="col-md-3" th:text="#{html.entity.rolegroup.description}"/>
		                        </tr>
		                        </thead>
		
		                        <tbody>
		                        <tr th:each="addRole : ${roles}" th:id="${addRole.role.id}+'row'">
									<td>
										<div>
											<div class="checkbox c-checkbox">
												<label>
													<input class="checkboxaction" th:id="${addRole.role.id}" type="checkbox"
															th:value="${rolegroup.id}" th:checked="${addRole.checked}" th:disabled="${addRole.role.itSystem.readonly}"
																data-objtype="role"/>
														<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
										<label th:id="${addRole.role.id}+'sortLabel'" style="display:none" th:text="${addRole.checked}"/>
									</td>
		                            <td th:text="${addRole.role.name}"/>
		                            <td th:text="${addRole.role.itSystem.name}"/>
		                            <td th:text="${addRole.role.description}"/>
		                        </tr>
		                        </tbody>
		                    </table>
						</div>
						
						<div id="users_menu" class="tab-pane fade">
							<table id="listTable1" class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-1" th:text="#{html.entity.positions.assign}" />
										<th class="col-md-4" th:text="#{html.entity.user.name}" />
										<th class="col-md-7" th:text="#{html.entity.user.userId}" />
									</tr>
								</thead>

								<tbody>
									 <tr th:each="user : ${users}" th:id="${user.uuid}+'groupRow'">
										<td>
											<div class="checkbox c-checkbox">
	                                            <label>
	                                                <input class="checkbox-groups" th:id="${user.uuid}"
	                                                       type="checkbox" th:value="${rolegroup.id}" data-objtype="role" th:checked="${user.checked}"/>
	                                                <span class="fa fa-check"></span>
	                                            </label>
	                                        </div>
										</td>
										<td th:text="${user.name}" />
										<td th:text="${user.userId}" />
									</tr>
								</tbody>
							</table>
						</div>
						
						<div id="ous_menu" class="tab-pane fade">
							<table id="listTable2" class="table table-striped listTable">
								<thead>
									<tr>
										<th class="col-md-1" th:text="#{html.entity.positions.assign}" />
										<th class="col-md-6" th:text="#{html.entity.ou.name}" />
										<th class="col-md-5" th:text="#{html.entity.rolegroup.validity}"/>
									</tr>
								</thead>

								<tbody>
									 <tr th:each="ou : ${allOUs}" th:id="${ou.uuid}+'row'">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input th:id="${ou.uuid}" type="checkbox" th:checked="${ou.checked}" class="oucheckboxaction" data-objtype="rolegroup" th:attr="data-startdate=${ou.assignment.startDate}, data-stopdate=${ou.assignment.stopDate}"/>
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>
										<td>
											<div th:text="${ou.name}"></div>
											<span style="font-size: 12px;" th:text="${ou.parentBreadcrumbs}"></span>
										</td>
										
										<td class="fromToDate">
	                                    	<ul th:if="${ou.assignment.startDate != null or ou.assignment.stopDate != null}" style="padding-left: 0px; list-style-type: none;">
		                                    	<li th:if="${ou.assignment.startDate != null}" th:text="#{html.word.assigned} + ' ' + ${ou.assignment.startDate}"></li>
		                                    	<li th:if="${ou.assignment.stopDate != null}" th:text="#{html.word.deassigned} + ' ' + ${ou.assignment.stopDate}"></li>
	                                    	</ul>
	                                    	<span th:if="${ou.checked == true and ou.assignment.startDate == null and ou.assignment.stopDate == null}" th:text="#{html.word.indefinite}"/>
	                                    </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="userRoleGroupModal"></div>
<div id="ouRoleGroupModal"></div>

	<!-- TODO: we need to add some styling that makes the datepickers show at the bottom and overflowing the modal 
	The modal ou_roles_modal shows at the top-->
	<style>
		.table .checkbox {
			margin-left: 10px;
			width: auto;
		}
	</style>

	<nav th:replace="fragments/footer :: footer"/>
	<div id="ouScript"></div>
	<script th:replace="ous/fragments/ou_roles_modal :: ouRoleGroupModalScript(titlesEnabled=${titlesEnabled})" />
	<script th:replace="fragments/datatables :: datatables(orderColumnValue=1) " />
	<script th:replace="users/fragments/user_role_group_modal :: userRoleGroupModalScript(listTable='listTable1', page='role')"/>
	<script th:replace="fragments/assignDatePicker :: content " />

	<script th:inline="javascript">
		/*<![CDATA[*/
			
			/*[+
				var url = [[@{/rest/rolegroups/}]];
				var roleId = [[${rolegroup.id}]];
				var fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
				var fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];

				var UIUrl = [[@{/ui/rolegroups/}]]
				var urlUsers = [[@{/rest/users/}]];
				var urlOUs = [[@{/rest/ous/}]];
				
				var stillAssignedThroughTitleMsg = [[#{html.user.role.stillassigned.title}]];
				var stillAssignedThroughOUMsg = [[#{html.user.role.stillassigned.ou}]];
				var stillAssignedThroughRoleGroupMsg = [[#{html.user.role.stillassigned.rolegroup}]];
				var alreadyAssignedThroughTitleMsg = [[#{html.user.role.alreadyassigned.title}]];
				var alreadyAssignedThroughOUMsg = [[#{html.user.role.alreadyassigned.ou}]];
				var alreadyAssignedThroughRoleGroupMsg = [[#{html.user.role.alreadyassigned.rolegroup}]];
				
				var titlesEnabled = [[${titlesEnabled}]];
				var roleId = [[${rolegroup.id}]];
			+]*/

			var token = $("meta[name='_csrf']").attr("content");
			
			var userService;
			var unitService;
			var notificationService;
			$("document").ready( function() {
				userService = new UserService();
				unitService = new UnitService();
				notificationService = new NotificationService();
				
				
				userService.addCheckboxListeners();
				$('#listTable1').on( 'draw.dt', function () {
					userService.addCheckboxListeners();
				});
					
				$("#name").change(handleChangeOnInput);
				$("#description").change(handleChangeOnInput);
				
				$('.useronly-checkbox').change(flagCheckboxChange);
				$('.canrequest-checkbox').change(flagCheckboxChange);
				
				function addCheckboxListeners() {
					$('.checkboxaction').off("change");
					$('.checkboxaction').change(handleCheckboxChange);
				}

				addCheckboxListeners();

				$('#listTable').on( 'draw.dt', function () {
					addCheckboxListeners();
				});
				
				unitService.addCheckboxListeners();
				$('#listTable2').on( 'draw.dt', function () {
					unitService.addCheckboxListeners();
				});

				function handleChangeOnInput() {
					var objId = $("#id").val();
					var objName = $("#name").val();
					var objDescription = $("#description").val();
					
					var roleGroup = {
						id: objId,
						name: objName,
						description: objDescription
					};

					$.ajax({
						url: url + 'edit',
						method: 'POST',
				        headers: {
				            'X-CSRF-TOKEN': token
				        },
						data: roleGroup,
						error: function(response) {
		    				$.notify({
		    					message: fieldNotUpdatedMsg
		    				},{
		    					status: 'danger',
		    					autoHideDelay: 4000
		    				});
		    			},
		    			success: function(response) {
		    				$.notify({
		    					message: fieldUpdatedMsg
		    				},{
		    					status: 'success',
		    					autoHideDelay: 2000
		    				});
		    			}
					});
				};

				function getAjaxObject(urL, okMsg, errorMsg){
		    		return {
		    			url: urL,
						method: 'POST',
				        headers: {
				            'X-CSRF-TOKEN': token
				        },
		    			error: function(response) {
		    				$.notify({
		    					message: errorMsg
		    				},{
		    					status: 'danger',
		    					autoHideDelay: 4000
		    				});
		    			},
		    			success: function(response) {
		    				$.notify({
		    					message: okMsg
		    				},{
		    					status: 'success',
		    					autoHideDelay: 2000
		    				});
		    			}
		    		}
		    	};

				function handleCheckboxChange() {		
					var objType = String(this.dataset.objtype)
					if (this.checked) {
						$.ajax(getAjaxObject(url + 'add' + objType + '/' + this.value + '/' + this.id,fieldUpdatedMsg, fieldNotUpdatedMsg));
					}
					else {
						$.ajax(getAjaxObject(url + 'remove' + objType + '/' + this.value + '/' + this.id,fieldUpdatedMsg, fieldNotUpdatedMsg));
					}
					
					var label = $("#"+this.id+"sortLabel");
					label.text(this.checked);
					$("#listTable").dataTable().api().row("#"+this.id+"row").invalidate('dom').draw();
				}
				
				function flagCheckboxChange() {
					var flag = String(this.dataset.flag);
					var updateUrl = url + "flag/" + roleId + "/" + flag;

					if (this.checked) {
						updateUrl = updateUrl + "?active=true";
					}
					else {
						updateUrl = updateUrl + "?active=false";
					}
					
					$.ajax({
						url: updateUrl,
						method: "POST",
						headers: {
							'X-CSRF-TOKEN': token
						},
						error: function(response) {
							$.notify({
								message: response.responseText
							}, {
								status: 'danger',
								autoHideDelay: 4000
							});
						},
						success: function(response) {	
							$.notify({
								message: fieldUpdatedMsg
							}, {
								status: 'success',
								autoHideDelay: 2000
							});
						}
					});
				}
			});
			
		
			
			function UserService() {
				
				this.addCheckboxListeners = function(){
					$('.checkbox-groups').off( "change" );
					$('.checkbox-groups').change(userService.groupCheckboxChanged);	
				}
				
				function checkUserAssignmentsBeforePerform(objType, roleId, userUuid, checked, successFunction) {
					var endpoint = urlUsers + 'assignedStatus/' + objType + '/' + userUuid + '/' + roleId;
					
					$.ajax({
						url: endpoint,
						method: "GET",
						error: function(response) {
							notificationService.showErrorNotification(fieldNotUpdatedMsg);
						},
						success : function(response) {
							var alreadyAssignedThroughOu = response.alreadyAssignedThroughOu;
							var alreadyAssignedThroughRoleGroup = response.alreadyAssignedThroughRoleGroup;
							var alreadyAssignedThroughTitle = response.alreadyAssignedThroughTitle;
							
							successFunction(roleId, userUuid, checked, alreadyAssignedThroughOu, alreadyAssignedThroughRoleGroup, alreadyAssignedThroughTitle);
						}
					});
				}
				
				this.groupCheckboxChanged = function() {
					var chosenCheckbox = $(this);
					var groupId = $(this).val();
					var userUuid = this.id;
					var checked = this.checked;
					var table = $("#listTable1");
					table.dataTable().api().row("#"+userUuid+"groupRow").invalidate('dom').draw();

					checkUserAssignmentsBeforePerform("rolegroup", groupId, userUuid, checked, function(groupId, userUuid, checked, alreadyAssignedThroughOu, alreadyAssignedThroughRoleGroup) {
						var optionalSuccessMessage;

						if (!checked) {
							if (alreadyAssignedThroughOu) {
								optionalSuccessMessage = stillAssignedThroughOUMsg;
							}
							else if (alreadyAssignedThroughRoleGroup) {
								optionalSuccessMessage = stillAssignedThroughRoleGroupMsg;
							}
			
							var endpoint = urlUsers + userUuid + '/removegroup/' + groupId;
							
							userService.removeRoleAssignment(endpoint, optionalSuccessMessage, chosenCheckbox);
						}
						else {
							$("#userRoleGroupModal").load(UIUrl + "fragments/" + userUuid, function(){
								var modalGroups = $("#modal-groups");
								datePickerService.init();
								roleGroupModalService.init();
								modalGroups.modal({
								    backdrop: 'static',
								    keyboard: false
								});
	
								$('#groupStopDatePicker').data("DateTimePicker").clear();
								$('#groupStartDatePicker').data("DateTimePicker").clear();
								$('#groupStartDatePicker').data("DateTimePicker").date(new Date());
	
								modalGroups.attr("rolegroupid", groupId);
								modalGroups.attr("userUuid", userUuid);
								
								if (alreadyAssignedThroughOu) {
									$('#modal-groups-alert').text(alreadyAssignedThroughOUMsg);
									$('#modal-groups-alert').show();
								}
								else if (alreadyAssignedThroughRoleGroup) {
									$('#modal-groups-alert').text(alreadyAssignedThroughOUMsg);
									$('#modal-groups-alert').show();
								}
								else {
									$('#modal-groups-alert').text('');
									$('#modal-groups-alert').hide();
								}
							});
						}
					});
				}
				
				this.removeRoleAssignment = function(endpoint, optionalSuccessMessage, chosenCheckbox) {
					$.ajax({
						url: endpoint,
						method: "POST",
						headers: {
							'X-CSRF-TOKEN': token
						},
						error : function(response) {
							notificationService.showErrorNotification(fieldNotUpdatedMsg);
						},
						success : function(response) {
							if (optionalSuccessMessage) {
								notificationService.showWarnNotification(optionalSuccessMessage);
							}
							else {
								notificationService.showInfoNotification(fieldUpdatedMsg);
							}
							var tr = chosenCheckbox.parents("tr");
							tr.find(".fromToDate").html('');
						}
					});
				}
			}
			
			function UnitService() {
				this.addCheckboxListeners = function() {
					$('.oucheckboxaction').off("change");
					$('.oucheckboxaction').change(unitService.handleCheckbox);
				}
				
				this.handleCheckbox = function() {
					var checked = !this.checked;
					var startDate = this.dataset.startDate;
					var stopDate = this.dataset.stopDate;
					
					payload.roleType = String(this.dataset.objtype);
					payload.roleId = roleId;
					payload.checkboxRef = this;
					payload.ouUuid = this.id;
					
					$("#ouRoleGroupModal").load(UIUrl + "fragments/ou/" + payload.ouUuid, function(){
						datePickerService.init();
						ouRolesModalService.init();
						
						if (titlesEnabled) {
							ouRolesModalService.loadTitles(true);
							setTimeout(function() {
								ouRolesModalService.showAssignModal(titlesEnabled, checked, null, startDate, stopDate);
							}, 100);
						}
						else {
							ouRolesModalService.showAssignModal(titlesEnabled, checked, null, startDate, stopDate);
						}
					});
				}
			}
			
			function NotificationService() {
				this.showInfoNotification = function(message) {
					$.notify({
						message: message,
						status: 'success',
						timeout: 2000
					});
				}
				
				this.showWarnNotification = function(message) {
					$.notify({
						message: message,
						status: 'warning',
						timeout: 3000
					});
				}

				this.showErrorNotification = function(message) {
					$.notify({
						message: message,
						status: 'danger',
						timeout: 4000
					});
				}
			}
		/*]]>*/
	</script>
</body>
</html>
