<th:block th:fragment="autocompleteServiceScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/

		/*[+
			var autocompleteUrl = [[@{/rest/manager/substitute}]];
			var searchFieldIds = [[${searchFieldIds}]];
			var uuidFieldIds = [[${uuidFieldIds}]];
		+]*/

		var autoCompleteService;
		$(document).ready(function() {
			autoCompleteService = new AutoCompleteService();
			autoCompleteService.init();
		});

		function AutoCompleteService() {
			this.init = function() {
				for (let index = 0; index < searchFieldIds.length; ++index) {
					var searchField = $("#" + searchFieldIds[index]);
	
					searchField.autocomplete({
						serviceUrl: autocompleteUrl + "/search/person",
						onSelect: function(suggestion) {
							$(this).val(suggestion.value);
	
							$("#" + uuidFieldIds[index]).val(suggestion.data);
							$("#" + uuidFieldIds[index]).trigger("change");
						},
						preventBadQueries: true,
						triggerSelectOnValidInput: false,
						transformResult: function(response) {
							// filter results to not show manager
							var responseObject = $.parseJSON(response);
							if (!responseObject || responseObject == null) {
								return {
									suggestions: []
								}
							}
	
							return {
								suggestions: responseObject.suggestions
							};
						}
					});
				}
			};

		}

		/*]]>*/

	</script>
</th:block>