<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header (title=#{html.page.users.list.title})}"></head>
<body class="layout-fixed">
	<div class="wrapper">
		<header th:replace="~{fragments/navbar :: navbar-header(subpage = 'roles')}"></header>
		<aside th:replace="~{fragments/navbar :: navbar-aside (page = 'users', subpage = 'roles')}"></aside>

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<button sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:if="${@roleCatalogueConfiguration.getIntegrations().getKspcics().isEnabled() == true}" class="js-run-cics btn btn-primary" style="margin-bottom: 20px;" th:text="#{html.page.users.list.loadCics.btn}"></button>
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-3" th:text="#{html.entity.user.name}"></th>
										<th class="col-md-1" th:text="#{html.entity.user.userId}"></th>
										<th class="col-md-1" th:text="#{html.entity.user.domain}"></th>
										<th class="col-md-7" th:text="#{html.entity.user.positions}"></th>
										<th class="col-md-1" th:text="#{html.control.operations}"></th>
									</tr>
								</thead>

								<tbody>

								</tbody>

								<tfoot>
									<tr >
										<th class="input-filter"></th>
										<th class="input-filter"></th>
										<th class="input-filter"></th>
										<th class="input-filter"></th>
										<th>&nbsp;</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="~{fragments/footer :: footer}"></nav>

	<script type="application/json" th:inline="javascript" id="users-list-config">
		{
			"baseUrl": [[@{/}]],
			"restUrl": [[@{/rest/users/}]],
			"searchTxt": [[#{html.datatables.search}]],
			"dropdownTxt": [[#{html.datatables.dropdown}]],
			"infoDefaultTxt": [[#{html.datatables.info.default}]],
			"infoEmptyTxt": [[#{html.datatables.info.empty}]],
			"infoLoadingTxt": [[#{html.datatables.info.loading}]],
			"infoFilteredTxt": [[#{html.datatables.info.filtered}]],
			"cicsErrorMsg": [[#{html.default.message.error}]],
			"cicsSuccessMsg": [[#{html.page.users.list.loadCics.success}]],
			"multipleDomains": [[${multipleDomains}]]
		}
	</script>
	<script th:src="@{/js/users/list.js}"></script>
</body>
</html>
