<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.users.list.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header(subpage = 'roles')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'users', subpage = 'roles')" />

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<button sec:authorize="hasRole('ROLE_ADMINISTRATOR')" th:if="${@roleCatalogueConfiguration.getIntegrations().getKspcics().isEnabled() == true}" onclick="userService.runCics();" class="btn btn-primary" style="margin-bottom: 20px;" th:text="#{html.page.users.list.loadCics.btn}"></button>
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="col-md-3" th:text="#{html.entity.user.name}" />
										<th class="col-md-1" th:text="#{html.entity.user.userId}" />
										<th class="col-md-7" th:text="#{html.entity.user.positions}" />
										<th class="col-md-1" th:text="#{html.control.operations}" />
									</tr>
								</thead>

								<tbody>

								</tbody>

								<tfoot>
									<tr >
										<th class="input-filter"></th>
										<th class="input-filter"></th>
										<th class="input-filter"></th>
										<th>&nbsp;</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />

	<script th:inline="javascript">
		/*<![CDATA[*/
			var token = $("meta[name='_csrf']").attr("content");

			/*[+
                var baseUrl = [[@{/}]];
				var searchTxt = [[#{html.datatables.search}]];
				var dropdownTxt = [[#{html.datatables.dropdown}]];
				var infoDefaultTxt = [[#{html.datatables.info.default}]];
				var infoEmptyTxt = [[#{html.datatables.info.empty}]];
				var infoLoadingTxt = [[#{html.datatables.info.loading}]];
				var infoFilteredTxt = [[#{html.datatables.info.filtered}]]; 
				var ajaxUrl = [[@{/rest/users/list}]];
				var cicsErrorMsg = [[#{html.default.message.error}]];
				var cicsSuccessMsg = [[#{html.page.users.list.loadCics.success}]];
			+]*/
			
			var userService;
			$(document).ready(function() {
				this.userService = new UserService();

				// Setup - add a text input to each footer cell
				$('#listTable tfoot th[class="input-filter"]').each( function () {
					$(this).html('<input type="text" class="form-control input-sm" placeholder="Søg" />');
				});

				var table = $('#listTable').DataTable({
					'destroy': true,
					'stateSave': true,
					'ajax': {
						'contentType': 'application/json',
						'url': ajaxUrl,
						'type': 'POST',
						headers: {
							'X-CSRF-TOKEN': token
						},
						'data': function(d) {
						 	return JSON.stringify(d);
						}
					},
					'serverSide' : true,
					'columns': [
						{ 
							data: "name",
							orderable: true,
							searchable: true
						},
						{ 
							data: "userId",
							orderable: true,
							searchable: true
						},
						{ 
							data: "title",
							orderable: true,
							searchable: true,
							render: function (data, type, row, meta) {
								var titles = data.split(";");
								var result = "";
								titles.forEach(function(title) {
									result += title + '</br>';
								});
								//the titles minus the last </br>
								return result.substring(0, result.length - 5);
							}
						},
						{ 	
							data: "uuid",
							orderable: false,
							searchable: false,
							render: function (data, type, row, meta) {
								return '<a href="' + baseUrl + 'ui/users/manage/' + data + '"><em class="fa fa-fw fa-pencil"></em></a>';
							}
						}
					],
					'paging':   true,
					'ordering': true,
					'info':	 true,
					'pageLength': 25,
					'language': {
						"search": searchTxt,
						"lengthMenu": dropdownTxt,
						"info": infoDefaultTxt,
						"zeroRecords": infoEmptyTxt,
						"infoEmpty": "",
						"infoFiltered": infoFilteredTxt
					},
					initComplete: function ()
					{
						var r = $('#listTable tfoot tr');
						r.find('th').each(function(){
							$(this).css('padding', 8);
						});
						$('#listTable thead').append(r);
						$('#search_0').css('text-align', 'center');
					}
				});				
				
			    // Restore state
			    var state = table.state.loaded();
			    if (state) {
			      table.columns().eq(0).each(function(colIdx) {
			        var colSearch = state.columns[colIdx].search;
			        
			        if (colSearch.search) {
			          $('input', table.column(colIdx).footer()).val(colSearch.search);
			        }
			      });

			      table.draw();
			    }
				
				//Apply the search
				$.each($('.input-filter', table.table().footer()), function () {
					var column = table.column($(this).index());
					$('input', this).on('keyup change', function () {
						if (column.search() !== this.value) {
							column
								.search(this.value)
								.draw();
						}
					});
				});

			});
			
			function UserService() {
				this.runCics = function() {
					$.ajax({
						url: "/rest/users/loadcics",
						method: "POST",
						headers: {
							'X-CSRF-TOKEN': token
						},
						error: function(response) {
							$.notify({
								message: cicsErrorMsg,
								status: 'danger',
								timeout: 4000
							});
						},
						success: function(response) {
							$.notify({
								message: cicsSuccessMsg,
								status: 'success',
								timeout: 4000
							});
						}
					});
				}
			}
		/*]]>*/
	</script>
</body>
</html>
