<th:block th:fragment="addRoleGroup" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<fieldset>
		<div class="form-group">
			<button class="btn btn-lg btn-primary" style="margin-bottom: 20px;" th:text="#{html.control.button.back}" onclick="rolesService.loadRolesFragment()"></button>
		</div>
		<div class="form-group">
			<div class="table-responsive">
				<table id="listTable_ou_rg" class="table table-striped table-hover listTable">
					<thead>
						<tr>
							<th class="col-md-6" th:text="#{html.entity.userrole.name}"></th>
							<th class="col-md-5" th:text="#{html.entity.userrole.description}"></th>
							<th class="col-md-1" th:text="#{html.control.operations}"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="roleGroup : ${roleGroups}">
							<td>
								<span th:text="${roleGroup.name}"></span>
								<div th:if="${roleGroup.alreadyAssigned}" th:text="#{html.page.user.assign.already.assigned}" style="font-size: smaller; color: red;"></div>
							</td>
							<td th:text="${roleGroup.description}"></td>
							<td>
								<a
									href="#"
									onclick="rolesService.addRoleAssignment(this)"
									th:attr="data-roleid=${roleGroup.id}, data-objtype='rolegroup'">
									<em class="fa fa-plus"></em>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</th:block>