<th:block th:fragment="addUserRole" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<fieldset>
		<div class="form-group">
			<button class="btn btn-lg btn-primary" style="margin-bottom: 20px;" th:text="#{html.control.button.back}" onclick="rolesService.loadRolesFragment()"></button>
		</div>
		<div class="form-group">
			<div class="table-responsive">
				<table id="listTable_ou_ur" class="table table-striped table-hover listTable">
					<thead>
						<tr>
							<th class="col-md-4" th:text="#{html.entity.userrole.name}" />
							<th class="col-md-4" th:text="#{html.entity.itsystem}" />
							<th class="col-md-3" th:text="#{html.entity.userrole.description}"/>
							<th class="col-md-1" th:text="#{html.control.operations}" />
						</tr>
					</thead>

					<tbody>
						<tr th:each="role : ${roles}">
							<td th:text="${role.name}" />
							<td th:text="${role.itSystem?.name}" />
							<td th:text="${role.description}" />
							<td>
								<a
									href="#"
									onclick="rolesService.addRoleAssignment(this)"
									th:attr="data-roleid=${role.id}, data-objtype='role'">
									<em class="fa fa-plus"></em>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</th:block>