<th:block th:fragment="ouRolesModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade bd-example-modal-lg" id="modal-ou" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="commonService.closeModal();">&times;</button>
					<h4 id="ouRolesModalHeader" th:text="#{html.page.ous.edit.title.choose}"></h4>
					<p id="ouRolesModalRoleName"></p>
				</div>

				<div class="modal-body" style="overflow-y: initial !important;">
					<p th:utext="#{html.page.ous.edit.choose.text.intro}"></p>
					<ul>
						<li th:if="${titles != null and titles.size() > 0}" th:text="#{html.page.ous.edit.choose.text.titles}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.exceptedusers}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.manager}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.all}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.remove}"></li>
					</ul>

					<ul class="nav nav-tabs" id="dataTabs">
						<li th:if="${titles != null and titles.size() > 0}" class="active">
							<a data-toggle="tab" data-tab-type="ou_roles_title_menu" href="#ou_roles_title_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.titles}"></a>
						</li>

						<li>
							<a data-toggle="tab" data-tab-type="ou_roles_excepted_users_menu" href="#ou_roles_excepted_users_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.exceptedusers}"></a>
						</li>

						<li th:if="${allTitles != null and allTitles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_inherited_menu" href="#ou_roles_title_inherited_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.excepttitlesinherented}"></a>
						</li>

						<li th:if="${titles != null and titles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_disinherited_menu" href="#ou_roles_title_disinherited_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.excepttitlesdisinherented}"></a>
						</li>

						<li th:if="${allTitles != null and allTitles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_positive_inherited_menu" href="#ou_roles_title_positive_inherited_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.titlesInherited}"></a>
						</li>
                        <li>
                            <a data-toggle="tab" data-tab-type="ou_roles_manager_menu" href="#ou_roles_manager_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.manager}"></a>
                        </li>
                        <li th:if="${functions != null and functions.size() > 0}">
                            <a data-toggle="tab" data-tab-type="ou_roles_functions_menu" href="#ou_roles_functions_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.functions}"></a>
                        </li>
					</ul>

					<div class="tab-content">
						<div id="ou_roles_title_menu" class="tab-pane active" th:if="${titles != null and titles.size() > 0}">
							<table th:if="${titles != null and titles.size() > 0}" id="ou_roles_listTable1" class="table table-striped">
								<thead>
									<tr>
										<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
										<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
									</tr>
								</thead>

								<tbody>
									 <tr th:each="title : ${titles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="title-checkbox" type="checkbox" th:attr="data-id=${title.id}, checked=${title.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${title.name} + ' '"></span>
											<span th:if="${title.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${title.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_excepted_users_menu" class="tab-pane">
						</div>

						<div id="ou_roles_title_inherited_menu" class="tab-pane"  th:if="${allTitles != null and allTitles.size() > 0}">
							<table id="ou_roles_listTable3" class="table table-striped">
								<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
									<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
								</tr>
								</thead>

								<tbody>
									<tr th:each="negative : ${allTitles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="inherited-checkbox" type="checkbox" th:attr="data-id=${negative.id}, checked=${negative.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${negative.name} + ' '"></span>
											<span th:if="${negative.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${negative.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_title_disinherited_menu" class="tab-pane"  th:if="${titles != null and titles.size() > 0}">
							<table id="ou_roles_listTable4" class="table table-striped">
								<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
									<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
								</tr>
								</thead>

								<tbody>
									<tr th:each="title : ${titles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="disinherited-checkbox" type="checkbox" th:attr="data-id=${title.id}, checked=${title.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${title.name} + ' '"></span>
											<span th:if="${title.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${title.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_title_positive_inherited_menu" class="tab-pane"  th:if="${allTitles != null and allTitles.size() > 0}">
							<table id="ou_roles_listTable5" class="table table-striped">
								<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
									<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
								</tr>
								</thead>

								<tbody>
								<tr th:each="positiveTitle : ${allTitles}">
									<td>
										<div class="checkbox c-checkbox">
											<label>
												<input class="positive-titles-inherited-checkbox" type="checkbox" th:attr="data-id=${positiveTitle.id}, checked=${positiveTitle.state.checked}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</td>

									<td>
										<span th:text="${positiveTitle.name} + ' '"></span>
										<span th:if="${positiveTitle.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
										<span th:if="${positiveTitle.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>

                        <div id="ou_roles_manager_menu" class="tab-pane">
                            <p th:text="#{html.page.ous.edit.tab.manager.explainer}"></p>
                            <table id="ou_roles_manager_table" class=" listTable table table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-lg-6" th:text="#{html.entity.user.name}"></th>
                                        <th class="col-lg-3" th:text="#{html.entity.user.userId}"></th>
                                        <th class="col-lg-3" th:text="#{html.entity.user.role}"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:if="${manager != null}">
                                        <td th:text="${manager.name}"></td>
                                        <td th:text="${manager.userId}"></td>
                                        <td th:text="#{html.page.ous.edit.tab.manager.role.manager}"></td>
                                    </tr>
                                    <tr th:each="substitute : ${substitutes}">
                                        <td th:text="${substitute.name}"></td>
                                        <td th:text="${substitute.userId}"></td>
                                        <td th:text="#{html.page.ous.edit.tab.manager.role.substitute}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div th:if="${functions != null and functions.size() > 0}" id="ou_roles_functions_menu" class="tab-pane">
                            <table id="ou_roles_functions_table" class=" listTable table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-2" th:text="#{html.entity.function.checked}"></th>
                                    <th class="col-lg-6" th:text="#{html.entity.function.name}"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="function : ${functions}">
                                    <td>
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input class="function-checkbox" type="checkbox" th:attr="data-id=${function.uuid}, checked=${function.checked}" />
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td th:text="${function.name}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

					</div>

	               	<div style="height: 70px;">
						<h4 class="md-12" th:text="#{html.word.validity}"></h4>

						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.from}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="startDatePickerOU">
									<input type="text" class="form-control"/>
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>

						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.to}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="stopDatePickerOU">
									<input type="text" class="form-control" />
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div style="height: 70px;" th:if="${@settingsService.isCaseNumberEnabled()}">
						<h4 class="md-12" th:text="#{html.page.users.manage.assignment.caseNumber}"></h4>

						<b class="col-sm-2 pt-2" th:text="#{html.page.users.manage.assignment.caseNumber}"></b>
						<div class="col-md-10">
							<div class="form-group">
								<input type="text"
									   class="form-control"
									   id="caseNumber"
									   placeholder="indtast sagsnummer"
									   maxlength="150"/>
							</div>
						</div>
					</div>
				</div>

				<div id="assignmentLoadingOverlay" style="display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.8); z-index: 1050; align-items: center; justify-content: center;">
					<div style="text-align: center;">
						<i class="fa fa-spinner fa-spin fa-3x" style="color: #337ab7;"></i>
						<p style="margin-top: 10px; font-size: 16px; color: #333;" th:text="#{html.page.ous.edit.button.assign.spinner}"></p>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" disabled="disabled" id="titleAssignTitlesButton" class="btn btn-primary" onclick="commonService.handleTitleRoleAssignment()" th:text="#{html.page.ous.edit.button.assign}"></button>
					<button type="button" disabled="disabled" id="assignWithExceptionsButton" class="btn btn-primary" onclick="commonService.handleExceptedRoleAssignment()" th:text="#{html.page.ous.edit.button.assign.exceptedusers}"></button>
                    <button type="button" disabled="disabled" id="assignWithTitlesAndExceptionsButton" class="btn btn-primary" onclick="commonService.handleTitleAndExceptedRoleAssignment()" th:text="#{html.page.ous.edit.button.assign.titles_and_exceptedusers}"></button>
					<button type="button" disabled="disabled" id="assignPositiveWithInheritanceButton" class="btn btn-primary" onclick="commonService.handlePositiveInheritedTitleAssignment()" th:text="#{html.page.ous.edit.button.assign.titlesInherited}"></button>
					<button type="button" disabled="disabled" id="assignNegativeWithInheritanceButton" class="btn btn-primary" onclick="commonService.handleNegativeAssignment(true)" th:text="#{html.page.ous.edit.tab.excepttitlesinherented}"></button>
					<button type="button" disabled="disabled" id="assignNegativeWithoutInheritanceButton" class="btn btn-primary" onclick="commonService.handleNegativeAssignment(false)" th:text="#{html.page.ous.edit.tab.excepttitlesdisinherented}"></button>
					<div class="btn-group" id="titleInheritButton">
                        <button id="assignAllButton" type="button" style="margin-left: 5px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        	<span>
								<span th:text="#{html.page.ous.edit.button.assign.intro}"></span>&nbsp;
								<em class="fa fa-fw fa-caret-down"></em>
							</span>
                        </button>
						<ul class="dropdown-menu">
			    			<li><a href="#" onclick="commonService.handleEveryoneRoleAssignment(false)" id="assignEveryoneChoiceDropdownForTestCases" th:text="#{html.page.ous.edit.button.assign.all}"></a></li>
	                		<li><a href="#" onclick="commonService.handleEveryoneRoleAssignment(true)" th:text="#{html.page.ous.edit.button.assign.all.inheritance}"></a></li>
			  			</ul>
			  		</div>
                    <div class="btn-group" id="managerInheritButton">
                        <button id="assignManagerButton" type="button" style="margin-left: 5px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        	<span>
								<span th:text="#{html.page.ous.edit.button.assign.manager.intro}"></span>&nbsp;
								<em class="fa fa-fw fa-caret-down"></em>
							</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="commonService.handleManagerRoleAssignment(false,false)" th:text="#{html.page.ous.edit.button.assign.manager.manager}"></a></li>
                            <li><a href="#" onclick="commonService.handleManagerRoleAssignment(false,true)" th:text="#{html.page.ous.edit.button.assign.manager.manager.inheritance}"></a></li>
                            <li><a href="#" onclick="commonService.handleManagerRoleAssignment(true,false)" th:text="#{html.page.ous.edit.button.assign.manager.managerAndSubstitutes}"></a></li>
                            <li><a href="#" onclick="commonService.handleManagerRoleAssignment(true,true)" th:text="#{html.page.ous.edit.button.assign.manager.managerAndSubstitutes.inheritance}"></a></li>
                        </ul>
                    </div>
                    <div class="btn-group" id="functionInheritButton">
                        <button id="assignFunctionButton" type="button" style="margin-left: 5px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        	<span>
								<span th:text="#{html.page.ous.edit.button.assign.function.intro}"></span>&nbsp;
								<em class="fa fa-fw fa-caret-down"></em>
							</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="commonService.handleFunctionRoleAssignment(false)" th:text="#{html.page.ous.edit.button.assign.all}"></a></li>
                            <li><a href="#" onclick="commonService.handleFunctionRoleAssignment(true)" th:text="#{html.page.ous.edit.button.assign.all.inheritance}"></a></li>
                        </ul>
                    </div>
			  		<button type="button" class="btn btn-warning" style="margin-left: 5px;" onclick="commonService.closeModal();" th:text="#{html.control.button.cancel}"></button>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="ouRolesModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/

		/*[+
		var titlesEnabled = [[${titlesEnabled}]];
		var allTitles = [[${allTitles}]];
		var titles = [[${titles}]];
		+]*/

		var ouRolesModalService;
		var ouRolesEditModalService;
		var commonService;
		var checkedTitlesFetched;
		var selectedNegativeTitles = [];
		var selectedNegativeInheritedTitles = [];
		var selectedPositiveInheritedTitles = [];
		var selectedExceptedUsers = [];
		var selectedTitles = [];
		var selectedFunctions = [];
		var titlesTable;
		var negativeTitlesTable;
		var negativeInheritedTable;
		var positiveInheritedTable;
		var exceptedUsersTable;
		var functionTable;


		$(document).ready(function() {
			ouRolesModalService = new OURolesModalService();
            ouRolesEditModalService = new OURolesEditModalService();
            commonService = new CommonService();
            commonService.init();

    		/*[+
    			commonService.fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
    			commonService.fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];
    			commonService.restUrl = [[@{/rest/ous/}]];
    			commonService.uiUrl = [[@{/ui/ous/manage/}]];
    			commonService.editMode = false;
    			ouRolesModalService.header = [[#{html.page.ous.edit.title.choose}]];
    			ouRolesEditModalService.header = [[#{html.page.ous.edit.title.choose.edit}]];
    		+]*/

            notificationService = new NotificationService();
        });

        function CommonService() {
			this.init = function() {
				let self = this;
				$("#assignNegativeWithInheritanceButton").hide();
				$("#assignNegativeWithoutInheritanceButton").hide();
				$("#assignPositiveWithInheritanceButton").hide();
				negativeInheritedTable = fragShowDataTableFun('#ou_roles_listTable3', 1, 25, null, [ { "orderDataType": "dom-checkbox" , "className": 'details-control', "searchable": false, "orderable": true}, {} ]);
				positiveInheritedTable = fragShowDataTableFun('#ou_roles_listTable5', 1, 25, null, [ { "orderDataType": "dom-checkbox" , "className": 'details-control', "searchable": false, "orderable": true}, {} ]);
				titlesTable = fragShowDataTableFun('#ou_roles_listTable1', 1, 25, null, [ { "orderDataType": "dom-checkbox" , "className": 'details-control', "searchable": false, "orderable": true}, {} ]);
				negativeTitlesTable = fragShowDataTableFun('#ou_roles_listTable4', 1, 25, null, [ { "orderDataType": "dom-checkbox" , "className": 'details-control', "searchable": false, "orderable": true}, {} ]);
				functionTable = fragShowDataTableFun('#ou_roles_functions_table', 1, 25, null, [ { "orderDataType": "dom-checkbox" , "className": 'details-control', "searchable": false, "orderable": true}, {} ]);

				// Add change tab event handler
				$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
					// Show correct buttons
					commonService.handleButtonDisplay();
				});
			}

			this.setupCheckboxListeners = () => {
				commonService.addSimpleCheckboxListener('.title-checkbox', commonService.handleTitleCheckbox);
				commonService.addSimpleCheckboxListener('.positive-titles-inherited-checkbox', commonService.handlePositiveTitleInheritedCheckbox);
				commonService.addSimpleCheckboxListener('.inherited-checkbox', commonService.handleInheritedCheckbox);
				commonService.addSimpleCheckboxListener('.disinherited-checkbox', commonService.handleDisinheritedCheckbox);
				commonService.addSimpleCheckboxListener('.function-checkbox', commonService.handleFunctionCheckbox);
			}

			this.addSimpleCheckboxListener = function(selector, method) {
				$(selector).off("change");
				$(selector).change(method);
			}

			this.handleDisableButtons = function(selectorToEnable) {
				$("#titleAssignTitlesButton").prop('disabled', true);
				$("#assignAllButton").prop('disabled', true);
				$("#assignWithExceptionsButton").prop('disabled', true);
				$("#assignWithTitlesAndExceptionsButton").prop('disabled', true);
				$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				$("#assignNegativeWithInheritanceButton").prop('disabled', true);
				$("#assignPositiveWithInheritanceButton").prop('disabled', true);
				$("#assignFunctionButton").prop('disabled', true);

				if (selectorToEnable) {
					$(selectorToEnable).prop('disabled', false);
				}
			}

			// hint: this function should be run after the selectedTitles and selectedExceptedUsers are fetched from server
			this.handleButtonDisplay = function() {
				var tabType = $('#modal-ou .nav-tabs li.active a[data-toggle="tab"]').data('tab-type');
				var hasTitleSelections = selectedTitles.length > 0;
				var hasExceptedUserSelections = selectedExceptedUsers.length > 0;

				// Hide all buttons first
				$("#titleAssignTitlesButton").hide();
				$("#assignWithExceptionsButton").hide();
				$("#assignWithTitlesAndExceptionsButton").hide();
				$("#assignNegativeWithInheritanceButton").hide();
				$("#assignNegativeWithoutInheritanceButton").hide();
				$("#assignPositiveWithInheritanceButton").hide();
				$("#managerInheritButton").hide();
				$("#functionInheritButton").hide();

				if (tabType == 'ou_roles_title_menu') {
					if (hasTitleSelections && hasExceptedUserSelections) {
						// Show select both title and exceptions
						$("#assignWithTitlesAndExceptionsButton").show();
					} else if (hasTitleSelections) {
						// Show only title button if only titles selected
						$("#titleAssignTitlesButton").show();
					} else {
						// Show title button as default for this tab
						$("#titleAssignTitlesButton").show();
					}
				}
				else if (tabType == 'ou_roles_excepted_users_menu') {
					if (hasTitleSelections && hasExceptedUserSelections) {
						// Show select both title and exceptions
						$("#assignWithTitlesAndExceptionsButton").show();
					} else if (hasExceptedUserSelections) {
						// Show only exceptions button if only exceptions selected
						$("#assignWithExceptionsButton").show();
					} else {
						// Show exceptions button as default for this tab
						$("#assignWithExceptionsButton").show();
					}
				}
				else if (tabType == 'ou_roles_title_inherited_menu') {
					$("#assignNegativeWithInheritanceButton").show();
				}
				else if (tabType == 'ou_roles_title_disinherited_menu') {
					$("#assignNegativeWithoutInheritanceButton").show();
				}
				else if (tabType == 'ou_roles_title_positive_inherited_menu') {
					$("#assignPositiveWithInheritanceButton").show();
				} else if (tabType == 'ou_roles_manager_menu') {
				    $("#managerInheritButton").show();
				} else if (tabType == 'ou_roles_functions_menu') {
				    $("#functionInheritButton").show();
				}
			}

			this.handleCheckboxGeneric = function(dataId, checked, list, btnToEnable) {
				if (checked) {
					list.push(dataId)
				} else {
					const index = list.indexOf(dataId);
					if (index !== -1) {
						list.splice(index, 1);
					}
				}

				// Update button display and enable/disable state
				commonService.handleButtonDisplay();

				// Determine which button to enable based on selections
				var hasTitleSelections = selectedTitles.length > 0;
				var hasExceptedUserSelections = selectedExceptedUsers.length > 0;

				var toEnable;
				if (hasTitleSelections && hasExceptedUserSelections) {
					toEnable = "#assignWithTitlesAndExceptionsButton";
				} else if (list.length > 0) {
					toEnable = btnToEnable;
				} else {
					toEnable = "#assignAllButton";
				}

				commonService.handleDisableButtons(toEnable);
			}

			this.handleTitleCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedTitles, "#titleAssignTitlesButton");
			}

			this.handleExceptedUsersCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedExceptedUsers, "#assignWithExceptionsButton");
			}

			this.handleInheritedCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedNegativeInheritedTitles, "#assignNegativeWithInheritanceButton");
			}

			this.handleDisinheritedCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedNegativeTitles, "#assignNegativeWithoutInheritanceButton");
			}

			this.handlePositiveTitleInheritedCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedPositiveInheritedTitles, "#assignPositiveWithInheritanceButton");
			}

			this.handleFunctionCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedFunctions, "#assignFunctionButton");
			}

			this.closeModal = function() {
				$('#modal-ou').modal('hide');
				commonService.resetUI();
			}

			this.resetUI = function() {
				commonService.clearSelections();
				$('.nav-tabs a[href="#ou_roles_title_menu"]').tab('show');
			}

			// wrapper around assignRole that gets the list of selected excepted users
			this.handleExceptedRoleAssignment = function() {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, false, ouRolesEditModalService.assignmentId, [], selectedExceptedUsers, []);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, false, ouRolesModalService.roleId, [], selectedExceptedUsers, []);
				}
			}

			// wrapper around assignRole that reads the list of checked title UUIDs called by button click
			this.handleTitleRoleAssignment = function() {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, false, ouRolesEditModalService.assignmentId, selectedTitles, [], []);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, false, ouRolesModalService.roleId, selectedTitles, [], []);
				}
			}

			// wrapper around assignRole that gets the list of selected excepted users
			this.handleTitleAndExceptedRoleAssignment = function() {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, false, ouRolesEditModalService.assignmentId, selectedTitles, selectedExceptedUsers, []);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, false, ouRolesModalService.roleId, selectedTitles, selectedExceptedUsers, []);
				}
			}

			// wrapper around assignRole that assigns to everyone called by button click
			this.handleEveryoneRoleAssignment = function(inherit) {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, inherit, ouRolesEditModalService.assignmentId, [], [], []);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, inherit, ouRolesModalService.roleId, [], [], []);
				}
			}

			this.handleNegativeAssignment = function(inherit) {

				var titleUuids;
				if(inherit){
					titleUuids = selectedNegativeInheritedTitles;
				} else {
					titleUuids = selectedNegativeTitles;
				}

				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, inherit, ouRolesEditModalService.assignmentId, titleUuids, [], [], true);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, inherit, ouRolesModalService.roleId, titleUuids, [], [], true);
				}
			}

			this.handlePositiveInheritedTitleAssignment = function() {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, true, ouRolesEditModalService.assignmentId, selectedPositiveInheritedTitles, [], [], false);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, true, ouRolesModalService.roleId, selectedPositiveInheritedTitles, [], [], false);
				}
			}

			this.handleManagerRoleAssignment = function(includeSubstitutes, inherit) {
			    if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, inherit, ouRolesEditModalService.assignmentId, [], [], [], false, true, includeSubstitutes);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, inherit, ouRolesModalService.roleId, [], [], [], false, true, includeSubstitutes);
				}
			}

			this.handleFunctionRoleAssignment = function(inherit) {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, inherit, ouRolesEditModalService.assignmentId, [], [], selectedFunctions, false);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, inherit, ouRolesModalService.roleId, [], [], selectedFunctions, false);
				}
			}

			this.clearLists = function() {
				selectedNegativeTitles = [];
				selectedNegativeInheritedTitles = [];
				selectedPositiveInheritedTitles = [];
				selectedExceptedUsers = [];
				selectedTitles = [];
				selectedFunctions = [];
			}

			this.clearSelections = function() {
				if (titlesEnabled) {
					commonService.clearSelection('#modal-ou .title-checkbox:checked');
					commonService.clearDatatableSelection('.inherited-checkbox', negativeInheritedTable);
					commonService.clearSelection('#modal-ou .disinherited-checkbox:checked');
					commonService.clearDatatableSelection('.positive-titles-inherited-checkbox', positiveInheritedTable);
				}

				commonService.clearDatatableSelection('.exceptedusers-checkbox', exceptedUsersTable);
				commonService.clearDatatableSelection('.function-checkbox', functionTable);
			}

			this.clearSelection = function(selector) {
				$(selector).prop('checked', false);
			}

			this.clearDatatableSelection = function(selector, table) {
				if (table == null) {
					return;
				}

				table.rows().every(function() {
					let row = $(this.node());
					row.find(selector).prop('checked', false);
				});

				$(selector).prop('checked', false);
			};

			this.showLoadingState = function() {
				// Disable all buttons
				$('#modal-ou .modal-footer button').prop('disabled', true);

				// Show loading overlay
				$('#assignmentLoadingOverlay').css('display', 'flex');
			}

			this.hideLoadingState = function() {
				// Enable all buttons
				$('#modal-ou .modal-footer button').prop('disabled', false);

				// Hide loading overlay
				$('#assignmentLoadingOverlay').hide();

				// Re-apply correct button state based on current selections
				commonService.handleButtonDisplay();
			}
		}

		function OURolesModalService() {
			this.showAssignModal = function(titlesEnabled, startDate, stopDate, roleName) {
				$('#stopDatePickerOU').data("DateTimePicker").clear();
				$('#startDatePickerOU').data("DateTimePicker").clear();
				$('#startDatePickerOU').data("DateTimePicker").date(new Date());

				// Reset UI
				$('#modal-ou #dataTabs').show();
				$('#modal-ou .tab-content').show();
				commonService.editMode = false;
				commonService.clearLists();
				commonService.clearSelections();

				// default enable the assignAllButton
				commonService.handleDisableButtons('#assignAllButton');

				// fetch possible excepted users for this OU
				var url = commonService.uiUrl + "users/" + ouRolesModalService.ouUuid;
				$("#ou_roles_excepted_users_menu").load(url, function() {
					exceptedUsersTable = fragShowDataTableFun('#ou_roles_listTable2', 1, 25, null, [ { "orderDataType": "dom-checkbox" , "className": 'details-control', "searchable": false, "orderable": true}, {}, {} ]);
					// add listeners
					commonService.addSimpleCheckboxListener('.exceptedusers-checkbox', commonService.handleExceptedUsersCheckbox);
					$('#ou_roles_listTable2').on('draw.dt', function(e) {
						commonService.addSimpleCheckboxListener('.exceptedusers-checkbox', commonService.handleExceptedUsersCheckbox);
					})
				});

				// show ui correctly
				if (titlesEnabled) {
					commonService.clearSelection('#modal-ou .title-checkbox:checked');
					$('a[data-toggle="tab"][href="#ou_roles_title_menu"]').tab('show');
				}
				else {
					commonService.clearDatatableSelection('.exceptedusers-checkbox', exceptedUsersTable);
					$('a[data-toggle="tab"][href="#ou_roles_excepted_users_menu"]').tab('show');
				}

				// Show correct buttons
				commonService.handleButtonDisplay();

				// remove old event listeners from all tables but the excepted users table
				$('#modal-ou .table:not(#ou_roles_listTable2)').off();

				// add listeners now and e.g on page change (draw) for the tables
				commonService.setupCheckboxListeners();
				$('#modal-ou .table:not(#ou_roles_listTable2)').on('draw.dt', function(e) {
					commonService.setupCheckboxListeners();
				})

				$("#titleInheritButton").show();
				$("#ouRolesModalHeader").text(ouRolesModalService.header);
				$("#ouRolesModalRoleName").text(roleName);

				$("#modal-ou").modal({
					backdrop: 'static',
					keyboard: false
				});
			}

			this.assignRole = function(objType, inherit, id, titleUuids, exceptedUserUuids, functionUuids, negativeAssignment = false, manager = false, substitutes = false) {
				let caseNumber = $('#caseNumber').val();
				let endpoint = commonService.restUrl + 'add' + objType + '/' + ouRolesModalService.ouUuid + '/' + id;
				let startDate = $('#startDatePickerOU').data('date');
				let stopDate = $('#stopDatePickerOU').data('date');
				let dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				endpoint = endpoint + dates;
				endpoint = endpoint + "&caseNumber=" + caseNumber;

				if (inherit) {
					endpoint = endpoint + "&inherit=true";
				}
				if (negativeAssignment) {
					endpoint = endpoint + "&negativeAssignment=true";
				}
				if (manager) {
				    endpoint = endpoint + "&manager=true";
				    if (substitutes) {
				        endpoint = endpoint + "&substitutes=true";
				    }
				}

				// Show loading state before AJAX call
				commonService.showLoadingState();

				$.ajax({
					url: endpoint,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	                contentType: 'application/json',
	                data: JSON.stringify({
	    			      'titleUuids': titleUuids,
	    			      'exceptedUserUuids' : exceptedUserUuids,
	    			      'functionUuids': functionUuids
					}),
					error : function(response) {
						commonService.hideLoadingState();
						errorHandler(commonService.fieldNotUpdatedMsg)(response);
						commonService.closeModal();
					},
					success : function(response) {
						commonService.hideLoadingState();
						if (response.success) {
							if (response.users > 0) {
								let optionalSuccessMessage = usersAlreadyAssignedDirectlyMsg.format(response.users);
								notificationService.showWarnNotification(optionalSuccessMessage);
							}
							else {
								notificationService.showInfoNotification(commonService.fieldUpdatedMsg);
							}
						}
						else {
							// TODO: should we inform the user that we did not make any change?
							notificationService.showInfoNotification(commonService.fieldUpdatedMsg);
						}

						commonService.closeModal();
						if (objType == "role") {
							commonService.parentService.loadAddUserRoleFragment();
						} else if (objType == "rolegroup") {
							commonService.parentService.loadAddRoleGroupFragment();
						}
					}
				});
			}
		}

		function OURolesEditModalService() {
			this.fetchCheckedTitles = function() {
				return $.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/titles",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedTitles = response;
						ouRolesEditModalService.updateDatatableWithCheckboxChecks('.title-checkbox', titlesTable, selectedTitles);
					}
				});
			}

			this.fetchCheckedNegativeTitles = function() {
				return $.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/negativetitles",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedNegativeTitles = response;
						ouRolesEditModalService.updateDatatableWithCheckboxChecks('.disinherited-checkbox', negativeTitlesTable, selectedNegativeTitles);
					}
				});
			}

			this.fetchCheckedNegativeInheritedTitles = function() {
				return $.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/inheritedtitles?positive=false",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedNegativeInheritedTitles = response;
						ouRolesEditModalService.updateDatatableWithCheckboxChecks('.inherited-checkbox', negativeInheritedTable, selectedNegativeInheritedTitles);
					}
				});
			}

			this.fetchCheckedPositiveInheritedTitles = function() {
				return $.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/inheritedtitles?positive=true",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedPositiveInheritedTitles = response;
						ouRolesEditModalService.updateDatatableWithCheckboxChecks('.positive-titles-inherited-checkbox', positiveInheritedTable, selectedPositiveInheritedTitles);
					}
				});
			}

			this.fetchCheckedFunctions = function() {
				return $.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/functions",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedFunctions = response;
						ouRolesEditModalService.updateDatatableWithCheckboxChecks('.function-checkbox', functionTable, selectedFunctions);
					}
				});
			}

			this.updateDatatableWithCheckboxChecks = function(checkboxClass, table, selectedIds) {
				table.off('draw.dt.checkboxUpdate');

				table.on('draw.dt.checkboxUpdate', function() {
					$(checkboxClass).each(function() {
						let dataId = $(this).data('id');
						if (selectedIds.includes(dataId)) {
							$(this).prop('checked', true);
						}
					});
				});

				var currentPage = table.page();
				var totalPages = table.page.info().pages;

				for (var i = 0; i < totalPages; i++) {
					table.page(i).draw(false);
				}

				table.page(currentPage).draw(false);
			}

			this.handleDates = function(startDate, stopDate) {
				if (startDate) {
					$('#startDatePickerOU').data("DateTimePicker").date(startDate);
				}
				else {
					$('#startDatePickerOU').data("DateTimePicker").clear();
					$('#startDatePickerOU').data("DateTimePicker").date(new Date());
				}

				if (stopDate) {
					$('#stopDatePickerOU').data("DateTimePicker").date(stopDate);
				}
				else {
					$('#stopDatePickerOU').data("DateTimePicker").clear();
				}
			}

			this.showAssignModal = function(titlesEnabled, startDate, stopDate, assignmentType, assignmentId, roleName) {
				ouRolesEditModalService.handleDates(startDate, stopDate);

				// Reset UI
				$('#modal-ou #dataTabs').show();
				$('#modal-ou .tab-content').show();
				commonService.editMode = true;
				commonService.clearLists();
				commonService.clearSelections();
				commonService.handleDisableButtons();

				// default enable the assignAllButton
				commonService.handleDisableButtons('#assignAllButton');

				// Fetch excepted users (if any), and check checkboxes
				var url = commonService.uiUrl + ouRolesEditModalService.roleType + "/exceptedusers2/" + ouRolesEditModalService.ouUuid + "/" + assignmentId;
				$("#ou_roles_excepted_users_menu").load(url, function() {
					exceptedUsersTable = fragShowDataTableFun('#ou_roles_listTable2', 1, 25, null, [ { "orderDataType": "dom-checkbox" , "className": 'details-control', "searchable": false, "orderable": true}, {}, {} ]);

					// fetch all rows from the datatable and add the checked checkboxes to selectedExceptedUsers
					var allRows = $('#ou_roles_listTable2').DataTable().rows().nodes();
					$(allRows).each(function() {
						// Find checkboxen i rækken
						var checkbox = $(this).find('input[type="checkbox"]');
						if (checkbox.length > 0 && checkbox.is(':checked')) {
							// Tilføj til listen, hvis den er tjekket
							selectedExceptedUsers.push(checkbox.data('id'));
						}
					});

					// add listeners
					commonService.addSimpleCheckboxListener('.exceptedusers-checkbox', commonService.handleExceptedUsersCheckbox);
					$('#ou_roles_listTable2').on('draw.dt', function(e) {
						commonService.addSimpleCheckboxListener('.exceptedusers-checkbox', commonService.handleExceptedUsersCheckbox);
					});

					// Handle tab selection
					if (assignmentType == 0) {
						// excepted users case
						$('#modal-ou a[data-toggle="tab"][href="#ou_roles_excepted_users_menu"]').tab('show');
						commonService.handleDisableButtons('#assignWithExceptionsButton');
					} else if (titlesEnabled) {
						if (assignmentType >= 1) {
							// assigned to 1+ titles
							ouRolesEditModalService.fetchCheckedTitles().done(function () {
								$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_menu"]').tab('show');
								commonService.handleButtonDisplay();
								commonService.handleDisableButtons('#titleAssignTitlesButton');
							});
						} else if (assignmentType == -3) {
							// contains excepted titles with inherit
							ouRolesEditModalService.fetchCheckedNegativeInheritedTitles().done(function () {
								$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_inherited_menu"]').tab('show');
								commonService.handleButtonDisplay();
								commonService.handleDisableButtons('#assignNegativeWithInheritanceButton');
							});
						} else if (assignmentType == -4) {
							// contains excepted titles
							ouRolesEditModalService.fetchCheckedNegativeTitles().done(function () {
								$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_disinherited_menu"]').tab('show');
								commonService.handleButtonDisplay();
								commonService.handleDisableButtons('#assignNegativeWithoutInheritanceButton');
							});
						} else if (assignmentType == -5) {
							// contains selected titles with inherit
							ouRolesEditModalService.fetchCheckedPositiveInheritedTitles().done(function () {
								$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_positive_inherited_menu"]').tab('show');
								commonService.handleButtonDisplay();
								commonService.handleDisableButtons('#assignPositiveWithInheritanceButton');
							});
						} else if (assignmentType == -6) {
							// contains selected titles and excepted users
							// at this point the excludedUsers are already loaded
							ouRolesEditModalService.fetchCheckedTitles().done(function () {
								$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_menu"]').tab('show');
								commonService.handleButtonDisplay();
								commonService.handleDisableButtons('#assignWithTitlesAndExceptionsButton');
							});
						} else if (assignmentType == -7 || assignmentType == -8 || assignmentType == -9 || assignmentType == -10) {
						    // assigned to manager/manager and substitutes with or without inheritance
						    $('#modal-ou a[data-toggle="tab"][href="#ou_roles_manager_menu"]').tab('show');
						} else if (assignmentType == -11 || assignmentType == -12) {
						    // assigned to functions with or without inheritance
                            ouRolesEditModalService.fetchCheckedFunctions().done(function () {
                                $('#modal-ou a[data-toggle="tab"][href="#ou_roles_functions_menu"]').tab('show');
                                commonService.handleButtonDisplay();
                                commonService.handleDisableButtons('#assignFunctionButton');
                            });
						}
					}
				});

				// Show correct buttons
				commonService.handleButtonDisplay();

				// remove old event listeners from all tables but the excepted users table
				$('#modal-ou .table:not(#ou_roles_listTable2)').off();

				// add listeners now and e.g on page change (draw) for the tables
				commonService.setupCheckboxListeners();
				$('#modal-ou .table:not(#ou_roles_listTable2)').on('draw.dt', function(e) {
					commonService.setupCheckboxListeners();
				})

				$("#modal-ou").attr('assignmentId', assignmentId);
				$("#ouRolesModalHeader").text(ouRolesEditModalService.header);
				$("#ouRolesModalRoleName").text(roleName);

				$("#modal-ou").modal({
					backdrop: 'static',
					keyboard: false
				});
			}

			this.assignRole = function(objType, inherit, id, titleUuids, exceptedUserUuids, functionUuids, negativeAssisgnment = false, manager = false, substitutes = false) {
				var endpoint = commonService.restUrl + 'edit' + objType + '/' + ouRolesEditModalService.ouUuid + '/' + id;
				var startDate = $('#startDatePickerOU').data('date');
				var stopDate = $('#stopDatePickerOU').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				endpoint = endpoint + dates;

				if (inherit) {
					endpoint = endpoint + "&inherit=true";
				}
				if (negativeAssisgnment) {
					endpoint = endpoint + "&negativeAssignment=true";
				}
				if (manager) {
				    endpoint = endpoint + "&manager=true";
				    if (substitutes) {
				        endpoint = endpoint + "&substitutes=true";
				    }
				}

				// Show loading state before AJAX call
    			commonService.showLoadingState();

				$.ajax({
					url: endpoint,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	                contentType: 'application/json',
	                data: JSON.stringify({
	    			      'titleUuids': titleUuids,
	    			      'exceptedUserUuids' : exceptedUserUuids,
	    			      'functionUuids': functionUuids
					}),
					error : function(response) {
						commonService.hideLoadingState();
						errorHandler(commonService.fieldNotUpdatedMsg)(response);
						setTimeout(function(){ commonService.parentService.loadRolesFragment(); }, 200);
						commonService.closeModal();
					},
					success : function(response) {
						commonService.hideLoadingState();
						notificationService.showInfoNotification(commonService.fieldUpdatedMsg);
						setTimeout(function(){ commonService.parentService.loadRolesFragment(); }, 200);
						commonService.closeModal();
					}
				});

			}
		}

		function NotificationService() {
			this.showInfoNotification = function(message) {
				$.notify({
					message: message,
					status: 'success',
					timeout: 2000
				});
			}

			this.showWarnNotification = function(message) {
				$.notify({
					message: message,
					status: 'warning',
					timeout: 3000
				});
			}

			this.showErrorNotification = function(message) {
				$.notify({
					message: message,
					status: 'danger',
					timeout: 4000
				});
			}
		}

		/*]]>*/

	</script>
</th:block>
