<th:block th:fragment="ouRolesModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade bd-example-modal-lg" id="modal-ou" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="commonService.closeModal();">&times;</button>
					<h4 id="ouRolesModalHeader" th:text="#{html.page.ous.edit.title.choose}"></h4>
				</div>

				<div class="modal-body" style="overflow-y: initial !important;">
					<p th:utext="#{html.page.ous.edit.choose.text.intro}"></p>
					<ul>
						<li th:if="${titles != null and titles.size() > 0}" th:text="#{html.page.ous.edit.choose.text.titles}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.exceptedusers}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.all}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.remove}"></li>
					</ul>

					<ul class="nav nav-tabs" id="dataTabs">
						<li th:if="${titles != null and titles.size() > 0}" class="active">
							<a data-toggle="tab" data-tab-type="ou_roles_title_menu" href="#ou_roles_title_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.titles}"></a>
						</li>

						<li th:class="${titles != null and titles.size() > 0} ? '' : 'active'">
							<a data-toggle="tab" data-tab-type="ou_roles_excepted_users_menu" href="#ou_roles_excepted_users_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.exceptedusers}"></a>
						</li>

						<li th:if="${titles != null and titles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_inherited_menu" href="#ou_roles_title_inherited_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.excepttitlesinherented}"></a>
						</li>

						<li th:if="${titles != null and titles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_disinherited_menu" href="#ou_roles_title_disinherited_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.excepttitlesdisinherented}"></a>
						</li>
					</ul>

					<div class="tab-content">
						<div id="ou_roles_title_menu" class="tab-pane active" th:if="${titles != null and titles.size() > 0}">
							<table th:if="${titles != null and titles.size() > 0}" id="ou_roles_listTable1" class="table table-striped">
								<thead>
									<tr>
										<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
										<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
									</tr>
								</thead>

								<tbody>
									 <tr th:each="title : ${titles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="title-checkbox" type="checkbox" th:attr="data-id=${title.id}, checked=${title.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${title.name} + ' '"></span>
											<span th:if="${title.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${title.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_excepted_users_menu" class="tab-pane">
						</div>

						<div id="ou_roles_title_inherited_menu" class="tab-pane"  th:if="${titles != null and titles.size() > 0}">
							<table id="ou_roles_listTable3" class="table table-striped">
								<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
									<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
								</tr>
								</thead>

								<tbody>
									<tr th:each="negative : ${negativeTitles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="inherited-checkbox" type="checkbox" th:attr="data-id=${negative.id}, checked=${negative.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${negative.name} + ' '"></span>
											<span th:if="${negative.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${negative.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_title_disinherited_menu" class="tab-pane"  th:if="${titles != null and titles.size() > 0}"s>
							<table id="ou_roles_listTable4" class="table table-striped">
								<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
									<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
								</tr>
								</thead>

								<tbody>
									<tr th:each="title : ${titles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="disinherited-checkbox" type="checkbox" th:attr="data-id=${title.id}, checked=${title.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${title.name} + ' '"></span>
											<span th:if="${title.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${title.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>


					</div>
					
	               	<div style="height: 70px;">
						<h4 class="md-12" th:text="#{html.word.validity}"></h4>
	
						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.from}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="startDatePickerOU">
									<input type="text" class="form-control"/>
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
	
						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.to}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="stopDatePickerOU">
									<input type="text" class="form-control" />
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" disabled="disabled" id="titleAssignTitlesButton" class="btn btn-primary" onclick="commonService.handleTitleRoleAssignment()" th:text="#{html.page.ous.edit.button.assign}"></button>
					<button type="button" disabled="disabled" id="assignWithExceptionsButton" class="btn btn-primary" onclick="commonService.handleExceptedRoleAssignment()" th:text="#{html.page.ous.edit.button.assign.exceptedusers}"></button>
					<button type="button" disabled="disabled" id="assignNegativeWithInheritanceButton" class="btn btn-primary" onclick="commonService.handleNegativeAssignment(true)" th:text="#{html.page.ous.edit.tab.excepttitlesinherented}"></button>
					<button type="button" disabled="disabled" id="assignNegativeWithoutInheritanceButton" class="btn btn-primary" onclick="commonService.handleNegativeAssignment(false)" th:text="#{html.page.ous.edit.tab.excepttitlesdisinherented}"></button>
					<div class="btn-group" id="titleInheritButton">
                        <button id="assignAllButton" type="button" style="margin-left: 5px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        	<span>
								<span th:text="#{html.page.ous.edit.button.assign.intro}"></span>&nbsp;
								<em class="fa fa-fw fa-caret-down"></em>
							</span>
                        </button>
						<ul class="dropdown-menu">
			    			<li><a href="#" onclick="commonService.handleEveryoneRoleAssignment(false)" id="assignEveryoneChoiceDropdownForTestCases" th:text="#{html.page.ous.edit.button.assign.all}"></a></li>
	                		<li><a href="#" onclick="commonService.handleEveryoneRoleAssignment(true)" th:text="#{html.page.ous.edit.button.assign.all.inheritance}"></a></li>
			  			</ul>
			  		</div>
			  		<button type="button" class="btn btn-warning" style="margin-left: 5px;" onclick="commonService.closeModal();" th:text="#{html.control.button.cancel}"></button>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="ouRolesModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		
		/*[+
		var titlesEnabled = [[${titlesEnabled}]];
		+]*/

		var ouRolesModalService;
		var ouRolesEditModalService;
		var commonService;
		var notifikationService;
		var checkedTitlesFetched;
		var loadedEditTitles = [];
		var loadedNegativeEditTitles = [];
		var loadedNegativeInheritedEditTitles = [];
		var selectedNegativeEditTitles = [];
		var selectedNegativeInheritedEditTitles = [];
		var selectedExceptedUsers = [];


		$(document).ready(function() {
			ouRolesModalService = new OURolesModalService();
            ouRolesEditModalService = new OURolesEditModalService();
            commonService = new CommonService();
            commonService.init();

    		/*[+
    			commonService.fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
    			commonService.fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];
    			commonService.restUrl = [[@{/rest/ous/}]];
    			commonService.uiUrl = [[@{/ui/ous/manage/}]];
    			commonService.editMode = false;
    			ouRolesModalService.header = [[#{html.page.ous.edit.title.choose}]];
    			ouRolesEditModalService.header = [[#{html.page.ous.edit.title.choose.edit}]];
    		+]*/
            
            notifikationService = new NotificationService();
        });

        function CommonService() {
			this.init = function() {
				let self = this;
				$("#assignNegativeWithInheritanceButton").hide();
				$("#assignNegativeWithoutInheritanceButton").hide();
				fragShowDataTableFun('#ou_roles_listTable3', 0, 25);

				// Add change tab event handler
				$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {

					// Fetch active tab and show/hide buttons depending on that
					var tabType = $('#modal-ou .nav-tabs li.active a[data-toggle="tab"]').data('tab-type');

					if (tabType == 'ou_roles_title_menu') {
						$("#titleAssignTitlesButton").show();
						$("#assignWithExceptionsButton").hide();
						$("#assignNegativeWithInheritanceButton").hide();
						$("#assignNegativeWithoutInheritanceButton").hide();
					}
					else if (tabType == 'ou_roles_excepted_users_menu') {
						$("#titleAssignTitlesButton").hide();
						$("#assignWithExceptionsButton").show();
						$("#assignNegativeWithInheritanceButton").hide();
						$("#assignNegativeWithoutInheritanceButton").hide();
					}
					else if (tabType == 'ou_roles_title_inherited_menu') {
						$("#titleAssignTitlesButton").hide();
						$("#assignWithExceptionsButton").hide();
						$("#assignNegativeWithInheritanceButton").show();
						$("#assignNegativeWithoutInheritanceButton").hide();
					}
					else if (tabType == 'ou_roles_title_disinherited_menu') {
						$("#titleAssignTitlesButton").hide();
						$("#assignWithExceptionsButton").hide();
						$("#assignNegativeWithInheritanceButton").hide();
						$("#assignNegativeWithoutInheritanceButton").show();
					}
				});
			}

			this.setupCheckboxListeners = () => {
				commonService.addTitleCheckboxListeners();
				commonService.addInheritedCheckboxListeners();
				commonService.addDisinheritedCheckboxListeners();
			}

			this.addTitleCheckboxListeners = function() {
				// makes sure the title checkboxes on the modal dialogue modifies the underlying datastructure on changes
				$('.title-checkbox').off("change");
				$('.title-checkbox').change(commonService.handleTitleCheckbox);
			}

			this.addExceptedUsersCheckboxListeners = function() {
				$('.exceptedusers-checkbox').off("change");
				$('.exceptedusers-checkbox').change(commonService.handleExceptedUsersCheckbox);
			}

			this.addInheritedCheckboxListeners = function() {
				$('.inherited-checkbox').off("change");
				$('.inherited-checkbox').change(commonService.handleInheritedCheckbox);
			}

			this.addDisinheritedCheckboxListeners = function() {
				$('.disinherited-checkbox').off("change");
				$('.disinherited-checkbox').change(commonService.handleDisinheritedCheckbox);
			}

			this.handleTitleCheckbox = function() {
				var anythingChecked = ($('#ou_roles_listTable1 input:checkbox:checked').length > 0);

				if (!anythingChecked) {
					$("#titleAssignTitlesButton").prop('disabled', true);
					$("#assignAllButton").prop('disabled', false);
					$("#assignWithExceptionsButton").prop('disabled', true);
					$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				}
				else {
					$("#titleAssignTitlesButton").prop('disabled', false);
					$("#assignAllButton").prop('disabled', true);
					$("#assignWithExceptionsButton").prop('disabled', true);
					$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				}

				for (var i = 0; i < loadedEditTitles.length; i++) {
					if (loadedEditTitles[i].id == $(this).data('id')) {
						loadedEditTitles[i].state.checked = this.checked;
					}
				}
			}

			this.handleExceptedUsersCheckbox = function() {
				let dataId = $(this).data('id');
				if (this.checked) {
					selectedExceptedUsers.push(dataId);
				} else {
					selectedExceptedUsers = selectedExceptedUsers.filter(id => id !== dataId);
				}

				var anythingChecked = selectedExceptedUsers.length > 0;
				if (!anythingChecked) {
					$("#assignWithExceptionsButton").prop('disabled', true);
					$("#assignAllButton").prop('disabled', false);
					$("#assignWithExceptionsButton").prop('disabled', true);
					$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				}
				else {
					$("#assignWithExceptionsButton").prop('disabled', false);
					$("#assignWithExceptionsButton").show();
					$("#assignAllButton").prop('disabled', true);
					$("#assignNegativeWithInheritanceButton").prop('disabled', true);
					$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				}
			}

			this.handleInheritedCheckbox = function() {
				let dataId = $(this).data('id');
				if (this.checked) {
					selectedNegativeInheritedEditTitles.push(dataId);
				} else {
					selectedNegativeInheritedEditTitles = selectedNegativeInheritedEditTitles.filter(id => id !== dataId);
				}
				var anythingChecked = selectedNegativeInheritedEditTitles.length > 0;
				if (!anythingChecked) {
					$("#assignAllButton").prop('disabled', false);
					$("#assignWithExceptionsButton").prop('disabled', true);
					$("#assignNegativeWithInheritanceButton").prop('disabled', true);
					$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				}
				else {
					$("#assignNegativeWithInheritanceButton").prop('disabled', false);
					$("#assignNegativeWithInheritanceButton").show();
					$("#assignAllButton").prop('disabled', true);
					$("#assignWithExceptionsButton").prop('disabled', true);
					$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				}

				for (var i = 0; i < loadedNegativeInheritedEditTitles.length; i++) {
					if (loadedNegativeInheritedEditTitles[i].id == dataId) {
						loadedNegativeInheritedEditTitles[i].state.checked = this.checked;
					}
				}
			}

			this.handleDisinheritedCheckbox = function() {
				let dataId = $(this).data('id');
				if (this.checked) {
					selectedNegativeEditTitles.push(dataId);
				} else {
					selectedNegativeEditTitles = selectedNegativeEditTitles.filter(id => id !== dataId);
				}
				var anythingChecked = selectedNegativeEditTitles.length > 0;
				if (!anythingChecked) {
					$("#assignAllButton").prop('disabled', false);
					$("#assignWithExceptionsButton").prop('disabled', true);
					$("#assignNegativeWithInheritanceButton").prop('disabled', true);
					$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				}
				else {
					$("#assignNegativeWithoutInheritanceButton").prop('disabled', false);
					$("#assignNegativeWithoutInheritanceButton").show();
					$("#assignAllButton").prop('disabled', true);
					$("#assignWithExceptionsButton").prop('disabled', true);
					$("#assignNegativeWithInheritanceButton").prop('disabled', true);
				}

				for (var i = 0; i < loadedNegativeEditTitles.length; i++) {
					if (loadedNegativeEditTitles[i].id == $(this).data('id')) {
						loadedNegativeEditTitles[i].state.checked = this.checked;
					}
				}
			}

			this.closeModal = function() {
				$('#modal-ou').modal('hide');
				commonService.resetUI();
			}

			this.resetUI = function() {
				$('.title-checkbox').removeAttr('checked');
				$('.exceptedusers-checkbox').removeAttr('checked');
				$('.inherited-checkbox').removeAttr('checked');
				$('.disinherited-checkbox').removeAttr('checked');
				$('.nav-tabs a[href="#ou_roles_title_menu"]').tab('show');
			}

			// wrapper around assignRole that gets the list of selected excepted users
			this.handleExceptedRoleAssignment = function() {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, false, ouRolesEditModalService.assignmentId, [], selectedExceptedUsers);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, false, ouRolesModalService.roleId, [], selectedExceptedUsers);
				}
			}

			// wrapper around assignRole that reads the list of checked title UUIDs called by button click
			this.handleTitleRoleAssignment = function() {
				var titleUuids = [];

				$('#ou_roles_listTable1 input:checkbox:checked').each(function(index) {
					titleUuids.push($(this).data('id'));
				});

				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, false, ouRolesEditModalService.assignmentId, titleUuids, []);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, false, ouRolesModalService.roleId, titleUuids, []);
				}
			}

			// wrapper around assignRole that assigns to everyone called by button click
			this.handleEveryoneRoleAssignment = function(inherit) {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, inherit, ouRolesEditModalService.assignmentId, [], []);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, inherit, ouRolesModalService.roleId, [], []);
				}
			}

			this.handleNegativeAssignment = function(inherit) {

				var titleUuids;
				if(inherit){
					titleUuids = selectedNegativeInheritedEditTitles;
				} else {
					titleUuids = selectedNegativeEditTitles;
				}

				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, inherit, ouRolesEditModalService.assignmentId, titleUuids, [], true);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, inherit, ouRolesModalService.roleId, titleUuids, [], true);
				}
			}
		}
		
		function OURolesModalService() {
			this.showAssignModal = function(titlesEnabled, checkedTitles, startDate, stopDate, checkedNegativeTitles = null, checkedNegativeInheritedTitles = null) {
				$('#stopDatePickerOU').data("DateTimePicker").clear();
				$('#startDatePickerOU').data("DateTimePicker").clear();
				$('#startDatePickerOU').data("DateTimePicker").date(new Date());

				// Reset UI
				$('#modal-ou #dataTabs').show();
				$('#modal-ou .tab-content').show();
				commonService.editMode = false;

				selectedNegativeInheritedEditTitles = [];
				selectedNegativeEditTitles = [];
				selectedExceptedUsers = [];

				// Fetch possible excepted users for this OU
				var url = commonService.uiUrl + "users/" + ouRolesModalService.ouUuid;
				$("#ou_roles_excepted_users_menu").load(url, function() {
					fragShowDataTableFun('#ou_roles_listTable2', 0, 25);

					// add listeners
					commonService.addExceptedUsersCheckboxListeners();
					$('#ou_roles_listTable2').on('draw.dt', function(e) {
						commonService.addExceptedUsersCheckboxListeners();
					})
				});

				if (titlesEnabled) {
					$('.title-checkbox').removeAttr('checked');
					$('a[data-toggle="tab"][href="#ou_roles_title_menu"]').tab('show');
					$("#titleAssignTitlesButton").show();
					$("#assignWithExceptionsButton").hide();
				}
				else {
					$('.exceptedusers-checkbox').removeAttr('checked');
					$('a[data-toggle="tab"][href="#ou_roles_excepted_users_menu"]').tab('show');
					$("#titleAssignTitlesButton").hide();
					$("#assignWithExceptionsButton").show();
				}

				// remove old event listeners from all tables but the excepted users table
				$('#modal-ou .table:not(#ou_roles_listTable2)').off();

				// add listeners now and e.g on page change (draw) for the tables
				commonService.setupCheckboxListeners();
				$('#modal-ou .table:not(#ou_roles_listTable2)').on('draw.dt', function(e) {
					commonService.setupCheckboxListeners();
				})

				$("#titleInheritButton").show();
				$("#ouRolesModalHeader").text(ouRolesModalService.header);

				$("#modal-ou").modal({
					backdrop: 'static',
					keyboard: false
				});
			}
			
			this.assignRole = function(objType, inherit, id, titleUuids, exceptedUserUuids, negativeAssisgnment = false) {
				var endpoint = commonService.restUrl + 'add' + objType + '/' + ouRolesModalService.ouUuid + '/' + id;

				var startDate = $('#startDatePickerOU').data('date');
				var stopDate = $('#stopDatePickerOU').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				endpoint = endpoint + dates;
				
				if (inherit) {
					endpoint = endpoint + "&inherit=true";
				}
				if (negativeAssisgnment) {
					endpoint = endpoint + "&negativeAssignment=true";
				}
				
				$.ajax({
					url: endpoint,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	                contentType: 'application/json',
	                data: JSON.stringify({
	    			      'titleUuids': titleUuids,
	    			      'exceptedUserUuids' : exceptedUserUuids
					}),
					error : function(response) {
						errorHandler(commonService.fieldNotUpdatedMsg)(response);
						commonService.closeModal();
					},
					success : function(response) {
						if (response.success) {
							if (response.users > 0) {
								var optionalSuccessMessage = usersAlreadyAssignedDirectlyMsg.format(response.users);
								notifikationService.showWarnNotification(optionalSuccessMessage);
							}
							else {
								notifikationService.showInfoNotification(commonService.fieldUpdatedMsg);
							}
						}
						else {
							// TODO: should we inform the user that we did not make any change?
							notifikationService.showInfoNotification(commonService.fieldUpdatedMsg);
						}
						
						commonService.closeModal();
						if (objType == "role") {
							commonService.parentService.loadAddUserRoleFragment();
						} else if (objType == "rolegroup") {
							commonService.parentService.loadAddRoleGroupFragment();
						}
					}
				});
			}
		}

		function OURolesEditModalService() {
			this.loadTitles = function(loadCheckedTitles, cbFun) {
				var endpoint = commonService.restUrl + 'titles/' + ouRolesEditModalService.ouUuid;

				$.ajax({
					url: endpoint,
					method: "GET",
					error: errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						loadedEditTitles = response;

						if (loadCheckedTitles) {
							ouRolesEditModalService.fetchCheckedTitles(cbFun);
						}
						else if (cbFun) {
							cbFun();
						}
					}
				});
			}

			this.fetchCheckedTitles = function(cbFun) {
				$.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/titles",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						checkedTitlesFetched = response;

						if (cbFun) {
							cbFun();
						}
					}
				});
			}

			this.loadNegativeTitles = function(loadNegativeCheckedTitles, cbFun) {
				var endpoint = commonService.restUrl + 'negativetitles/' + ouRolesEditModalService.ouUuid;

				$.ajax({
					url: endpoint,
					method: "GET",
					error: errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						loadedNegativeEditTitles = response;

						if (loadNegativeCheckedTitles) {
							ouRolesEditModalService.fetchCheckedNegativeTitles(cbFun);
						}
						else if (cbFun) {
							cbFun();
						}
					}
				});
			}

			this.fetchCheckedNegativeTitles = function(cbFun) {
				$.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/negativetitles",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						checkedNegativeTitlesFetched = response;

						if (cbFun) {
							cbFun();
						}
					}
				});
			}

			this.loadNegativeInheritedTitles = function(loadNegativeInheritedCheckedTitles, cbFun) {
				var endpoint = commonService.restUrl + 'negativeinheritedtitles/' + ouRolesEditModalService.ouUuid;

				$.ajax({
					url: endpoint,
					method: "GET",
					error: errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						loadedNegativeInheritedEditTitles = response;

						if (loadNegativeInheritedCheckedTitles) {
							ouRolesEditModalService.fetchCheckedNegativeInheritedTitles(cbFun);
						}
						else if (cbFun) {
							cbFun();
						}
					}
				});
			}

			this.fetchCheckedNegativeInheritedTitles = function(cbFun) {
				$.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/negativeinheritedtitles",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						checkedNegativeInheritedTitlesFetched = response;

						if (cbFun) {
							cbFun();
						}
					}
				});
			}

			this.showAssignModal = function(titlesEnabled, checkedTitles, startDate, stopDate, assignmentType, assignmentId, checkedNegativeTitles = null, checkedNegativeInheritedTitles = null) {
				if (startDate) {
					$('#startDatePickerOU').data("DateTimePicker").date(startDate);
				}
				else {
					$('#startDatePickerOU').data("DateTimePicker").clear();
					$('#startDatePickerOU').data("DateTimePicker").date(new Date());
				}

				if (stopDate) {
					$('#stopDatePickerOU').data("DateTimePicker").date(stopDate);
				}
				else {
					$('#stopDatePickerOU').data("DateTimePicker").clear();
				}

				// Reset UI
				$('#modal-ou #dataTabs').show();
				$('#modal-ou .tab-content').show();
				commonService.editMode = true;
				selectedNegativeInheritedEditTitles = [];
				selectedNegativeEditTitles = [];
				selectedExceptedUsers = [];

				// Clear old title selection (including negative titles)
				if (titlesEnabled) {
					ouRolesEditModalService.clearTitleSelection();
					ouRolesEditModalService.clearNegativeTitleSelection();
				}

				// Clear old exceptedUsers selection
				ouRolesEditModalService.clearExceptedUsersSelection();

				// Fetch excepted users (if any), and check checkboxes
				var url = commonService.uiUrl + ouRolesEditModalService.roleType + "/exceptedusers2/" + ouRolesEditModalService.ouUuid + "/" + assignmentId;
				$("#ou_roles_excepted_users_menu").load(url, function() {
					fragShowDataTableFun('#ou_roles_listTable2', 0, 25);

					// fetch all rows from the datatable and add the checked checkboxes to selectedExceptedUsers
					var allRows = $('#ou_roles_listTable2').DataTable().rows().nodes();
					$(allRows).each(function() {
						// Find checkboxen i rækken
						var checkbox = $(this).find('input[type="checkbox"]');
						if (checkbox.length > 0 && checkbox.is(':checked')) {
							// Tilføj til listen, hvis den er tjekket
							selectedExceptedUsers.push(checkbox.data('id'));
						}
					});

					// add listeners
					commonService.addExceptedUsersCheckboxListeners();
					$('#ou_roles_listTable2').on('draw.dt', function(e) {
						commonService.addExceptedUsersCheckboxListeners();
					})
				});

				// Excepted users case
				if (assignmentType == 0) {
					// select tab
					$('#modal-ou a[data-toggle="tab"][href="#ou_roles_excepted_users_menu"]').tab('show');
				}

				// Titles case
				else if (assignmentType >= 1 && titlesEnabled) {
					ouRolesEditModalService.loadTitles(true, function() {
						// Check the boxes corresponding to the list of checked titles from the backend
						if (checkedTitles != null) {
							for (var i = 0; i < loadedEditTitles.length; i++) {
								loadedEditTitles[i].state.checked = (checkedTitles.indexOf(loadedEditTitles[i].id) > -1);
								$('#modal-ou .title-checkbox[data-id=' + loadedEditTitles[i].id + ']').prop('checked', loadedEditTitles[i].state.checked);
							}
						}
						else if (checkedTitlesFetched) {
							for (var i = 0; i < loadedEditTitles.length; i++) {
								loadedEditTitles[i].state.checked = (checkedTitlesFetched != null && checkedTitlesFetched.indexOf(loadedEditTitles[i].id) > -1);
								$('#modal-ou .title-checkbox[data-id=' + loadedEditTitles[i].id + ']').prop('checked', loadedEditTitles[i].state.checked);
							}
						}

						// select tab
						$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_menu"]').tab('show');
						commonService.handleTitleCheckbox();
					});
				}

				// Negative cases
				if(titlesEnabled){
					ouRolesEditModalService.loadNegativeTitles(true, function() {
						// Check the boxes corresponding to the list of checked titles from the backend
						if (checkedNegativeTitles != null) {
							for (var i = 0; i < loadedNegativeEditTitles.length; i++) {
								loadedNegativeEditTitles[i].state.checked = (checkedNegativeTitles.indexOf(loadedNegativeEditTitles[i].id) > -1);
								$('#modal-ou .disinherited-checkbox[data-id=' + loadedNegativeEditTitles[i].id + ']').prop('checked', loadedNegativeEditTitles[i].state.checked);
							}
							checkedNegativeTitles.forEach(l => {
								selectedNegativeEditTitles.push(l);
							});
							if (checkedNegativeTitles.length > 0) {
								$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_disinherited_menu"]').tab('show');
							}
						}
						else if (checkedNegativeTitlesFetched) {
							for (var i = 0; i < loadedNegativeEditTitles.length; i++) {
								loadedNegativeEditTitles[i].state.checked = (checkedNegativeTitlesFetched != null && checkedNegativeTitlesFetched.indexOf(loadedNegativeEditTitles[i].id) > -1);
								$('#modal-ou .disinherited-checkbox[data-id=' + loadedNegativeEditTitles[i].id + ']').prop('checked', loadedNegativeEditTitles[i].state.checked);
							}
						}
					});

					ouRolesEditModalService.loadNegativeInheritedTitles(true, function() {
						// Check the boxes corresponding to the list of checked titles from the backend
						if (checkedNegativeInheritedTitles != null) {
							for (var i = 0; i < loadedNegativeInheritedEditTitles.length; i++) {
								loadedNegativeInheritedEditTitles[i].state.checked = (checkedNegativeInheritedTitles.indexOf(loadedNegativeInheritedEditTitles[i].id) > -1);
							}
							checkedNegativeInheritedTitles.forEach(l => {
								selectedNegativeInheritedEditTitles.push(l);
							});
							if (checkedNegativeInheritedTitles.length > 0) {
								$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_inherited_menu"]').tab('show');
							}
						}
						else if (checkedNegativeInheritedTitlesFetched) {
							for (var i = 0; i < loadedNegativeInheritedEditTitles.length; i++) {
								loadedNegativeInheritedEditTitles[i].state.checked = (checkedNegativeInheritedTitlesFetched != null && checkedNegativeInheritedTitlesFetched.indexOf(loadedNegativeInheritedEditTitles[i].id) > -1);
								if (loadedNegativeInheritedEditTitles[i].state.checked) {
									selectedNegativeInheritedEditTitles.push(loadedNegativeInheritedEditTitles[i].id);
								}
							}
						}
						$("#ou_roles_listTable3").DataTable().rows().nodes().to$().find('input[type="checkbox"]').each(function(e) {
							$(this).prop('checked', (selectedNegativeInheritedEditTitles.indexOf(this.dataset.id) > -1));
						});
					});
				}

				// remove old event listeners from all tables but the excepted users table
				$('#modal-ou .table:not(#ou_roles_listTable2)').off();

				// add listeners now and e.g on page change (draw) for the tables
				commonService.setupCheckboxListeners();
				$('#modal-ou .table:not(#ou_roles_listTable2)').on('draw.dt', function(e) {
					commonService.setupCheckboxListeners();
				})

				$("#modal-ou").attr('assignmentId', assignmentId);
				$("#ouRolesModalHeader").text(ouRolesEditModalService.header);

				$("#modal-ou").modal({
					backdrop: 'static',
					keyboard: false
				});
			}

			this.assignRole = function(objType, inherit, id, titleUuids, exceptedUserUuids, negativeAssisgnment = false) {
				var endpoint = commonService.restUrl + 'edit' + objType + '/' + ouRolesEditModalService.ouUuid + '/' + id;
				var startDate = $('#startDatePickerOU').data('date');
				var stopDate = $('#stopDatePickerOU').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				endpoint = endpoint + dates;

				if (inherit) {
					endpoint = endpoint + "&inherit=true";
				}
				if (negativeAssisgnment) {
					endpoint = endpoint + "&negativeAssignment=true";
				}

				$.ajax({
					url: endpoint,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	                contentType: 'application/json',
	                data: JSON.stringify({
	    			      'titleUuids': titleUuids,
	    			      'exceptedUserUuids' : exceptedUserUuids
					}),
					error : function(response) {
						errorHandler(commonService.fieldNotUpdatedMsg)(response);
						setTimeout(function(){ commonService.parentService.loadRolesFragment(); }, 200);
						commonService.closeModal();
					},
					success : function(response) {
						notificationService.showInfoNotification(commonService.fieldUpdatedMsg);
						setTimeout(function(){ commonService.parentService.loadRolesFragment(); }, 200);
						commonService.closeModal();
					}
				});

			}

			this.clearTitleSelection = function() {
				$('#modal-ou .title-checkbox:checked').removeAttr('checked');
			}
			this.clearExceptedUsersSelection = function() {
				$('#modal-ou .exceptedusers-checkbox:checked').removeAttr('checked');
			}
			this.clearNegativeInheritedTitleSelection = function() {
				$('#modal-ou .inherited-checkbox:checked').removeAttr('checked');
			}
			this.clearNegativeTitleSelection = function() {
				$('#modal-ou .disinherited-checkbox:checked').removeAttr('checked');
			}
		}
		
		function NotificationService() {
			this.showInfoNotification = function(message) {
				$.notify({
					message: message,
					status: 'success',
					timeout: 2000
				});
			}
			
			this.showWarnNotification = function(message) {
				$.notify({
					message: message,
					status: 'warning',
					timeout: 3000
				});
			}

			this.showErrorNotification = function(message) {
				$.notify({
					message: message,
					status: 'danger',
					timeout: 4000
				});
			}
		}

		/*]]>*/

	</script>
</th:block>