<th:block th:fragment="ouRolesModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade bd-example-modal-lg" id="modal-ou" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="commonService.closeModal();">&times;</button>
					<h4 id="ouRolesModalHeader" th:text="#{html.page.ous.edit.title.choose}"></h4>
				</div>

				<div class="modal-body" style="overflow-y: initial !important;">
					<p th:utext="#{html.page.ous.edit.choose.text.intro}"></p>
					<ul>
						<li th:if="${titles != null and titles.size() > 0}" th:text="#{html.page.ous.edit.choose.text.titles}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.exceptedusers}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.all}"></li>
						<li th:text="#{html.page.ous.edit.choose.text.remove}"></li>
					</ul>

					<ul class="nav nav-tabs" id="dataTabs">
						<li th:if="${titles != null and titles.size() > 0}" class="active">
							<a data-toggle="tab" data-tab-type="ou_roles_title_menu" href="#ou_roles_title_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.titles}"></a>
						</li>

						<li>
							<a data-toggle="tab" data-tab-type="ou_roles_excepted_users_menu" href="#ou_roles_excepted_users_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.exceptedusers}"></a>
						</li>

						<li th:if="${allTitles != null and allTitles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_inherited_menu" href="#ou_roles_title_inherited_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.excepttitlesinherented}"></a>
						</li>

						<li th:if="${titles != null and titles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_disinherited_menu" href="#ou_roles_title_disinherited_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.excepttitlesdisinherented}"></a>
						</li>

						<li th:if="${allTitles != null and allTitles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_positive_inherited_menu" href="#ou_roles_title_positive_inherited_menu" style="white-space: pre" th:text="#{html.page.ous.edit.tab.titlesInherited}"></a>
						</li>
					</ul>

					<div class="tab-content">
						<div id="ou_roles_title_menu" class="tab-pane active" th:if="${titles != null and titles.size() > 0}">
							<table th:if="${titles != null and titles.size() > 0}" id="ou_roles_listTable1" class="table table-striped">
								<thead>
									<tr>
										<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
										<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
									</tr>
								</thead>

								<tbody>
									 <tr th:each="title : ${titles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="title-checkbox" type="checkbox" th:attr="data-id=${title.id}, checked=${title.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${title.name} + ' '"></span>
											<span th:if="${title.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${title.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_excepted_users_menu" class="tab-pane">
						</div>

						<div id="ou_roles_title_inherited_menu" class="tab-pane"  th:if="${allTitles != null and allTitles.size() > 0}">
							<table id="ou_roles_listTable3" class="table table-striped">
								<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
									<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
								</tr>
								</thead>

								<tbody>
									<tr th:each="negative : ${allTitles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="inherited-checkbox" type="checkbox" th:attr="data-id=${negative.id}, checked=${negative.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${negative.name} + ' '"></span>
											<span th:if="${negative.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${negative.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_title_disinherited_menu" class="tab-pane"  th:if="${titles != null and titles.size() > 0}"s>
							<table id="ou_roles_listTable4" class="table table-striped">
								<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
									<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
								</tr>
								</thead>

								<tbody>
									<tr th:each="title : ${titles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="disinherited-checkbox" type="checkbox" th:attr="data-id=${title.id}, checked=${title.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>

										<td>
											<span th:text="${title.name} + ' '"></span>
											<span th:if="${title.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
											<span th:if="${title.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_title_positive_inherited_menu" class="tab-pane"  th:if="${allTitles != null and allTitles.size() > 0}">
							<table id="ou_roles_listTable5" class="table table-striped">
								<thead>
								<tr>
									<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
									<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
								</tr>
								</thead>

								<tbody>
								<tr th:each="positiveTitle : ${allTitles}">
									<td>
										<div class="checkbox c-checkbox">
											<label>
												<input class="positive-titles-inherited-checkbox" type="checkbox" th:attr="data-id=${positiveTitle.id}, checked=${positiveTitle.state.checked}" />
												<span class="fa fa-check"></span>
											</label>
										</div>
									</td>

									<td>
										<span th:text="${positiveTitle.name} + ' '"></span>
										<span th:if="${positiveTitle.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span>
										<span th:if="${positiveTitle.onAssignmentButNotPosition}" class="badge" style="background-color: grey; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.inactive}"></span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>


					</div>
					
	               	<div style="height: 70px;">
						<h4 class="md-12" th:text="#{html.word.validity}"></h4>
	
						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.from}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="startDatePickerOU">
									<input type="text" class="form-control"/>
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
	
						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.to}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="stopDatePickerOU">
									<input type="text" class="form-control" />
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" disabled="disabled" id="titleAssignTitlesButton" class="btn btn-primary" onclick="commonService.handleTitleRoleAssignment()" th:text="#{html.page.ous.edit.button.assign}"></button>
					<button type="button" disabled="disabled" id="assignWithExceptionsButton" class="btn btn-primary" onclick="commonService.handleExceptedRoleAssignment()" th:text="#{html.page.ous.edit.button.assign.exceptedusers}"></button>
					<button type="button" disabled="disabled" id="assignPositiveWithInheritanceButton" class="btn btn-primary" onclick="commonService.handlePositiveInheritedTitleAssignment()" th:text="#{html.page.ous.edit.button.assign.titlesInherited}"></button>
					<button type="button" disabled="disabled" id="assignNegativeWithInheritanceButton" class="btn btn-primary" onclick="commonService.handleNegativeAssignment(true)" th:text="#{html.page.ous.edit.tab.excepttitlesinherented}"></button>
					<button type="button" disabled="disabled" id="assignNegativeWithoutInheritanceButton" class="btn btn-primary" onclick="commonService.handleNegativeAssignment(false)" th:text="#{html.page.ous.edit.tab.excepttitlesdisinherented}"></button>
					<div class="btn-group" id="titleInheritButton">
                        <button id="assignAllButton" type="button" style="margin-left: 5px;" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        	<span>
								<span th:text="#{html.page.ous.edit.button.assign.intro}"></span>&nbsp;
								<em class="fa fa-fw fa-caret-down"></em>
							</span>
                        </button>
						<ul class="dropdown-menu">
			    			<li><a href="#" onclick="commonService.handleEveryoneRoleAssignment(false)" id="assignEveryoneChoiceDropdownForTestCases" th:text="#{html.page.ous.edit.button.assign.all}"></a></li>
	                		<li><a href="#" onclick="commonService.handleEveryoneRoleAssignment(true)" th:text="#{html.page.ous.edit.button.assign.all.inheritance}"></a></li>
			  			</ul>
			  		</div>
			  		<button type="button" class="btn btn-warning" style="margin-left: 5px;" onclick="commonService.closeModal();" th:text="#{html.control.button.cancel}"></button>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="ouRolesModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		
		/*[+
		var titlesEnabled = [[${titlesEnabled}]];
		var allTitles = [[${allTitles}]];
		var titles = [[${titles}]];
		+]*/

		var ouRolesModalService;
		var ouRolesEditModalService;
		var commonService;
		var notifikationService;
		var checkedTitlesFetched;
		var selectedNegativeTitles = [];
		var selectedNegativeInheritedTitles = [];
		var selectedPositiveInheritedTitles = [];
		var selectedExceptedUsers = [];
		var selectedTitles = [];
		var negativeInheritedTable;
		var positiveInheritedTable;
		var exceptedUsersTable;


		$(document).ready(function() {
			ouRolesModalService = new OURolesModalService();
            ouRolesEditModalService = new OURolesEditModalService();
            commonService = new CommonService();
            commonService.init();

    		/*[+
    			commonService.fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
    			commonService.fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];
    			commonService.restUrl = [[@{/rest/ous/}]];
    			commonService.uiUrl = [[@{/ui/ous/manage/}]];
    			commonService.editMode = false;
    			ouRolesModalService.header = [[#{html.page.ous.edit.title.choose}]];
    			ouRolesEditModalService.header = [[#{html.page.ous.edit.title.choose.edit}]];
    		+]*/
            
            notifikationService = new NotificationService();
        });

        function CommonService() {
			this.init = function() {
				let self = this;
				$("#assignNegativeWithInheritanceButton").hide();
				$("#assignNegativeWithoutInheritanceButton").hide();
				$("#assignPositiveWithInheritanceButton").hide();
				negativeInheritedTable = fragShowDataTableFun('#ou_roles_listTable3', 0, 25);
				positiveInheritedTable = fragShowDataTableFun('#ou_roles_listTable5', 0, 25);

				// Add change tab event handler
				$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {

					// Fetch active tab and show/hide buttons depending on that
					var tabType = $('#modal-ou .nav-tabs li.active a[data-toggle="tab"]').data('tab-type');

					if (tabType == 'ou_roles_title_menu') {
						commonService.handleHideButtons("#titleAssignTitlesButton");
					}
					else if (tabType == 'ou_roles_excepted_users_menu') {
						commonService.handleHideButtons("#assignWithExceptionsButton");
					}
					else if (tabType == 'ou_roles_title_inherited_menu') {
						commonService.handleHideButtons("#assignNegativeWithInheritanceButton");
					}
					else if (tabType == 'ou_roles_title_disinherited_menu') {
						commonService.handleHideButtons("#assignNegativeWithoutInheritanceButton");
					}
					else if (tabType == 'ou_roles_title_positive_inherited_menu') {
						commonService.handleHideButtons("#assignPositiveWithInheritanceButton");
					}
				});
			}

			this.setupCheckboxListeners = () => {
				commonService.addSimpleCheckboxListener('.title-checkbox', commonService.handleTitleCheckbox);
				commonService.addSimpleCheckboxListener('.positive-titles-inherited-checkbox', commonService.handlePositiveTitleInheritedCheckbox);
				commonService.addSimpleCheckboxListener('.inherited-checkbox', commonService.handleInheritedCheckbox);
				commonService.addSimpleCheckboxListener('.disinherited-checkbox', commonService.handleDisinheritedCheckbox);
			}

			this.addSimpleCheckboxListener = function(selector, method) {
				$(selector).off("change");
				$(selector).change(method);
			}

			this.handleDisableButtons = function(selectorToEnable) {
				$("#titleAssignTitlesButton").prop('disabled', true);
				$("#assignAllButton").prop('disabled', true);
				$("#assignWithExceptionsButton").prop('disabled', true);
				$("#assignNegativeWithoutInheritanceButton").prop('disabled', true);
				$("#assignNegativeWithInheritanceButton").prop('disabled', true);
				$("#assignPositiveWithInheritanceButton").prop('disabled', true);

				if (selectorToEnable) {
					$(selectorToEnable).prop('disabled', false);
				}
			}

			this.handleHideButtons = function(selectorToShow) {
				$("#titleAssignTitlesButton").hide();
				$("#assignWithExceptionsButton").hide();
				$("#assignNegativeWithInheritanceButton").hide();
				$("#assignNegativeWithoutInheritanceButton").hide();
				$("#assignPositiveWithInheritanceButton").hide();

				if (selectorToShow) {
					$(selectorToShow).show();
				}
			}

			this.handleCheckboxGeneric = function(dataId, checked, list, btnToEnable) {
				if (checked) {
					list.push(dataId)
				} else {
					const index = list.indexOf(dataId);
					if (index !== -1) {
						list.splice(index, 1);
					}
				}

				const toEnable = list.length > 0 ? btnToEnable : "#assignAllButton";
				commonService.handleDisableButtons(toEnable);

				if (toEnable == btnToEnable) {
					$(toEnable).show();
				}
			}

			this.handleTitleCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedTitles, "#titleAssignTitlesButton");
			}

			this.handleExceptedUsersCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedExceptedUsers, "#assignWithExceptionsButton");
			}

			this.handleInheritedCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedNegativeInheritedTitles, "#assignNegativeWithInheritanceButton");
			}

			this.handleDisinheritedCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedNegativeTitles, "#assignNegativeWithoutInheritanceButton");
			}

			this.handlePositiveTitleInheritedCheckbox = function() {
				commonService.handleCheckboxGeneric($(this).data('id'), this.checked, selectedPositiveInheritedTitles, "#assignPositiveWithInheritanceButton");
			}

			this.closeModal = function() {
				$('#modal-ou').modal('hide');
				commonService.resetUI();
			}

			this.resetUI = function() {
				commonService.clearSelections();
				$('.nav-tabs a[href="#ou_roles_title_menu"]').tab('show');
			}

			// wrapper around assignRole that gets the list of selected excepted users
			this.handleExceptedRoleAssignment = function() {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, false, ouRolesEditModalService.assignmentId, [], selectedExceptedUsers);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, false, ouRolesModalService.roleId, [], selectedExceptedUsers);
				}
			}

			// wrapper around assignRole that reads the list of checked title UUIDs called by button click
			this.handleTitleRoleAssignment = function() {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, false, ouRolesEditModalService.assignmentId, selectedTitles, []);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, false, ouRolesModalService.roleId, selectedTitles, []);
				}
			}

			// wrapper around assignRole that assigns to everyone called by button click
			this.handleEveryoneRoleAssignment = function(inherit) {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, inherit, ouRolesEditModalService.assignmentId, [], []);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, inherit, ouRolesModalService.roleId, [], []);
				}
			}

			this.handleNegativeAssignment = function(inherit) {

				var titleUuids;
				if(inherit){
					titleUuids = selectedNegativeInheritedTitles;
				} else {
					titleUuids = selectedNegativeTitles;
				}

				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, inherit, ouRolesEditModalService.assignmentId, titleUuids, [], true);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, inherit, ouRolesModalService.roleId, titleUuids, [], true);
				}
			}

			this.handlePositiveInheritedTitleAssignment = function() {
				if (commonService.editMode) {
					ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, true, ouRolesEditModalService.assignmentId, selectedPositiveInheritedTitles, [], false);
				} else {
					ouRolesModalService.assignRole(ouRolesModalService.roleType, true, ouRolesModalService.roleId, selectedPositiveInheritedTitles, [], false);
				}
			}

			this.clearLists = function() {
				selectedNegativeTitles = [];
				selectedNegativeInheritedTitles = [];
				selectedPositiveInheritedTitles = [];
				selectedExceptedUsers = [];
				selectedTitles = [];
			}

			this.clearSelections = function() {
				if (titlesEnabled) {
					commonService.clearSelection('#modal-ou .title-checkbox:checked');
					commonService.clearDatatableSelection('.inherited-checkbox', negativeInheritedTable);
					commonService.clearSelection('#modal-ou .disinherited-checkbox:checked');
					commonService.clearDatatableSelection('.positive-titles-inherited-checkbox', positiveInheritedTable);
				}

				commonService.clearDatatableSelection('.exceptedusers-checkbox', exceptedUsersTable);
			}

			this.clearSelection = function(selector) {
				$(selector).prop('checked', false);
			}

			this.clearDatatableSelection = function(selector, table) {
				if (table == null) {
					return;
				}

				table.rows().every(function() {
					let row = $(this.node());
					row.find(selector).prop('checked', false);
				});

				$(selector).prop('checked', false);
			};
		}
		
		function OURolesModalService() {
			this.showAssignModal = function(titlesEnabled, startDate, stopDate) {
				$('#stopDatePickerOU').data("DateTimePicker").clear();
				$('#startDatePickerOU').data("DateTimePicker").clear();
				$('#startDatePickerOU').data("DateTimePicker").date(new Date());

				// Reset UI
				$('#modal-ou #dataTabs').show();
				$('#modal-ou .tab-content').show();
				commonService.editMode = false;
				commonService.clearLists();
				commonService.clearSelections();

				// fetch possible excepted users for this OU
				var url = commonService.uiUrl + "users/" + ouRolesModalService.ouUuid;
				$("#ou_roles_excepted_users_menu").load(url, function() {
					exceptedUsersTable = fragShowDataTableFun('#ou_roles_listTable2', 0, 25);
					// add listeners
					commonService.addSimpleCheckboxListener('.exceptedusers-checkbox', commonService.handleExceptedUsersCheckbox);
					$('#ou_roles_listTable2').on('draw.dt', function(e) {
						commonService.addSimpleCheckboxListener('.exceptedusers-checkbox', commonService.handleExceptedUsersCheckbox);
					})
				});

				// show ui correctly
				if (titlesEnabled) {
					commonService.clearSelection('#modal-ou .title-checkbox:checked');
					$('a[data-toggle="tab"][href="#ou_roles_title_menu"]').tab('show');
					$("#titleAssignTitlesButton").show();
					$("#assignWithExceptionsButton").hide();
				}
				else {
					commonService.clearDatatableSelection('.exceptedusers-checkbox', exceptedUsersTable);
					$("#titleAssignTitlesButton").hide();
					$("#assignWithExceptionsButton").show();
				}

				// remove old event listeners from all tables but the excepted users table
				$('#modal-ou .table:not(#ou_roles_listTable2)').off();

				// add listeners now and e.g on page change (draw) for the tables
				commonService.setupCheckboxListeners();
				$('#modal-ou .table:not(#ou_roles_listTable2)').on('draw.dt', function(e) {
					commonService.setupCheckboxListeners();
				})

				$("#titleInheritButton").show();
				$("#ouRolesModalHeader").text(ouRolesModalService.header);

				$("#modal-ou").modal({
					backdrop: 'static',
					keyboard: false
				});
			}
			
			this.assignRole = function(objType, inherit, id, titleUuids, exceptedUserUuids, negativeAssisgnment = false) {
				var endpoint = commonService.restUrl + 'add' + objType + '/' + ouRolesModalService.ouUuid + '/' + id;

				var startDate = $('#startDatePickerOU').data('date');
				var stopDate = $('#stopDatePickerOU').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				endpoint = endpoint + dates;
				
				if (inherit) {
					endpoint = endpoint + "&inherit=true";
				}
				if (negativeAssisgnment) {
					endpoint = endpoint + "&negativeAssignment=true";
				}
				
				$.ajax({
					url: endpoint,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	                contentType: 'application/json',
	                data: JSON.stringify({
	    			      'titleUuids': titleUuids,
	    			      'exceptedUserUuids' : exceptedUserUuids
					}),
					error : function(response) {
						errorHandler(commonService.fieldNotUpdatedMsg)(response);
						commonService.closeModal();
					},
					success : function(response) {
						if (response.success) {
							if (response.users > 0) {
								var optionalSuccessMessage = usersAlreadyAssignedDirectlyMsg.format(response.users);
								notifikationService.showWarnNotification(optionalSuccessMessage);
							}
							else {
								notifikationService.showInfoNotification(commonService.fieldUpdatedMsg);
							}
						}
						else {
							// TODO: should we inform the user that we did not make any change?
							notifikationService.showInfoNotification(commonService.fieldUpdatedMsg);
						}
						
						commonService.closeModal();
						if (objType == "role") {
							commonService.parentService.loadAddUserRoleFragment();
						} else if (objType == "rolegroup") {
							commonService.parentService.loadAddRoleGroupFragment();
						}
					}
				});
			}
		}

		function OURolesEditModalService() {
			this.fetchCheckedTitles = function() {
				$.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/titles",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedTitles = response;
						for (var i = 0; i < selectedTitles.length; i++) {
							$('#modal-ou .title-checkbox[data-id=' + selectedTitles[i] + ']').prop('checked', true);
						}
					}
				});
			}

			this.fetchCheckedNegativeTitles = function() {
				$.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/negativetitles",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedNegativeTitles = response;
						for (var i = 0; i < selectedNegativeTitles.length; i++) {
							$('#modal-ou .disinherited-checkbox[data-id=' + selectedNegativeTitles[i] + ']').prop('checked', true);
						}
					}
				});
			}

			this.fetchCheckedNegativeInheritedTitles = function() {
				$.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/inheritedtitles?positive=false",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedNegativeInheritedTitles = response;
						ouRolesEditModalService.updateDatatableWithCheckboxChecks('.inherited-checkbox', negativeInheritedTable, selectedNegativeInheritedTitles);
					}
				});
			}

			this.fetchCheckedPositiveInheritedTitles = function() {
				$.ajax({
					url: commonService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/inheritedtitles?positive=true",
					method: "GET",
					error : errorHandler(commonService.fieldNotUpdatedMsg),
					success : function(response) {
						selectedPositiveInheritedTitles = response;
						ouRolesEditModalService.updateDatatableWithCheckboxChecks('.positive-titles-inherited-checkbox', positiveInheritedTable, selectedPositiveInheritedTitles);
					}
				});
			}

			this.updateDatatableWithCheckboxChecks = function(checkboxClass, table, selectedIds) {
				table.on('draw.dt', function() {
					$(checkboxClass).each(function() {
						let dataId = $(this).data('id');
						if (selectedIds.includes(dataId)) {
							$(this).prop('checked', true);
						}
					});
				});

				table.draw();
			}

			this.handleDates = function(startDate, stopDate) {
				if (startDate) {
					$('#startDatePickerOU').data("DateTimePicker").date(startDate);
				}
				else {
					$('#startDatePickerOU').data("DateTimePicker").clear();
					$('#startDatePickerOU').data("DateTimePicker").date(new Date());
				}

				if (stopDate) {
					$('#stopDatePickerOU').data("DateTimePicker").date(stopDate);
				}
				else {
					$('#stopDatePickerOU').data("DateTimePicker").clear();
				}
			}

			this.showAssignModal = function(titlesEnabled, startDate, stopDate, assignmentType, assignmentId) {
				ouRolesEditModalService.handleDates(startDate, stopDate);

				// Reset UI
				$('#modal-ou #dataTabs').show();
				$('#modal-ou .tab-content').show();
				commonService.editMode = true;
				commonService.clearLists();
				commonService.clearSelections();


				// Fetch excepted users (if any), and check checkboxes
				var url = commonService.uiUrl + ouRolesEditModalService.roleType + "/exceptedusers2/" + ouRolesEditModalService.ouUuid + "/" + assignmentId;
				$("#ou_roles_excepted_users_menu").load(url, function() {
					exceptedUsersTable = fragShowDataTableFun('#ou_roles_listTable2', 0, 25);

					// fetch all rows from the datatable and add the checked checkboxes to selectedExceptedUsers
					var allRows = $('#ou_roles_listTable2').DataTable().rows().nodes();
					$(allRows).each(function() {
						// Find checkboxen i rækken
						var checkbox = $(this).find('input[type="checkbox"]');
						if (checkbox.length > 0 && checkbox.is(':checked')) {
							// Tilføj til listen, hvis den er tjekket
							selectedExceptedUsers.push(checkbox.data('id'));
						}
					});

					// add listeners
					commonService.addSimpleCheckboxListener('.exceptedusers-checkbox', commonService.handleExceptedUsersCheckbox);
					$('#ou_roles_listTable2').on('draw.dt', function(e) {
						commonService.addSimpleCheckboxListener('.exceptedusers-checkbox', commonService.handleExceptedUsersCheckbox);
					})
				});

				// excepted users case
				if (assignmentType == 0) {
					// select tab
					$('#modal-ou a[data-toggle="tab"][href="#ou_roles_excepted_users_menu"]').tab('show');
				} else if (titlesEnabled) {
					if (assignmentType >= 1) {
						// assigned to 1+ titles
						ouRolesEditModalService.fetchCheckedTitles();
						$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_menu"]').tab('show');

					} else if (assignmentType == -3) {
						// contains excepted titles with inherit
						ouRolesEditModalService.fetchCheckedNegativeInheritedTitles();
						$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_inherited_menu"]').tab('show');

					} else if (assignmentType == -4) {
						// contains excepted titles
						ouRolesEditModalService.fetchCheckedNegativeTitles();
						$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_disinherited_menu"]').tab('show');

					} else if (assignmentType == -5) {
						// contains selected titles with inherit
						ouRolesEditModalService.fetchCheckedPositiveInheritedTitles();
						$('#modal-ou a[data-toggle="tab"][href="#ou_roles_title_positive_inherited_menu"]').tab('show');
					}
				}

				// remove old event listeners from all tables but the excepted users table
				$('#modal-ou .table:not(#ou_roles_listTable2)').off();

				// add listeners now and e.g on page change (draw) for the tables
				commonService.setupCheckboxListeners();
				$('#modal-ou .table:not(#ou_roles_listTable2)').on('draw.dt', function(e) {
					commonService.setupCheckboxListeners();
				})

				$("#modal-ou").attr('assignmentId', assignmentId);
				$("#ouRolesModalHeader").text(ouRolesEditModalService.header);

				$("#modal-ou").modal({
					backdrop: 'static',
					keyboard: false
				});
			}

			this.assignRole = function(objType, inherit, id, titleUuids, exceptedUserUuids, negativeAssisgnment = false) {
				var endpoint = commonService.restUrl + 'edit' + objType + '/' + ouRolesEditModalService.ouUuid + '/' + id;
				var startDate = $('#startDatePickerOU').data('date');
				var stopDate = $('#stopDatePickerOU').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				endpoint = endpoint + dates;

				if (inherit) {
					endpoint = endpoint + "&inherit=true";
				}
				if (negativeAssisgnment) {
					endpoint = endpoint + "&negativeAssignment=true";
				}

				$.ajax({
					url: endpoint,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	                contentType: 'application/json',
	                data: JSON.stringify({
	    			      'titleUuids': titleUuids,
	    			      'exceptedUserUuids' : exceptedUserUuids
					}),
					error : function(response) {
						errorHandler(commonService.fieldNotUpdatedMsg)(response);
						setTimeout(function(){ commonService.parentService.loadRolesFragment(); }, 200);
						commonService.closeModal();
					},
					success : function(response) {
						notificationService.showInfoNotification(commonService.fieldUpdatedMsg);
						setTimeout(function(){ commonService.parentService.loadRolesFragment(); }, 200);
						commonService.closeModal();
					}
				});

			}
		}
		
		function NotificationService() {
			this.showInfoNotification = function(message) {
				$.notify({
					message: message,
					status: 'success',
					timeout: 2000
				});
			}
			
			this.showWarnNotification = function(message) {
				$.notify({
					message: message,
					status: 'warning',
					timeout: 3000
				});
			}

			this.showErrorNotification = function(message) {
				$.notify({
					message: message,
					status: 'danger',
					timeout: 4000
				});
			}
		}

		/*]]>*/

	</script>
</th:block>