<th:block th:fragment="ouRolesEditModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="modal fade bd-example-modal-lg" id="modal-ou-edit" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="ouRolesEditModalService.closeModal();">&times;</button>
					<h4 th:text="#{html.page.ous.edit.title.choose}"></h4>
				</div>

				<div class="modal-body" style="overflow-y: initial !important;">
					<ul class="nav nav-tabs" id="dataTabs">
						<li sec:authorize="hasRole('ROLE_ASSIGNER')" th:if="${titles != null and titles.size() > 0}">
							<a data-toggle="tab" data-tab-type="ou_roles_title_edit_menu" href="#ou_roles_title_edit_menu" th:text="#{html.page.ous.edit.tab.titles}"></a>
						</li>

						<li sec:authorize="hasRole('ROLE_ASSIGNER')">
							<a data-toggle="tab" data-tab-type="ou_roles_excepted_users_edit_menu" href="#ou_roles_excepted_users_edit_menu" th:text="#{html.page.ous.edit.tab.exceptedusers}"></a>
						</li>
					</ul>

					<div class="tab-content">
						<div id="ou_roles_title_edit_menu" class="tab-pane fade in active" th:if="${titles != null and titles.size() > 0}">
							<table th:if="${titles != null and titles.size() > 0}" id="ou_roles_listTable1" class="table table-striped">
								<thead>
									<tr>
										<th class="col-md-2" th:text="#{html.entity.title.checked}"></th>
										<th class="col-md-10" th:text="#{html.entity.title.name}"></th>
									</tr>
								</thead>

								<tbody>
									 <tr th:each="title : ${titles}">
										<td>
											<div class="checkbox c-checkbox">
												<label>
													<input class="title-checkbox" type="checkbox" th:attr="data-id=${title.id}, checked=${title.state.checked}" />
													<span class="fa fa-check"></span>
												</label>
											</div>
										</td>
										<td><span th:text="${title.name} + ' '"></span><span th:if="${title.emptyTitle}" class="badge" style="background-color: #ff8517; color: #FFFFFF;" th:text="#{html.page.ous.edit.tab.titles.empty}"></span></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="ou_roles_excepted_users_edit_menu" class="tab-pane fade in" th:classappend ="${titles != null and titles.size() > 0} ? '' : 'in active'">
							<div th:replace="ous/fragments/ou_excepted_users :: table"></div>
						</div>
					</div>
					
	               	<div style="height: 70px;">
						<h4 class="md-12" th:text="#{html.word.validity}"></h4>
	
						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.from}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="startDatePickerEditOU">
									<input type="text" class="form-control"/>
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
	
						<b class="col-sm-1" style="padding-top: 7px;" th:text="#{html.word.to}"></b>
						<div class="col-md-5">
							<div class="form-group">
								<div class="input-group date" id="stopDatePickerEditOU">
									<input type="text" class="form-control" />
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" style="margin-left: 5px;" onclick="ouRolesEditModalService.saveChanges();" th:text="#{html.control.button.save}"></button>
					<button type="button" class="btn btn-warning" style="margin-left: 5px;" onclick="ouRolesEditModalService.closeModal();" th:text="#{html.control.button.cancel}"></button>
				</div>
			</div>
		</div>
	</div>
</th:block>
	
<th:block th:fragment="ouRolesEditModalScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/

		//Don't use global variables here so that they don't conflict with main page.
		
		var ouRolesEditModalService;
		$(document).ready(function() {
            ouRolesEditModalService = new OURolesEditModalService();
            ouRolesEditModalService.init();
            
    		/*[+
    		ouRolesEditModalService.fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
    		ouRolesEditModalService.fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];
    		ouRolesEditModalService.restUrl = [[@{/rest/ous/}]];
    		ouRolesEditModalService.uiUrl = [[@{/ui/ous/manage/}]];
    		+]*/
    		
    		if (!notificationService) {
    			console.log("This service depends on NotificationService. Add it to parent page of this fragment.");
    		}
        });

		function OURolesEditModalService() {
			this.init = function(){
				$('#modal-ou-edit').on('shown.bs.modal', function (e) {
					// Add checkboxlisteners to modal
					ouRolesEditModalService.addTitleCheckboxListeners();
					ouRolesEditModalService.addExceptedUsersCheckboxListeners();
				});
			}
			
			this.loadTitles = function(loadCheckedTitles, cbFun) {
				var endpoint = ouRolesEditModalService.restUrl + 'titles/' + ouRolesEditModalService.ouUuid;

				$.ajax({
					url: endpoint,
					method: "GET",
					error: function(response) {
						notificationService.showErrorNotification(ouRolesEditModalService.fieldNotUpdatedMsg);
					},
					success : function(response) {
						titles = response;

						if (loadCheckedTitles) {
							ouRolesEditModalService.fetchCheckedTitles(cbFun);
						}
						else if (cbFun) {
							cbFun();
						}
					}
				});
			}
			
			this.fetchCheckedTitles = function(cbFun) {
				$.ajax({
					url: ouRolesEditModalService.restUrl + ouRolesEditModalService.ouUuid + "/" + ouRolesEditModalService.roleType + "/" + ouRolesEditModalService.assignmentId + "/titles", 
					method: "GET",
					error : function(response) {
						notificationService.showErrorNotification(ouRolesEditModalService.fieldNotUpdatedMsg);
					},
					success : function(response) {
						checkedTitlesFetched = response;
						
						if (cbFun) {
							cbFun();
						}
					}
				});
			}

			this.addTitleCheckboxListeners = function(){
				// makes sure the title checkboxes on the modal dialogue modifies the underlying datastructure on changes
				$('#modal-ou-edit .title-checkbox').off("change");
				$('#modal-ou-edit .title-checkbox').change(ouRolesEditModalService.handleTitleCheckbox);
			}

			this.addExceptedUsersCheckboxListeners = function() {
				$('#modal-ou-edit .exceptedusers-checkbox').off("change");
				$('#modal-ou-edit .exceptedusers-checkbox').change(ouRolesEditModalService.handleExceptedUsersCheckbox);
			}
			
			this.showAssignModal = function(titlesEnabled, checkedTitles, startDate, stopDate, assignmentType, assignmentId) {
				if (startDate) {
					$('#startDatePickerEditOU').data("DateTimePicker").date(startDate);
				}
				else {
					$('#startDatePickerEditOU').data("DateTimePicker").clear();
					$('#startDatePickerEditOU').data("DateTimePicker").date(new Date());
				}

				if (stopDate) {
					$('#stopDatePickerEditOU').data("DateTimePicker").date(stopDate);
				}
				else {
					$('#stopDatePickerEditOU').data("DateTimePicker").clear();
				}

				// Reset UI
				$('#modal-ou-edit #dataTabs').show();
				$('#modal-ou-edit .tab-content').show();

				// Clear old title selection
				if (titlesEnabled) {
					ouRolesEditModalService.clearTitleSelection();
				}

				// Clear old exceptedUsers selection
				ouRolesEditModalService.clearExceptedUsersSelection();

				// Inherit case
				if (assignmentType == -2 || assignmentType == -1) {
					// Hide all tabs
					$('#modal-ou-edit #dataTabs').hide();
					$('#modal-ou-edit .tab-content').hide();
				}

				// With excepted users case
				else if (assignmentType == 0) {
					// Fetch excepted users (if any), and check checkboxes
					var url = ouRolesEditModalService.uiUrl + ouRolesEditModalService.roleType + "/exceptedusers2/" + ouRolesEditModalService.ouUuid + "/" + assignmentId;
					$("#modal-ou-edit #ou_roles_excepted_users_edit_menu").load(url, function() {
						fragShowDataTableFun('#modal-ou-edit #ou_roles_listTable2', 0);
					});
					
					// Show excepted users tab and hide titles tab
					$('#modal-ou-edit a[data-toggle="tab"][href="#ou_roles_title_edit_menu"]').hide();
					$('#modal-ou-edit a[data-toggle="tab"][href="#ou_roles_excepted_users_edit_menu"]').show();
					$('#modal-ou-edit #ou_roles_title_edit_menu').hide();
					$('#modal-ou-edit #ou_roles_excepted_users_edit_menu').show();

					// select tab
					$('#modal-ou-edit a[data-toggle="tab"][href="#ou_roles_excepted_users_edit_menu"]').tab('show');
				}

				// Titles case
				else if (assignmentType >= 1 && titlesEnabled) {
					ouRolesEditModalService.loadTitles(true, function() {
						// Check the boxes corrosponding to the list of checked titles from the backend
						if (checkedTitles != null) {
							for (var i = 0; i < titles.length; i++) {
								titles[i].state.checked = (checkedTitles.indexOf(titles[i].id) > -1);
								$('#modal-ou-edit .title-checkbox[data-id=' + titles[i].id + ']').prop('checked', titles[i].state.checked);
							}
						}
						else if (checkedTitlesFetched) {
							for (var i = 0; i < titles.length; i++) {
								titles[i].state.checked = (checkedTitlesFetched != null && checkedTitlesFetched.indexOf(titles[i].id) > -1);
								$('#modal-ou-edit .title-checkbox[data-id=' + titles[i].id + ']').prop('checked', titles[i].state.checked);
							}
						}
						
						// show titles tab and hide excepted users tab
						$('#modal-ou-edit a[data-toggle="tab"][href="#ou_roles_title_edit_menu"]').show();
						$('#modal-ou-edit a[data-toggle="tab"][href="#ou_roles_excepted_users_edit_menu"]').hide();
						$('#modal-ou-edit #ou_roles_title_edit_menu').show();
						$('#modal-ou-edit #ou_roles_excepted_users_edit_menu').hide();

						// select tab
						$('#modal-ou-edit a[data-toggle="tab"][href="#ou_roles_title_edit_menu"]').tab('show');
					});
				}

				$("#modal-ou-edit").attr('assignmentId', assignmentId);

				$("#modal-ou-edit").modal({
					backdrop: 'static',
					keyboard: false
				});
			}
			
			this.assignRole = function(objType, inherit, id, titleUuids, exceptedUserUuids) {
				var endpoint = ouRolesEditModalService.restUrl + 'edit' + objType + '/' + ouRolesEditModalService.ouUuid + '/' + id;

				var startDate = $('#startDatePickerEditOU').data('date');
				var stopDate = $('#stopDatePickerEditOU').data('date');
				var dates = "?startDate=" + startDate + "&stopDate=" + stopDate;
				endpoint = endpoint + dates;
				
				if (inherit) {
					endpoint = endpoint + "&inherit=true";
				}
				
				$.ajax({
					url: endpoint,
					method: "POST",
					headers: {
						'X-CSRF-TOKEN': token
					},
	                contentType: 'application/json',
	                data: JSON.stringify({
	    			      'titleUuids': titleUuids,
	    			      'exceptedUserUuids' : exceptedUserUuids
					}),
					error : function(response) {
						notificationService.showErrorNotification(ouRolesEditModalService.fieldNotUpdatedMsg);
						setTimeout(function(){ ouRolesEditModalService.parentService.loadRolesFragment(); }, 200);
						ouRolesEditModalService.closeModal();
					},
					success : function(response) {
						notificationService.showInfoNotification(ouRolesEditModalService.fieldUpdatedMsg);
						setTimeout(function(){ ouRolesEditModalService.parentService.loadRolesFragment(); }, 200);
						ouRolesEditModalService.closeModal();
					}
				});
				
				// TODO: I doubt this works with failures
				// TODO: what to do with this? should not be in fragment. Belongs to ous/edit.html
				//updateCheckboxSorting(objType, id, true);
			}
			
			this.saveChanges = function() {
				//Get titles
				var titleUuids = [];
				for (var i = 0; i < titles.length; i++) {
					if (titles[i].state.checked) {
						titleUuids.push(titles[i].id);
					}
				}
				//Get excepted users
				var exceptedUsers = [];
				var exceptedUsersChbx = $('#modal-ou-edit  .exceptedusers-checkbox:checked');
				for (var i = 0; i < exceptedUsersChbx.length; i++) {
					exceptedUsers.push($(exceptedUsersChbx[i]).data('id'));
				}
				
				ouRolesEditModalService.assignRole(ouRolesEditModalService.roleType, ouRolesEditModalService.inherit, ouRolesEditModalService.assignmentId, titleUuids, exceptedUsers);
			}

			this.closeModal = function() {
				$('#modal-ou-edit').modal('hide');
			}
			
			this.handleTitleCheckbox = function() {
				for (var i = 0; i < titles.length; i++) {
					if (titles[i].id == $(this).data('id')) {
						titles[i].state.checked = this.checked;
					}
				}
			}

			this.clearTitleSelection = function() {
				for (var i = 0; i < titles.length; i++) {
					titles[i].state.checked = false;
				}
			}

			this.clearExceptedUsersSelection = function() {
				$('#modal-ou-edit .exceptedusers-checkbox:checked').removeAttr('checked');
			}
		}
		
		/*]]>*/

	</script>
</th:block>