<th:block th:fragment="orgUnitUsers" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<fieldset>
		<div class="form-group">
			<div class="table-responsive">
				<table class="table table-striped table-hover listTable">
					<thead>
						<tr>
							<th class="col-md-4" th:text="#{html.entity.user.name}" />
							<th class="col-md-3" th:text="#{html.entity.user.userId}" />
							<th class="col-md-4" th:text="#{enum.entitytype.position}" />
							<th class="col-md-1" th:text="#{html.control.operations}" />
						</tr>
					</thead>

					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.name}" />
							<td th:text="${user.userId}" />
							<td th:text="${user.title}" />
							<td>
								<a th:href="@{/ui/users/manage/{id}(id=${user.id})}"><em class="fa fa-pencil"></em></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</th:block>