<th:block th:fragment="addOrgUnits" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<button class="btn btn-lg btn-primary js-back-to-ou-roles" type="button" style="margin-bottom: 20px;" th:text="#{html.control.button.back}"></button>
	<div class="table-responsive">
		<table id="listTableOusAdd" class="table table-striped table-hover listTable">
			<thead>
				<tr>
					<th class="col-md-11" th:text="#{html.entity.user.name}"></th>
					<th class="col-md-1" th:text="#{html.control.operations}"></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="ou : ${ous}">
					<td th:text="${ou.name}"></td>
					<td>
						<a
							href="#"
							class="js-add-ou-role-assignment"
							th:attr="data-orgunit=${ou.uuid}">
							<em class="fa fa-plus"></em>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
