<th:block th:fragment="users" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<th:block sec:authorize="hasRole('ROLE_ASSIGNER')" th:if="${showEdit == true}">
		<a href="#" id="addUserRoleAssignment" class="btn btn-lg btn-primary" style="width:auto;" th:text="#{html.page.role.add.user}" onclick="userService.loadAddUserRoleFragment()"></a>
	</th:block>
	<table id="listTableUsers" class="table table-striped table-hover listTable">
		<thead>
		<tr>
			<th class="col-md-5" th:text="#{html.entity.user.name}"/>
			<th class="col-md-4" th:text="#{html.enum.assignmenttype}"/>
			<th class="col-md-3" th:text="#{html.entity.user.userId}"/>
		</tr>
		</thead>

		<tbody>
		<tr th:each="mapping : ${userRoleMapping}">
			<td th:text="${mapping.user.name}" />
			<td th:text="#{__${mapping.assignedThrough.message}__}" />
			<td th:text="${mapping.user.userId}" />
		</tr>
		</tbody>
	</table>
</th:block>