<?xml version="1.0"?>
<configuration>
    <!-- the console log should not be enabled for production installations, but is handy for development -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss}) | %highlight(%-5level) | %green(%-44logger{40}) - %m %ex %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
