<div th:fragment="index_tabcontent" class="panel-body" xmlns:th="http://www.thymeleaf.org">
    <div class="jumbotron">
        <span style="font-size: small">Udtrukket <span th:text="${#temporals.format(attestationRun.createdAt, 'dd/MM-yyyy')}"></span> med deadline <span th:text="${#temporals.format(attestationRun.deadline, 'dd/MM-yyyy')}"></span></span><br/><br/>
        <span style="font-size: small"><span th:text="${attestationRun.finishedAttestations}"></span> attesteringer ud af <span th:text="${attestationRun.totalAttestations}"></span> gennemført</span><br><br>
        <span><a class="btn btn-white" th:href="@{/ui/attestation/v2/admin/report/{id}(id=${attestationRun.id})}"><i class="fa fa-download">&nbspDownload oversigt</i></a></span>
    </div>
    <h3 th:text="#{attestationmodule.html.admin.orgunits}" th:unless="${#lists.isEmpty(attestationRun.ouStatus)}"></h3>
    <div class="table-responsive" th:unless="${#lists.isEmpty(attestationRun.ouStatus)}">
        <table th:id="|orgUnitTable${attestationRun.id}|" style="padding-right:0px !important;" class="table table-striped table-bordered table-hover" >
            <thead>
            <tr>
                <th style="display: none"></th>
                <th></th>
                <th th:text="#{attestationmodule.html.admin.orgunits.name}"></th>
                <th th:text="#{attestationmodule.html.admin.orgunits.path}"></th>
                <th th:text="#{attestationmodule.html.admin.orgunits.manager}"></th>
                <th th:text="#{attestationmodule.html.admin.orgunits.substitutes}"></th>
                <th th:text="#{attestationmodule.html.admin.orgunits.status}"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="orgUnit : ${attestationRun.ouStatus}">
                <td style="display: none" th:text="${orgUnit.id}"></td>
                <td class="dt-control"></td>
                <td th:text="${orgUnit.name}"></td>
                <td th:text="${orgUnit.path}"></td>
                <td th:text="${orgUnit.manager?.name}"></td>
                <td>
                    <ul><li th:each="sub : ${orgUnit.substitutes}" th:text="${sub?.name}"></li></ul>
                </td>
                <td th:text="#{attestationmodule.html.admin.orgunits.status.not_started}" th:if="${orgUnit.status == T(dk.digitalidentity.rc.attestation.model.dto.enums.AdminAttestationStatus).NOT_STARTED}"></td>
                <td th:text="#{attestationmodule.html.admin.orgunits.status.in_progress}" th:if="${orgUnit.status == T(dk.digitalidentity.rc.attestation.model.dto.enums.AdminAttestationStatus).ON_GOING}"></td>
                <td th:text="#{attestationmodule.html.admin.orgunits.status.done}" th:if="${orgUnit.status == T(dk.digitalidentity.rc.attestation.model.dto.enums.AdminAttestationStatus).FINISHED}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <h3 th:text="#{attestationmodule.html.admin.itsystems}" th:unless="${#lists.isEmpty(attestationRun.systemStatus)}"></h3>
    <div class="table-responsive" th:unless="${#lists.isEmpty(attestationRun.systemStatus)}">
        <table th:id="|itSystemsTable${attestationRun.id}|" style="padding-right:0px !important;" class="table table-striped table-bordered table-hover" >
            <thead>
            <tr>
                <th style="display: none"></th>
                <th></th>
                <th th:text="#{attestationmodule.html.admin.itsystems.name}"></th>
                <th th:text="#{attestationmodule.html.admin.itsystems.type}"></th>
                <th th:text="#{attestationmodule.html.admin.itsystems.responsible}"></th>
                <th th:text="#{attestationmodule.html.admin.itsystems.status}"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="system : ${attestationRun.systemStatus}">
                <td style="display: none" th:text="${system.id}"></td>
                <td class="dt-control"></td>
                <td th:text="${system.name}"></td>
                <td th:text="${system.path}"></td>
                <td th:text="${system.responsibleUser?.name}"></td>
                <td th:text="#{attestationmodule.html.admin.orgunits.status.not_started}" th:if="${system.status == T(dk.digitalidentity.rc.attestation.model.dto.enums.AdminAttestationStatus).NOT_STARTED}"></td>
                <td th:text="#{attestationmodule.html.admin.orgunits.status.in_progress}" th:if="${system.status == T(dk.digitalidentity.rc.attestation.model.dto.enums.AdminAttestationStatus).ON_GOING}"></td>
                <td th:text="#{attestationmodule.html.admin.orgunits.status.done}" th:if="${system.status == T(dk.digitalidentity.rc.attestation.model.dto.enums.AdminAttestationStatus).FINISHED}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>