<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header (title=#{html.page.itsystem.new.title})"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header(subpage = 'roles')"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'itsystem.new.' + ${itSystemForm.systemType}, subpage = 'roles')"></aside>
 
		<section>
			<div class="content-wrapper">
				<h3>
					<a th:href="@{/ui/itsystem/list}" class="btn btn-default">
	                    <span><i class="fa fa-arrow-left"></i> </span>
	                </a>
					<span th:text="#{html.page.itsystem.new.title}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<form class="form-horizontal" th:object="${itSystemForm}" method="post" th:action="@{/ui/itsystem/new}">
							<input type="hidden" th:field="*{systemType}" />

 							<fieldset>
								<div th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
					                <label class="col-sm-2 control-label" th:text="#{html.entity.userrole.name}"></label>
					                <div class="col-sm-8">
										<input th:field="*{name}" class="form-control" th:placeholder="#{html.entity.itsystem.name.placeholder}" autofocus="autofocus" />
										<ul th:if="${#fields.hasErrors('name')}">
										    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
										</ul>
					                </div>
						        </div>
					        </fieldset>

							<fieldset th:if="${#lists.contains({'AD'}, #strings.toString(itSystemForm.systemType))}">
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.entity.itsystem.domain}"></label>
									<div class="col-sm-8">
										<select th:field="*{domain}" class="form-control">
											<option th:each="domain : ${domains}" th:text="${domain.name}" th:value="${domain.name}"></option>
										</select>
										<ul th:if="${#fields.hasErrors('domain')}">
											<li th:each="err : ${#fields.errors('domain')}" th:text="${err}"></li>
										</ul>
									</div>
								</div>
							</fieldset>

							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.entity.itsystem.identifier}"></label>
									<div class="col-sm-8">
										<input th:field="*{identifier}" class="form-control" th:placeholder="#{html.entity.itsystem.identifier.placeholder}"/>
										<ul th:if="${#fields.hasErrors('identifier')}">
											<li th:each="err : ${#fields.errors('identifier')}" th:text="${err}"></li>
										</ul>
									</div>
								</div>
							</fieldset>

							<fieldset th:if="${#lists.contains({'MANUAL','AD','SAML'}, #strings.toString(itSystemForm.systemType))}">
								<div class="form-group">
									<label class="col-sm-2 control-label" th:text="#{html.entity.itsystem.email}"></label>
									<div class="col-sm-8">
										<input th:field="*{email}" class="form-control" th:placeholder="#{html.entity.itsystem.email.placeholder}"/>
										<ul th:if="${#fields.hasErrors('email')}">
											<li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
										</ul>
									</div>
								</div>
							</fieldset>

							<fieldset>
						        <div class="form-group">
						            <div class="col-sm-offset-2 col-sm-8">
										<button type="submit" class="btn btn-lg btn-primary" th:text="#{html.control.button.save}"></button>
										<a th:href="@{/ui/itsystem/list}" class="btn btn-lg btn-danger" th:text="#{html.control.button.cancel}"></a>
						       		</div>
						        </div>
							</fieldset>
						</form>
					</div>
				</div>
	        </div>
	    </section>
    </div>

    <nav th:replace="fragments/footer :: footer"></nav>
    
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			$('[rel=popover]').popover();
		});
		/*]]>*/
    </script>
</body>
</html>
