<th:block th:fragment="itSystemUserRoleTable" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:unless="${#lists.isEmpty(userRolesForTable)}">
        <b th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.userRoles}"></b>
        <table class="roleTable table table-striped table-bordered table-hover" >
            <thead>
            <tr>
                <th th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.userRoles.itsystem}" class="col-lg-2"></th>
                <th th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.userRoles.roles}" class="col-lg-10"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="itSystem : ${userRolesForTable}">
                <td th:text="${itSystem.itSystemName}" class="col-lg-2"></td>
                <td class="col-lg-10">
                    <div th:each="userRole : ${itSystem.userRoles}" th:class="${userRoleStat.first} ? '' : 'm-t-sm'">
                        <div class="expandable active">
                            <i class="fa fa-chevron-up"></i>
                            &nbsp;
                            <span th:text="${userRole.roleName}"></span>
                            <small class="assignedThroughLabel" th:if="${verify && userRole.assignedThroughName != null}" th:text="'(' + #{__${userRole.assignedThrough.message}__} + ' - ' + ${userRole.assignedThroughName} + ')'"></small>
                            <small class="assignedThroughLabel" th:if="${verify && userRole.assignedThroughName == null}" th:text="'(' + #{__${userRole.assignedThrough.message}__} + ')'"></small>
                            <div th:if="${orgUnitAssignments && !#lists.isEmpty(userRole.titles)}">
                                <b th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.roleGroups.titles}"></b>
                                <ul>
                                    <li th:each="title : ${userRole.titles}" th:text="${title}"></li>
                                </ul>
                            </div>
                            <div th:if="${orgUnitAssignments && !#lists.isEmpty(userRole.exceptedUsers)}">
                                <b th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.roleGroups.exceptedUsers}"></b>
                                <ul>
                                    <li th:each="exceptedUser : ${userRole.exceptedUsers}" th:text="${exceptedUser.name} + ' (' + ${exceptedUser.userId} + ')'"></li>
                                </ul>
                            </div>
                            <div th:if="${orgUnitAssignments && !#lists.isEmpty(userRole.exceptedTitles)}">
                                <b th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.roleGroups.negativeTitles}"></b>
                                <ul>
                                    <li th:each="exceptedTitle : ${userRole.exceptedTitles}" th:text="${exceptedTitle}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="expandable-content">
                            <b th:if="${showInherit} AND ${userRole.inherit}" th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.userRoles.inherit}"></b>
                            <pre class="expandable-content-description" th:text="${userRole.roleDescription}"></pre>

                        </div>
                        <p th:if="!${#lists.isEmpty(itSystem.userRoles)} AND !${#strings.isEmpty(userRole.postponedConstraints)}">
                            <span th:text="#{attestationmodule.html.orgunits.attestate.user.tabs.roles.roleGroups.postponedConstraints}"></span></br>
                            <span th:text="${userRole.postponedConstraints}"></span>
                        </p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</th:block>