<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (title=#{html.page.index.title})}"></head>
<body class="layout-fixed">
	<div class="wrapper">
		<section style="margin-left: 7%; margin-right: 7%; margin-top: 7%;">
			<div class="panel panel-default">
				<div class="panel-heading">
					<img th:src="@{/img/logo.png}" alt="Logo" class="img-responsive" style="height:120px; display: block; margin: auto; margin-top: 20px;"></img>
				</div>

				<div class="panel-body" style="margin-top: 60px; padding-bottom: 40px;">
					<div class="row">
						<a th:each="link : ${links}" th:href="@{${link.link}}">
							<div class="col-lg-10 col-lg-offset-1">
								<div class="panel widget bg-primary">
									<div class="row row-table">
										<div class="col-xs-4 text-center bg-primary-dark pv-lg">
											<em class="fa fa-3x" th:classappend="${link.icon}"></em>
										</div>
										<div class="col-xs-8 pv-lg">
											<div class="h2 mt0" th:text="${link.title}"></div>
											<div th:text="${link.description}"></div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<nav th:replace="~{fragments/footer :: footer}"></nav>
</body>
</html>
