<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.index.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'index')" />
 
		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="#{html.page.index.title}" />
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="row" sec:authorize="isAuthenticated()">
							<div class="col-lg-4 col-sm-6">
								<div class="panel widget bg-primary">
									<div class="row row-table">
										<div class="col-xs-4 text-center bg-primary-dark pv-lg">
											<em class="fa fa-laptop fa-3x"></em>
										</div>
										<div class="col-xs-8 pv-lg">
											<div class="h2 mt0" th:text="${itSystemCount}"/>
											<div class="text-uppercase" th:text="#{html.navbar.itsystems}" />
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-sm-6">
								<div class="panel widget bg-primary">
									<div class="row row-table">
										<div class="col-xs-4 text-center bg-primary-dark pv-lg">
											<em class="fa fa-unlock-alt fa-3x"></em>
										</div>
										<div class="col-xs-8 pv-lg">
											<div class="h2 mt0" th:text="${userRoleCount}"/>
											<div class="text-uppercase" th:text="#{html.navbar.jobroles}" />
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="panel widget bg-primary">
									<div class="row row-table">
										<div class="col-xs-4 text-center bg-primary-dark pv-lg">
											<em class="fa fa-shield fa-3x"></em>
										</div>
										<div class="col-xs-8 pv-lg">
											<div class="h2 mt0" th:text="${roleGroupCount}"/>
											<div class="text-uppercase" th:text="#{html.navbar.rolegroups}" />
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12">
								<h3 th:text="#{html.index.links}"/>
								<p th:text="#{html.index.links.text}"/>
								<ul>
									<li><a th:href="@{/info}" th:text="#{html.index.links.info}"/></li>
									<li><a th:href="@{/download/brugermanual.pdf}" th:text="#{html.index.links.manual}"/></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	
	<nav th:replace="fragments/footer :: footer" />
</body>
</html>
