<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.index.title})"></head>
<body>
	<div class="wrapper">
		<section style="margin-left: 7%; margin-right: 7%; margin-top: 7%;">
			<div class="panel panel-default">
				<div class="panel-heading">
					<img th:src="@{/img/logo.png}" alt="Logo" class="img-responsive" style="height:120px; display: block; margin: auto; margin-top: 20px;"></img>
				</div>

				<div class="panel-body" style="margin-top: 60px; padding-bottom: 40px;">
					<div class="row">
						<a th:href="@{/ui/my}">
							<div class="col-lg-10 col-lg-offset-1">
								<div class="panel widget bg-primary">
									<div class="row row-table">
										<div class="col-xs-4 text-center bg-primary-dark pv-lg">
											<em class="fa fa-sitemap fa-3x"></em>
										</div>
										<div class="col-xs-8 pv-lg">
											<div class="h2 mt0">Jeg er leder</div>
											<div>Klik her hvis du er leder eller autorisationsansvarlig, og skal udføre rettighedskontrol, eller administrere dine medarbejdere</div>
										</div>
									</div>
								</div>
							</div>
						</a>

						<a th:href="@{/info}">
							<div class="col-lg-10 col-lg-offset-1">
								<div class="panel widget bg-primary">
									<div class="row row-table">
										<div class="col-xs-4 text-center bg-primary-dark pv-lg">
											<em class="fa fa-gears fa-3x"></em>
										</div>
										<div class="col-xs-8 pv-lg">
											<div class="h2 mt0">Jeg er tekniker</div>
											<div>Klik her hvis du er tekniker, og skal tilgå dokumentation, opsætning eller hente integrationskomponenter til rollekataloget</div>
										</div>
									</div>
								</div>
							</div>
						</a>

						<a th:href="@{/ui/users/list}">
							<div class="col-lg-10 col-lg-offset-1">
								<div class="panel widget bg-primary">
									<div class="row row-table">
										<div class="col-xs-4 text-center bg-primary-dark pv-lg">
											<em class="fa fa-pencil fa-3x"></em>
										</div>
										<div class="col-xs-8 pv-lg">
											<div class="h2 mt0">Jeg er rolleadministrator</div>
											<div>Klik her hvis du skal ind og anvende rollekataloget til at opsætte, tildele eller administrere adgange</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<nav th:replace="fragments/footer :: footer"></nav>
</body>
</html>
