<!DOCTYPE html>
<html>
<head/>
<body>
	<h1>
		<span th:text="#{html.page.attestations.pdf.title}"></span>
	</h1>
	<p th:text="#{html.page.attestations.pdf.unit} + ' ' + ${orgUnitName}" style="font-weight: bold;"/>
	<p th:text="#{html.page.attestations.pdf.time} + ' ' + ${time}" style="font-weight: bold;"/>
	<p th:text="#{html.page.attestations.pdf.deadline} + ' ' + ${deadline}" style="font-weight: bold;"/>
	<p th:text="#{html.page.attestations.pdf.interval} + ' ' + #{__${interval}__}" style="font-weight: bold;"/>
	<p th:text="#{html.page.attestations.pdf.by} + ' ' + ${attestedBy}" style="font-weight: bold;"/>
	<p>
		<span th:text="#{html.page.attestations.pdf.subtext}"></span>
	</p>
	<br/>
	<label style="font-weight: bold;" th:text="#{html.page.attestations.pdf.message}"></label>
	<p th:text="${message}"/>
	<br/>
	<br/>				
	<div th:if="${!toBeRemoved.empty}">
		<p th:text="#{html.page.attestations.confirment.show.personal.remove}" style="font-weight: bold; color: red;"></p>
		<ul th:each="dto : ${toBeRemoved}">
			<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for medarbejderen ' + ${dto.userOrUnitName}"/>
			<li th:unless="${dto.roleGroup}">
				<span th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for medarbejderen ' + ${dto.userOrUnitName}"></span>
				<ul th:if="${not #lists.isEmpty(dto.systemRoleAssignmentsDTOs)}">
					<li>
						<span style="font-weight: bold;" th:text="#{html.page.users.manage.assignment.postponed}"></span>
						<ul th:each="systemRoleAssignment : ${dto.systemRoleAssignmentsDTOs}">
							<li>
								<span style="font-weight: bold;" th:text="${systemRoleAssignment.systemRoleName}"></span>
								<ul style="list-style-type:none;">
								  <li th:each="constraint : ${systemRoleAssignment.postponedConstraints}" th:text="${constraint.constraintType.name + ': ' + constraint.constraintValue}" ></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<br/>
	</div>
	
	<div th:if="${!toEmail.empty}">
		<p th:text="#{html.page.attestations.confirment.show.unit.remove}" style="font-weight: bold; color: red;"></p>
		<ul th:each="dto : ${toEmail}">
			<div th:if="${dto.title}">
				<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for titlen ' + ${dto.userOrUnitName}"/>
				<li th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for titlen ' + ${dto.userOrUnitName}"/>
			</div>
			<div th:unless="${dto.title}">
				<div th:if="${dto.exceptedUsers} == null">
					<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for enheden ' + ${dto.userOrUnitName}"/>
					<li th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for enheden ' + ${dto.userOrUnitName}" />
				</div>
				<div th:unless="${dto.exceptedUsers} == null">
					<p th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for enheden ' + ${dto.userOrUnitName} + ' med undtagede brugere: '"></p>
					<p th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for enheden ' + ${dto.userOrUnitName} + ' med undtagede brugere: '"></p>
					<ul>
						<li th:each="user : ${dto.exceptedUsers}" th:text="${user}" />
					</ul>
				</div>
			</div>
		</ul>
		<br/>
	</div>
	
	<div th:if="${!aprovedPersonal.empty}">
		<p th:text="#{html.page.attestations.pdf.aprove.personal}" style="font-weight: bold; color: green;"></p>
		<ul th:each="dto : ${aprovedPersonal}">
			<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for medarbejderen ' + ${dto.userOrUnitName}"/>
			<li th:unless="${dto.roleGroup}" >
				<span th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for medarbejderen ' + ${dto.userOrUnitName}"></span>
				<ul th:if="${not #lists.isEmpty(dto.systemRoleAssignmentsDTOs)}">
					<li>
						<span style="font-weight: bold;" th:text="#{html.page.users.manage.assignment.postponed}"></span>
						<ul th:each="systemRoleAssignment : ${dto.systemRoleAssignmentsDTOs}">
							<li>
								<span style="font-weight: bold;" th:text="${systemRoleAssignment.systemRoleName}"></span>
								<ul style="list-style-type:none;">
								  <li th:each="constraint : ${systemRoleAssignment.postponedConstraints}" th:text="${constraint.constraintType.name + ': ' + constraint.constraintValue}" ></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<br/>
	</div>
	
	<div th:if="${!aprovedUnit.empty}">
		<p th:text="#{html.page.attestations.pdf.aprove.unit}" style="font-weight: bold; color: green;"></p>
		<ul th:each="dto : ${aprovedUnit}">
			<div th:if="${dto.title}">
				<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for titlen ' + ${dto.userOrUnitName}"/>
				<li th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for titlen ' + ${dto.userOrUnitName}"/>
			</div>
			<div th:unless="${dto.title}">
				<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for enheden ' + ${dto.userOrUnitName}"/>
				<li th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for enheden ' + ${dto.userOrUnitName}"/>
			</div>
		</ul>
	</div>
</body>
</html>