<!DOCTYPE html>
<html>
<head/>
<body>
	<h1>
		<span th:text="#{html.page.attestations.remove.pdf.title}"></span>
	</h1>
	<p th:text="#{html.page.attestations.pdf.unit} + ' ' + ${orgUnitName}" style="font-weight: bold;"/>
	<p th:text="#{html.page.attestations.pdf.time} + ' ' + ${time}" style="font-weight: bold;"/>
	<p th:text="#{html.page.attestations.remove.pdf.by} + ' ' + ${attestedBy}" style="font-weight: bold;"/>
	<p>
		<span th:text="#{html.page.attestations.remove.pdf.subtext}"></span>
	</p>
	<br/>
	
	<div th:if="${personalRoles != null && !personalRoles.empty}">
		<p th:text="#{html.page.attestations.confirment.show.personal.remove}" style="font-weight: bold;"></p>
		<ul th:each="dto : ${personalRoles}">
			<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for medarbejderen ' + ${dto.userOrUnitName}"/>
			<li th:unless="${dto.roleGroup}">
				<span th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for medarbejderen ' + ${dto.userOrUnitName}"></span>
				<ul th:if="${not #lists.isEmpty(dto.systemRoleAssignmentsDTOs)}">
					<li>
						<span style="font-weight: bold;" th:text="#{html.page.users.manage.assignment.postponed}"></span>
						<ul th:each="systemRoleAssignment : ${dto.systemRoleAssignmentsDTOs}">
							<li>
								<span style="font-weight: bold;" th:text="${systemRoleAssignment.systemRoleName}"></span>
								<ul style="list-style-type:none;">
								  <li th:each="constraint : ${systemRoleAssignment.postponedConstraints}" th:text="${constraint.constraintType.name + ': ' + constraint.constraintValue}" ></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		<br/>
	</div>
	
	<div th:if="${!unitRoles.empty}">
		<p th:text="#{html.page.attestations.confirment.show.unit.remove}" style="font-weight: bold;"></p>
		<ul th:each="dto : ${unitRoles}">
			<div th:if="${dto.title}">
				<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for titlen ' + ${dto.userOrUnitName}"/>
				<li th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' for titlen ' + ${dto.userOrUnitName}"/>
			</div>
			<div th:unless="${dto.title}">
				<li th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for enheden ' + ${dto.userOrUnitName}"/>
				<li th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' for enheden ' + ${dto.userOrUnitName}"/>
			</div>
		</ul>
		<br/>
	</div>
	
	<div th:if="${ad != null && !ad.empty}">
		<p th:text="#{html.page.attestations.confirment.show.ad.remove}" style="font-weight: bold;"></p>
		<ul th:each="dto : ${ad}">
			<li th:text="'Brugerkontoen med brugernavn ' + ${dto.userUserId} + ' for medarbejderen ' + ${dto.userName}"/>
		</ul>
	</div>
</body>
</html>