<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.attestations.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header(subpage = 'reports')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'attestation', subpage = 'reports')" />

		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="#{html.page.attestations.confirment.title}"></span>
				</h3>
				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-body">
									<span th:text="#{html.page.attestations.confirment.subtext}"></span>
									
									<br> <br>
									
									<button type="button" class="btn btn-md btn-primary" onclick="confirm()" th:text="#{html.page.attestations.confirment.button.approve}"></button>
									<button type="button" class="btn btn-md btn-warning" onclick="back()" th:text="#{html.page.attestations.confirment.button.back}"></button>
								</div>
							</div>
						</div>
						
						<div class="panel-group" th:unless="${dtoToBeRemoved.empty and dtoToEmail.empty}">
							<div class="panel panel-default">
								<div class="panel-body">
									<div th:if="${!dtoToBeRemoved.empty}">
										<h4 th:text="#{html.page.attestations.confirment.show.personal.remove}"></h4>
										<ul th:each="dto : ${dtoToBeRemoved}">
											<li style="list-style-type: none;">
												<em class="fa fa-fw fa-times" style="color: red;"></em>
												<span th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for medarbejderen ' + ${dto.userOrUnitName}" />
											    <span th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + 'for medarbejderen ' + ${dto.userOrUnitName}" />
												<ul th:if="${dto.systemRoleAssignmentsDTOs != null && not #lists.isEmpty(dto.systemRoleAssignmentsDTOs)}">
													<li>
														<span style="font-weight: bold;" th:text="#{html.page.users.manage.assignment.postponed}"></span>
														<ul th:each="systemRoleAssignment : ${dto.systemRoleAssignmentsDTOs}">
															<li>
																<span style="font-weight: bold;" th:text="${systemRoleAssignment.systemRoleName}"></span>
																<ul style="list-style-type:none;">
																  <li th:each="constraint : ${systemRoleAssignment.postponedConstraints}" th:text="${constraint.constraintType.name + ': ' + constraint.constraintValue}" ></li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									
									<br>

									<div th:if="${!dtoToEmail.empty}">
										<h4 th:text="#{html.page.attestations.confirment.show.unit.remove}"></h4>
										<ul th:each="dto : ${dtoToEmail}">
											<div th:if="${dto.title}">
												<li style="list-style-type: none;">
													<em class="fa fa-fw fa-times" style="color: red;"></em>
													<span th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for titlen ' + ${dto.userOrUnitName}" />
													<span th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for titlen ' + ${dto.userOrUnitName}" />
												</li>
											</div>
											<div th:unless="${dto.title}">
												<li style="list-style-type: none;">
													<em class="fa fa-fw fa-times" style="color: red;"></em>
													<span th:if="${dto.roleGroup}" th:text="'Rollebuketten ' + ${dto.roleName} + ' for enheden ' + ${dto.userOrUnitName}" />
													<span th:unless="${dto.roleGroup}" th:text="'Jobfunktionsrollen ' + ${dto.roleName} + ' (' + ${dto.itSystemName} + ') ' + ' for enheden ' + ${dto.userOrUnitName}" />
													<span th:if="${not #lists.isEmpty(dto.exceptedUsers)}">
														<p style="margin-left: 20px; margin-bottom: 0px;" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.role.via.unit.exceptedUsers}"></p>
														<small>
															<ul>
																<li th:each="exceptedUser : ${dto.exceptedUsers}" th:text="${exceptedUser}"></li>
															</ul>
														</small>
													</span>
												</li>
											</div>
										</ul>
									</div>

									<br>
									
									<label for="message">Kommentarer</label>
									<textarea id="message" class="form-control" placeholder="Indtast kommentar"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var toEmail = [[${toEmail}]];
			var toBeRemoved = [[${toBeRemoved}]];
			var aprovedPersonal = [[${aprovedPersonal}]];
			var aprovedUnit = [[${aprovedUnit}]];
			var orgUnitUuid = [[${orgUnitUuid}]];
			var redirectUrl = [[@{/ui/users/attestations}]];
			var restUrl = [[@{/rest/attestations/confirm/}]];
			var errorMsg = [[#{html.default.message.error}]];
			var dtoShowToEmail = [[${dtoToEmail}]];
			var dtoShowToBeRemoved = [[${dtoToBeRemoved}]];
			var dtoShowAprovedUnit = [[${dtoAprovedUnit}]];
			var dtoShowAprovedPersonal = [[${dtoAprovedPersonal}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");
		$(document).ready(function() {
		});
		
		function back() {
			window.history.back();
		}
		
		function confirm() {
			$.ajax({
			   url: restUrl + orgUnitUuid,
			   headers: {
			      'X-CSRF-TOKEN': token
			   },
			   type: 'post',
			   contentType: "application/json",
			   data: JSON.stringify({
				   "aprovedUnit" : aprovedUnit,
				   "aprovedPersonal" : aprovedPersonal,
				   "toBeRemoved" : toBeRemoved,
				   "toEmail" : toEmail,
				   "message" : $('#message').val(),
				   "dtoShowToEmail" : dtoShowToEmail,
				   "dtoShowToBeRemoved" : dtoShowToBeRemoved,
				   "dtoShowAprovedPersonal" : dtoShowAprovedPersonal,
				   "dtoShowAprovedUnit" : dtoShowAprovedUnit
			   }),
			   success: function(data, textStatus, jQxhr) {
				   window.location.href = redirectUrl;
			   },
			   error: function(jQxhr, textStatus, errorThrown) {
				   $.notify({
	                    message: errorMsg
					},{
	                    autoHideDelay: 2000
					});
			   }
			});
		}
		
		/*]]>*/
	</script>
</body>
</html>