<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.attestations.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'attestations')" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="well">
							<div style="margin-right: 60px;">
								<h4 th:text="#{html.page.attestations.header.title}"/>
								<span th:text="#{html.page.attestations.header.body}" />
							</div>
						</div>
					</div>

					<div class="panel-body">
						<div class="panel-group" th:id="accordion+${iterStat.index}" th:each="pair,iterStat : ${usersAndRoles}">
							<div class="panel panel-default">
								<div class="panel-heading" >
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" th:attr="data-parent='#accordion'+${iterStat.index},aria-controls='collapse'+${iterStat.index}" th:href="'#collapse'+${iterStat.index}" aria-expanded="true">
											<em class="fa fa-caret-down"></em>&nbsp;
											<span th:text="${pair.key.name} + ' (' + ${pair.key.userId} + ')'"/>
										</a>
									</h4>
								</div>

								<div th:id="collapse+${iterStat.index}" class="panel-collapse collapse in" aria-expanded="true">
									<div class="panel-body">
										<table id="listTable1" class="table table-striped table-hover" th:attr="data-user=${pair.key.uuid}">
										<thead>
											<tr>
												<th class="col-md-1" />
												<th class="col-md-3" th:text="#{html.entity.rolegroup.name}" />
												<th class="col-md-3" th:text="#{html.entity.rolegroup.itsystem}" />
												<th class="col-md-5" th:text="#{html.entity.rolegroup.description}" />
											</tr>
										</thead>

										<tbody>
											<tr th:each="roleRow : ${pair.value}">
												<td>
													<div class="checkbox c-checkbox checkbox-red">
														<label>
															<input class="role-checkbox" type="checkbox" th:attr="data-userRoleId=${roleRow.userRoleId}, data-roleGroupId=${roleRow.roleGroupId}" />
															<span class="fa fa-times"></span>
														</label>
													</div>
												</td>
												<td th:text="${roleRow.name}" />
												<td th:if="${roleRow.itSystemName != null}" th:text="${roleRow.itSystemName}" />
												<td th:if="${roleRow.itSystemName == null}" th:text="#{html.page.attestations.rolegroup}" />
												<td th:text="${roleRow.description}" />
											</tr>
										</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<button class="btn btn-primary btn-block" onclick="attest();" th:text="#{html.page.attestations.button.attest}" />
						</div>
					</div>
				</div>
	        </div>
	    </section>
    </div>

    <nav th:replace="fragments/footer :: footer" />
	<script th:replace="fragments/datatables :: datatables " />
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		/*[+
			var url = [[@{/ui/users/attestations/confirm}]];
			var orgUnitUuid = [[${orgUnit.uuid}]];
		+]*/
		
		var root = {};

		var token = $("meta[name='_csrf']").attr("content");

		$(document).on('click', 'a[data-toggle="collapse"]', function () {
			$(this).find("em").toggleClass("fa-caret-right fa-caret-down");
		});
		
		$(document).on('change', '.role-checkbox', function () {
			var input = $(this);
			var table = input.closest("table")[0];
			var userUuid = table.dataset.user;

			if (input[0].dataset.userroleid > 0) {
				var user = root[userUuid];

				if (!user) {
					// Case 1 create and add
					root[userUuid] = { userRoles: [], roleGroups: [] };
					addUserRole(root[userUuid], input[0].dataset.userroleid);

					return;
				}
				else if (!containsUserRole(root[userUuid], input[0].dataset.userroleid)) {
	 				// Case 2 add
					addUserRole(root[userUuid], input[0].dataset.userroleid);
				}
				else {
					// Case 3 remove
					removeUserRole(root[userUuid], input[0].dataset.userroleid);

					if(checkIfEmpty(root[userUuid])) {
						delete root[userUuid];
						return;
					}
				}
			}
			else if (input[0].dataset.rolegroupid > 0) {
				var user = root[userUuid];

				if (!user) {
					// Case 1 create and add
					root[userUuid] = { userRoles: [], roleGroups: [] };
					addRoleGroup(root[userUuid], input[0].dataset.rolegroupid);

					return;
				}
				else if (!containsRoleGroup(root[userUuid], input[0].dataset.rolegroupid)) {
					// Case 2 add
					addRoleGroup(root[userUuid], input[0].dataset.rolegroupid);
				}
				else {
					// Case 3 remove
					removeRoleGroup(root[userUuid], input[0].dataset.rolegroupid);

					if (checkIfEmpty(root[userUuid])) {
						delete root[userUuid];
						return;
					}
				}
			}			
		});
		
		function containsUserRole(root, id) {
			return root.userRoles.includes(id);
		}

		function addUserRole(root, id) {
			root.userRoles.push(id);
		}
		
		function removeUserRole(root, id) {
			root.userRoles = arrayRemove(root.userRoles, id);
		}
		
		function containsRoleGroup(root, id) {
			return root.roleGroups.includes(id);
		}

		function addRoleGroup(root, id) {
			root.roleGroups.push(id);
		}
		
		function removeRoleGroup(root, id) {
			root.roleGroups = arrayRemove(root.roleGroups, id);
		}

		function arrayRemove(arr, value) {
			return arr.filter(function(ele) {
				return ele != value;
			});
		}
		
		function checkIfEmpty(map){
			if (map.userRoles.length == 0 && map.roleGroups.length == 0) {
				return true;
			}

			return false;
		}
		
		function attest() {
			var form = document.createElement("form");
			var data = document.createElement("input");
			var csrf = document.createElement("input");
			var ouid = document.createElement("input");

			form.method = "POST";
			form.action = url;

			data.value = JSON.stringify(root);
			data.name = "data";
			form.appendChild(data);
			
			csrf.value = token;
			csrf.name = "_csrf";
			form.appendChild(csrf);
			
			ouid.value = orgUnitUuid;
			ouid.name = "orgUnitUuid";
			form.appendChild(ouid);

			document.body.appendChild(form);

			form.submit();
		}
		/*]]>*/
	</script>
</body>
</html>
