<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.access_rights_attestation.confirm.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'attestations')" />

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 th:text="#{html.page.attestations.confirm.header}"/>
						<p th:text="#{html.page.attestations.confirm.body}"/>
					</div>

					<div class="panel-body">
						<div class="panel-group" th:id="accordion+${iterStat.index}" th:each="pair,iterStat : ${roleMap}">
							<div class="panel panel-default">
								<div class="panel-heading" >
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" th:attr="data-parent='#accordion'+${iterStat.index},aria-controls='collapse'+${iterStat.index}" th:href="'#collapse'+${iterStat.index}" aria-expanded="true">
											<em class="fa fa-caret-down"></em>&nbsp;
											<span th:text="${pair.key.name} + ' (' + ${pair.key.userId} + ')'"/>
										</a>
									</h4>
								</div>

								<div th:id="collapse+${iterStat.index}" class="panel-collapse collapse in" aria-expanded="true">
									<div class="panel-body">
										<table id="listTable1" class="table table-striped table-hover" th:attr="data-user=${pair.key.uuid}">
										<thead>
											<tr>
												<th class="col-md-3" th:text="#{html.entity.rolegroup.name}" />
												<th class="col-md-3" th:text="#{html.entity.rolegroup.itsystem}" />
												<th class="col-md-6" th:text="#{html.entity.rolegroup.description}" />
											</tr>
										</thead>

										<tbody>
											<tr th:each="roleRow : ${pair.value}">
												<td th:text="${roleRow.name}" />
												<td th:if="${roleRow.itSystemName != null}" th:text="${roleRow.itSystemName}" />
												<td th:if="${roleRow.itSystemName == null}" th:text="#{html.page.attestations.rolegroup}" />
												<td th:text="${roleRow.description}" />
											</tr>
										</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-md-offset-1">
							<button class="btn btn-secondary btn-block" onclick="cancel();" th:text="#{html.control.button.no}" />
						</div>

						<div class="col-md-4 col-md-offset-1">
							<button class="btn btn-primary btn-block" onclick="remove();" th:text="#{html.control.button.yes}" />
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	<script th:replace="fragments/datatables :: datatables " />
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var url = [[@{/ui/users/attestations/remove}]];
			var returnUrl = [[@{/ui/users/attestations/{uuid}(uuid=${orgUnitUuid})}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");
		
		function cancel() {
			window.location.href = returnUrl;
		}
		
		// TODO: no reason for fancy JS - just have a form that posts to the endpoint
		function remove() {
			var form = document.createElement("form");
			var csrf = document.createElement("input");

			form.method = "POST";
			form.action = url;

			csrf.value=token;
			csrf.name="_csrf";
			form.appendChild(csrf);

			document.body.appendChild(form);

			form.submit();
		}

		/*]]>*/
	</script>
</body>
</html>
