<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.attestations.confirment.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header(subpage = 'reports')" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'attestation', subpage = 'reports')" />

		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="#{html.page.attestations.confirment.walkthrough.title}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-body">
									<span th:text="#{html.page.attestations.confirment.walkthrough.subtext}"></span>
									<br><br>

									<form id="form" th:action="@{/ui/users/attestations/confirm}" method="post" th:object="${confirmDTO}">
										<input type="hidden" th:field="*{aprovedUnit}" /> 
										<input type="hidden" th:field="*{aprovedPersonal}" />
										<input type="hidden" th:field="*{toBeRemoved}" /> 
										<input type="hidden" th:field="*{toEmail}" /> 
										<input type="hidden" th:field="*{orgUnitUuid}" />
										<button type="button" class="btn btn-md btn-primary" onclick="next()" th:text="#{html.page.attestations.confirment.walkthrough.button.next}"></button>
									</form>
								</div>
							</div>
						</div>

						<ul class="nav nav-tabs" id="dataTabs">
							<li class="active">
								<a data-toggle="tab" href="#personal" th:text="#{html.page.attestations.confirment.walkthrough.personal.title}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#unit" th:text="#{html.page.attestations.confirment.walkthrough.unit.title}"></a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="personal" class="tab-pane fade in active">
								<div class="table-responsive">
									<table id="listTable1" class="table table-striped table-hover listTable">
										<thead>
											<tr>
												<th class="col-md-1" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.remove}" />
												<th class="col-md-2" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.employee}" />
												<th class="col-md-2" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.role}" />
												<th class="col-md-1" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.system}" />
												<th class="col-md-2" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.description}" />
												<th class="col-md-2" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.roletype}" />
												<th class="col-md-2" th:text="#{html.page.users.manage.assignment.postponed}" />
											</tr>
										</thead>

										<tbody>
											<tr th:each="dto : ${personal}">
												<td>
													<div class="checkbox c-checkbox">
														<label th:title="${dto.disabled == true} ? 'Rettigheden styres udenfor rollekataloget' : ''">
															<input type="checkbox" class="personal" th:attr="data-userUuid=${dto.user.uuid}, data-roleType=${dto.roleType}, data-roleId=${dto.roleAssignedToUser.getRoleId()}, data-assignedThrough=${dto.roleAssignedToUser.assignedThrough}, data-assignmentid=${dto.assignmentId}, data-fromposition=${dto.fromPosition}" th:disabled="${dto.disabled} == true" />
															<span class="fa fa-times"></span>
														</label>
													</div>
												</td>
												
												<td>
													<div th:text="${dto.user.name}" />
													<span style="color: grey;" th:text="${dto.getUserPositionName()}" />
												</td>

												<td th:if="${dto.roleType} == 'Rollebuket'" th:text="${dto.roleAssignedToUser.roleGroup.name}" />
												<td th:unless="${dto.roleType} == 'Rollebuket'" th:text="${dto.roleAssignedToUser.userRole.name}" />
																								
												<td th:if="${dto.roleType}=='Rollebuket'">&nbsp;</td>
												<th:block th:unless="${dto.roleType}=='Rollebuket'">
													<td th:if="${dto.roleAssignedToUser.userRole.itSystem}!=null" th:text="${dto.roleAssignedToUser.userRole.itSystem.name}" />
													<td th:unless="${dto.roleAssignedToUser.userRole.itSystem}!=null">&nbsp;</td>
												</th:block>

												<td th:if="${dto.roleType}=='Rollebuket'" th:text="${dto.roleAssignedToUser.roleGroup.description}" />
												<td th:unless="${dto.roleType}=='Rollebuket'" th:text="${dto.roleAssignedToUser.userRole.description}" />
												
												<td th:text="${dto.roleType}" />
												
												<td>
													<div th:each="systemRoleAssignment : ${dto.systemRoleAssignmentsDTOs}">
														<span style="font-weight: bold;" th:text="${systemRoleAssignment.systemRole.name}"></span>
														<ul style="list-style-type:none;">
														  <li th:each="constraint : ${systemRoleAssignment.postponedConstraints}" th:text="${constraint.constraintType.name + ': ' + constraint.constraintValue}" ></li>
														</ul>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div id="unit" class="tab-pane fade">
								<div class="table-responsive">
									<table id="listTable2" class="table table-striped table-hover listTable">
										<thead>
											<tr>
												<th class="col-md-1" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.remove}" />
												<th class="col-md-2" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.role}" />
												<th class="col-md-2" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.role.via}" />
												<th class="col-md-2" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.system}" />
												<th class="col-md-4" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.description}" />
												<th class="col-md-1" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.roletype}" />
											</tr>
										</thead>

										<tbody>
											<tr th:each="dto : ${unit}">
												<td>
													<div class="checkbox c-checkbox">
														<label>
															<input type="checkbox" class="unit" th:attr="data-unitTitleUuid=${dto.roleAssignedToUser.titleOrOrgUnitUuid},  data-roleType=${dto.roleType}, data-roleId=${dto.roleAssignedToUser.getRoleId()}, data-assignedThrough=${dto.roleAssignedToUser.assignedThrough}" />
															<span class="fa fa-times"></span>
														</label>
													</div>
												</td>

												<td th:if="${dto.roleType}=='Rollebuket'" th:text="${dto.roleAssignedToUser.roleGroup.name}" />
												<td th:unless="${dto.roleType}=='Rollebuket'" th:text="${dto.roleAssignedToUser.userRole.name}" />

												<td th:if="${dto.roleAssignedToUser.title}==null">
													<p th:text="#{html.page.attestations.confirment.walkthrough.table.headers.role.via.unit} + ${dto.roleAssignedToUser.titleOrOrgUnitName}"></p>
													<div th:if="${not #lists.isEmpty(dto.exceptedUsers)}">
														<small>
															<p th:text="#{html.page.attestations.confirment.walkthrough.table.headers.role.via.unit.exceptedUsers}"></p>
															<ul style="padding-inline-start: 25px;">
																<li th:each="exceptedUser : ${dto.exceptedUsers}" th:text="${exceptedUser}">
															</ul>
														</small>
													</div>
												</td>
												<td th:unless="${dto.roleAssignedToUser.title}==null" th:text="#{html.page.attestations.confirment.walkthrough.table.headers.role.via.title} + ${dto.roleAssignedToUser.titleOrOrgUnitName}" />

												<td th:if="${dto.roleType}=='Rollebuket'">&nbsp;</td>
												<th:block th:unless="${dto.roleType}=='Rollebuket'">
													<td th:if="${dto.roleAssignedToUser.userRole.itSystem}!=null" th:text="${dto.roleAssignedToUser.userRole.itSystem.name}" />
													<td th:unless="${dto.roleAssignedToUser.userRole.itSystem}!=null">&nbsp;</td>
												</th:block>

												<td th:if="${dto.roleType}=='Rollebuket'" th:text="${dto.roleAssignedToUser.roleGroup.description}" />
												<td th:unless="${dto.roleType}=='Rollebuket'" th:text="${dto.roleAssignedToUser.userRole.description}" />
												
												<td th:text="${dto.roleType}" />
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<style>
		.table .checkbox {
			margin-left: 10px;
			width: auto;
		}
	</style>

	<nav th:replace="fragments/footer :: footer" />
	<script th:replace="fragments/datatables :: datatables " />
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		    var orderColumnValue = [[${orderColumnValue}]];
		    var restUrl = [[@{/rest/attestations/confirm/}]];
		    var redirectUrl = [[@{/ui/users/attestations}]];
		    var orgUnitUuid = [[${orgUnit.uuid}]];
		    var errorMsg = [[#{html.default.message.error}]];
		+]*/

		function next() {
			var aprovedUnit = [];
			var aprovedPersonal = [];
			var toBeRemoved = [];
			var toEmail = [];

			$('#listTable1').DataTable().rows().iterator('row', function(context, index){
			    var node = $(this.row(index).node()); 
			    var tr = node.context;
			    var td = $(tr).find("td:first");
			    var checkbox = $(td).find("input.personal:checkbox");
			    var checked = $(checkbox).prop('checked');

			    if (!checked) {
			    	
			    	var aprovedPersonalObj = {
							"userUuid" : $(checkbox).attr("data-userUuid"),
							"roleType" : $(checkbox).attr("data-roleType"),
							"roleId" : $(checkbox).attr("data-roleId"),
							"assignedThrough" : $(checkbox).attr("data-assignedThrough"),
							"assignmentId" : $(checkbox).attr("data-assignmentid"),
							"fromPosition" : $(checkbox).attr("data-fromposition")
					}

					aprovedPersonal.push(aprovedPersonalObj);
			    } else {
			    	var toBeRemovedObj = {
							"userUuid" : $(checkbox).attr("data-userUuid"),
							"roleType" : $(checkbox).attr("data-roleType"),
							"roleId" : $(checkbox).attr("data-roleId"),
							"assignedThrough" : $(checkbox).attr("data-assignedThrough"),
							"assignmentId" : $(checkbox).attr("data-assignmentid"),
							"fromPosition" : $(checkbox).attr("data-fromposition")
						}

					toBeRemoved.push(toBeRemovedObj);
			    }
			});
			
			$('#listTable2').DataTable().rows().iterator('row', function(context, index){
			    var node = $(this.row(index).node()); 
			    var tr = node.context;
			    var td = $(tr).find("td:first");
			    var checkbox = $(td).find("input.unit:checkbox");
			    var checked = $(checkbox).prop('checked');

			    if (!checked) {
			    	var aprovedUnitObj = {
							"unitTitleUuid" : $(checkbox).attr("data-unitTitleUuid"),
							"roleType" : $(checkbox).attr("data-roleType"),
							"roleId" : $(checkbox).attr("data-roleId"),
							"assignedThrough" : $(checkbox).attr("data-assignedThrough")
						}
						
					aprovedUnit.push(aprovedUnitObj);
			    } else {
			    	var toEmailObj = {
							"unitTitleUuid" : $(checkbox).attr("data-unitTitleUuid"),
							"roleType" : $(checkbox).attr("data-roleType"),
							"roleId" : $(checkbox).attr("data-roleId"),
							"assignedThrough" : $(checkbox).attr("data-assignedThrough")
						}
						
					toEmail.push(toEmailObj);
			    }
			});
			
			$('#toEmail').val(JSON.stringify(toEmail));
			$('#toBeRemoved').val(JSON.stringify(toBeRemoved));
			$('#aprovedUnit').val(JSON.stringify(aprovedUnit));
			$('#aprovedPersonal').val(JSON.stringify(aprovedPersonal));

			$('#form').submit();
		}

		/*]]>*/
	</script>
</body>
</html>
