<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.manager.list.title})"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header(subpage = 'reports')"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'manager.list', subpage = 'reports')"></aside>

		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="#{html.navbar.manager.list}"></span>
					<a class="btn btn-primary btn-lg" style="float: right;" href="/ui/managers/download" th:text="#{html.word.download}"></a>
				</h3>
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="listTable" class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-6" th:text="#{html.page.manager.name}"></th>
										<th class="col-md-5" th:text="#{html.page.manager.user}"></th>
										<th class="col-md-1" th:text="#{html.control.operations}" data-orderable="false"></th>
									</tr>
								</thead>
			
								<tbody>
									<tr th:each="manager : ${managers}">
										<td th:text="${manager.name}"></td>
										<td th:text="${manager.userId}"></td>
										<td>
											<a th:href="@{/ui/manager/substitute} + '?uuid=' + ${manager.uuid}" th:title="#{html.page.manager.list.substitutes}"><em class="fa fa-fw fa-list"></em></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<nav th:replace="fragments/footer :: footer"></nav>
	<script th:replace="fragments/datatables :: datatables "></script>
</body>
</html>