<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.titles.list.title})" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'titles')" />

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
					
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="col-sm-2 control-label" th:text="#{html.entity.ou.name}" />
											<div class="col-sm-8">
												<input th:field="${title.name}" class="form-control" disabled="disabled" />
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#roles_menu" th:text="#{html.page.ous.list.roles}"></a>
							</li>
							<li>
								<a data-toggle="tab" href="#groups_menu" th:text="#{html.page.ous.list.rolegroups}"></a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="roles_menu" class="tab-pane fade in active">
								<table id="listTable1" class="table table-striped table-hover listTable">
									<thead>
										<tr>
											<th class="col-md-1" th:text="#{html.entity.rolegroup.enabled}" />
											<th class="col-md-2" th:text="#{html.entity.rolegroup.name}" />
											<th class="col-md-2" th:text="#{html.entity.rolegroup.itsystem}" />
											<th class="col-md-2" th:text="#{html.entity.ou.count}" />
											<th class="col-md-5" th:text="#{html.entity.rolegroup.description}" />
										</tr>
									</thead>

									<tbody>
										<tr th:each="addRole : ${addRoles}">
											<td>
												<div class="checkbox c-checkbox">
													<label>
														<input class="checkboxaction" th:id="${addRole.role.id}" type="checkbox" th:value="${title.uuid}" th:checked="${addRole.checked}" th:attr="data-inherit=${addRole.role.ouInheritAllowed}" data-objtype="role" />
														<span class="fa fa-pencil" th:classappend="${addRole.checkedWithInherit} ? 'inherit' : ''"></span>
													</label>
												</div>
											</td>
											<td th:text="${addRole.role.name}" />
											<td th:text="${addRole.role.itSystem.name}" />
											<th:block th:switch="${addRole.ouAssignments}" th:if="${addRole.checked}">
												<td th:case="0" th:text="#{html.entity.title.assigned.all}" />
												<td th:case="1" th:text="#{html.entity.title.assigned.one}" />
												<td th:case="*" th:text="#{html.entity.title.assigned.many(${addRole.ouAssignments})}" />
											</th:block>
											<td th:if="${addRole.checked == false}"></td>
											<td th:text="${addRole.role.description}" />
										</tr>
									</tbody>
								</table>
							</div>

							<div id="groups_menu" class="tab-pane fade">
								<table id="listTable2" class="table table-striped table-hover listTable">
									<thead>
										<tr>
											<th class="col-md-1" th:text="#{html.entity.rolegroup.enabled}" />
											<th class="col-md-3" th:text="#{html.entity.rolegroup.name}" />
											<th class="col-md-2" th:text="#{html.entity.ou.count}" />
											<th class="col-md-6" th:text="#{html.entity.rolegroup.description}" />
										</tr>
									</thead>

									<tbody>
										<tr th:each="addRolegroup : ${addRoleGroups}">
											<td>
												<div class="checkbox c-checkbox">
													<label>
														<input class="checkboxaction" th:id="${addRolegroup.roleGroup.id}" type="checkbox" th:value="${title.uuid}" th:checked="${addRolegroup.checked}" data-objtype="rolegroup" />
														<span class="fa fa-check"></span>
													</label>
												</div>
											</td>
											<td th:text="${addRolegroup.roleGroup.name}" />
											<th:block th:switch="${addRolegroup.ouAssignments}" th:if="${addRolegroup.checked}">
												<td th:case="0" th:text="#{html.entity.title.assigned.all}" />
												<td th:case="1" th:text="#{html.entity.title.assigned.one}" />
												<td th:case="*" th:text="#{html.entity.title.assigned.many(${addRolegroup.ouAssignments})}" />
											</th:block>
											<td th:if="${addRolegroup.checked == false}"></td>
											<td th:text="${addRolegroup.roleGroup.description}" />
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="modal fade bd-example-modal-lg" id="modal-ou" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" onclick="closeModal();">&times;</button>
					<h4 th:text="#{html.page.titles.orgunit.choose}"/>
				</div>

				<div class="modal-body">
					<p th:utext="#{html.page.titles.orgunit.choose.text}" />

					<input class="form-control" id="searchField" style="margin-bottom: 20px; margin-top: 20px;" th:placeholder="#{html.word.search}"/>
					<div id="hierarchy"></div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="updateAssignment()" th:text="#{html.page.titles.button.assign}"/>
					<button type="button" class="btn btn-danger" onclick="removeAssignment()" th:text="#{html.page.titles.button.deassign}"/>
				</div>
			</div>
		</div>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	
	<script th:replace="fragments/datatables :: datatables" />
	
	<style>
		.table .checkbox {
			margin-left: 10px;
			width: auto;
		}
	</style>
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var titleUuid = [[${title.uuid}]];
		var urlRest = [[@{/rest/titles/}]];
		var fieldUpdatedMsg = [[#{html.entity.rolegroup.updatedmsg}]];
		var fieldNotUpdatedMsg = [[#{html.entity.rolegroup.failedupdatemsg}]];
		var allOUs = [[${allOUs}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");
		var payload = {
			roleType: '',
			roleId: 0,
			checkboxRef: null
		};

		// polyfill for IE
		if (!String.prototype.startsWith) {
			String.prototype.startsWith = function(searchString, position) {
				position = position || 0;
				return this.substr(position, searchString.length) === searchString;
			};
		}
		
		$(document).ready(function() {
			addCheckboxListeners();

			$('#listTable1').on('draw.dt', function () {
				addCheckboxListeners();
			});
			
			$('#listTable2').on('draw.dt', function () {
				addCheckboxListeners();
			});

			// remember selected tab
			var selectedTab = localStorage.getItem(titleUuid);
			if (selectedTab != null) {
				$('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
			}
			
			$('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
				var id = $(e.target).attr("href");
				localStorage.setItem(titleUuid, id)
			});
			
			// searching in the JSTree
			var to = false;
			$('#searchField').keyup(function() {
				if (to) {
					clearTimeout(to);
				}

				to = setTimeout(function() {
					var v = $('#searchField').val();

					$('#hierarchy').jstree(true).search(v);
				}, 400);
			});
		});
		
		function initJSTree() {
            $("#hierarchy").jstree('destroy');

			$("#hierarchy").jstree({
				"core": {
					"data": allOUs,
					"themes": {
						"icons": false
					}
				},
				"checkbox" : {
					"keep_selected_style" : false,
					"tie_selection": false
				},
				"search" : {
					"show_only_matches": true,
					"search_callback": function(str, node) {
						return (node.text.toUpperCase().startsWith(str.toUpperCase()));
					}
				},
				"plugins" : [
					"checkbox", "wholerow", "search"
				]
			}).on("check_node.jstree uncheck_node.jstree", function(e, data) {
				var id = data.node.id;
				var checked = data.node.state.checked;

				for (var i = 0; i < allOUs.length; i++) {
					if (allOUs[i].id == id || data.node.children_d.indexOf(allOUs[i].id) > -1) {
						allOUs[i].state.checked = checked;
					}
				}
			});
		}

		function addCheckboxListeners() {
			$('.checkboxaction').off("change");
			$('.checkboxaction').change(handleCheckbox);
		}

		function handleCheckbox() {			
			payload.roleType = String(this.dataset.objtype);
			payload.roleId = this.id;
			payload.checkboxRef = this;

			$.ajax({
				url: urlRest + titleUuid + "/" + payload.roleType + "/" + payload.roleId + "/ous", 
				method: "GET",
				error : function(response) {
					showErrorNotification(fieldNotUpdatedMsg);
					payload.checkboxRef.checked = !payload.checkboxRef.checked;
				},
				success : function(response) {
					for (var i = 0; i < allOUs.length; i++) {
						allOUs[i].state.checked = (response.indexOf(allOUs[i].id) > -1);
					}

					initJSTree();

					$("#modal-ou").modal();
				}
			});
		}
		
		function closeModalWithState(checkboxState) {
			payload.checkboxRef.checked = checkboxState;

			$('#modal-ou').modal('toggle');
		}

		function closeModal() {
			payload.checkboxRef.checked = !payload.checkboxRef.checked;

			$('#modal-ou').modal('toggle');
		}

		function updateAssignment() {
			var selected = [];
			for (var i = 0; i < allOUs.length; i++) {				
				if (allOUs[i].state.checked) {
					selected.push(allOUs[i].id);
				}
			}

			if (selected.length == allOUs.length) {
				selected = [];
			}
						
			var endpoint = urlRest + 'add' + payload.roleType + '/' + titleUuid + '/' + payload.roleId;
			
			$.ajax({
				url: endpoint,
				method: "POST",
				headers: {
					'X-CSRF-TOKEN': token
				},
                contentType: 'application/json',
				data: JSON.stringify(selected),
				error : function(response) {
					showErrorNotification(fieldNotUpdatedMsg);

					closeModal();
				},
				success : function(response) {
					showInfoNotification(fieldUpdatedMsg);
					
					closeModalWithState(true);
				}
			});
		}
		
		function removeAssignment() {
			var endpoint = urlRest + 'remove' + payload.roleType + '/' + titleUuid + '/' + payload.roleId;
			
			$.ajax({
				url: endpoint,
				method: "POST",
				headers: {
					'X-CSRF-TOKEN': token
				},
				error : function(response) {
					showErrorNotification(fieldNotUpdatedMsg);
					
					closeModal();
				},
				success : function(response) {
					showInfoNotification(fieldUpdatedMsg);
					
					closeModalWithState(false);
				}
			});
		}

		function showInfoNotification(message) {
			$.notify({
				message: message,
				status: 'success',
				timeout: 2000
			});
		}
		
		function showErrorNotification(message) {
			$.notify({
				message: message,
				status: 'danger',
				timeout: 4000
			});
		}

		/*]]>*/
	</script>
</body>
</html>
