.actionColumn {
	width: 80px !important;
}

.dateColumn {
    width: 80px !important;
}

.progressColumn {
   width: 600px !important;
}

pre {
  font-family: inherit;
}

.pre-like-p {
    background-color: inherit;
    border: 0px;
    padding: 0px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.navActive {
	font-weight: bold !important;
	color: #1ab394 !important;
}

.navBtnsText {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 60px;
    text-align: center;
}

.expandable {
    cursor: pointer;
}

.expandable-content-description {
    background-color: white;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.assignedThroughLabel {
    font-weight: bold;
}

.passedDeadline {
    color: red;
}


table.dataTable td.dt-control {
    text-align: center;
    cursor: pointer;
}
table.dataTable td.dt-control:before {
    display: inline-block;
    box-sizing: border-box;
    content: "";
    border-top: 5px solid transparent;
    border-left: 10px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid transparent;
    border-right: 0px solid transparent;
}
table.dataTable tr.dt-hasChild td.dt-control:before {
    border-top: 10px solid rgba(0, 0, 0, 0.5);
    border-left: 5px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 5px solid transparent;
}

html.dark table.dataTable td.dt-control:before,
:root[data-bs-theme=dark] table.dataTable td.dt-control:before,
:root[data-theme=dark] table.dataTable td.dt-control:before {
    border-left-color: rgba(255, 255, 255, 0.5);
}
html.dark table.dataTable tr.dt-hasChild td.dt-control:before,
:root[data-bs-theme=dark] table.dataTable tr.dt-hasChild td.dt-control:before,
:root[data-theme=dark] table.dataTable tr.dt-hasChild td.dt-control:before {
    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: transparent;
}

